<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{$merchant.mabbreviation}</title>
	<link rel="stylesheet" href="__PUBLIC__/Mobile/default/Css/normalize.css">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/default/Css/main.css">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/default/Css/xpull.css">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/clothes_blue/css/cloth2.css?v=201509291635">
	<script>
	var msystem = "{$msystem}";
    //10px 1rem;
    !function(){function a(){if(document.documentElement.clientWidth<600){document.documentElement.style.fontSize=document.documentElement.clientWidth/32+"px"}else{document.documentElement.style.fontSize="16.875px"}}var b=null;window.addEventListener("resize",function(){clearTimeout(b),b=setTimeout(a,300)},!1),a()}(window);
    </script>
</head>
<body class="bg-fff <eq name="runmode" value="macapp">ios</eq>">
	<header class="header cloth-header">
		<h1>{$merchant.mabbreviation}</h1>
		<include file="Index:top"/>
	</header>
	<div class="container cloth p-t main" id="container">
		<section class="slide swiper-container cloth-banner" id="banner">
			<empty name="banner_list">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="javascript:;"><img class="swiper-lazy" src="__PUBLIC__/Mobile/clothes_blue/img/demo/cloth_banner_01.jpg" data-src="__PUBLIC__/Mobile/clothes_blue/img/demo/cloth_banner_01.jpg" alt=""></a></div>
                </div>
            <else />
                <if condition="count($banner_list) eq 1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a href="{$banner_list[0]['burl']}"><img class="swiper-lazy" src="{$banner_list[0]['bimg']}" data-src="{$banner_list[0]['bimg']}" alt=""></a></div>
                    </div>
                <else />
                    <div class="swiper-wrapper">
                        <volist name="banner_list" id="vo" >
                            <div class="swiper-slide"><a href="{$vo.burl}"><img class="swiper-lazy" src="{$vo.bimg}" data-src="{$vo.bimg}" alt=""></a></div>
                        </volist>
                    </div>
                    <div class="swiper-pagination shouji-page" id="banner-page">
                        <volist name="banner_list" id="vo" > <span class="swiper-pagination-bullet"></span> </volist>
                    </div>
                </if>
            </empty>
		</section>
        <section class="cloth-nav">
            <ul class="clearfix">
                <li>
                   <a href="{:U('Mobile/Choose/index', array('jid'=>$jid))}">
                   	<img src="{$module1icon}"/><span>{$module1name}</span>
                   </a>
                </li>
                <li>
                   <a href="{:U('Mobile/Seat/index', array('jid'=>$jid))}">
                   	<img src="{$module2icon}"/><span>{$module2name}</span>
                   </a>
                </li>
                <li>
                   <a href="{:U('Mobile/Shop/brand', array('jid'=>$jid))}">
                   	<img src="{$ShopMenuIcon}"/><span>{$ShopMenuName}</span>
                   </a>
                </li>
                <li>
                   <a href="{$WshopModuleLink}">
                   	<img src="{$WshopModuleIcon|default='/Public/Mobile/default/img/ico_mart.png'}"/><span>{$WshopModuleName}</span>
                   </a>
                </li>
                <li>
                   <a href="{:U('Mobile/Video/index', array('jid'=>$jid))}">
                   	<img src="{$InfoMenu3Icon}"/><span>{$InfoMenu3Name}</span>
                   </a>
                </li>
              <!--    <li>
                   <a href="{:U('Mobile/App/index', array('jid'=>$jid))}">
                   	<img src="{$InfoMenuAppDownIcon}"/><span>{$InfoMenuAppDownName}</span>
                   </a>
                </li> -->
            </ul>
        </section>
        <php>$goods_list = D('Goods')->getGoods($jid,array('c.cname'=>'新品推荐'),6,'g.gorder,g.gid DESC');</php>
        <section class="cloth-rec">
            <div class="sec-title">
            <h3>新品推荐</h3>
            <a href="{:U('Mobile/Choose/index', array('jid'=>$jid))}" class="cloth-more">更多</a>
            </div>
            <div class="sec-body">
            <ul class="clearfix">
            	<volist name="goods_list" id="vo">
                <li>
                    <a href="{:U('Mobile/Choose/detail', array('gid'=>$vo['gid'],'from_index'=>1,'sid'=>$vo['sid'],'jid'=>$jid))}">
                        <img src="{$vo.gimg}"/>
                        <p>￥{$vo['gdprice']>0?$vo['gdprice']:$vo['goprice']}</p>
                    </a>
                </li>
                </volist>
            </ul>
           </div>
        </section>
        <php>$goods_list = D('Goods')->getGoods($jid,array('c.cname'=>'活动特价'));</php>
        <section class="cloth-act">
            <div class="sec-title">
            <h3>活动特价</h3>
            <a href="{:U('Mobile/Choose/index', array('jid'=>$jid))}" class="cloth-more">更多</a>
            </div>
            <div class="sec-body">
            <ul class="clearfix">
            	<volist name="goods_list" id="vo">
                <li>
                    <a href="{:U('Mobile/Choose/detail', array('gid'=>$vo['gid'],'sid'=>$vo['sid'],'jid'=>$jid))}">
                        <img src="{$vo.gimg}"/>
                        <p>￥{$vo['gdprice']>0?$vo['gdprice']:$vo['goprice']}</p>
                    </a>
                </li>
                </volist>
            </ul>
           </div>
        </section>
        <php>
		$voucherlist = D('Voucher')->getVoucher($jid);
		$VoucherModule = D('Voucher')->getModule($jid);
		</php>
        <section class="cloth-coupon">
            <div class="sec-title">
            <h3>{$VoucherModule.Name}</h3>
            <a href="{$VoucherModule.Link}" class="cloth-more">更多</a>
            </div>
            <div class="sec-body">
            <ul class="clearfix">
            	<volist name="voucherlist" id="vo" >
                <li>
                    <a href="{:U('Mobile/Coupon/info', array('jid'=>$jid,'vu_id'=>$vo[vu_id],'from_index'=>1))}">
                        <h4>{$vo.vu_name}</h4>
                        <p>{$vo.vu_description|msubstr=###,0,30}<br/>
                        有效期<php>echo date('Y年m月d日',strtotime($vo[vu_stime]))</php>-<php>echo date('Y年m月d日',strtotime($vo[vu_etime]))</php><br/>
                        </p>
                    </a>
                </li>
                </volist>
            </ul>
            </div>
        </section>
    </div>
	<script src="__PUBLIC__/Mobile/default/Js/jquery-2.1.3.min.js"></script>
	<script src="__PUBLIC__/Mobile/default/Js/xpull.js"></script>
	<script src="__PUBLIC__/Mobile/default/Js/swiper.min.js"></script>
	<script>
    $(function() {
        $('#container').xpull({
            'pullThreshold':150,
            'maxPullThreshold':0,
            'onPullEndFunc':function(){
                window.location.reload();
            },
            'spinnerTimeout':2000
        });

        var mySlide = new Swiper('#banner', {
            speed: 400,
            pagination: '#banner-page',
            autoplay: 5000,
            autoplayDisableOnInteraction: false,
            loop: true,
            preloadImages: false,
            lazyLoading: true
        });
    });
    </script>
   <include file="Index:footer"/>
   <include file="Public:footer"/>
</body>
</html>
