<extend name="New2:common"/>
<block name="body">
        <div class="row ct-comment">
        	<h3 class="ct-title">评价</h3>
            <div class="col-xs-5 text-center">
            	<h2 class="red">4.5</h2>
                <p  ><strong>综合评分</strong></p>
                <p  >高于周边商家74.6%</p>
            </div>
            <div class="col-xs-7 text-center ct-comment-star">
            	<div class="row">
                	<div class="col-xs-4"><strong>服务态度</strong></div>
                    <div class="col-xs-4"><div class="starbig starbig-4-5"></div></div>
                    <div class="col-xs-4 orange">4.5</div>
                </div>
                <div class="row">
                	<div class="col-xs-4"><strong>商品评价</strong></div>
                    <div class="col-xs-4"><div class="starbig starbig-4-5"></div></div>
                    <div class="col-xs-4 orange">4.5</div>
                </div>
            </div>
            
        </div>
        <br />
        <div class="row ct-comment">
        	<div class="padding10">
        	<a class="btn btn-info" href="#" role="button">全部(112)</a>
            <a class="btn btn-default" href="#" role="button">满意(33)</a>
            <a class="btn btn-default" href="#" role="button">不满意(2)</a>
            <a class="btn btn-default" href="#" role="button">有图(2)</a>
            
            <h5><span class="badge">&radic;</span> 只看有评论的内容 </h5>
            
            <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="__PUBLIC__/Merchant/images/avater.png" alt="logo">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">３*******2<small>2016-02-28 12:20</small></h4>
                    <div class="star start-5"></div><div class="starside">30分钟送达</div>
                    <br />
                    <ul class="list-group">
                      <li class="list-group-item itemtitle"></li>
                      <li class="list-group-item itemmore">酸辣大白菜<small>一般</small></li>
                      <li class="list-group-item itemdesc">
                      	比预计时间晚了30分钟，希望下次能够改进！
                      </li>
                      <li class="list-group-item itemmore">凉拌皮蛋<small>满意</small></li>
                      <li class="list-group-item itemmore">肉丝跑蛋<small>满意</small></li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
        <div class="nomore text-center">
        	没有更多的了
        </div>
    </div>
</block>