<extend name="New2:common"/>
<block name="header"></block>
<block name="body">
	<script src="__PUBLIC__/Js/jquery.cookie.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var ff = $.cookie("ProductList");
            
            if( ff ) {
                var num = 0;
                $.each(ff.split("|"), function(index, ostr) {
                    var opro = ostr.split("_");
                    if(opro[1] != undefined) {
                        num += parseInt(opro[2]); 
                    };
                })
                $("#cartnum").html( num );
            }
        })

    </script>
	<div class="container-fluid" >
		<div class="ct-top" >
			<empty name="member">
				<div class="row text-center ct-topmy">
					<empty name="member.u_avatar"><img src="__PUBLIC__/Mobile/default/img/avatar.png" alt="" class="img-responsive img-circle center-block"><else /><img class="floatImg" src="{$member.flu_avatar}"/></empty>
					<br />
					<a class="btn" style="text-decoration:none;" href="{:U('login')}"><label>登录/注册</label></a>
				</div>
			<else />
				<div class="row text-center ct-topmy">
					<empty name="member.u_avatar"><img src="__PUBLIC__/Mobile/default/img/avatar.png" alt="" class="img-responsive img-circle center-block"><else /><img class="floatImg" src="{$member.flu_avatar}"/></empty>
					<br />
					{$member['flu_nickname']?$member['flu_nickname']:$member['flu_username']}
				</div>
			</empty>
			<div class="row ct-banner">
			 	<img src="__PUBLIC__/Merchant/images/centerbg.jpg" class="img-responsive center-block">
			</div>
		</div>   
	</div> 
	<ul class="list-group ct-centerlist">
		<a href="<empty name="member">{:U('login',array('backurl'=>url_param_encrypt(U('User/index'),'E'),'returnurl'=>url_param_encrypt(U('myorder'),'E')))}<else />{:U('myorder')}</empty>"><li class="list-group-item center-order">我的订单<span>&gt;</span></li></a>
		<a href="<empty name="member">{:U('login',array('backurl'=>url_param_encrypt(U('User/index'),'E'),'returnurl'=>url_param_encrypt(U('myreserve'),'E')))}<else />{:U('myreserve')}</empty>"><li class="list-group-item center-yy">我的预约<span>&gt;</span></li></a>
	<!--  	<li class="list-group-item center-address"><a href="<empty name="member">{:U('login',array('backurl'=>url_param_encrypt(U('User/index'),'E'),'returnurl'=>url_param_encrypt(U('myaccount'),'E')))}<else />javascript:;</empty>">收货地址<span>&gt;</span></a></li>-->
	</ul> 
	
	<ul class="list-group ct-centerlist">
		<!-- <li class="list-group-item center-money"><a href="javascript:;">我的钱包<span>&gt;</span></a></li>-->
			
	</ul> 
	
	<ul class="list-group ct-centerlist">	 
		<li class="list-group-item center-99"><a href="javascript:;">9.9元升级消费商，返现翻翻翻<span>&gt;</span></a></li>
		<a href="{:U('aboutus')}"><li class="list-group-item center-about">关于我们<span>&gt;</span></li></a>
	</ul> 
</block>   
