<extend name="New2:common"/>
<block name="header"></block>
<block name="body">
  	<header>
    	<a href="{:U('User/myorder')}"><div class="back pull-left"></div></a>
    	{$page_name}
        <a href="tel:{$numb}"><div class="tel pull-right"></div></a>
    </header>
    <link href="__PUBLIC__/Merchant/images/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/Merchant/images/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <script src="__PUBLIC__/Merchant/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Merchant/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <div class="container-fluid order" >
    	<br />
     	<div class="orderstep img-rounded">
        	<div class="steptitle">
            	<h4 class="orange">
                <if condition="$order['o_dstatus'] neq '5'">
                    <if condition="$order['o_pstatus'] eq 0">等待支付<else/>已支付</if>
                </if>
                <if condition="$order['o_dstatus'] eq '5'">
                    已取消
                </if>
                </h4>
                <h5>等待支付状态下逾期未支付将自动取消</h5>
            </div>
            <!-- <div class="stepdesc"> -->
                	<!-- <div class="col-xs-3 text-center <if condition='$order.o_pstatus eq 0'>orange</if>">等待支付</div>
                    <div class="col-xs-6 text-center <if condition='$order.o_pstatus eq 1'>orange</if>">等待接单</div>
                    <div class="col-xs-3 text-center">等待送达</div> -->
                 
                	<!-- <div class="col-xs-12">
                        <img src="__PUBLIC__/Merchant/images/orderstep1.png" class="img-responsive center-block">
                    </div> -->
            <!-- </div> -->
        </div>
        <br />
        <div class="row orderpros">
            <ul style="float: left;width: 100%;">
                <volist name="goods" id="vo">
                <li>
                    <div class="col-xs-6 text-left sp-name">{$vo['sp_name']}</div>
                    <div class="col-xs-3 text-right">X {$vo['sp_number']}</div>
                    <div class="col-xs-3 text-right">&yen; {$vo['sp_number']*$vo['sp_gdprice']}</div>
                </li>
                </volist>
            </ul>
            
            <!-- <div class="col-xs-12"><hr /></div> -->
            
            <!-- <div class="peisong">
                <div class="col-xs-6 text-left">配送费</div>
                <div class="col-xs-6 text-right">&yen; 2</div>
            </div> -->
            
            <div class="comeneworder">
                 <div class="col-xs-5 text-left">
                    <a class="orderrepeat to-order" href="{:U('Flow/confirm', array('dtype'=>3, 'o_id'=>$order['o_id']))}">再来一单</a>
                 </div>
                <div class="col-xs-7 text-right orange">合计： &yen; {$order['o_price']}</div>
            </div>
        </div>

        <br />
        <if condition="$order['o_address'] neq ''">
        <ul class="row list-group orderinfo">
          <li class="list-group-item"><h4>配送信息</h4></li>
          <li class="list-group-item"><h5>配送方式：商家配送</h5></li>
       
        </ul> 
        </if>
         
        <ul class="row list-group orderinfo">
           <li class="list-group-item"><h4>订单详情<small>订单号：{$order['o_id']}</small></h4></li>
           <li class="list-group-item"><h5>联系电话：{$numb}</h5></li>
           <li class="list-group-item"><h5><if condition="$order['o_xftype'] eq 1">消费方式：店内消费<else/>收货地址：{$order['o_address']}</if></h5></li>
           <li class="list-group-item"><h5>支付方式：<if condition="$order['o_type'] eq '0'">到店支付<else/>线上支付</if></h5></li>
           <li class="list-group-item"><h5>下单时间：{$order['o_dstime']}</h5></li>
           <if condition="$order['o_xftype'] eq 2"><li class="list-group-item"><h5>上门时间：{$order['o_gdate']}</h5></li></if>
           <if condition="$order['o_xftype'] eq 2"><li class="list-group-item"><h5>送达时间：大约需要{$ptime}分钟</h5></li></if>
        </ul>  
        
         
        <div class="otherbuy">购买此商品的用户也购买的商品</div>
        <br />
        
         <div class="ct-xptj" >
        	<volist name="list" id="vo">
            <div class="ct-xptjli">
            <div class="libody">
            	<a href="{:U('Choose/detail',array('gid'=>$vo['gid'], 'sid'=>$sid, 'jid'=>$jid))}"><img src="{$vo['gimg']}" class="img-responsive  center-block ct-proimg"></a>
                <div class="ct-proinfo">
                	<h5>{$vo['gname']}</h5>
                    <div class="star start-5"></div>
                    <div class="proinfo-sale">月销{$vo['gsales']}份</div>
                    <div class="proinfo-price">&yen;  {$vo['gdprice'] > 0 ? $vo['gdprice'] : $vo['goprice']}<del>&yen; {$vo.goprice}</del></div>
                    <!-- <div class="addtocart" data-id="1" data-pic="__PUBLIC__/Merchant/images/pro_1.jpg" ></div> -->
                </div>
            </div>
            </div>
            </volist>
            
        </div>
        
        
    </div>
    <!-- Modal -->
    <div class="modal fade con-qx" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title text-center" >确定要取消该笔订单吗</h4>
          </div>
          <div class="modal-body" style="padding-bottom:0px; border:0px;">
          </div>
          <div class="modal-footer"  style=" border:0px;  text-align:center; ">
            <button type="button" class="btn btn-danger btn-lg" style="width:40% ; margin:0 auto;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">取消</span></button>
            <button type="button" class="btn btn-danger btn-lg btn-qx-yes"  style="width:40% ; margin:0 auto;"> 确认 </button>
          </div>
        </div>
      </div>
    </div> 
    
    <footer class="goodfooter " id="orderfooter">
    	<div class="row">
            <if condition='($order.o_pstatus eq 0) and ($order.o_dstatus neq 5) and ($order.o_close neq 1)'>
        	    <div class="col-xs-4 ordercancel" ><a href="javascript:;" data-toggle="modal" data-target="#myModal" >取消订单</a></div>
                <if condition="strpos(I('server.HTTP_USER_AGENT'), 'MicroMessenger')">
                    <a href="javascript:;" onclick="ch_pay('{$order.o_id}',2);"><div class="col-xs-8 cartcheckout" >去支付</div></a>
                <else />
                    <a href="javascript:;" onclick="ch_pay('{$order.o_id}',1);"><div class="col-xs-8 cartcheckout" >去支付</div></a>
                </if>
            <else/>
                <div class="col-xs-7 ordercancel"></div>
                <a href="{:U('Flow/confirm', array('dtype'=>3, 'o_id'=>$order['o_id']))}"><div class="col-xs-5 cartcheckout to-order">再来一单</div></a>
            </if>
        </div>
    </footer>

    <script>
        var height=$('.libody').eq(0).height();
        for(i=0;i<$('.libody').length;i++){
            if(height<$('.libody').eq(i).height())
                height=$('.libody').eq(i).height();
        }
        $('.ct-xptjli').height(height);
    </script>
    <script>
    var reqUrl    = "{:U('Pay/request_alipay')}";
    var weixinUrl = "{:U('/Home/Wechat/dsWxJsPay@www')}";
    var o_id      = "{$order['o_id']}";
    var ctype     = 3;
    var isApp     = "0";

     $(document).ready(function(){

        function send_qet(reqUrl,qet_data){
            $.ajax( {    
                url:reqUrl,   
                data:qet_data,
                type:'post',    
                cache:false,    
                dataType:'json',    
                success:function(data) {    
                    if(data.msg =="true" ){
                        // $("#play-success").show();
                        window.location.reload();
                    }
                 },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                    if(XMLHttpRequest.status == '200'){
                        var data = eval('('+ XMLHttpRequest.responseText +')');
                        if(data.msg =="true" ){
                            $("#play-success").show();
                            //window.location.reload();
                        }
                    }
                }
            });
        }

        

        
        $('.play-success-yes').click(function(){
            window.location.reload();
        });
        
        $('.btn-qx-yes').click(function(){
            var reqUrl = "{:U('Mobile/User/changeOrder')}";
            var qx_reason = '取消订单';
            var qet_data = {
                    type  : 'dtype',
                    o_id  : o_id,
                    ctype : ctype,
                    qx_reason : qx_reason,
            };
            $("#myModal").hide();
            send_qet(reqUrl,qet_data);
        });
    }); 


    function ch_pay(oid,r){
        if(isApp > 0){
            payOrder('alipay',oid);
        }else{
            if(r == 2){
                location.href = weixinUrl + "?o_id=" + oid + '&jump=1&mid={$mid}';
            }else{
                location.href = reqUrl + "?o_id=" + oid + '&mid=' + {$mid};
            }
        }
    }
    </script>
      
</block>
<block name="footer"></block>