<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{$merchant.mabbreviation}</title>
	<link rel="stylesheet" href="__PUBLIC__/Mobile/default/Css/normalize.css">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/default/Css/main.css">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/default/Css/xpull.css">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/njl/css/njl.css?v=201509171725">
	<script>
		var msystem = "{$msystem}";
    //10px 1rem;
    !function(){function a(){if(document.documentElement.clientWidth<600){document.documentElement.style.fontSize=document.documentElement.clientWidth/32+"px"}else{document.documentElement.style.fontSize="16.875px"}}var b=null;window.addEventListener("resize",function(){clearTimeout(b),b=setTimeout(a,300)},!1),a()}(window);
    </script>
</head>
<body class="bg-njl <eq name="runmode" value="macapp">ios</eq>">
	<header class="header njl-header">
		<h1>{$merchant.mabbreviation}</h1>
		<include file="Index:top"/>
	</header>
	<div class="container njl p-t main" id="container">
		<section class="slide swiper-container njl-banner" id="banner">
			<empty name="banner_list">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" > <img src="__PUBLIC__/Mobile/njl/img/demo/njl_banner_01.jpg" data-src="__PUBLIC__/Mobile/njl/img/demo/njl_banner_01.jpg" class="swiper-lazy" alt="" /> </div>
                </div>
            <else />
                <if condition="count($banner_list) eq 1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slider"> <a href="{$banner_list[0]['burl']}"><img  data-src="{$banner_list[0]['bimg']}" src="{$banner_list[0]['bimg']}" class="swiper-lazy" style="width:100%;height:auto;"/></a> </div>
                    </div>
                <else />
                    <div class="swiper-wrapper">
                        <volist name="banner_list" id="vo" >
                            <div class="swiper-slide"><a href="{$vo.burl}"><img src="{$vo.bimg}" data-src="{$vo.bimg}" alt="" class="swiper-lazy"></a></div>
                        </volist>
                    </div>
                    <div class="swiper-pagination 	njl-page" id="banner-page">
                        <volist name="banner_list" id="vo" > <span class="swiper-pagination-bullet"></span> </volist>
                    </div>
                </if>
            </empty>
		</section>
        <section class="njl-nav">
            <div class="njl-nav-bar"></div>
           <ul class="clearfix">
                <li>
                    <a href="{:U('Mobile/Choose/index', array('jid'=>$jid))}">
                        <div><img src="{$module1icon}"></div>
                        <span>{$module1name}</span>
                    </a>
                </li>
                <li>
                    <a href="{:U('Mobile/Seat/index', array('jid'=>$jid))}">
                        <div><img src="{$module2icon}"/></div>
                        <span>{$module2name}</span>
                    </a>
                </li>
                <li>
                    <a href="{:U('Mobile/Shop/brand', array('jid'=>$jid))}">
                        <div><img src="{$ShopMenuIcon}"/></div>
                        <span>{$ShopMenuName}</span>
                    </a>
                </li>
                <li>
                    <a href="{$WshopModuleLink}">
                        <div><img src="{$WshopModuleIcon|default='/Public/Mobile/default/img/ico_mart.png'}"/></div>
                        <span>{$WshopModuleName}</span>
                    </a>
                </li>
                <li>
                    <a href="{:U('Mobile/Video/index', array('jid'=>$jid))}">
                        <div><img src="{$InfoMenu3Icon}"/></div>
                        <span>{$InfoMenu3Name}</span>
                    </a>
                </li>
                <li>
                   <!-- <a href="{:U('Mobile/App/index', array('jid'=>$jid))}">
                        <div><img src="{$InfoMenuAppDownIcon}"/></div>
                        <span>{$InfoMenuAppDownName}</span>
                    </a>-->
                </li>
            </ul>
        </section>
        <section class="njl-cp">
            <div class="sec-title">
            <h3>{$NewModulename}</h3>
            <a href="{:U('Mobile/News/index', array('jid'=>$jid))}" class="zyg-more">更多</a>
            </div>
            <div class="sec-body">
            <ul class="clearfix">
            	<volist name="news_list" id="vo"  offset="0" length="6"  key="k">
                <li>
                    <a href="{:U('Mobile/News/info', array('jid'=>$jid,'new_id'=>$vo[new_id],'from_index'=>1))}">
                        <img src="{$vo.new_img}"/>
                        <div></div>
                        <span>{$vo.new_title|msubstr=###,0,8,'utf-8',false}</span>
                    </a>
                </li>
                </volist>
            </ul>
           </div>
            <div class="njl-bar"></div>
        </section>
        <section class="njl-mj">
            <div class="sec-title">
            <h3>{$HdModuleName}</h3>
            <a href="{:U('Mobile/Active/index', array('jid'=>$jid))}" class="zyg-more">更多</a>
            </div>
            <div class="sec-body">
            <ul class="clearfix">
            	<volist name="active_list" id="vo"  offset="0" length="6"  key="k">
                <li>
                    <a href="{:U('Mobile/Active/info', array('jid'=>$jid,'av_id'=>$vo[av_id],'from_index'=>1))}">
                        <img src="{$vo.av_img}"/>
                        <span>{$vo.av_title|msubstr=###,0,13,'utf-8',false}</span>
                    </a>
                </li>
                </volist>
            </ul>
           </div>
           <div class="njl-bar"></div>
        </section>
        <section class="njl-coupon">
            <div class="sec-title">
            <h3>{$VoucherModuleName}</h3>
            <a href="{:U('Mobile/Coupon/index', array('jid'=>$jid))}" class="zyg-more">更多</a>
            </div>
            <ul class="clearfix">
                <li>
                    <if condition="$coupon_list[0]['vu_name']">
                    <a href="{:U('Mobile/Coupon/info', array('jid'=>$jid,'vu_id'=>$coupon_list[0][vu_id],'from_index'=>1))}">
                    <else />
                    <a href="{:U('Mobile/Coupon/index', array('jid'=>$jid))}">
                    </if>
                        <span>{$coupon_list.0.vu_price|floor}</span>
                        <div>
                            <h4>{$coupon_list.0.vu_name|default='暂无数据'}</h4>
                            <p>
                                消费即可领取优惠券<br>
                                {$coupon_list.0.vu_price|floor}元优惠券满{$coupon_list.0.vu_money|floor}元即可使用<br>
                                时限：<php>
                    if($coupon_list[0]['vu_stime'] && $coupon_list[0]['vu_etime']){
                        $stime = strtotime($coupon_list[0]['vu_stime']);
                        $etime = strtotime($coupon_list[0]['vu_etime']);
                        echo date("Y年n月j日",$stime).'至'.date("Y年n月j日",$etime);
                    }else{
                        echo "暂无数据";
                    }
                </php>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <if condition="$coupon_list[1]['vu_name']">
                    <a href="{:U('Mobile/Coupon/info', array('jid'=>$jid,'vu_id'=>$coupon_list[1][vu_id],'from_index'=>1))}">
                    <else />
                    <a href="{:U('Mobile/Coupon/index', array('jid'=>$jid))}">
                    </if>
                        <span>{$coupon_list.1.vu_price|floor}</span>
                        <div>
                            <h4>{$coupon_list.1.vu_name|default='暂无数据'}</h4>
                            <p>
                                消费即可领取优惠券<br>
                                {$coupon_list.1.vu_price|floor}元优惠券满{$coupon_list.1.vu_money|floor}元即可使用<br>
                                时限：<php>
                    if($coupon_list[1]['vu_stime'] && $coupon_list[1]['vu_etime']){
                        $stime = strtotime($coupon_list[1]['vu_stime']);
                        $etime = strtotime($coupon_list[1]['vu_etime']);
                        echo date("Y年n月j日",$stime).'至'.date("Y年n月j日",$etime);
                    }else{
                        echo "暂无数据";
                    }
                </php>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="njl-bar"></div>
        </section>
    </div>
	<script src="__PUBLIC__/Mobile/default/Js/jquery-2.1.3.min.js"></script>
	<script src="__PUBLIC__/Mobile/default/Js/xpull.js"></script>
	<script src="__PUBLIC__/Mobile/default/Js/swiper.min.js"></script>
	<script>
    $(function() {
        $('#container').xpull({
            'pullThreshold':150,
            'maxPullThreshold':0,
            'onPullEndFunc':function(){
                window.location.reload();
            },
            'spinnerTimeout':2000
        });

        var mySlide = new Swiper('#banner', {
            speed: 400,
            pagination: '#banner-page',
            autoplay: 5000,
            autoplayDisableOnInteraction: false,
            loop: true,
            preloadImages: false,
            lazyLoading: true
        });
    });
    </script>
   <include file="Index:footer"/>
   <include file="Public:footer"/>
</body>
</html>
