<extend name="Public:common"/>
<block name="body">
<link rel="stylesheet" href="__PUBLIC__/Css/merchant/guideLayer.css">
<style type="text/css">
input[type="password"] { border:1px solid #e7e7eb; font-size:14px; height:32px; line-height:32px; padding-left:8px; width:320px; }
</style>
<div class="wrapper">
    <h2 class="title">我的店铺 / 账户设置 / 密码修改</h2>
    <div class="mian padding">
        <form action="__ACTION__" method="post">
            <div class="set">
                <label>新密码</label> <input type="password" name="password" value="">
            </div>
            <div class="set">
                <label>手机号</label> <input id="TplVal" type="text" value="{$linkmobile}">
                <input type="button" value="发送验证" id="SendCode" class="btn btn-blue"> 发送后 <b id="Time">60</b> 秒倒计时再次发送
            </div>
            <div class="set">
                <label>验证码</label> <input type="text" name="smscode">
            </div>
            <div class="set">
                <label></label> <input type="submit" value="确认" class="btn btn-pwd">
                <input type="button" value="返回" class="btn btn-pwd" onClick="window.history.go(-1);">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
var authmobile = "{$linkmobile}";
var guide = "{$guide}";
$(function(){
	$(document).ready(function(){
		if(guide == 1){
			//遮罩
			var wHeight = $(document).height();
			$(".guide-layer").css('height', wHeight);
			$(".layer-2").show();
		}
	});
	$(".guide-layer").click(function(event) {
		$(".guide-layer").hide();
	});
	$('#SendCode').click(function() {
		var TplVal=$("#TplVal").val();
		if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(TplVal))) {
			alert("请输入正确的手机号"); 
			$("#TplVal").focus();
			return false;
		}
		if(authmobile && TplVal!=authmobile){
			alert("请输入绑定此帐号的手机号码。"); 
			$("#TplVal").focus();
			return false;	
		}
		$.get("/Index/sendsms", {val:TplVal}, function(data) {
			if( parseInt(data)==1 ) {
				$("#SendCode").attr("disabled", true);
				$("#SendCode").val("查收短信");
				var timeInterval = setInterval(function() { 
					var time = --document.getElementById('Time').innerHTML;
					if(parseInt(time) <= 0) { 
						$("#SendCode").val("再次发送");
						$("#SendCode").attr("disabled", false);
						clearInterval(timeInterval); 
						document.getElementById('Time').innerHTML=60; 
					}

				}, 1000);
			} else {
				alert("发送失败，请重新发送");	
			}
		});	
	})
});
</script>
</block>