<extend name="Public:common"/>
<block name="body">
<js href="__PUBLIC__/Js/layer/layer.js" />
<style type="text/css">
.modal-content .set > input[type="text"] { width:420px; }
.shops {border-bottom: 1px solid #e7e7eb;color: #222;font-size: 12px;font-weight: normal;line-height: 34px;min-height: 34px;padding-left: 35px;width: 100%;margin-top:20px;}
.shops span{margin-left:15px;padding:0px 10px 0px 10px;}
.shops .curr{background:#e7e7eb;padding:10px;color:#ffffff;}
input{font-size:12px;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:#666;font-size:12px;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:#666;font-size:12px;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
   color:#666;font-size:12px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:#666;font-size:12px;
}
</style>
	<div class="wrapper">
		<h2 class="title"><!--新建群发消息-->
			<p class="returnMenu">
                <a href="{:U('/Plugin/shareset', '', true)}" class="curr">病毒营销设置</a>
                <!--<a href="{:U('/Plugin/sharelist', '', true)}">分享历史</a>-->
            </p>
		</h2>
	<h2 class="shops">选择平台：
		<volist name="sharetype" id="vo">
		<span <eq name="key" value="$type">class="curr"</eq>><a href="{:U(null,array('type'=>$key))}">{$vo}</a></span>
		</volist>
	</h2>
		<div class="prompt-div"><i class="prompticon"></i>可分享至微信、QQ、新浪</div>
        <div class="mian padding">
        	<form method="post" id="form1">
			<div class="set">
				<label style="margin-top:20px;">分享内容：</label><textarea name="{$type}[text]" style="height:80px;font-size:12px;" <eq name="type" value="download">readonly</eq>>{$data.text}</textarea>
			</div>

			<div class="set" style="margin:20px 0px 0px 80px;">
				<input type="hidden" name="type" value="{$type}">
				<input type="button" value="确认" class="btn btn-pwd" id="ModuleUpdate">
			</div>
            </form>
		</div>
	</div>
<script type="text/javascript">
$('#ModuleUpdate').click(function() {
	$.post("?",$("#form1").serialize(),function(result){
		 if(result.status<1){
			layer.msg(result.msg);
		 }else{
			layer.alert(result.msg, {icon: 1});
		 }
	},'json');
});
</script>
</block>