<extend name="Public:common"/>
<block name="body">
<div class="wrapper">
    <h2 class="title">分店管理/修改门店<input type="button" value="<返回" onClick="window.location.href='{:U('/Shop/index', '', true)}'"></h2>
    <div class="mian padding">
            <form action="__ACTION__" method="post" onsubmit="return checkForm();">    
        	<input type="hidden" value="{$shop.sid}" name="info[sid]">
			<input type="hidden" value="{$shop.jid}" name="info[jid]">
            <div class="set">
                <label>门店名称</label><input type="text" value="{$shop.sname}" name="info[sname]" placeholder="请输入门店名称">
            </div>
            <div class="set">
                <label>联系姓名</label><input type="text" value="{$shop.scontactsname}" name="info[scontactsname]" placeholder="请输入联系人姓名">
            </div>
            <div class="set">
                <label>联系电话</label><input type="text" value="{$shop.scontactstel}" name="info[scontactstel]" placeholder="请输入联系人电话">
            </div>
            <div class="set">
                <label>销售电话</label><input type="text" value="{$shop.msaletel}" name="info[msaletel]" placeholder="请输入销售电话">
            </div>
            <div class="set">
                <label>客服电话</label><input type="text" value="{$shop.mservetel}" name="info[mservetel]" placeholder="请输入客服电话">
            </div>
            
            <div class="set">
                <label>门店地址</label><input type="text" value="{$shop.saddress}" name="info[saddress]" placeholder="请输入门店地址">
            </div>
            <div class="set">
                <label>门店简介</label><textarea name="info[mexplain]" placeholder="请输入门店简介" style="width:320px; height:70px; resize:none;">{$shop.mexplain}</textarea>
            </div>
			<if condition="!$shop['lng'] && !$shop['lat']">
            <div class="set">
			<label>您的门店地图</label>
				<input type="text" class="dfinput " name="saddress" id="search" value="{$shop.saddress}" placeholder="请手动输入方便百度地图更好的查找！" />
				<input type="button" value="查找"  name="search_api" id="search_api" class="btn btn-pwd" >
			</div>
			</if>
            <div class="map top"><div id="map">
            <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=0Fafcd0a5385f509b005594a4de38114"></script>
			<if condition="$shop['lng'] && $shop['lat']">

	

<script type="text/javascript">

var lng = '{$shop.lng}';
var lat = '{$shop.lat}';

var map = new BMap.Map("map");
map.centerAndZoom(new BMap.Point(lng, lat), 12);
map.enableScrollWheelZoom(); //开启滚动缩放
map.disableDoubleClickZoom();//禁用双击放大
map.addControl(new BMap.NavigationControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT}));
var marker = new BMap.Marker(new BMap.Point(lng, lat));
marker.enableDragging();//可拖拽
marker.setAnimation(BMAP_ANIMATION_BOUNCE);
marker.setTitle('拖拽标注移动位置');

marker.addEventListener("dragend", function(e) {
	document.getElementById("ShopLng").value = e.point.lng;
	document.getElementById("ShopLat").value = e.point.lat;
});
map.addOverlay(marker);
</script>
<else/>
<script type="text/javascript">
				$("input[name='search_api']").bind("click",function(){  
				   var search=document.getElementById("search").value;
				   local.search(search); 
				   var point = map.getCenter();
				   var x = point.lng, y = point.lat;
					//alert(point.lng + "," + point.lat);
					 $("#ShopLng").attr('value',point.lng);
					 $("#ShopLat").attr('value',point.lat);

				 });
var map = new BMap.Map("map");            
map.centerAndZoom("杭州", 12); //默认杭州
new BMap.LocalCity().get(function(result) { setTimeout(function() { map.setCenter(result.name); }, 10) }) //根据IP定位当前的城市
map.enableScrollWheelZoom(); //开启滚动缩放
map.disableDoubleClickZoom();//禁用双击放大
map.addControl(new BMap.NavigationControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT}));
var MarkerBool = false;   
				var local = new BMap.LocalSearch("全国", {
				  renderOptions: {
					map: map,
					panel : "r-result",
					autoViewport: true,
					selectFirstResult: false
				  }
				});
map.addEventListener("click",function(e) {
	if( !MarkerBool ) {
		var marker = new BMap.Marker(new BMap.Point(e.point.lng, e.point.lat));
		document.getElementById("ShopLng").value = e.point.lng;
		document.getElementById("ShopLat").value = e.point.lat;
		marker.enableDragging();//可拖拽
		marker.setAnimation(BMAP_ANIMATION_BOUNCE);
		marker.setTitle('拖拽标注移动位置');
		marker.addEventListener("dragend", function(e) {
			document.getElementById("ShopLng").value = e.point.lng;
			document.getElementById("ShopLat").value = e.point.lat;
		});
		map.addOverlay(marker);
		MarkerBool = true;
	}
});
</script>
</if>
			
            
            </div></div>
            	<input type="hidden" value="{$shop.lng}" name="info[lng]" id="ShopLng">
                <input type="hidden" value="{$shop.lat}" name="info[lat]" id="ShopLat">
            <div class="set top">
                <input type="submit" class="btn btn-pwd" value="确认">
                <input type="button" class="btn btn-hui" value="修改"> 
            </div>
        </form>
		<script>
var reg=/^0?1[3|4|5|8][0-9]\d{8}$/;
var filter=/^(([0\+]\d{2,3}-)?(0\d{2,3})-)?(\d{7,8})(-(\d{3,}))?$/;
function checkForm(){
var sname=$("input[name='info[sname]']").val(); 
var scontactsname=$("input[name='info[scontactsname]']").val();
var scontactstel=$("input[name='info[scontactstel]']").val();
var mservetel=$("input[name='info[mservetel]']").val();
var msaletel=$("input[name='info[msaletel]']").val();
var saddress=$("input[name='info[saddress]']").val();
var mexplain=$("input[name='info[mexplain]']").val();
var mname=$("input[name='memb[mname]']").val();
var mpwd=$("input[name='memb[mpwd]']").val();
var lng=$("#ShopLng").val();
var lat=$("#ShopLat").val();
if(sname==""){alert("门店名称不能为空！");return false;}
if(scontactsname==""){alert("联系人不能为空！");return false;}
if(scontactstel==""){alert("联系电话不能为空！");return false;}
 //联系电话格式
 
   	 if(reg.test(scontactstel)==false){
			
		   var ptel=filter.test(scontactstel); 
		   if(ptel==false){
			alert("联系电话格式错误");  
			  return false; 
		   }
		
 }
if(mservetel==""){alert("销售电话不能为空！");return false;}			

 //服务电话格式
   	 if(reg.test(mservetel)==false){
			
		   var ptel=filter.test(mservetel);
		   if(ptel==false){
			alert("销售电话格式错误");  
			   return false;
		   }
		
			 }
if(msaletel==""){alert("服务电话不能为空！");return false;}
if(msaletel==""){return false;}
 //销售电话格式
   	 if(reg.test(msaletel)==false){
			
		   var ptel=filter.test(msaletel);
		   if(ptel==false){
			alert("服务电话格式错误");  
			  return false; 
		   }
		
			 }
if(saddress==""){alert("门店地址不能为空！");return false;}	
if(mexplain==""){alert("门店简介不能为空！");return false;}
if(mname==""){alert("门店管理账户不能为空！");return false;}
if(mpwd==""){alert("门店管理密码不能为空！");return false;}		 
if(!lng && !lat){alert("门店地图没有标注哦！");return false;} 


return true;
}


</script>
    </div>
</div>	
</block>