<extend name="Public:common"/>
<block name="body">
	<div class="wrapper">
		<h2 class="title">会员管理 / 会员详情<input type="button" value="<返回" onClick="window.history.go(-1)"></h2>
		<div class="mian padding">
			<form>
				<div class="set">
					<label>会员账户</label> <input type="text" name="text1" readonly value="{$userinfo.mname}">
				</div>
				<div class="set">
					<label>状态</label> <input type="radio" disabled <eq name="userinfo.mstatus" value="1">checked</eq>>正常
					<input type="radio" disabled <eq name="userinfo.mstatus" value="0">checked</eq>>禁用
				</div>
				<div class="set">
					<label>所在地区</label> <input type="text" name="text1" readonly value="{$userinfo.aid|get_address_byid}">
				</div>
				<div class="set">
					<label>来源</label> <input type="text" name="text1" readonly value="{$userinfo.usource}">
				</div>
				<div class="set">
					<label>安装门店</label> <input type="text" name="text1" readonly value="{$userinfo.sname}">
				</div>
				<div class="set">
					<label>手机号</label> <input type="text" name="text1" readonly value="{$userinfo.mphone}">
				</div>
				<div class="set">
					<label>IMEI号</label> <input type="text" name="text1" readonly value="{$userinfo.uemei}">
				</div>
				<div class="set">
					<label>品牌型号</label> <input type="text" name="text1" readonly value="{$userinfo.brand}">
				</div>
				<div class="set">
					<label>开通时间</label> <input type="text" name="text1" readonly value="{$userinfo.mregdate}">
				</div>
				<div class="set">
					<label>最后登陆时间</label> <input type="text" name="text1" readonly value="{$userinfo.mlogindate}">
				</div>
			</form>
		</div>
        <!--
		<div class="border-b"></div>
		<div class="main padding">
			<div class="set">
				<label>V会员</label>
				<input type="radio">是
				<input type="radio">否
			</div>
			<div class="set">
				<label>返点比例</label>
				<input type="text" name="text1">
			</div>
			<div class="set">
				<label>分成比例</label>
				<input type="text" name="text1">
			</div>
			<div class="set">
				<label class="vertical">返点比例</label>
				<div class="content_b_width">
					<input type="text" name="text1">
					<input type="text" name="text1" class="top10">
				</div>
			</div>
			<div class="set">
				<input type="button" value="确认" class="btn btn-pwd">	
			</div>
		</div>
        -->
	</div>
</block>