<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>新闻动态</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>
</head>

	<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>

		<div class="content">
			<p class="title">不懂姿势别乱玩，给你看点更来劲儿的</p>
			<p class="detail">上周，两个人在小房间里随便一搞，就把齐天大圣赶出了朋友圈。在英雄片和小成本青春片的PK中，后者在性价比上完胜。部分隔岸观火的商家在此次事件中怒刷存在感，利用各种段子和图片，极尽调侃之能事。</p>
			<p class="pic600"><img src="__PUBLIC__/Home/images/2101.jpg" /></p>
			<p class="h-10"></p>
			<p class="detail"> 当然，还少不了神州专车“月薪三万”的文案来大显神通。</p>
			<p class="pic600"><img src="__PUBLIC__/Home/images/2102.jpg" /></p>
			<p class="h-10"></p>			
			<p class="detail">但，受众的反应却是这样的：</p>
			<p class="pic600"><img src="__PUBLIC__/Home/images/2103.jpg" /></p>			
			<p class="detail"> 和这样的：</p>
			<p class="pic600"><img src="__PUBLIC__/Home/images/2104.jpg" /></p>	
			<p class="detail">  所以小编说，不懂姿势别乱玩。玩得不好，伤人伤己。</p>
			<p class="detail">19日，“优衣库不雅视频”上传者孙某因涉嫌传播淫秽物品罪被警方刑事拘留。与此同时，另外3人因传播淫秽信息被依法行政拘留。优衣库再次否认营销炒作。此事算是告一段落。</p>	
			<p class="detail double"> 狂欢之后回归理性。借本次事件大力调侃的商家中，真的有谁捡到了便宜吗？搞几张低俗海报就算做好营销吗？怎样才是互联网营销的正确打开方式？请看以下干货↓↓↓</p>	
			<p class="h-10"></p>
			<p class="c-blue">1、互联网+能给我们带来什么？</p>
			<p class="h-10"></p>
			<p class="detail"> 自从李总理在今年两会期间的政府工作报告中提出“互联网+”行动计划后，互联网+俨然已成为2015年以来互联网行业最为热门的名词。</p>			
			<p class="pic600"><img src="__PUBLIC__/Home/images/2105.jpg" /></p>						
			<p class="detail">什么是“互联网+”?从马化腾的解释中来看，“互联网+”战略就是利用互联网的平台，利用信息通信技术，把互联网和包括传统行业在内的各行各业结合起来，在新的领域创造一种新的生态。<strong>通俗来说，“互联网+”就是“互联网+各个传统行业”。</strong></p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2106.jpg" /></p>			
			<p class="detail"><strong>在“互联网+”的时代，实体店都需要转行与改革，都需要与互联网交配。</strong>对于一般实体店而言：今天你不改革，今天你拒绝移动互联网营销，明天就会有人取代你。</p>
			<p class="h-10"></p>
			<p class="c-blue">2、消费者升级为消费商</p>
			<p class="h-10"></p>
			<p class="detail">进入这个革命式变化时代，作为消费者在以往的生产消费环节中所扮演的消费角色也将得以转变，升级成为消费商。</p>
　　         <p class="detail"><strong>那么，什么是消费商?从概念上解释，消费商即是经营消费和消费群的商业人士。</strong>实际上，消费商的概念在中国才刚刚推出，在国外有一个相似的概念，翻译到中国叫“生产消费者”，既是生产者又是消费者。</p>
			<p class="pic600"><img src="__PUBLIC__/Home/images/2107.jpg" /></p>
			<p class="detail">这也意味着，一直只有经营者赚钱的时代将成为历史。作为消费群体的意见领袖，也可以参与到商品的利润分配中去。这样一种新的消费模式——“V模式”正在逐渐形成，并迅速扩大影响力：</p>
　　         <p class="detail"> <strong>通过搭建商家、厂家、消费者三位一体的闭环式消费体系。</strong>为商户提供最优质的整合推广，同时让广大消费者参与到消费有佣金分成，共同分享市场反哺收益，颠覆传统消费概念。<strong>帮商家争顾客，帮顾客争利益，帮厂商争市场！</strong></p>
			<p class="pic600"><img src="__PUBLIC__/Home/images/2108.jpg" /></p>
			<p class="detail">消费者成为V会员的好处：</p>
			<p class="detail"><strong>1.线上线下消费奖励。</strong>V会员只要消费就会享受厂家和商户消费反哺。</p>
			<p class="detail"><strong>2.推广会员公司奖励。</strong>推荐V会员公司给予奖励，推荐会员消费就有提成。</p>
			<p class="detail"><strong>3.推荐商家消费奖励。</strong>介绍商家加盟商家受益，会员也得利。</p>
			<p class="detail"><strong>4.平台广告收益大家分享。</strong>只要成为V会员就会拿到平台广告商的广告费，惊喜不断收益不止。</p>
			<p class="h-10"></p>
			<p class="c-blue">3、得消费者“心”者得天下</p>
			<p class="h-10"></p>
			<p class="detail"> 当前，凡是正当经商的人，都深深体会到生意越来越难做。真难啊，因为产品从生产商到消费者这个流通环节的经营也非常艰辛，竞争已超出想象。</p>
			<p class="pic600"><img src="__PUBLIC__/Home/images/2109.jpg" /></p>
			<p class="detail">换句话说，经济活动已进入终端，谁能拥有并锁定消费者，谁就能赚钱!</p>
			<p class="detail">马化腾也曾在一次互联网大会上分享：当你的用户群足够大时，你的业务模式不再是问题。也就是说：<strong>你拥有的消费者群体足够大时，你卖任何产品都赚钱，</strong>前提是这个产品不损害消费者!现在，每一个做生意的人都在想着这件事：如何拥有并锁定消费者?</p>
			<p class="detail"><strong>实体店招揽顾客的方式</strong></p>
			<p class="detail">1、打印传单，发广告</p>
			<p class="detail">2、 在当地报纸上登记广告</p>
			<p class="detail">3、 在当地贴吧</p>
			<p class="detail">4、 QQ群、微信宣传等等</p>
		    <p class="detail">但是，商户能统计用户转换率吗？在大数据时代，商户能知道有多少人看到了他的广告？商户能知道有多少人是通过哪种营销方式成为你的用户吗？毫无疑问，绝大多数商户没办法做出统计的。</p>
   		    <p class="detail">在这个大数据时代，在互联网时代，你拒绝互联网营销，你的优势是什么，几乎没有。<strong>因为，这个时代不再是“酒香不怕巷子深”的时代，再好的产品，也需要你宣传让大家都知道。</strong>那么拥抱互联网就万事大吉了吗？</p>
			<p class="detail"><strong>传统的互联网营销方式</strong></p>
			<p class="detail">1.利用互联网载体，开网店</p>
			<p class="detail">2.加入团购平台，线上展现，线下提供产品及服务</p>
			<p class="detail"> 的确，这样可以将商户及产品在网站上曝光。但这是一个平台，所有同行业的商户都放一平台上，那么，你的曝光度是多少?能有多少人看到你的产品?又如何能保证锁定消费者呢？</p>
			<p class="detail"><strong>未来的竞争，不再是产品的竞争，不再是渠道的竞争，而是资源整合的竞争！是终端消费者的竞争！</strong>谁能够持有资源，持有消费者用户，不管他消费什么产品、消费什么服务，你都能够盈利的时候，你才能够保证你的利益，才能立于不败之地。</p>
			<p class="h-10"></p>
			<p class="c-blue">4、消费商时代</p>
			<p class="h-10"></p>
			<p class="detail">如果有一个互联网+营销系统：</p>
			<p class="detail">顺应互联网+时代潮流，拥有广大收益人群，并且合理合法，你会选择吗？</p>
			<p class="detail">如果有一个互联网+营销系统：</p>
			<p class="detail">不需要高额投资，就能坐享大批忠实客户和多渠道盈利模式，你会选择吗？</p>
			<p class="detail">如果有一个互联网+营销系统</p>
			<p class="detail">手把手教你，为你提供开拓业务所需完善的售后和服务，直接把消费者和收益交到你手上，你会选择吗？</p>
			<p class="pic600"><img src="__PUBLIC__/Home/images/1704.jpg" /></p>
			<p class="detail"> <strong>帝鼠OS是国内首家“软硬结合”的“物联网营销”服务提供商，提供“硬件拉客”、“软件续客”物联网营销解决方案，为您打造线下到线上一体化的自主营销系统。</strong>推动不同行业的传统商户与移动互联网完美结合，有效增加客流、提高到店用户体验。</p>
			<p class="detail"> <strong>信息时代的经济竞争，是以消费者为核心。</strong>那么，作为一个有眼光和能力的企业主，就有必要把自己身边已有及潜在的消费者组织起来，带领大家一起共享财富分配。</p>
			<p class="detail">帝鼠一手打造的顶层商业模式创造了巨大的转型盈利、跨界收益、懒人红利、消费养老、全民创业等等。如果用一句话概括就是：<strong>人人都是消费者，人人都是经纪人。</strong>就是我们所说的“消费商”概念。</p>
			<p class="pic600"><img src="__PUBLIC__/Home/images/2110.jpg" /></p>
			<p class="detail"><strong>既然消费者从分散走向联盟是必然的，那么今天你不主动去团结别人，明天就是别人来团结你，</strong>他会成长为一个消费商!其中的经济利益关系，不必多说。</p>
			<p class="detail">可以预见，<strong>从消费者到消费商，</strong>这将是一场浩大的革命!这场革命将彻底颠覆我们的商业模式!</p>
			<p class="c-hight"></p>
		</div>
	</body>

</html>