<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>O2O中盘：决定命运之战</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
<div class="content">
    <p class="title">O2O中盘：决定命运之战</p>
    <p class="detail">真正决定命运的，不是偷袭珍珠港、不是明斯克、基辅大合围等等那些暂时的得逞，而是中途岛、斯大林格勒的中盘鏖战，这一点，在商战中亦然。今年，历经野蛮粗放生长的<strong>O2O</strong>也已棋至中盘，新生的力量、新的模式、新的领域乃至新的估值空间，都在改变着市场的各项参数，崛起还是没落，或许就在一念之间。而充满不确定性的未来背后，可以确定的是，线上到线下的<strong>O2O</strong>是未来能产生超级互联网企业的领域之一，且新的互联网巨头<strong>BAT</strong>可能已显雏形。</p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/301.jpg"/></p>
    <p class="detail bold">O2O的“4.0时代”</p>
    <p class="detail">5月1日，文森特·李正式从华为荣耀离职。一周后，在夏季世界<strong>O2O</strong>博览会新闻发布会上，他递给记者一张新的名片：<strong>DMall</strong>联合创始人兼高级副总裁。而此前不久，<strong>DMall</strong>另一个创始人——原华为荣耀总裁刘江峰宣布，<strong>DMall</strong>要打造成一个<strong>O2O</strong>生活服务平台，以超市为切入点，以日常消费品和生鲜产品作为突破口。</p>
    <p class="h-10"></p>
    <p class="detail">业界骚动了，因为曾创造华为荣耀年销量逾<strong>2000</strong>万部、销售额<strong>24</strong>亿美元记录的刘江峰，却联手他的伙伴，放弃已有的一切转战<strong>O2O</strong>这门“小生意”。这无疑让<strong>O2O</strong>这个市场的想象空间骤增。</p>
    <p class="h-10"></p>
    <p class="detail">更让人惊诧的还有投资人的“雄心”。<strong>DMall</strong>刚开始搭建框架，由<strong>IDG</strong>领投、一家消费类投资基金跟投的1亿美元天使轮就追随而至。“这是创业融资的天价。”连风投界都在感叹，因为即使眼下创业公司估值疯涨，但至今一般天使轮也没有超过几百万美元。这背后，除了刘江峰等创始人的个人价值，还凸显出资本对<strong>O2O</strong>市场的估值在快速放大。</p>
    <p class="detail">那么，资本突然间放大<strong>O2O</strong>估值的理由是什么呢？“我希望未来<strong>DMall</strong>能带动农业产业链的发展。”显然，这是创业者和资本碰撞的能量爆发点：未来的<strong>O2O</strong>改造的不只是零售方式，更是要赢得相对应的对某个产业改造的主动权。</p>
    <p class="h-10"></p>
    <p class="detail">这在业内被称作是<strong>O2O</strong>的4.0。从DMall的案例来看，<strong>O2O</strong>的4.0打法变了：<strong>DMall</strong>利用自身系统技术出身的优势，设计引入“分布式电商”模式，与线下超市以<strong>ERP</strong>（企业资源规划）系统为基础进行深度融合。这将带来什么改变呢？“现在，家庭餐桌上吃什么，其实是由社区附近的超市决定的。超市进什么，消费者就吃什么，后者其实没有决定权和参与权。我们希望，<strong>DMall</strong>的出现，能给消费者带来参与权、决定权或知情权。消费者知道餐桌上的东西从哪来，是不是健康的、安全的。”刘江峰说，未来将通过<strong>DMall</strong>上的用户分析，去指导超市进行采购。由此延伸，可以预见的是，它必将牵引整个产业链的发展，实现农业产业链效益的提升。</p>
    <p class="h-10"></p>
    <p class="detail">显然，这个市场的空间比以往任何时候都清晰而庞大。文森特·李说：“从事网络系统技术这么多年，我们发现，下一个高速发展将发生在互联网领域，而其中，<strong>O2O</strong>有足够庞大的市场，却不像互联网企业那样已经被<strong>BAT</strong>这样的巨头完成瓜分。”这是时代给予他们的“机会红利”。有数据显示，生活类<strong>O2O</strong>会是下一个万亿级市场，是目前市场上唯一能产生超级电商的领域。</p>
    <p class="h-10"></p>
    <p class="detail">这让风投们感觉到<strong>O2O</strong>的“<strong>4.0</strong>时代”值得作一次豪赌。</p>
    <p class="h-10"></p>
    <p class="detail bold">“互联网+”的加法之一</p>
    <p class="detail">在经历了此前野蛮粗放的小规模发展后，<strong>2015</strong>年，<strong>O2O</strong>悄然迎来新格局。</p>
    <p class="h-10"></p>
    <p class="detail"><strong>1月16日</strong>，来自光合资本、58同城、大众点评、UBER、万达[微博]等知名企业的行业精英，发起成立了世界<strong>O2O</strong>组织<strong>World O2O Organization</strong>（简称WOO），光合资本创始人宋炜担任该组织第一届理事会总干事。“<strong>WOO</strong>有义务制订并出台相应的行业标准和规则，保护消费者权益以及经营者权益，引导行业向健康良性方向发展。”宋炜说，国内<strong>O2O</strong>行业呈现“民生先行”的特点，而下一步将推动农业信息化和工业信息化的大产业发展。</p>
    <p class="h-10"></p>
    <p class="detail">与此同时，一个由官方指导的名为“工信部中国互联网协会O2O工作委员会”，也正与相关的主办方共同筹建中。据悉，该工作委员会将联合产业链上下游共同推进互联网与两化融合，而宋炜则是这个委员会的秘书长。</p>
    <p class="h-10"></p>
    <p class="detail">从行业看，两化融合将从大类行业向细分行业扩展，并从工业扩展到生产性服务业；从领域来看，两化融合将从单个企业的信息化向产业链信息化延伸，从管理领域向研发设计、生产制造、节能减排、安全生产领域延伸；从层次来看，两化融合不只是停留在技术应用层面，还将引发商业模式创新甚至商业革命，催生更多新兴业态；从应用来看，物联网、云计算等新一代信息技术将在工业领域得到应用，企业信息化从单项应用向局部集成应用、全面集成应用发展；从智能来看，企业生产经营各个环节的智能化水平将更高，将涌现出一批智慧企业，智慧行业。</p>
    <p class="h-10"></p>
    <p class="detail">作为两化融合的主管部门，工信部对<strong>O2O</strong>所给予的重视，无疑凸显了其机遇。记者注意到，在两化深度融合的方向中，推进产品信息化，提高产品的信息技术含量、网络化和智能化水平成为突出任务，包括：一，发展智能家电、智能家具等智能家居产品，为打造“智慧家庭”奠定基础；二，发展智能化的生产设备、机械装备，如发展网络化、具有协作能力的工程机械群等；三，发展智能化的交通工具，并使之成为移动的信息终端。</p>
    <p class="h-10"></p>
    <p class="detail">可以看出，<strong>O2O</strong>渗透在每个大产业的产业链中，是各行业“互联网+”的主要加法之一。但前期简单粗暴的线下向线上“搬家”的<strong>O2O</strong>模式承担不了这样重要的角色，因此需要国内<strong>O2O</strong>业者有更高的视野和更开放的平台。</p>
    <p class="h-10"></p>
    <p class="detail">或许国际性的交流有助于打开视野。5月8日，宋炜在夏季世界O2O博览会新闻发布会上宣布，6月17日至19日，夏季世界<strong>O2O</strong>博览会将在北京举行，博览会以“创新，联接，民生”为主题。“本次夏季<strong>O2O</strong>世界博览会将邀请到来自日本的<strong>O2O</strong>企业，并进行中日<strong>O2O</strong>闭门交流会；大会还会吸引了来自印度的广告分发平台、打车平台以及俄罗斯的旅行平台等。”宋炜说，如何推动大产业发展，可以说是<strong>O2O</strong>棋至中盘决定命运的大战。</p>
    <p class="h-10"></p>
    <p class="detail bold">新的BAT雏形</p>
    <p class="detail">那么，<strong>2015</strong>年的<strong>O2O</strong>将会呈现什么样的变化呢？“你不觉得现在多像<strong>BAT</strong>的改革年吗？”宋炜说，“嘀嘀和快的、58同城和赶集，就像是阿里巴巴[微博]的影子和腾讯的影子。”而随着它们的合并，这样两个<strong>O2O</strong>细分行业里的BAT企业雏形显露，同时，<strong>BAT</strong>自己在<strong>O2O</strong>细分行业里的布局也在自身体系的改革和外部市场的竞争中，终于基本架构成型。</p>
    <p class="h-10"></p>
    <p class="detail">这样看来行业并购不可避免。 “<strong>O2O</strong>很有地域属性。比如58到家把北京的业务全做完了，赶集网[微博]再做这个还能到得了家吗？显然已经难以杀进来了。”宋炜说，只要你把领地圈得差不多了，我就只能跟你合作。还有，原来嘀嘀和快的打仗，影子<strong>BAT</strong>要投入很多市场费用，两家都是投资人，长期“高烧”谁都受不了，“而结合在一起，各占各的市场，共同引领行业，把嘀嘀和快的‘打’成了行业<strong>BAT</strong>，”宋炜表示，“我们当然喜见<strong>O2O</strong>行业里能涌现更多的<strong>BAT</strong>。”</p>
    <p class="h-10"></p>
    <p class="detail">如此，<strong>O2O</strong>行业里新人的灿笑，难掩先烈们的悲壮。有数据说，2014年倒闭关门的曾经高调的<strong>O2O</strong>企业达18家。那么，<strong>O2O</strong>作为一个烧钱的行业，却有“烧死”的，也有“越烧越旺”的，这又是为什么呢？</p>
    <p class="h-10"></p>
    <p class="detail">“典型的以团购和嘀嘀为例。”宋炜分析称，二者的成败，首先是因为时代不一样。嘀嘀生在一个很好的时代，随着智能机的普及，本身需要大量的应用，尤其是消费的应用，又有这样一个潮流的趋势，人们通过智能机应用，解决了很多以前不够透明的消费问题，而且经济实惠；另一个角度，当初团购最大的问题是，以一个完全非理性的价格给了用户，造成了非良性竞争。那个时候缺乏<strong>WOO</strong>这样的规范行业行为和维护行业发展的组织出现。消费者通过团购，只是获得了便宜的价格的服务而已，于是，它烧了太多投资人的钱，又没有变现的渠道，当投资人烧不动的时候，公司收入仍无起色，就生存不下去了；第三，宋炜认为，滴滴快的解决的是刚需，而团购是创造了一个刚需。这也是为什么当年腾讯也投资了团购企业，却仍未能避免团购企业死亡命运的原因。</p>
    <p class="h-10"></p>
    <p class="detail">显然，如今的<strong>O2O</strong>是一个刚需的行业，但是，即便是刚需，互联网状态下的思维依然重要。“比如说阿姨帮，它有很多阿姨在册，但是，它不是简单地将这些资源搬到网上，而是通过数据服务，帮助在册的阿姨创造一个生态，为她们提供一个商业生存机会。”宋炜说。</p>
    <p class="h-10"></p>
    <p class="detail">“我特别相信由重到轻的企业，也就是传统企业，能够在<strong>O2O</strong>领域里成功转型实现大发展。”在行业里看得多了，宋炜的兴奋点也十分有指向性。</p>
    <p class="c-hight"></p>
</div>
</body>
</html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
</body>
</html>
