<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>新闻动态</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
<div class="content">
    <ul>
    <a href="{:U('/Home/Index/news25', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/2501.jpg"/></p>
                <p class="news-txt"><span>做一只会飞的猪，下一个风口在新三板！</span>9月15日下午，2015掘金万亿物联网——阿宅订高峰论坛暨全国合作伙伴招募启动仪式在杭州瑞莱克斯五星级大酒店隆重召开。来自全国20多个省市自治区的500多位合作伙伴及意向合作伙伴前来参会。阿宅订董事长 胡勇建、互联网事业部总经理 Michael Wang 、市场部总经理 杨天兵、公司首席高级特别助理 巫灵生、商务部总经理 王鑫瑞、神秘资本方 方总以及市政府与拱墅区政府领导出席了本次峰会。</p>
                <p class="new-date">2015-9-21</p>
            </li>
        </a>
     <a href="{:U('/Home/Index/news24', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/2401.jpg"/></p>
                <p class="news-txt"><span>她笑着演讲，却让全场人都哭了</span>史上最催泪的一段话  所谓父子母女一场  只不过意味着你和的缘分
就是今生今世不断地在目送他的背影渐行渐远  你站在小路的这一端  看着他消失在小路转弯的地方  他用背影默默地告诉你  不必追</p>
                <p class="new-date">2015-8-07</p>
            </li>
        </a>
       <a href="{:U('/Home/Index/news22', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/2201.jpg"/></p>
                <p class="news-txt"><span>【数风流人物 还看今朝】互联网+“南湖会议”胜利召开</span>2015年7月28日，阿宅订网络科技有限公司第一次战略会议在桐庐五星级酒店——开元名都大酒店隆重召开。阿宅订全体高层管理人员出席了本次会议，就落实帝鼠战略发展相关事项，加快建设物联网闭环生态圈，进行对接交流。</p>
                <p class="new-date">2015-8-07</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news23', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/2301.png"/></p>
                <p class="news-txt"><span>帝鼠TV年度巨献《走进科学》：神秘男子为何街头频频傻笑？</span>神秘男子为何频频傻笑？数家门店为何突然生意爆红？数百消费者为何越花钱越有钱？敬请关注今晚8点帝鼠TV年度巨献《走近科学》 让我们跟随着镜头走进震惊杭州的新商业帝国崛起……</p>
                <p class="new-date">2015-7-31</p>
            </li>
        </a>
    	<a href="{:U('/Home/Index/news21', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/2105.jpg"/></p>
                <p class="news-txt"><span>不懂姿势别乱玩，给你看点更来劲儿的</span>上周，两个人在小房间里随便一搞，就把齐天大圣赶出了朋友圈。在英雄片和小成本青春片的PK中，后者在性价比上完胜。部分隔岸观火的商家在此次事件中怒刷存在感，利用各种段子和图片，极尽调侃之能事。</p>
                <p class="new-date">2015-7-21</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news20', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/1901.jpg"/></p>
                <p class="news-txt"><span>“万物互联”来袭，如何掘金万亿市场？</span>在过去，曾有人感叹“奋斗18年终于能和你坐在一起喝咖啡”，来形容白手起家的艰辛。而今把握成功，铸就财富的过程却因“物联网时代”的到来变得更为简单。物联网是继通信网之后的另一个万亿级市场。它有效拉近了传统的创业“起跑线”，也大大减少了创业者享受成功喜悦前的辛酸。</p>
                <p class="new-date">2015-7-11</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news19', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/1801.jpg"/></p>
                <p class="news-txt"><span>互联网电商企业最宝贵的财富竟然是ta！不懂就戳进来</span>7月3日，帝鼠OS联合创始人巫灵生先生代表帝鼠OS参与杭州电视台《我们圆桌会》“杭州如何打造国际电子商务中心”节目录制。本次圆桌会由杭州市政府谢双成副市长牵头。50多位杭州乃至全国的顶级电商大佬齐聚录制现场，共商互联网电商企业发展。</p>
                <p class="new-date">2015-7-6</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news18', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/1702.jpg"/></p>
                <p class="news-txt"><span>是什么让企业主们纷纷争做物联网代理商?</span>五年前，帝鼠OS刚开始研发时，也就是帝鼠OS项目的前身，当时作为公司的创始人胡董提出了很多稀奇古怪的想法，如何将传统的一些经营之道和模式搬到线上并实现它，但是遭到了朋友们和技术男的嘲疯，认为那是不可能的事。</p>
                <p class="new-date">2015-6-30</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news17', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/1609.jpg"/></p>
                <p class="news-txt"><span>帝鼠OS项目说明会圆满召开</span>会议时间：2015年6月19日（周五） 下午<br/>
会议地点：杭州海外海国际酒店<br/>参会人员：帝鼠OS全体员工、帝鼠OS战略合作伙伴代表、帝鼠OS意向代理商</p>
                <p class="new-date">2015-6-25</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news15', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news01501.jpg"/></p>
                <p class="news-txt"><span>公司董事长应邀参加民生996电台访谈节目</span>近日，阿宅订网络科技有限公司董事长胡勇建应邀前往浙江广电集团参加民生996电台《浙江好公司》节目访谈。访谈过程中，董事长胡先生畅谈了自己的创业历程、人生感悟以及公司现状，节目已于6月6日（周六）18:30顺利播出，反响强烈。</p>
                <p class="new-date">2015-6-10</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news16', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news1601.JPG"/></p>
                <p class="news-txt"><span>阿宅订首届员工拓展活动圆满结束</span>随着帝鼠OS项目的顺利推进，阿宅订大家庭也不断加入了新的成员，团队建设日臻完善。为了加强团队建设，提高团队凝聚力，6月6日阿宅订全体员工前往萧山山里人家拓展基地进行野外素质拓展，并圆满完成所有训练项目。</p>
                <p class="new-date">2015-6-10</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news13', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news013.jpg"/></p>
                <p class="news-txt"><span>阿宅订公司内部培训会</span>随着“梦里水乡”的歌声结束，本次阿宅订网络科技有限公司的内部培训正式开始。
本次培训本着“5分钟展示自己”和“如何做好营销”两大内容进行开展
本次培训师由市场部总经理周忠毅担当，市场部人员进行学习培训。周总宣布本次培训正式开始之后，给每位同事五分钟时间，讲述自己对前几天培训结果想说的话。</p>
                <p class="new-date">2015-4-20</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news12', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news012.jpg"/></p>
                <p class="news-txt"><span>帝鼠OS内部项目发布会顺利召开</span>2015年4月13日下午1点30分，由杭州阿宅订网络科技有限公司举办的帝鼠OS内部项目发布会隆重召开，当日到场嘉宾和与会人员突破百人，发布会主会场坐无虚席。此次发布会秉承着公司“利他精神，百载传承”的企业文化，宣布了公司新项目——帝鼠OS的诞生。</p>
                <p class="new-date">2015-4-13</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news14', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news014.jpg"/></p>
                <p class="news-txt"><span>“互联网+”影响有多大</span>“互联网+”对社会方方面面的影响刚刚开始。从今年将“互联网+”列入政府行动计划以来，短短几个月就带来理念和市场的巨大变化，它以几何级的速度融合渗透，几乎所有领域都在思考和对待其融入所引致的变化。现在看来，从“+互联网”到“互联网+”是一步历史性跨越，或将引发一场革命性的变革。这场变革将逐步改变着我们的生活方式、生产方式和社会管理，也给新常态下的中国经济带来缕缕春风。</p>
                <p class="new-date">2015-5-18</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news11', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news011.jpg"/></p>
                <p class="news-txt"><span>聚焦人民日报上的互联网 互联网+频频出现</span>梳理5月1日至15日这半个月来的人民日报，据不完全统计，与互联网相关的文章就超过70多篇，打击“网络敲诈和有偿删帖”、互联网+、互联网金融、网络专车、互联网医疗、网络购物、网络论坛……尤其是“互联网+”一词，半月内在文章标题中就出现十余次，当真是火得不得了。</p>
                <p class="new-date">2015-5-16</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news03', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news03.jpg"/></p>
                <p class="news-txt"><span>O2O中盘：决定命运之战</span>真正决定命运的，不是偷袭珍珠港、不是明斯克、基辅大合围等等那些暂时的得逞，而是中途岛、斯大林格勒的中盘鏖战，这一点，在商战中亦然。今年，历经野蛮粗放生长的O2O也已棋至中盘，新生的力量、新的模式、新的领域乃至新的估值空间，都在改变着市场的各项参数，崛起还是没落，或许就在一念之间。而充满不确定性的未来背后，可以确定的是，线上到线下的O2O是未来能产生超级互联网企业的领域之一，且新的互联网巨头BAT可能已显雏形</p>
                <p class="new-date">2015-5-13</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news10', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news010.png"/></p>
                <p class="news-txt"><span>智慧城市有什么好？</span>互联网+已经深入交通、教育、医疗等百姓生活的方方面面，例如，打车软件、网上预约挂号、视频授课等的出现在解决看病难问题以及教育资源分布不均的问题方面起到了良好的作用，也极大地方便民众的出行和生活。当然，随着“互联网+”行动计划的实施以及各级政府的重视，加之政府与民众互动理念的逐渐深入人心，相信智慧城市的建设将为民众带来更多红利。</p>
                <p class="new-date">2015-5-12</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news05', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news05.jpg"/></p>
                <p class="news-txt"><span>看看那些就在你身边的智能城市</span>远程存储、大数据和物联网虽然是各种不同类型的技术，但同时，它们也是推动智能城市发展的背后驱动力。事实上，城市不断完善基础设施、使用新能源并实现更好的废物回收形式，这便是所谓的“智能城市”项目，至2020年将形成4000亿美元的庞大市场。</p>
                <p class="new-date">2015-5-12</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news09', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news09.jpg"/></p>
                <p class="news-txt"><span>物联网营销系统与大数据技术完美结合打造智慧新媒体</span>互联网火了，传统行业纷纷走向改革创新之路。从多介质、多渠道、多媒体形式的“全媒体时代”到通过对大数据的分析和应用实现将正确的信息传递给有需要的人的“智媒体时代”，这将创造一个崭新的时代，智媒体将是传统媒体的未来。智媒体将呈现这样的特性：通过利用个人或对象的环境、行为、联网、偏好等信息，参与到客户需求中，并提前将最适合的内容、产品或服务提供给客户，可提升各种用户体验。媒体通过对信息的选取与重新组合，为人们提供有效、即时、个性化的信息服务，成为人们学习生活工作必须的“智媒体”。</p>
                <p class="new-date">2015-5-04</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news04', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news04.png"/></p>
                <p class="news-txt"><span>酒店和大型商超积极引入WiFi服务，开展O2O营销创新</span>WiFi正在成为商家们转型O2O的“标配”，因此也正在成为新的商业蓝海。WiFi将提供万亿市场的价值，这一庞大的市场背后，是入口和用户的争夺。根据行业人士分析，O2O市场面临线上和线下诸多难题，作为连接Online到Offline最有效、方便的方式，免费WiFi背后是海量用户的入口、智能交互平台的价值，更是连接O2O所有商家、用户和平台的枢纽。巨头们的免费WiFi争夺战，其实是为了牢牢掌握O2O市场致胜因素的布局。</p>
                <p class="new-date">2015-4-29</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news01', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news01.jpg"/></p>
                <p class="news-txt"><span>“懒”是O2O的用户根基，其次才是忙</span>4月23日，用户超过5亿的360手机助手在北京发布了《2015年Q1中国手机应用行业趋势绿皮书》，披露了360今年第一季度在应用分发的核心数据。这份报告不仅公布了移动互联网用户的基本属性，还重点关注了o2o行业的发展趋势和用户画像。</p>
                <p class="new-date">2015-4-23</p>
            </li>
        </a>
        
        <a href="{:U('/Home/Index/news08', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news08.jpg"/></p>
                <p class="news-txt"><span>物联网时代下我们的营销该如何去做？</span>2014年智能设备的增加、移动互联网的飞速发展，让物联网的生态环境越发的成熟。物联网中传感器技术、RFID标签和嵌入式系统技术是关键要点，我们可以看到众多智能产品通过传感器、应用程序和WIFI连接，让这些智能产品和我们的生活更加紧密。随着传感器和微处理器成本的降低，Gartner预测未来物联网将有1.9万亿美元的市场，并且根据Gartner’s 2014 Hype Cycle所说，今年物联网将达到顶峰，未来5-10年必将成为主流。</p>
                <p class="new-date">2015-1-27</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news06', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news06.jpg"/></p>
                <p class="news-txt"><span>全球WiFi热点数量排名：中国排第四</span>《福布斯》网络版报道，号称“全球最大商用WiFi网络提供商”的iPass公司公布的数据显示，中国的WiFi数量位居全球第四位，而法国则排在第一位。各个国家的整体WiFi热点数量以及他们在航班、宾馆等场所提供WiFi数量的综合排名。其中，法国依然位居第一位，但美国也在迅速赶上，到今年年底时预计将反超法国，总WiFi热点数量将超过3200万个。</p>
                <p class="new-date">2015-1-26</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news02', '', true, true)}" target="_blank"> 
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news02.png"/></p>
                <p class="news-txt"><span>大开眼界  原来物联网也能推动营销</span>物联网具有收集数据和分析反馈的功能，通过将这些信息报告给决策者，公司就能在适当的时候采取适当的措施，并根据市场反馈不断调整推进策略。物联网能够让营销人员实时get到他们想知道的一切，而非通过过时、有失偏颇的调研数据，比如通过接入物联网的可穿戴设备，营销大牛和营销汪汪可以轻松get到用户投诉、表扬、建言，抑或竞争对手信息等等。物联网甚至可以为企业提供“用户的喜好和槽点”这类实时信息。不用在市场调研中苦苦挣扎，物联网帮你从冗余的工作中解放出来。</p>
                <p class="new-date">2015-1-22</p>
            </li>
        </a>
        <a href="{:U('/Home/Index/news07', '', true, true)}" target="_blank">
            <li>
                <p class="news-pic"><img src="__PUBLIC__/Home/images/news07.jpg"/></p>
                <p class="news-txt"><span>物联网带给消费者和产品销售人员的影响面面观</span>在物联网逐步改变人们生活的过程当中，产品营销人员对于消费者的影响是显而易见的，在日常生活当中，越来越多的消费者能够接触到越来越多的智能设备，并且在使用的过场当中对物联网的了解日益加深，在此进程中，营销人员有了更多的机会了解消费者的生活方式和习惯，进而可以为顾客提供更加优质贴心的服务。　</p>
                <p class="new-date">2014-12-17</p>
            </li>
        </a>
    </ul>
</div>
</body>
</html>