<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>全球WiFi热点数量排名：中国排第四</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
<div class="content">
    <p class="title">全球WiFi热点数量排名：中国排第四</p>
    <p class="detail">北京时间1月26日消息，据《福布斯》网络版报道，号称“全球最大商用WiFi网络提供商”的iPass公司公布的数据显示，中国的WiFi数量位居全球第四位，而法国则排在第一位。</p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/601.jpg"/></p>
    <p class="tt">全球WiFi热点数量排名：中国排第四（图片来自elsoldelaflorida）</p>
    <p class="h-10"></p>
    <p class="detail">数据显示，法国的WiFi热点数量高达1300万个，位居全球首位。美国和英国分别位居第二和第三，WiFi热点数量为980万个、560万个。中国位居第四，WiFi热点数量超过491万个。整体来看，公用WiFi热点数量超过了5000万个，较2013年增长了80%。</p>
    <p class="h-10"></p>
    <p class="detail">此外，报道还给出了根据各个国家的整体WiFi热点数量以及他们在航班、宾馆等场所提供WiFi数量的综合排名。其中，法国依然位居第一位，但美国也在迅速赶上，到今年年底时预计将反超法国，总WiFi热点数量将超过3200万个。</p>
    <p class="h-10"></p>
    <p class="detail">iPass预计，WiFi热点数量将快速增长，到2018年时的全球热点数量将达到3.4亿个。目前，一个WiFi热点对应的全球人口数量为150人。到2018年，一个WiFi热点将对应20人。</p>
    <p class="c-hight"></p>
</div>
</body>
</html>
