<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于我们</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/layout.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/aboutus.css">
</head>
<body>
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
	<div class="main aboutus">
		<div class="container">
			<div class="sidenav">
				<ul>
					<li class="active"><a href="javascript:;">公司介绍</a></li>
					<li><a href="javascript:;">软件著作权</a></li>
					<li><a href="javascript:;">活动风采</a></li>
				</ul>
			</div>
			<div class="wrapper">
				<div class="about-content us active">
					<h2>杭州阿宅订网络科技有限公司介绍</h2>
					<!--<p>杭州阿宅订网络科技有限公司作为国内首家“软硬结合”的“物联网营销”服务提供商，旗下的帝鼠OS项目为中小商户提供“硬件拉客”、“软件续客”的“物联网营销“解决方案。公司成立于2014年7月，注册资金1000万，致力于智能设备应用的研发与服务。</p>
					<p style="overflow:hidden;_zoom:1"><img src="__PUBLIC__/Home/upload/1A5477.jpg" class="hd-pic"/>杭州阿宅订网络科技有限公司的董事长胡勇建作为当代的社会企业家，“利他”是他一生的宏愿。把这种利他精神带入了公司文化和产品理念中，投入3千万打造帝鼠OS项目，希望它能真正做到跨界整合，优化资源配置，给中小企业及中小商户带来实实在在的利益。胡董坐拥千岛湖畔千亩私家级云顶别墅地产，创建了杭州阿宅订网络科技有限公司、杭州戈壁泉信息技术有限公司、杭州先典通信器材有限公司、杭州恩基通讯技术有限公司等多家公司，并涉及互联网、移动互联网、通信信息技术、房地产等多个行业领域。</p>
					<p>公司CEO王桢毕业于吉林大学软件工程本科专业，资深产品总监，拥有多年专业互联网经验。在战略规划、技术部署、产品构建、运营管理等专业领域都是资深专家，对于互联网与移动互联网有独到的见解及完善的配套资源。他以产品运营的角度推动产品、运营、技术、市场等部门，并针对互联网项目构思创新的商业模式。</p>
					<p>目前公司聚集了一批经验丰富、对移动互联网行业技术有着深刻理解的管理专家和运营专家，并拥有一只始终走在IT前端的技术开发团队，为移动互联网商业用户提供产品运营、应用软件开发等。同时提供优质的产品优化、维护等多种形式的网络技术服务。公司始终塑造真诚、平等、快乐、有梦想的企业文化，秉承“信任、激情、合作、进取”的价值观。在中国经济快速发展的今天，公司将以深厚的网络技术功底、优秀团队技术与运营实力，为中国移动互联网技术的发展贡献力量！ </p>
					<p>作为一家有强大技术团队和多项专利的互联网公司，公司也获得了拱墅区科技局领导的重视和扶持。同时也获得了各大知名媒体们的支持。与各大集团、购物中心和商业综合体都建立了合作意向，目前已经和几家大型集团与商业综合体建立了战略合作伙伴关系。除已确定的几家战略合作伙伴外，帝鼠OS也在积极寻找更多合作伙伴一起加盟，我们欢迎更多合作者的加入。</p>-->
				<p style="text-indent: 0em;"><strong>定位</strong><br/>
				阿宅订致力于为传统产业提供“软硬件结合”的互联网自主营销系统，为传统产业打造互联网营销服务平台。<br/>最终实现“消费者即消费商”的商业模式。
				<br/><br/><strong>核心价值<br/> </strong>变革、创新、利他、共赢
				</p>
				<p style="text-indent: 0em;"><br/><strong>产品</strong><br/>
				“帝鼠OS”由wifi智能硬件、APP、云服务器、云数据存储系统组成。<br/>同时通过全民返利（app）平台实现消费者到消费商的转换升级。
				<p style="text-indent: 0em;"><br/><strong>组织架构：</strong><br/>
				市场中心 产品中心 研发中心 客服中心 商务中心 商学院</p>
				<p style="text-indent: 0em;"><br/><strong>研发团队</strong><br/>
				公司研发团队拥有40多位顶级IT研发精英， 20余项知识产权；6项著作权、5个注册专利。<br/><br/></p>


					<ul class="clearfix">
						<li><img src="__PUBLIC__/Home/upload/us_01.JPG" alt=""></li>
						<li><img src="__PUBLIC__/Home/upload/us_02.JPG" alt=""></li>
						<li><img src="__PUBLIC__/Home/upload/us_03.JPG" alt=""></li>
					</ul>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
                   <!-- <ul class="clearfix">
						<li><img src="__PUBLIC__/Home/upload/us_07.JPG" alt=""></li>
						<li><img src="__PUBLIC__/Home/upload/us_08.JPG" alt=""></li>
						<li><img src="__PUBLIC__/Home/upload/us_09.JPG" alt=""></li>
					</ul>-->
				</div>
				<div class="about-content zzq">
					<ul class="clearfix">
						<li><img src="__PUBLIC__/Home/upload/zzq_01.jpg" alt=""></li>
						<li><img src="__PUBLIC__/Home/upload/zzq_02.jpg" alt=""></li>
						<li><img src="__PUBLIC__/Home/upload/zzq_03.jpg" alt=""></li>
						<li><img src="__PUBLIC__/Home/upload/zzq_04.jpg" alt=""></li>
						<li><img src="__PUBLIC__/Home/upload/zzq_05.jpg" alt=""></li>
						<li><img src="__PUBLIC__/Home/upload/zzq_06.jpg" alt=""></li>
					</ul>
				</div>
				<div class="about-content hd">
					<ul>
						<li style="padding:0"><img src="__PUBLIC__/Home/upload/activity_01.jpg" alt=""></li>
						<li style="padding:0"><img src="__PUBLIC__/Home/upload/activity_02.jpg" alt=""></li>
						<li style="padding:0"><img src="__PUBLIC__/Home/upload/activity_03.jpg" alt=""></li>
						<li style="padding:0"><img src="__PUBLIC__/Home/upload/activity_04.jpg" alt=""></li>
						<li style="padding:0"><img src="__PUBLIC__/Home/upload/activity_05.jpg" alt=""></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="__PUBLIC__/Home/js/jquery-1.11.2.min.js"></script>
	<script>
		var aSideNavLi = $(".sidenav li");
		var aSideNavA = $(".sidenav a");
		var aAboutContent = $(".about-content");
		aSideNavA.click(function() {
			var _this = $(this);
			var index = _this.parent("li").index();
			aSideNavLi.removeClass('active');
			aSideNavLi.eq(index).addClass('active');
			aAboutContent.removeClass('active');
			aAboutContent.eq(index).addClass('active');
		})
	</script>
</body>
</html>