<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>“万物互联”来袭，如何掘金万亿市场？</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>   
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>

<div class="content">
    <p class="title">“万物互联”来袭，如何掘金万亿市场？</p>
    <p class="detail">在过去，曾有人感叹“奋斗18年终于能和你坐在一起喝咖啡”，来形容白手起家的艰辛。而今把握成功，铸就财富的过程却因“物联网时代”的到来变得更为简单。<strong>物联网是继通信网之后的另一个万亿级市场。</strong>它有效拉近了传统的创业“起跑线”，也大大减少了创业者享受成功喜悦前的辛酸。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1901.jpg"/></p>
    <p class="h-10"></p>
    <p class="detail"> 因此才有一大批慧眼识珠的商界英雄，在帝鼠项目尚未进入招商阶段就选择签约代理帝鼠项目。为保证代理商们在项目推进中更加顺利并取得丰厚的利润，<strong>7月6日，帝鼠商学院首期培训课程在杭州帝鼠OS总部开班。</strong></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1704.jpg"/></p>
    <p class="h-10"></p>
    <p class="c-blue">1.忙里忙外 只等您来</p>
    <p class="h-10"></p>
    <p class="detail">早在培训课程开始前三周，筹备工作就在紧锣密鼓地进行。从所有物料准备到主讲人备课方案都精益求精，力求完美。每一份PPT都经过了一周的精雕细琢，每一位讲师都花费了数十个小时精心准备讲课内容。行政更是从场地布置到茶点准备，一步步细心安排。只为了给代理商提供一个舒适的培训环境。</p>    
    <p class="pic600"><img src="__PUBLIC__/Home/images/1902.jpg"/></p>
    <p class="tt">帝鼠为代理商们精心准备的水果、点心</p>
    <p class="detail"> 代理商们在传统行业都是顶级大咖，日常工作非常繁多。令人惊喜的是，来自全国十多个省市自治区的近百位代理商们纷纷放下手头的工作，百忙之中抽空来杭州接受为期5天的培训。</p>
    <p class="detail">  来自<strong>义乌</strong>的<strong>金总</strong>就是其中一员。金总十几年前在义乌创办了机床公司。多年的努力使他成为<strong>义乌市机械行业联合会的会长</strong>。三年前，金总进军文化领域，在义乌创办了“茗荷轩”，做起了书画买卖。当代浙派艺术名家王伯敏、朱关田、吴山明等都是“茗荷轩”的常客。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1903.jpg"/></p>
    <p class="tt">金总与画家吴山明（左：金总 右：著名画家吴山明）</p>
    <p class="detail">为了抢占浙江文化市场的制高点，金总把书画生意扩展到了杭州，并在杭州热门景点周边拥有自己的门店。金总在杭州更是大展拳脚，目前还是<strong>2015世界浙商大会组委会理事</strong>。金总对互联网早就有所研究，接触帝鼠后便很快签约拿下杭州上城区的代理权。</p>
    <p class="h-10"></p>
    <p class="c-blue">2.理论教学 精益求精</p>
    <p class="h-10"></p>
    <p class="detail"> 7月6日，<strong>掘金万亿物联网—帝鼠商学院首期培训班正式开课</strong>。培训会现场座无虚席。这证明了帝鼠项目的魅力，也给了帝鼠团队全体成员极大地鼓舞。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1904.jpg"/></p>
    <p class="tt">培训会现场座无虚席</p>
    <p class="detail"><strong>从互联网思维风暴到产品介绍到行业解决方案，再到销售要点，从理论学习到前线实践</strong>。帝鼠竭自己所能，为代理商们提供所需的教学内容。从代理商的反应中，丰富的培训内容打开了他们的思维，受益匪浅。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1905.jpg"/></p>
    <p class="tt">帝鼠市场部总监 周忠毅与大家分享互联网思维</p>
    <p class="detail">培训期间，代理商们都十分认真地听课，并针对部分细节提出了自己的问题。针对这些问题，帝鼠的工作人员都耐心解答。代理商们对帝鼠的技术实力与运营能力也给予了充分的肯定。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1906.jpg"/></p>
    <p class="tt">帝鼠OS产品经理 郭苍穹介绍帝鼠OS全系统产品</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1907.jpg"/></p>
    <p class="tt">帝鼠OS全系统包括智能揽客神器（智能硬件）+商户独立软件+云平台。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1908.jpg"/></p>
    <p class="tt">帝鼠OS副总 王鑫瑞详细阐述帝鼠OS一手打造的顶层商业模式</p>
    <p class="detail"> 来自各个行业的代理商们也分享了此前在传统行业中遭遇的痛点。来自西安的张总是当地十多家通信配件门店的企业主，深耕通信配件行业近20年。互联网电商兴起，张总门店的一部分市场份额被电商蚕食。</p>
    <p class="detail">对市场敏感度极高的张总特意请了2位大学生专门运营他的天猫店。然而由于地处西北，邮费成本就比江浙沿海的电商贵了不少。再加上天猫店的入驻费用与各类运营推广费，叠加起来成本并不比实体店低多少。失去了价格优势，天猫店的运营也并不顺利。</p>
    <p class="detail">筹莫展之际，张总了解到了帝鼠项目。<strong>帝鼠基于“利他”精神的全系统产品和顶层商业模式都令张总折服</strong>。眼光独到的张总果断选择与帝鼠签约将项目带入西安市场。</p>
    <p class="h-10"></p>
    <p class="c-blue">3.结合实践 共同提升</p>
    <p class="h-10"></p>
    <p class="detail"> 业务培训中，讲师对<strong>渠道的开拓、信息的获取、业务的关系梳理</strong>等方面进行了详细的讲解，由点到线，由线到面，并分享了很多的案例。</p>
    <p class="detail"> 长期在一线跑销售的帝鼠销售专员也和代理商们分享了自己的经验。帝鼠销售专员遇到的形形色色问题，也是代理商们在产品推广过程中可能遇到的最大的难题。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1909.jpg"/></p>
    <p class="tt">掘金万亿物联网——帝鼠OS商学院第一期圆满收官</p>
    <p class="c-blue">4.参训学员 收益良多</p>
    <p class="h-10"></p>
    <p class="detail"> 本次培训会，让代理商们更加全面系统的了解帝鼠产品及商业模式。同时各自在实践中遇到的问题，也得到了详尽的解答。帝鼠通过本次培训也充分了解了代理商及商户们的现状。对今后的项目推进有极大的参考价值。每节课后讨论都十分激烈，往往持续了两个多小时，代理商们仍意犹未尽。</p>
    <p class="detail"> 短短五天的培训，让代理商们对帝鼠的热情愈发高涨。<strong>不但自己打理投入项目，也推荐了一大批商务伙伴加入帝鼠项目</strong>。培训会期间，公司又接待了五六十位意向代理商</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1910.jpg"/></p>
    <p class="tt">帝鼠商学院首期结业典礼
（左：帝鼠董事长胡董 右：帝鼠OS安徽省运营中心运营权拥有者 仇总）</p>    
    <p class="detail">培训会结束前，所有参与培训的<strong>近百位</strong>代理商都<strong>已经签订了代理合约</strong>。截至目前，帝鼠代理商已经<strong>覆盖全杭州，浙江大部分地区</strong>也已经有了签约代理商。帝鼠项目的足迹已经遍布<strong>安徽、山西、成都等十多个省市自治区</strong>。帝鼠代理商人数还在快速增长中，市场版图不断扩展。
</p>
    <p class="h-10"></p>   
    <p class="pic600"><img src="__PUBLIC__/Home/images/1911.jpg"/></p>
    <p class="tt">帝鼠OS代理授权仪式</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1912.jpg"/></p>
    <p class="tt">近期又有不少慕名而来意向代理商决定签约代理</p>   
    <p class="detail">7月11日，台风“灿鸿”登陆当天，又有四家意向代理商前来帝鼠公司签约合作！真是<strong>17级台风</strong>也挡不住帝鼠的吸引力。我们也期待更多合作伙伴加入我们，一起铸就物联网时代的财富传奇。</p>
    
    <p class="c-hight"></p>
</div>
</body>
</html>
