<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>招商加盟</title>
    <!--link rel="stylesheet" href="__PUBLIC__/Home/css/normalize.css" /-->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/layout.css" />
</head>
<body>
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
		<div class="main">
			<div class="container">
				<!--<div class="banner">
					<img src="__PUBLIC__/Home/images/banner.jpg" alt="模式-banner" />
				</div>
				<div class="section sec-1">
					<div class="left">
						<div><img src="__PUBLIC__/Home/images/logo.png" alt="" /></div>
					</div>
					<div class="right">
						<p>帝鼠OS项目的V模式运营是打造中国最受欢迎的移动端营销分享平台，搭建消费者、店家、商家、品牌厂商之间更直接更紧密的商业往来通道。</p>
						<p>致力于为商户提供最优质的整合推广，同时让广大消费者参与到消费有佣金分成的模式中来。</p>
						<p>公司一切以"利他"为核心价值观，以平台为纽带，快速吸纳、集结、锁定海量会员，快速发展大量都市联盟商户，快速引导众多品牌厂商战略合作参与进来，实现三位一体，线上线下和谐共赢。帮商家争顾客，帮顾客争利益，帮厂商争市场！</p>
					</div>
				</div>-->
				<div class="section">
					<div class="sec-title">
						<h2>代理商的进入准则</h2>
					</div>
					<div class="sec-content">
						<ul class="list-zhunze">
							<li>对互联网、<br />移动互联网的电子商<br />务发展有一定的理解<br />和认可</li>
							<li>有一定的<br />社会资源<br />和人脉基础</li>
							<li>有一定的<br />资金实力<br />和创业能力</li>
							<li>注册企业，<br />经营范围内包括：<br />网络科技或电子商<br />务，或市场营销策划</li>
							<li>按照区、<br />县级招收代理</li>
							<li>最少提货数量：<br />帝鼠OS迷你服务器<br />70台，帝鼠OS系统<br />70个</li>
						</ul>
					</div>
				</div>
				<div class="section sec-3">
					<div class="sec-title">
						<h2>总部给予合作伙伴（代理商）的支持</h2>
					</div>
					<div class="sec-content">
						<div>
							<div class="left">
								<h3>销售支持</h3>
							</div>
							<div class="right">
								<ul>
									<li>•  优厚的代理价格、保证代理商充足的利润空间</li>
									<li>•  免费获取产品宣传资料、行业解决方案、后台操作手册等资料</li>
									<li>•  免费提供对客户的业务咨询培训、行业解决方案制作、销售、谈判技巧等</li>
									<li>•  总部公司将区域客户咨询、寻价信息、及时提供给当地区域代理商</li>
									<li>•  不收取任何代理费、加盟费和保证金，结合区域当地市场实际情况，给予代理合作商服务包优惠的代理提货价</li>
								</ul>
							</div>
						</div>
						<div>
							<div class="left">
								<h3>技术支持</h3>
							</div>
							<div class="right">
								<ul class="p-t-40">
									<li>•  免费进行产品系统安装、调试培训、软、硬件操作培训</li>
									<li>•  免费现场或远程技术培训，保证代理商相关人员掌握核心技术</li>
									<li>•  不定期召集相关技术人员到总部接受产品培训</li>
								</ul>
							</div>
						</div>
						<div>
							<div class="left">
								<h3>收益共享</h3>
							</div>
							<div class="right">
								<ul class="p-t-40">
									<li>•  享受当地唯一代理权，可以发展推荐其他地域的代理商</li>
									<li>•  成为代理商后享受整个平台在该区域投放广告的渠道费用，代理区域的运营费用、会员和商户的推荐奖金、消费模式提成和公司的期权奖励。</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="section sec-4">
					<div class="sec-title">
						<h2>加盟流程</h2>
					</div>
					<div class="sec-content">
						<ul>
							<li>
								<div class="left">
									<img src="__PUBLIC__/Home/images/liucheng_01.jpg" alt="" />
									<p>拨打相关渠道经理联系电话，确立合作意向</p>
								</div>
								<div class="right"></div>
							</li>
							<li>
								<div class="left">
									<img src="__PUBLIC__/Home/images/liucheng_02.jpg" alt="" />
									<p>签订合约并支付预付款项</p>
								</div>
								<div class="right"></div>
							</li>
							<li>
								<div class="left">
									<img src="__PUBLIC__/Home/images/liucheng_03.jpg" alt="" />
									<p>总部派培训小组到当地3天3夜做销售、营销、产品及技术培训</p>
								</div>
								<div class="right"></div>
							</li>
							<li class='li-last'>
								<div class="left">
									<img src="__PUBLIC__/Home/images/liucheng_04.jpg" alt="" />
									<p>代理商开展销售工作，总部全力给予售后支持</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="section sec-5">
					<div class="sec-title">
						<h2>加盟合作申请</h2>
					</div>
					<div class="sec-content">
						<div class="">	<!--<div class="left">-->
							<div class="form-box" style="width:470px;">
								<form>
									<div id="yixiang">
									<div class="form-group">
										<label>您的意向</label>
										<select class="prov form-control select-block" id="select-yx">
										</select>
									</div>
									<div class="form-group">
										<label>您的公司名称</label>
										<input id="CompanyName" class="form-control" type="text" placeholder="请输入公司全称" />
									</div>
									<div class="form-group" id="hangye">
										<label>您所处行业</label>
										<select id="Vocation" class="city form-control select-block">
											<option value="">请输入行业名称</option>
										</select>
									</div>
									</div>
									<div class="form-group">
										<label>联系人</label>
										<input id="UserName" class="form-control" type="text" placeholder="请输入真实姓名" />
									</div>
									<div class="form-group">
										<label>手机号码</label>
										<input id="UserPhone" class="form-control" type="text" placeholder="请输入11位手机号码" />
									</div>
									<div class="form-group">
										<label>QQ号</label>
										<input id="UserQq" class="form-control" type="text" placeholder="请输入QQ号" />
									</div>
									<div class="form-group">
										<label>邮箱</label>
										<input id="UserEmail" class="form-control" type="text" placeholder="请输入邮箱" />
									</div>
									<div class="form-group" id="provcity">
										<label>详细地址</label>
										<select id="SelectQcity" class="prov form-control select-prov">
                                        	<option value="">请选择区域省份</option>
                                            <volist name='addressList' id='vo'>
                                            <if condition="$vo['apid'] eq 0 AND  $vo['aid'] neq 0"><option value="{$vo.aid}">{$vo.aname}</option></if>
                                            </volist>
										</select>
										<select id="SelectScity" class="city form-control select-city">
                                        	<option value="">请选择区域市级</option>
										</select>
										<input id="UserAddress" class="form-control input-addrdetail" type="text" placeholder="请输入详细地址，无需再次输入省市" />
									</div>
									<div class="form-group">
										<a class="submitBtn" href="javascript:void(0);" onClick="SendEmail();">立即申请</a>
									</div>
								</form>
							</div>
						</div>
						<!--<div class="right">
							<h3>成为V会员的优势：</h3>
							<ul>
								<li>1.推广会员公司奖励。V会员线上线下推广V模式，推荐V会员公司给予奖励，推荐会员消费就有提成。</li>
								<li>2.推荐商家消费奖励。V会员线上线下推广V模式，介绍商家加盟商家受益，会员也得利。</li>
								<li>3.线上线下消费奖励。V会员线上线下只要消费就会享受厂家和商户消费反哺作为消费等额分红，积少成多消费也可以养老。</li>
								<li>4.平台广告收益大家分享。只要成为V会员就会拿到平台广告商的广告费，惊喜不断收益不止。</li>
							</ul>
						</div>-->
					</div>
				</div>
			</div>
		</div>
		<script src="__PUBLIC__/Home/js/jquery-1.11.2.min.js"></script>
        <script src="__PUBLIC__/Home/js/jquery.cityselect.js"></script>
		<script type="text/javascript">

			$("#yixiang").citySelect({
				url: {"citylist": [
					{"p": "代理加盟","c":[{"n":"网络科技"},{"n":"电子商务"},{"n":"市场营销策划"},{"n":"其他"}]},
					{"p": "商务加盟","c":[{"n":"餐饮美食"},{"n":"酒店宾馆"},{"n":"汽车4S店"},{"n":"KTV会所"},{"n":"网吧网咖"},{"n":"休闲足浴"},{"n":"美容美发"},{"n":"摄影写真"},{"n":"大型商场"},{"n":"其他"}]},
					{"p": "项目合作","c":[]}
				]},
				prov: "代理加盟",
				city: ""
			});
			$("#select-yx").change(function() {
				var optionVal = $("#select-yx option:selected").text();
				if(optionVal == "项目合作") {
					$("#hangye").hide();
				} else {
					$("#hangye").show();
				}
			})

			$("#SelectQcity").change(function() {
				var value = $(this).val();
				if( value ) {
					$.get("{:U('/Home/Index/publicGetaddress', '', true)}", {pid:value}, function( data ) {  $("#SelectScity").html( data ); })
				}
			})

			function SendEmail()
			{
				var yx = $("#select-yx").val();
				var CompanyName=$("#CompanyName").val();
				var Vocation = $("#Vocation").val();
				var UserName = $("#UserName").val();
				var UserPhone = $("#UserPhone").val();
				var UserQq = $("#UserQq").val();
				var UserEmail = $("#UserEmail").val();
				var SelectQcity = $("#SelectQcity").val();
				var SelectScity = $("#SelectScity").val();
				var UserAddress = $("#UserAddress").val();

				if( !UserName || !/^1[0-9]{10}$/.test(UserPhone) )
				{
					alert("请把信息输入完成"); return false;
				}

				$.post("{:U('/Home/Index/sendmail')}", { yx:yx, CompanyName:CompanyName,Vocation:Vocation,UserName:UserName,UserPhone:UserPhone, UserQq:UserQq, UserEmail:UserEmail, SelectQcity:SelectQcity, SelectScity:SelectScity, UserAddress:UserAddress}, function( data ) {
					switch( parseInt(data) ) {
						case 1: alert("提交成功"); $("input").val(''); break;
						case 2: alert("您已经申请过，请不要重新申请");  break;
						default : alert("提交失败，请重新提交");  break;
					}
				})
			}
		</script>
	</body>
</html>
