<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>帝鼠OS内部项目发布会顺利召开</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
<div class="content">
    <p class="title">帝鼠OS内部项目发布会顺利召开</p>
    <p class="detail">2015年4月13日下午1点30分，由杭州阿宅订网络科技有限公司举办的帝鼠OS内部项目发布会隆重召开，当日到场嘉宾和与会人员突破百人，发布会主会场坐无虚席。此次发布会秉承着公司“利他精神，百载传承”的企业文化，宣布了公司新项目——帝鼠OS的诞生。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1101.jpg"/></p>
    <p class="detail center">在来宾招待前台，公司工作人员精神奕奕地接待着满怀期待前来的嘉宾们。来宾在嘉宾题名簿，为公司的茁壮成长添上了重要的一笔。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1102.jpg"/></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1103.jpg"/></p>
    <p class="detail">会议开始前，专业的项目运营人员在产品展示台通过苹果、安卓系统的手机、平板以及电脑端为嘉宾演示帝鼠OS项目多屏适配的前端以及后台操作流程，在细致讲解的过程中嘉宾们也纷纷上前亲自操作试玩，并不时的询问工作人员，对产品产生极大兴趣，在展柜对面也有精美的易拉宝海报展示在眼前，带领嘉宾们进入由阿宅订创建的物联网新世界。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1104.jpg"/></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1105.jpg"/></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1106.jpg"/></p>
    <p class="detail">在鲜花的芬芳和热烈的掌声中发布会正式开始，主持人热情洋溢的开场致辞表达了对各位来宾的热烈欢迎和诚挚问候，并介绍了大会相关的流程与注意事项。随后，公司创始人、董事长胡勇建先生上台致辞，胡董以简短而又深刻的语句进行了自我介绍，并阐明是“百载传承的利他精神”让杭州阿宅订网络科技有限公司有了今天的荣耀与成就，今后公司也会本着利他精神为合作伙伴提供更好的服务，一起实现共利共赢。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1107.jpg"/></p>
    <p class="detail center">胡董介绍了公司的核心团队，并将公司核心管理层向各位到场嘉宾进行一一介绍。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1108.jpg"/></p>
    <p class="detail center">随后，胡董把舞台交给了，公司CEO、联合创始人 王桢，同时又是“帝鼠OS”唯一的产品经理。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1109.jpg"/></p>
    <p class="detail">王桢 杭州人，11年互联网经验，先后联合创办亿买网购物搜索项目（获得300万天使投资）、腾腾快娱智能硬件（获得新浪2000万A轮融资），对于当前移动互联网的现状及市场真实需求，提出了offline to online的软/硬结合的物联网营销系统，这一创新理念。并主导设计研发立项执行。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1110.jpg"/></p>
    <p class="detail">整个项目发布会犹如苹果发布会一般，场景化互动的表达了帝鼠OS是做什么的？将店铺搬进客户的手机。能为商户提供什么？客流+Money。最终能达到什么效果？增加新用户+增长销售额+有效客户+移动互联网。帝鼠OS又是怎么在做的？智能硬件+云服务+云计算+独立软件的模式提供商户智能化物联网营销服务平台。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1111.jpg"/></p>
    <p class="detail">王总先从帝鼠OS的LOGO设计灵感引出，对当今移动互联网的大体方向及各个平台提供给线下商户的服务做了对比分析，以及帝鼠OS系统的优势，所能提供服务支撑，这是其他平台所不能提供的。之后，王总阐述了帝鼠OS系统的功能及其应用场景，以及帝鼠OS作为国内首家提供“软硬结合”的物联网营销服务提供商对互联网、用户、商家带来的巨大变革。</p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/1112.jpg"/></p>
    <p class="detail">接下来的答疑环节，有嘉宾提问“对没有互联网经验的线下商家是怎么使用帝鼠OS系统的”，王总通过线上线下工作人员指导、代理商后期培训、定期维护更新等方面完整解答了这一问题，问题的有效解决也获得热烈的掌声。胡董与王总面对嘉宾们的疑问和看法，进行详细解答，让嘉宾们了解到帝鼠OS的神奇之处，场面激烈且意义深远。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1113.jpg"/></p>
    <p class="detail center">图为九好集团代表现场提问，并就帝鼠OS市场运作模式展开激烈讨论。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1114.jpg"/></p>
    <p class="detail">图为蒸功夫餐饮管理有限公司创始人葛柏浩先生对帝鼠OS项目与线下餐饮业如何无缝对接提出了宝贵意见。</p>
    <p class="detail">互动环节结束后，王总邀请山西大同区级代理曹总上台演讲，并进行隆重的授牌仪式。场下嘉宾用专注的神情与肯定的微笑诠释了对项目的肯定以及发布会的圆满成功。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1115.jpg"/></p>
    <p class="detail center">进入大会的剪彩仪式。伴随着激昂乐调与热烈的掌声，各位剪彩嘉宾上台，红色的绸缎与金色的剪刀，寓意着热情的工作态度，严谨的工作作风与成功的未来。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1116.jpg"/></p>
    <p class="detail center">最后胡董与王总一同将泛着金光的香槟倒入酒杯金字塔中，所有人用美酒庆祝成功的喜悦。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1118.jpg"/></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1117.jpg"/></p>
    <p class="c-hight"></p>
</div>
</body>
</html>
