<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>物联网带给消费者和产品销售人员的影响面面观</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
	<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>

		<div class="content">
			<p class="title">做一只会飞的猪，下一个风口在新三板！</p>
			<p class="detail">9月15日下午，2015掘金万亿物联网——阿宅订高峰论坛暨全国合作伙伴招募启动仪式在杭州瑞莱克斯五星级大酒店隆重召开。来自全国20多个省市自治区的500多位合作伙伴及意向合作伙伴前来参会。<strong>阿宅订董事长 胡勇建、互联网事业部总经理 Michael Wang 、市场部总经理 杨天兵、公司首席高级特别助理 巫灵生、商务部总经理 王鑫瑞、神秘资本方 方总以及市政府与拱墅区政府领导出席了本次峰会。</strong></p>
			<p class="pic600"><img src="__PUBLIC__/Home/images/2501.jpg" /></p>
			<p class="h-10"></p>
			<p class="detail">9月15日当天秋雨连绵，却浇不灭合作伙伴们的热情，各地的合作伙伴还是冒雨前来参加峰会。下午一点半正式开始的会议，十二点不到就有合作伙伴们来到会场。</p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2502.jpg" /></p>
			<p class="h-10"></p>			
			<p class="detail">下午1点30分峰会正式开始，可容纳500多人的大会场座无虚席。主持人开场后，一段简短的视频带领大家认识了<strong>创始人胡勇建</strong>。视频播放完毕，胡董上台发表了真挚又热情洋溢的演讲。</p>
            <p class="detail">五年的沉着专注、1800多个日夜、数十位顶级IT研发精英、超3000万的巨资投入，帝鼠OS终于在胡董的带领下突破而生。</p>
            <p class="h-10"></p>			
			<p class="detail"> O2O+F2C+会员制是未来商业发展的趋势。帝鼠一手打造的顶层商业模式将O2O、F2C与会员制完美结合，形成一种全新模式——V模式。通过搭建消费者、店家、商家、品牌厂商之间更直接更紧密的商业往来通道，为商户提供最优质的整合推广，同时让广大消费者参与到消费佣金分成，共同分享市场反哺收益。将<strong>“分享经济”</strong>从前卫理念变成主流模式。帮商家争顾客，帮顾客争利益，帮厂商争市场！即：<strong>人人都是消费者，人人都是消费商。</strong></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2503.jpg" /></p>
			<p class="h-10"></p>
			<p class="detail">胡董对帝鼠倾注了多年心血，对本次峰会胡董也寄予厚望，希望会有更多伙伴分享和加入，他们会使帝鼠在未来更加开放的市场中表现得更加出色！胡董演讲结束后，主持人邀请胡董为现场的嘉宾们送来一份可爱的礼物——100个帝鼠公仔。在胡董的带领下，两只帝鼠人偶为现场嘉宾们派发小公仔，将会议推向了一个小高潮。</p>
             <p class="pic600"><img src="__PUBLIC__/Home/images/2504.jpg" /></p>
			<p class="h-10"></p>
			<p class="detail">礼物派发完毕后，<strong>Michael Wang</strong>为参会者详细介绍了阿宅订旗下“<strong>帝鼠OS</strong>”和“<strong>全民返利</strong>”两款产品，为急于转型又苦于无技术支撑的传统企业提供了非常不错的项目解决方案。</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2505.jpg" /></p>
            <p class="h-10"></p>
            <p class="detail">帝鼠是全国首家物联网营销服务商，为线下实体商户提供<strong>“硬件拉客、软件续客”的物联网智能营销系统。帮助商户将店铺搬进客户的手机</strong>。让企业在没有任何技术团队支撑状况下，实现互联网+弯道超车，自动自发形成客户病毒式购买，万物互联带动异业联盟!</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2404.jpg" /></p>
            <p class="h-10"></p>
            <p class="detail">全民返利是一个为广大用户提供集浏览、消费、支付、预约等多样化服务和多渠道赚钱方法于一体的返利平台，让消费者线上找返利，线下体验服务，随时随地轻松乐享优惠；消费返利、好友返利等多重返利模式，让每个人都能成为资源的提供者与受益者。即：<strong>人人都是消费者，人人都是消费商</strong>。</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2507.jpg" /></p>
            <p class="h-10"></p>
            <p class="detail">Michael作为资深产品总监的专业讲解让来自传统行业急于进入“互联网+”的企业主们豁然开朗。接下来，帝鼠员工表演的情景剧及现场问答环节让参会者们更加直观地了解到帝鼠OS强大的功能。</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2508.jpg" /></p>
            <p class="h-10"></p>
            <p class="detail">技术驱动未来，模式引领潮流。阿宅订旗下两款创新产品——“<strong>帝鼠OS</strong>”与“<strong>全民返利</strong>”为商户提供了互联网+”多渠道营销解决方案，而一手打造的顶层商业模式——<strong>V模式</strong>则有效链接线上线下，使广大商户会员共享利益，实现<strong>人人都是消费者，人人都是消费商</strong>。会议特别邀请了资深媒体传播专家、杭州师范大学客座讲师 聂鹏为参会者讲解V模式。聂总轻松幽默的语言与富有磁性的声音迅速吸引了在场所有人。聂总结合自己的经验体会分析了近十几年互联网发展及新时代给广大商户和消费者们带来的影响。</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2509.jpg" /></p>
            <p class="h-10"></p>
            <p class="detail">信息时代的经济竞争，是以消费者为核心。消费者也可以通过组织和管理其他消费者，付出劳动，获得收益，这就是<strong>消费商</strong>。V模式通过搭建商家，厂家，消费者三位一体的闭环式消费体系。为商户提供最优质的整合推广，同时让广大消费者参与到消费佣金分成，共同分享市场反哺收益，颠覆传统消费概念。实现“<strong>人人都是消费者 人人都是消费商</strong>”，打造全民共赢的“互联网+”生态圈！</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2405.jpg" /></p>
            <p class="h-10"></p>
            <p class="detail">聂总通俗易懂又不失深度的V模式讲解后，会议又进入了游戏环节——有奖竞答，答对问题的嘉宾将获得<strong>价值5188元的帝鼠OS系统一套。</strong></p>	
            <p class="detail">激动人心的有奖竞答环节后，特邀的又一重量级嘉宾隆重登场——<strong>神秘资本方 方总</strong>。方总从自己深耕金融业二十多年的经验出发，介绍了新三板前世今生及国家政策支持：<strong>新三板就是中国的纳斯达克</strong>，是无数梦想的天堂，未来投资的主战场就是新三板。带大家了解新三板后，方总又深入分析了阿宅订公司登陆新三板的挂牌战略。通过“新三板”，公司可以实行股权激励，让员工持有原始股，这将大大提高员工的积极性；同时公司将借助资本力量，大力投入产品研发及渠道推广，加快打造和谐共赢的物联网生态圈。</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2511.jpg" /></p>
            <p class="h-10"></p>
            <p class="detail">本次会议的主旨是“掘金万亿物联网”，为合作伙伴拓展商业渠道打开一条便捷的通道。在如此纷繁复杂的“互联网+”时代，深入了解“互联网+”运营模式，充分利用智能营销平台，在遇到互联网对传统渠道业务的颠覆性改变时，商户们才能更快速地做出应对。<strong>安徽省合作伙伴代表仇总和浙江省合作伙伴代表赖总</strong>从自身经历讲述了和帝鼠合作的心得体会，给了现场的意向合作伙伴不少建设性指导。</p>
            <p class="detail">来自安徽的仇总在当地拥有十多家4S店，个人资产上亿。仇总也曾是苦恼于物联网转型的企业主之一。帝鼠OS全系统产品让他看到了新的曙光。赖总是杭州桐庐地区某商会会长同时也是国内某知名服装品牌的代理商，深耕服装行业二十余年的他因帝鼠能打通线上线下连接并实现资源高效配置而折服，决心全身心投入，为帝鼠找来更多志同道合的合作伙伴。</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2512.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2513.jpg" /></p>
            <p class="h-10"></p>
            <p class="detail">为了找到更多志同道合的合作伙伴，为了走上全新的发展领域，迎来资本市场的关注，在董事长胡勇建及合作伙伴们的见证下，启动仪式拉开了全国合作伙伴招募的序幕，并走向上市之路。全国合作伙伴招募的启动标志着阿宅订将加快推进战略部署，对开拓全国市场迈出了关键性、实质性的重要一步！</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2514.jpg" /></p>
            <p class="detail">会议结束后，不少意向合作伙伴纷纷寻找工作人员了解合作签约相关事项。他们表示，阿宅订为创业者及传统行业企业主在今后的市场环境中实现共同创富指明了方向。会议结束后三天，每天都有五六十位来自全国各地的意向合作伙伴前来公司询问合作相关事项。</p>
            <p class="detail">截至目前，帝鼠已经在全国<strong>8个省</strong>成立了<strong>省级子公司</strong>，包括：浙江省级公司赖总、安徽省级公司仇总、陕西省级公司张总、山西省级公司曹总等，而其<strong>他4家省级子公司</strong>正在签约中：江西省闻总、湖南省段总、江苏省杨总、上海市谢总。各市级分公司也在积极布局，全国“落子”拓展市场，仅浙江一省就已设立宁波、温州、衢州、金华、嘉兴、丽水、千岛湖、余杭、建德、江干、桐庐、萧山、滨江、绍兴等20多家分公司；而安徽省合肥、芜湖、黄山、阜阳等公司、陕西省西安公司、山西省大同公司等多家分公司均已设立。</p>
            <p class="detail">今后帝鼠将以点带面、逐渐覆盖全国范围。帝鼠全国招商现已火热启动，联合资本方，高举“利他精神 百载传承”的伟大旗帜，助力全国物联网生态圈建设！</p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2515.jpg" /></p>
            <p class="h-10"></p>
			<p class="c-hight"></p>
		</div>
	</body>

</html>