<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
		<meta name="format-detection" content="telephone=no, address=no">
		<link rel="stylesheet" href="__PUBLIC__/Mobile/new1/css/foodPage.css" />
		<script src="__PUBLIC__/Mobile/new1/js/jquery-1.11.3.min.js"></script>
		<script src="__PUBLIC__/Mobile/new1/js/indexHandler.js"></script>
		<script src="__PUBLIC__/Mobile/new1/js/foodHandler.js"></script>
		<script>
			$(document).ready(function(){
				initIndex();
				setHandler();
			})
		</script>
	</head>
	<body>
		<div class="topDIV">
			<img src="__PUBLIC__/Mobile/new1/img/topBG.png" class="topBG" onload="initIndex()">
			
			<div class="logoBG">
				<div class="logoDiv">
					<img id="logoImg" class="logoImg" src="__PUBLIC__/Mobile/new1/img/logo.png" />
				</div>
			</div>
			
			<div class="secondDiv">
				<div class="labelDiv">
					<label class="labelText">总店</label>
					<img class="signImg" src="__PUBLIC__/Mobile/new1/img/sign.png" />
				</div>
				
				<div class="searchDiv">
					<img class="searchImg" src="__PUBLIC__/Mobile/new1/img/search.png" />
				</div>
				
				<div class="shareDiv">
					<img class="shareImg" src="__PUBLIC__/Mobile/new1/img/share.png" />
				</div>
			</div>
			
			<div class='thirdDiv'>
				<label id="shopAddress" class="shopAddress">星巴克茶餐厅（杭行路）</label>
				<label class="workTime">预定中，08:00-22:00</label>
			</div>
			<div class='messageDiv'>
				<img src="__PUBLIC__/Mobile/new1/img/horn.png" class="hornImg" />
				<label class="hornLabel">在线满20减8元满30减10元/25元起送/3元配送费/30分钟送达</label>
			</div>
			
			<div class="tabDiv">
				<table class="tabBtn">
					<tr>
						<td id=""><a href="{:U('Choose/new1')}"><img class="unChose" src="__PUBLIC__/Mobile/new1/img/foodB.png"><div class="lineDiv" style="display: block;"></div></a></td>
						<td id=""><a href="{:U('Comments/index')}"><img class="unChose" src="__PUBLIC__/Mobile/new1/img/commentA.png"><div class="lineDiv"></div></a></td>
						<td id=""><a href="{:U('News/index')}"><img class="unChose" src="__PUBLIC__/Mobile/new1/img/shopA.png"><div class="lineDiv"></div></a></td>
						<td id=""><a href="{:U('Index/new1')}"><img class="unChose" src="__PUBLIC__/Mobile/new1/img/eventA.png"><div class="lineDiv"></div></a></td>
					</tr>
				</table>
			</div>
		</div>
		<div id='contentDiv' class="contentDiv">
			<div class='food'>
				<!--左边分类-->
				<div id="leftDiv" class='leftDiv'>
					<volist name="category_list" id="vo" >
						<div class="typeDivStyle">
							<div id="signDiv1" class="signBlue"></div>
							<label class='typeLabelStyle'>{$vo.cname}</label>
							<a id="typeDiv1" class="typeTop"></a>
						</div>
					</volist>
				</div>
				
				
				<!--右边商品列表-->
				<div id="rightDiv" class='rightDiv'>
					<!--一种食品-->
					<div id="bigFoodDiv2" class="bigFoodDiv">
						<!--<div class="bigFoodLabel">-->
							<!--<label class="FoodTypeLabel">家常小炒</label>-->
							<!--<label class="FoodDisLabel">经济实惠，炒菜不含米饭，需要另外点！</label>-->
						<!--</div>-->
						<div class="floatStyle">
							<volist name="goods_list" id="va" empty="暂时没有数据">
									<div class="oneFood">
										<img src="{$va.gimg}" class="foodImg"/>
										<div class="foodMsgDiv">
											<div class="floatStyle">
												<label class="foodName">{$va.gname}</label>
											</div>

											<div class="floatStyle">
												<img src="__PUBLIC__/Mobile/new1/img/star.png"  class="starStyle"/>
												<label class="msgLabel"></label>
												<label class="msgLabel">{$va.gdescription}</label>
											</div>

											<div class="floatStyle">
												<label class="price">￥{$va.gdprice}</label>
												<div class="buyDiv">
													<img id="jian1" src="__PUBLIC__/Mobile/new1/img/jian.png" class="jianImg" />
													<label id="numLabel1" class="numLabel"></label>
													<img  id="jia1"src="__PUBLIC__/Mobile/new1/img/addImg.png" class="addImg" />
												</div>
											</div>
										</div>
									</div>
							</volist>
						</div>
						
						
					</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<div id='bottomDiv' class="bottomDiv">
			<table>
				<tr>
					<td id="homeBtn"><img src="__PUBLIC__/Mobile/new1/img/homeB.png"></td>
					<td id="shopGroupBtn"><img src="__PUBLIC__/Mobile/new1/img/shopGroupA.png"><div class="roundBG"><label></label></div></td>
					<td id="downloadBtn"><img src="__PUBLIC__/Mobile/new1/img/downloadA.png"></td>
					<td id="mineBtn"><img src="__PUBLIC__/Mobile/new1/img/mineA.png"></td>
				</tr>
			</table>
		</div>
	</body>
</html>
