<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
		<meta name="format-detection" content="telephone=no, address=no">
		<link rel="stylesheet" href="css/mineStyle.css" />
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/homeHandler.js"></script>
		<script>
			$(document).ready(function(){
				initHomePage();
			})
		</script>
	</head>
	<body>
		<img src="img/mineBG.png" class="mineBG"/>
		<div class="topDiv">
			<div class="floatDiv">
				<img src="img/cai.png" class="floatImg"/>
			</div>
			<label class="floatLabel">赵钱孙李</label>
		</div>
		
		
		<div class="mineBGTopDiv">
			
			<div class="secondBottomDiv kongDiv">
				<div class="bottomBorder">
					<img class="icon" src="img/person.png"/>
					<label class="fontBlack14">我的资料</label>
					<img class="moreImg" src="img/more.png">
				</div>
				
				<div class="bottomBorder">
					<img class="icon" src="img/position.png"/>
					<label class="fontBlack14">收货地址</label>
					<img class="moreImg" src="img/more.png">
				</div>
				
				<div class="bottomBorder">
					<img class="icon" src="img/orderList.png"/>
					<label class="fontBlack14">我的订单</label>
					<img class="moreImg" src="img/more.png">
				</div>
				
				<div class="bottomBorder">
					<img class="icon" src="img/youHui.png"/>
					<label class="fontBlack14">我的优惠券</label>
					<img class="moreImg" src="img/more.png">
				</div>
				
				<div class="bottomBorder2">
					<img class="icon" src="img/yuDing.png"/>
					<label class="fontBlack14">我的预定</label>
					<img class="moreImg" src="img/more.png">
				</div>
			</div>
			
			<!--<div class="kongDiv"></div>-->
			
			<div class="secondBottomDiv2 kongDiv">
				<div class="bottomBorder2">
					<img class="icon" src="img/fanKui.png"/>
					<label class="fontBlack14">意见反馈</label>
					<img class="moreImg" src="img/more.png">
				</div>
			</div>
		</div>
		
		<div id='bottomDiv' class="bottomDiv">
			<table>
				<tr>
					<td id="homeBtn"><img src="img/homeA.png"></td>
					<td id="shopGroupBtn"><img src="img/shopGroupA.png"><div class="roundBG"><label></label></div></td>
					<td id="downloadBtn"><img src="img/downloadA.png"></td>
					<td id="mineBtn"><img src="img/mineB.png"></td>
				</tr>
			</table>
		</div>
	</body>
</html>
