<extend name="Public:common"/>
<block name="header">
		<eq name="isApp" value="1"><script src="__PUBLIC__/Js/Mobile/interactive.js"></script></eq>
		<script>
			var msystem = "{$msystem}";
			//10px 1rem;
			!function(){function a(){if(document.documentElement.clientWidth<600){document.documentElement.style.fontSize=document.documentElement.clientWidth/32+"px"}else{document.documentElement.style.fontSize="16.875px"}}var b=null;window.addEventListener("resize",function(){clearTimeout(b),b=setTimeout(a,300)},!1),a()}(window);
		</script>
		<!-- 有些页面是不要 header 的，比如，消息的内容页 -->
		<empty name="isheader">
			<header style="background: #3492E9" class="header" <notempty name="head_style">style="{$head_style}"</notempty>>
			<empty name="page_name">
				<h1>{$merchant.mabbreviation}</h1>
				<else />
				<h1 style="font-size: 18px;">{$page_name}</h1>
			</empty>
			<if condition="(CONTROLLER_NAME eq 'Index') OR (CONTROLLER_NAME eq 'User' AND ACTION_NAME == 'index') ">
				<include file="Index:top"/>
				<else/>
				<notequal name="page_url" value="banreturn">
					<if condition="$page_url eq 'userindex'">
						<a href="javascript:void(0);" class="ico header-back" onclick="sendRedirect('userindex');"></a>
						<elseif condition="$page_url"/>
						<a href="{$page_url}" class="ico header-back"></a>
						<else />
						<a href="javascript:history.back(-1);" class="ico header-back"></a>
					</if>
				</notequal>
			</if>
			</header>

		</empty>
</block>
<block name="body">
<div class="main container p-tb" id="aboutus">
		<div class="aboutus">
			<div><img src="{$m_app.applogo}" alt=""></div>
			<p>{$m_app.appjs|nl2br}</p>
			<!--<a href="javascript:;"><i class="ico ico-down"></i></a>-->
		</div>
		<section class="sec-list">
			<div class="sec-body">
				<ul class="">
					<li>
						<a class="" href="{:U('opinion')}">
							<i class="ico ico-note-gray"></i>
							<span>欢迎对我们的服务，提供宝贵的意见！</span>
							<i class="ico ico-right"></i>
						</a>
					</li>
					<neq name="Think.cookie.opentype" value="app">
					<!--<li>
						<a class="" href="{:U('Shop/index', array('jid'=>$jid,'from_user'=>1))}">
							<i class="ico ico-map"></i>
							<span>品牌分店</span>
							<i class="ico ico-right"></i>
						</a>
					</li>-->
					</neq>
                    
                    <volist name="shop_tel" id='tel'>
					<li>
						<a class="" href="tel:{$tel.mservetel}">
							<i class="ico ico-phone"></i>
							<span>{$tel.mservetel} ( <b style="font-size:1.0rem; font-weight:normal;">{$tel.sname}</b> )</span>
						</a>
					</li>
                    </volist>
				</ul>
			</div>
       </section>
</div>
</block>
