<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>&nbsp;</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<link href="__PUBLIC__/Css/acommon.css" rel="stylesheet" type="text/css" />
<style type="text/css">tr { height:40px; } #ConfirmMsg b { color:#00F; }</style>
</head>

<body>
<taglib name="html" />
<div id="dialog-main-body">
    <div class="main-body">
        <form method='post' id="form" name="form" action="__APP__/Accounting/updateMentions"> 
            <div id="ScrollForm">
                <div class="divSetting">
                    <table class="table-form" border="0">
                    	<tr><td id="ConfirmMsg" style="font-size:12px;font-weight:bold;color:red;" colspan="4"></td></tr>
                        <tr>
                            <th>流水号</th>
                            <td>{$account.bls}</td>
                            <th>用户名称</th>
                            <td>{$account.flu_username}</td>
                        </tr>
                        <tr>
                            <th>申请日期</th>
                            <td>{$account.bstime}</td>
                            <th>支付宝认证姓名</th>
                            <td>{$account.flu_withdrawname}</td>
                        </tr>
                        <tr>
                            <th>提现金额</th>
                            <td>¥ {$account.bmention}</td>
                            <th>提现账户</th>
                            <td>{$account.flu_withdrawzh}</td>
                        </tr>
                        <tr style="height:20px;">
                            <td colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                            <th>技术服务费</th>
                            <td>¥ {$account.bjs}</td>
                            <th>交易手续费</th>
                            <td>{$account.bjy}</td>
                        </tr>
                        <tr>
                            <th>实际提现金额</th>
                            <td colspan="3" style="color:red; font-weight:bold;">¥ {$account.bsj}</td>
                        </tr>
                        <tr style="height:20px;">
                            <td colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                            <th>处理状态</th>
                            <td colspan="3">
                            	<input type="hidden" value="{$account.bls}" name="bls" />
                            	<eq name="account.btype" value="0">
                                    <label><input type="radio" value="1" name="status" style="position:relative; top:2px;" /> 确认打款</label>&#12288;&#12288;&#12288;
                                    <label><input type="radio" value="0" name="status" checked="checked" style="position:relative; top:2px;" /> 暂不处理</label>
                                <else/>已打款</eq>
                            </td>
                        </tr>
						<tr>
						<th>提现备注</th> 
						<td  colspan="3">
             
                     <textarea name="bmarker" style="width:100%;" ><if condition="$account['bmarker']==''">申请提现审核通过后1-2个工作日内到账，非工作日顺延。<else />{$account.bmarker}</if></textarea>
                
					  </td>
						</tr>
                    </table>
                    <div class="buttonDiv" align="center">
                        <eq name="account.btype" value="0"><button type="button" onclick="CheckAccount()" class="submit_btn" style="margin-right:10px;">打款</button>&#12288;</eq>
                        <button type="reset" onclick="window.parent.KindeditorDialog.remove();" class="reset_btn">关闭</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
function CheckAccount() {
	var status = document.getElementsByName("status").item(0).checked ? true : false;
	if( !status ) { alert('如果打款，请选择处理状态“确认打款”'); return false;	 }
	if( confirm('确认已经打款了吗？提交后状态将不可改变') ) {
		document.getElementById("ConfirmMsg").innerHTML = "您已经提交了打款，请勿关闭本窗口，<b id='wait'>5</b> 秒后将自动关闭并提交，如果您要取消打款，请关闭本窗口，打款将取消";
		var time=setInterval(function() { var time = --document.getElementById('wait').innerHTML; if(time <= 0) {
			clearInterval(time); document.getElementById("form").submit();
		}; }, 1000);
	} else {
		return false;
	}
}
</script>
</body>
</html>
