<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<link href="__PUBLIC__/Css/acommon.css" rel="stylesheet" type="text/css" />
<style type="text/css">
tr.brd { font-weight:bold; background:#f6f6f6; color:red; } tr.brd td a { color:red; }
</style>
</head>

<body>
<div id="main-body">
    <div class="subnav">
    	<a href="{:U('/Accounting/mentionInfo')}" style="margin-left:15px;" class="on">帝鼠OS支出明细</a>
        <a href="{:U('/Accounting/vmentionInfo')}" style="margin-left:15px;">返利支出明细</a>
        
        <a href="javascript:downorder()" style="margin-left:15px; float:right;font-size:12px;line-height:38px;">导出OS支出明细</a>
    </div>
    <div class="search_list" id="SearchForm" style="margin-bottom:0px;">
        <form method="get" action="__ACTION__" name="searchform">
            <div class="explain-col">
                <label class="fl">起止时间：</label>
                <input type="text" class="user_input" readonly="readonly" size="15" value="{$Think.get.statime}" id="statime" name="statime">
                <label class="fl mlr5">-</label>
                <input type="text" class="user_input" readonly="readonly" size="15" value="{$Think.get.endtime}" id="endtime" name="endtime">&#12288;&#12288;
                &#12288;&#12288;<label>模糊查询：</label>
                <input type="text" autocomplete="off" class="user_input fl" placeholder="所属商家/提现对象/流水号/提现账户/法人名称" style="width:280px;" value="{$Think.get.keyword}" name="keyword" />
                &#12288;&#12288;<label>打款状态：</label>
                <select name="pstatus" class="fl">
                    <option value="" <if condition="!isset($_GET['pstatus']) || $_GET['pstatus']==''">selected="selected"</if>>打款状态</option>
                    <option value="1" <if condition="isset($_GET['pstatus']) && $_GET['pstatus']=='1'">selected="selected"</if>>已打款</option>
                    <option value="0" <if condition="isset($_GET['pstatus']) && $_GET['pstatus']=='0'">selected="selected"</if>>未打款</option>
                </select>
                <input type="submit" value="搜索" class="button fl" name="search" />
                &#12288;&#12288;<label>简便查询：</label>

                <a href="{:U('', array('statime'=>$c_d))}">今日明细</a>&nbsp; |&nbsp;
                <a href="{:U('', array('statime'=>$c_w))}">本周明细</a>&nbsp; |
                <a href="{:U('', array('statime'=>$c_m))}">本月明细</a>

                &#12288;&#12288;&#12288;&#12288;<label>按查询生成报表：</label>
                <a href="javascript:;" onClick="CreateStatisticalReport(1)">统计报表(文)</a>&nbsp; |&nbsp;
                <a href="javascript:;" onClick="CreateStatisticalReport(2)">统计报表(图)</a>
            </div>
        </form>
    </div>
	<div class="main-body">
        <div class="btn" align="right" style="margin:0px;">
            <span>今日总支出（包括服务费、手续费、待支出）</span>
            <span><font color="red"><b>{$cpriced|number_format=###,2}</b></font> 元，</span>
            &#12288;&#12288;
            <span>本周总支出（包括服务费、手续费、待支出）</span>
            <span><font color="red"><b>{$cpricew|number_format=###,2}</b></font> 元，</span>
            &#12288;&#12288;
            <span>本月总支出（包括服务费、手续费、待支出）</span>
            <span><font color="red"><b>{$cpricem|number_format=###,2}</b></font> 元</span>
        </div>
        <table class="table-list">
            <thead>
                <tr>
                    <th width="12%">申请日期</th>
                    <th width="10%">提现对象</th>
                    <th width="10%">流水号</th>
                    <th width="8%">账号余额（元）</th>
                    <th width="9%">提现金额（元）</th>
                    <th width="9%">技术服务费</th>
                    <th width="9%">交易手续费</th>
                    <th width="9%">实现提现金额</th>
                    <th width="8%">提现账户</th>
                    <th width="8%">账户姓名</th>
                    <th width="8%">操作</th>
                </tr>
            </thead>
            <tbody>
                <volist name="bookkeepinglist" id="vo">
                    <tr <eq name="vo.btype" value="0">class="brd"</eq>>
                        <td>{$vo.bstime}</td>
                        <td>{$vo.mnickname}</td>
                        <td>{$vo.bls}</td>
                        <td>{$vo.money}</td>
                        <td>{$vo.bmention}</td>
                        <td>{$vo.bjs}</td>
                        <td>{$vo.bjy}</td>
                        <td>{$vo.bsj}</td>
                        <td>{$vo.bdzh}</td>
                        <td>{$vo.bname}</td>
                        <td>
                            <a href="javascript:void(0);" onclick="LookInfoList('{$vo.bls}')"><eq name="vo.btype" value="0">打款<else/>查看</eq></a>
                        </td>
                    </tr>
                </volist>
                    <tr style="background:#ffffe1">
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>￥ {$account_money_a}</td>
                        <td>￥ {$account_price_a}</td>
                        <td>￥ {$account_price_b}</td>
                        <td>￥ {$account_price_c}</td>
                        <td>￥ {$account_price_d}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
            </tbody>
        </table>
        <div id="pages"> {$pages} </div>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Calendar/calendar.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Kindeditor/kindeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/layer/layer.js"></script>

<script type="text/javascript">
Calendar.setup({ inputField:"statime", trigger:"statime", dateFormat:"%Y-%m-%d", minuteStep:1, onSelect:function() { this.hide(); } });
Calendar.setup({ inputField:"endtime", trigger:"endtime", dateFormat:"%Y-%m-%d", minuteStep:1, onSelect:function() { this.hide(); } });

var KindeditorDialog = null;

//查看明细
function LookInfoList( bls ) {
    if( !bls ) { alert('参数出现错误'); return false; }
	KindeditorDialog = KindEditor.dialog({
		width : 700,
		height: 540,
		title : '查看明细',
		body  : '<iframe frameborder="0" class="iframeDialog" src="{:U("/Accounting/accountingInfo/type/0/bls/'+bls+'", "", true)}"></iframe>',
		closeBtn : { name:'关闭', click:function(e) { KindeditorDialog.remove(); KindeditorDialog=null; } }
	});
}

function downorder() {
	KindeditorDialog = KindEditor.dialog({
		width : 700,
		height: 400,
		title : '导出数据',
		body  : '<iframe frameborder="0" class="iframeDialog" src="{:U("/Accounting/downorder", array("type"=>3), true)}"></iframe>',
		closeBtn : { name:'关闭', click:function(e) { KindeditorDialog.remove(); KindeditorDialog=null; } }
	});
}

function CreateStatisticalReport( type ) {
    var title = type==1 ? "统计报表（文）" : "统计报表（图）";
    var statime="{$Think.get.statime}", endtime="{$Think.get.endtime}", keyword="{$Think.get.keyword}", pstatus="{$Think.get.pstatus}";
    var loadurl="{:U('Accounting/CreateStatisticalReportByMention@xt', '', false, true)}";
    if( type ) loadurl = loadurl +"/type/"+type;
    if( statime ) loadurl = loadurl + "/statime/"+statime;
    if( endtime ) loadurl = loadurl + "/endtime/"+endtime;
    if( keyword ) loadurl = loadurl + "/keyword/"+keyword;
    if( pstatus ) loadurl = loadurl + "/pstatus/"+pstatus;
    layer.open({
        type:2, title:title, shadeClose:true, shade:0.4, area:['1200px', '550px'], content:loadurl
    });
}
</script>
</body>
</html>