<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>&nbsp;</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<link href="__PUBLIC__/Css/acommon.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.table-form label input { position:relative; top:2px; } td select { width:258px; }
input.user_input, input.user_input_hover, input.user_input_focus, input.user_input_error { width:240px; }
</style>
</head>

<body>
<taglib name="html" />
<div id="dialog-main-body">
    <div class="main-body">
        <form method='post' id="form" name="form" action="__ACTION__">
            <div id="ScrollForm">
                <div class="divSetting">
                    <table class="table-form" border="0">
                    	<tr>
                            <th width="100">应用地址</th>
                            <td>
                            	<label><input type="radio" value="1" checked="checked" name="type" /> 帝鼠APP</label>&#12288;
                            	<label><input type="radio" value="2" name="type" /> 返利APP</label>                            
                            </td>
                        </tr>
                        
                        <tr>
                            <th width="100">广告标题</th>
                            <td><input type="text" autocomplete="off" name="info[btitle]" value="" class="user_input" /></td>
                        </tr>
                        <tr id="SetMerchant">
                            <th>所属商家</th>
                            <td>
                                <select name="info[jid]" id="InfoJid">
                                    <option value="">选择商家</option>
                                    <volist name="mlist" id="m">
                                    <option value="{$m.jid}">{$m.mnickname}</option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>广告图片</th>
                            <td>
                            	<input type="text" title="双击查看图片" ondblclick="LookImage(this)" readonly="readonly" autocomplete="off" id="InfoImg" name="info[bimg]" style="width:156px;" value="" class="user_input" />
                                <input type="button" onclick="KindeditorUpload('InfoImg')" class="button" value="上传广告图" style="border-radius:3px;" />
                            </td>
                        </tr>
                        <tr>
                            <th>连接地址</th>
                            <td>
                            <input type="text" autocomplete="off" id="AdUrl" name="info[burl]" value="" class="user_input" placeholder="请参照:http://baidu.com/ 样式去写" /><br />
                            	<br />地址格式：http://www.baidu.com/
                            
                            </td>
                        </tr>
                    </table>
                    <div class="buttonDiv" align="left">
                        <button type="submit" class="submit_btn" style="margin-left:120px;">提交</button>&#12288;
                        <button type="reset" class="reset_btn">重写</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Kindeditor/kindeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Formvalidator/formValidator.min.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
	$.formValidator.initConfig({ formID:"form", submitOnce:false, onError:function(msg, obj, errorlist) { alert(msg); return false; }, ajaxPrompt:'有数据正在异步验证，请稍等...' });
    $("#InfoImg").formValidator({onFocus:" "}).inputValidator({min:1, onError:"广告图片不能为空"});
	$("#AdUrl").formValidator({onFocus:" ", empty:true}).regexValidator({regExp:"url", dataType:"enum", onError:"URL格式为 http://www.baidu.com/"});
	$("input[name='type']").click(function() {
		if( $(this).val()==1 ) {
			$("#SetMerchant").css("display", "")
		} else {
			$("#SetMerchant").css("display", "none")
		}
	})
})

var editor = KindEditor.editor({ uploadJson:"{:U('/Public/kindeditorUpload', '', true)}", imageUploadLimit:50, });
function KindeditorUpload(InputVal) {
	editor.loadPlugin('image', function() {
		editor.plugin.imageDialog({
			showRemote:false, 
			clickFn:function(url, title, width, height, border, align) {
				$('#'+InputVal).val(url); editor.hideDialog();
			}
		});
		$(".ke-dialog-body").append('<div>温馨提示：图片大小不超过200K， 图片格式为 jpg,png<br>图片大小为1280*652</div>');
	});
}
function LookImage( obj ) {
	if(obj.value) {
		var KindeditorDialogs=KindEditor.dialog({
			width:480, height:230, title:'预览图片', body :'<div><img src="'+obj.value+'" width="480" height="230" /></div>',
			closeBtn : { name:'关闭', click:function(e) { KindeditorDialogs.remove(); } }
		});	
	}
}
</script>
</body>
</html>
