<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>&nbsp;</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<link href="__PUBLIC__/Css/acommon.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.table-form label input { position:relative; top:2px; } select { width:175px; }
td ul li { float:left; margin:3px 15px 3px 0px; cursor:pointer; position:relative; } 
td ul li a { position:absolute; top:3px; right:3px; background:url("__PUBLIC__/Images/cross.png") no-repeat scroll left 3px rgba(0, 0, 0, 0); width:17px; height:16px; }
td ul li a:hover { background:url("__PUBLIC__/Images/cross.png") no-repeat scroll left -46px rgba(0, 0, 0, 0); }
.table-form tr.header td { padding:0px; height:0px; margin:0px; }
</style>
</head>

<body>
<div id="dialog-main-body">
    <div class="main-body">
        <form method='post' id="form" name="form" action="__ACTION__">
        	<input type="hidden" name="info[id]" value="{$agent.id}" />
            <div id="divSetting1">
                <table class="table-form" border="0">
                	<tr style="height:0px; visibility:hidden;" class="header"><td width="120"></td><td width="220"></td><td width="100"></td><td></td></tr>
                    <tr>
                        <th width="100">所属类型</th>
                        <td width="220" colspan="3">
                            <label><input type="radio" disabled="disabled" <eq name="agent.arank" value="p">checked="checked"</eq> /> 省级代理</label>&#12288;
                        	<label><input type="radio" disabled="disabled" <eq name="agent.arank" value="c">checked="checked"</eq> /> 市级代理</label>&#12288;
                            <label><input type="radio" disabled="disabled" <eq name="agent.arank" value="q">checked="checked"</eq> /> 区级代理</label>&#12288;
                            <label><input type="radio" disabled="disabled" <eq name="agent.arank" value="g">checked="checked"</eq> /> 个人代理</label>&#12288;
                        </td>
                    </tr>
                    <tr>
                        <th>代理区域</th>
                        <td colspan="3">
                        	<if condition="isset($addressArrs[0]) && !empty($addressArrs[0])">
                            	<select disabled="disabled"><option>{$addressArrs.0}</option></select>
                            </if>
                            <if condition="isset($addressArrs[1]) && !empty($addressArrs[1])">
                            	<select disabled="disabled"><option>{$addressArrs.1}</option></select>
                            </if>
                            <if condition="isset($addressArrs[2]) && !empty($addressArrs[2])">
                            	<select disabled="disabled"><option>{$addressArrs.2}</option></select>
                            </if>
                        </td>
                    </tr>
                    <tr>
                        <th>企业/个人全称<b style="color:red">*</b></th>
                        <td><input type="text" autocomplete="off" id="InfoAnickname" name="info[anickname]" value="{$agent.anickname}" class="user_input" style="width:200px;" /></td>
                        <th>企业/个人简称</th>
                        <td><input type="text" autocomplete="off" name="info[aabbreviation]" value="{$agent.aabbreviation}" class="user_input" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <th>企业/个人地址<b style="color:red">*</b></th>
                        <td><input type="text" autocomplete="off" id="InfoAddress" name="info[aaddress]" value="{$agent.aaddress}" class="user_input" style="width:200px;" /></td>
                        <th>市场专员<b style="color:red">*</b></th>
                        <td><input type="text" autocomplete="off" name="info[acommissioner]" value="{$agent.acommissioner}" class="user_input" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <th>联系人姓名<b style="color:red">*</b></th>
                        <td><input type="text" autocomplete="off" id="InfoContactsName" name="info[acontactsname]" value="{$agent.acontactsname}" class="user_input" style="width:200px;" /></td>
                        <th>联系人电话<b style="color:red">*</b></th>
                        <td><input type="text" autocomplete="off" id="InfoContactsTel" name="info[acontactstel]" value="{$agent.acontactstel}" class="user_input" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <th>上一级代理商</th>
                        <td colspan="3">
                        	<select disabled="disabled" name="info[pid]">
                            	<if condition="isset($pagent) && !empty($pagent)">
                                	<option value="{$agent.pid}">{$pagent}</option>
                                <else/>
                                	<option value="0">无上级代理</option>
                                </if>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>身份证号<b style="color:red">*</b></th>
                        <td colspan="3"><input id="IdCard" type="text" autocomplete="off" value="{$agent.idcard}" class="user_input" style="width:520px;" name="member[idcard]" disabled/></td>
                    </tr>
                    <tr>
                        <th>可开商家数 <b style="color:red;">*</b></th>
                        <td><input type="text" name="info[maxnum]" value="{$agent.maxnum|default=0}" class="user_input" style="width:200px;" /></td>
                        <th>已开商家数 <b style="color:red;">*</b></th>
                        <td><input type="text" disabled="disabled" name="info[overnum]" value="{$agent.overnum|default=0}" class="user_input" style="width:200px;" /></td>
                    </tr>
                    
                    <tr>
                     <th>相关证件建议上传<br />尺寸在200kb以内</th>
                        <td colspan="3">
                     	<ul>
								<li><b style="color:red">*</b><img id="ImageSrcSfzz"  id="TD_AGENT_STATUS_{$agent.acertificates.sfzz}" data-id="{$agent.acertificates.sfzz}" src="{$agent.acertificates.sfzz|default='/Public/Images/image_04.gif'}" width="97" height="113" /><input type="hidden" id="ImageSfzz" name="image[sfzz]" value="{$agent.acertificates.sfzz}" /> </li>    
                        		<li ><b style="color:red">*</b><img id="ImageSrcSfzb"   id="TD_AGENT_STATUS_{$agent.acertificates.sfzb}" data-id="{$agent.acertificates.sfzb}"  src="{$agent.acertificates.sfzb|default='/Public/Images/image_05.gif'}" width="97" height="113" /><input type="hidden" id="ImageSfzb" name="image[sfzb]" value="{$agent.acertificates.sfzb}" /> </li>
                                <li><img id="ImageSrcYyzz"   id="TD_AGENT_STATUS_{$agent.acertificates.yyzz}" data-id="{$agent.acertificates.yyzz}"  onclick="KindeditorUpload('ImageSrcYyzz', 'ImageYyzz');cc(this)" src="{$agent.acertificates.yyzz|default='/Public/Images/image_01.gif'}" width="97" height="113" /><input type="hidden" id="ImageYyzz" name="image[yyzz]" value="{$agent.acertificates.yyzz}" /> <a href="javascript:ResetValue('Yyzz', 1);">&nbsp;</a></li>
                        		<li><img id="ImageSrcSwdj"  id="TD_AGENT_STATUS_{$agent.acertificates.swdj}" data-id="{$agent.acertificates.swdj}" onclick="KindeditorUpload('ImageSrcSwdj', 'ImageSwdj');cc(this)" src="{$agent.acertificates.swdj|default='/Public/Images/image_02.gif'}" width="97" height="113" /><input type="hidden" id="ImageSwdj" name="image[swdj]" value="{$agent.acertificates.swdj}" /> <a href="javascript:ResetValue('Swdj', 2);">&nbsp;</a></li>
                        		<li style="margin-right:-20px;"><img id="ImageSrcZzjg"   id="TD_AGENT_STATUS_{$agent.acertificates.zzjg}" data-id="{$agent.acertificates.zzjg}" onclick="KindeditorUpload('ImageSrcZzjg', 'ImageZzjg');cc(this)" src="{$agent.acertificates.zzjg|default='/Public/Images/image_03.gif'}" width="97" height="113" /><input type="hidden" id="ImageZzjg" name="image[zzjg]" value="{$agent.acertificates.zzjg}" /> <a href="javascript:ResetValue('Zzjg', 3);">&nbsp;</a></li>   
                        	
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="buttonDiv" align="center">
        		<button type="reset" class="reset_btn">重写</button> &#12288;<button type="submit" id="dosubmit" class="submit_btn">提交</button> 
        	</div>
        </form>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Kindeditor/kindeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Formvalidator/formValidator.min.js"></script>
<script type="text/javascript">
var editor = KindEditor.editor({ uploadJson:"{:U('/Public/kindeditorUpload', '', true)}", imageUploadLimit:50, });

function KindeditorUpload(ImageSrc, InputVal) {
	editor.loadPlugin('image', function() {
		editor.plugin.imageDialog({
			showRemote:false, clickFn:function(url, title, width, height, border, align) {
				$('#'+ImageSrc).attr("src", url); $('#'+InputVal).val(url); editor.hideDialog();
			}
		});
		$(".ke-dialog-body").append('<div>温馨提示：图片大小不超过200K， 图片格式为 jpg,jpeg,png</div>'); 
	});
}

function ResetValue(ImageId, ImageName) {
    $("#ImageSrc"+ImageId).attr("src", '/Public/Images/image_0'+ImageName+'.gif'); $("#Image"+ImageId).val('');
}

function cc( obj ) {
	var url=$(obj).attr('data-id');
	if(!url=="") {
		var flag = window.open("http://www.dishuos.com/"+url, "_blank");   
		if(flag==null) {  
			alert("您的浏览器启用弹出窗口过滤功能！\n\n请暂时先关闭此功能！") ;  
		} 
	}
}

$(document).ready(function(e) {
	$.formValidator.initConfig({ formID:"form", submitOnce:false, onError:function(msg, obj, errorlist) { alert(msg); return false; } });
	$("#ShopScity").formValidator({onFocus:" "}).inputValidator({min:1, onError:"请选择你要代理的区域"});
	$("#InfoAnickname").formValidator({onFocus:" "}).inputValidator({min:1, onError:"请输入企业/个人全称"});
	$("#InfoAddress").formValidator({onFocus:" "}).inputValidator({min:1, onError:"请输入企业个人地址"});
	$("#InfoContactsName").formValidator({onFocus:" "}).inputValidator({min:1, onError:"请输入负责人姓名"});
	$("#InfoContactsTel").formValidator({onFocus:" "}).regexValidator({regExp:["mobile", "tel"], dataType:"enum", onError:"电话格式输入不正确"}).inputValidator({min:1, max:15, onError:"请输入负责人电话"});
	$("#IdCard").formValidator({onFocus:" "}).regexValidator({regExp:"(^[0-9]{15}$)|(^[0-9]{17}([0-9]|X|x)$)", onError:"身份证号格式不正确"}).inputValidator({min:1, onError:"身份证号不能为空"})
	$("#ImageSfzz").formValidator({onFocus:" "}).inputValidator({min:1, onError:"请上传身份证正面照"});
	$("#ImageSfzb").formValidator({onFocus:" "}).inputValidator({min:1, onError:"请上传身份证背面照"});
})
</script>
</body>
</html>
