<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>&nbsp;</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<link href="__PUBLIC__/Css/acommon.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.table-form label input { position:relative; top:2px; } td select { width:258px; }
input.user_input, input.user_input_hover, input.user_input_focus, input.user_input_error { width:240px; }
</style>
</head>

<body>
<taglib name="html" />
<div id="dialog-main-body">
    <div class="main-body">
        <form method='post' id="form" name="form" action="__ACTION__">
        	<input type="hidden" value="{$user.sceneid_bigint}" name="info[sceneid_bigint]" />
            <div id="ScrollForm">
                <div class="divSetting">
                    <table class="table-form" border="0">
                        <tr>
                            <th width="100">模板名称</th>
                            <td><input type="text" autocomplete="off" name="info[scenename_varchar]" value="{$user.scenename_varchar}" class="user_input" id="InfoName"/></td>
                        </tr>
                        <tr>
                            <th>模板图片</th>
                            <td>
                            	<input type="text" readonly="readonly" autocomplete="off" id="InfoIco" name="info[thumbnail_varchar]" style="width:156px;" value="{$user.thumbnail_varchar}" class="user_input" />
                                <input type="button" onclick="KindeditorUpload('InfoIco')" class="button" value="上传应用图" style="border-radius:3px;" />
                            </td>
                        </tr>
                        <tr>
                            <th>模板权重</th>
                            <td>
                            	<input type="text" autocomplete="off" name="info[rank]" value="{$user.rank|default='5'}" class="user_input" />
                            </td>
                        </tr>
						<tr>
                            <th>启用状态</th>
                            <td>
                            	<label><input type="radio" <if condition="$user['delete_int'] == 1">checked="checked"</if> value="1" name="info[delete_int]" /> 禁用</label>&#12288;
                            	<label><input type="radio" <if condition="$user['delete_int'] != 1">checked="checked"</if> value="0" name="info[delete_int]" /> 启用</label>
                            </td>
                        </tr>
                    </table>
                    <div class="buttonDiv" align="left">
                        <button type="submit" class="submit_btn" style="margin-left:120px;">提交</button>&#12288;
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Kindeditor/kindeditor.min.js"></script>
<script type="text/javascript">
var editor = KindEditor.editor({ uploadJson:"{:U('/Case/updateScene', '', true)}", imageUploadLimit:50, });
function KindeditorUpload(InputVal) {
	editor.loadPlugin('image', function() {
		editor.plugin.imageDialog({
			showRemote:false, 
			clickFn:function(url, title, width, height, border, align) {
				$('#'+InputVal).val(url); editor.hideDialog();
			}
		});
		$(".ke-dialog-body").append('<div>温馨提示：图片大小不超过100K， 图片格式为 jpg,png<br>图片大小为350*350</div>');
	});
}
</script>
</body>
</html>
