<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>&nbsp;</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<link href="__PUBLIC__/Css/acommon.css" rel="stylesheet" type="text/css" />
<style type="text/css">.table-list td img { display:block; margin:auto; }</style>
</head>

<body>
<div id="main-body">
	<div class="subnav">
        <span class="on" onclick="addDevice()">导入设备</span>
        <span onclick="window.history.go(-1)" style="margin-left:15px;font-size:12px;line-height:38px;border-bottom-color:red;">返回列表</span>
	</div>
    <div class="search_list" id="SearchForm">
    	<form name="search" action="__ACTION__">
            <label class="fl">查询条件：</label>
            <input type="text" id="statime" autocomplete="off" placeholder="开始时间" class="user_input fl" value="{$Think.get.statime}" name="statime" />&nbsp;
            <input type="text" id="endtime" autocomplete="off" placeholder="结束时间" class="user_input fl" value="{$Think.get.endtime}" name="endtime" />&nbsp;
            <input type="hidden" name="mac" value="{$Think.get.mac}" />
            <input type="submit" value="搜索" class="button fl" name="search" />
    	</form>
    </div>
	<div class="main-body">
		<form onsubmit="return false;" name="form" id="form" method="post">
		    <table class="table-list">
		        <thead>
		            <tr>
                        <th width="8%">序号</th>
                        <th width="10%">授权号</th>
                        <th width="10%">用户IP</th>
                        <th width="10%">用户MAC</th>
                        <th width="44%">用户信息</th>
                        <th width="10%">连接时间</th>
                        <th width="8%">操作</th>
		            </tr>
		        </thead>
		        <tbody>
                	<volist name="userList" id="v">
                        <tr>
                            <td>{$v.rinfo}</td>
                            <td>{$v.rcode}</td>
                            <td>{$v.ruserip}</td>
                            <td>{$v.rusermac}</td>
                            <td>{$v.ruinfo}</td>
                            <td>{$v.rlast}</td>
                            <td><a href="{:U('/Device/linksLists@xt', array('mac'=>$v['rusermac']), true, true)}">登录记录</a></td>
                        </tr>
                    </volist>
		        </tbody>
		    </table>
            <div id="pages"> {$pages} </div>
		</form>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Kindeditor/kindeditor.min.js"></script>
<script type="text/javascript" src="/Public/Js/Calendar/calendar.js"></script>
<script type="text/javascript">
Calendar.setup({ inputField:"statime", trigger:"statime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });
Calendar.setup({ inputField:"endtime", trigger:"endtime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });

var KindeditorDialog = null;
//导入设备
function addDevice() {
	KindeditorDialog = KindEditor.dialog({
		width : 500,
		height: 360,
		title : '导入设备',
		body  : '<iframe frameborder="0" class="iframeDialog" src="{:U("/Device/addDevice", "", true)}"></iframe>',
		closeBtn : { name:'关闭', click:function(e) { KindeditorDialog.remove(); KindeditorDialog=null; } }
	});
}

//分配商家
function SetMerchant( rid ) {
	if( !rid ) { alert('参数出错'); return false; }
	KindeditorDialog = KindEditor.dialog({
		width : 650,
		height: 360,
		title : '分配商家',
		body  : '<iframe frameborder="0" class="iframeDialog" src="http://xt.dishuos.com/Device/setMerchant/rid/'+rid+'.html"></iframe>',
		closeBtn : { name:'关闭', click:function(e) { KindeditorDialog.remove(); KindeditorDialog=null; } }
	});	
}

//重启设备
function restart( routeid ) {
	if( !routeid ) return false;
	$.getJSON("http://ap.dishuos.com/Portal/obstart.html?jsoncallback=?", { rid:routeid })
	$("#"+routeid).html("离线");
}

function selectAll( name ) {
    if ($("#checkbox").is(":checked")==false) {
        $("input[name='"+name+"']").each(function() { this.checked=false; });
    } else {
        $("input[name='"+name+"']").each(function() { this.checked=true; });
    }
}
</script>
</body>
</html>