<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>&nbsp;</title>
<link href="__PUBLIC__/Css/acommon.css" rel="stylesheet" type="text/css" />
<style type="text/css">
label input { position:relative; top:2px; } #dosubmit { margin-left:118px; margin-right:10px; }
input.user_input, input.user_input_hover, input.user_input_focus, input.user_input_error { width:210px; }
</style>
</head>

<body>
<div id="dialog-main-body">
    <div class="main-body">
        <form method='post' id="form" name="form" action="__ACTION__">
            <div id="divSetting1">
                <table class="table-form" border="0">
                    <tr>
                        <th width="100">权限组名称</th>
                        <td><input autocomplete="off" id="InfoTitle" placeholder="请输入权限组名称" name="info[title]" type="text" class="user_input" value="" /></td>
                    </tr>
                    <tr>
                        <th width="100">权限组描述</th>
                        <td><input autocomplete="off" placeholder="请输入权限组描述，默认为空" name="info[description]" type="text" class="user_input" value="" /></td>
                    </tr>
                    <tr>
                        <th>权限组状态</th>
                        <td>
                        	<label><input name="info[status]" type="radio" value="1" checked="checked" /> 有效</label>&#12288;&#12288;
                        	<label><input name="info[status]" type="radio" value="0" /> 无效</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="buttonDiv" align="left">
        		<button type="submit" id="dosubmit" class="submit_btn">提交</button> <button type="reset" class="reset_btn">重写</button>
        	</div>
        </form>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Formvalidator/formValidator.min.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
	$.formValidator.initConfig({ formID:"form", submitOnce:false, onError:function(msg, obj, errorlist) { alert(msg); return false; }, ajaxPrompt:'有数据正在异步验证，请稍等...' });
	$("#InfoTitle").formValidator({onFocus:"请输入权限组名称"}).inputValidator({min:1, onError:"权限组名称不能为空"}).ajaxValidator({
		url  		: "{:U('/System/publicCheckGroupName', '', true)}",
		data       	: "groupname=#InfoTitle",
        success    	: function(data) { return parseInt(data) == 1 ? true : false; },
        buttons  	: $("#dosubmit"),
        onError  	: "权限组已经存在，请重新输入一个",
        onWait   	: "请等待……"
    });
})
</script>
</body>
</html>