<extend name="Public:common"/>
<block name="body">
<link rel="stylesheet" href="__PUBLIC__/Css/merchant/guideLayer.css">
<style type="text/css">
#ssr{height:40px;width:330px}
.authdiv{margin-left:120px;margin-top:20px;padding:20px;border:1px solid;height:40px;display:none}
.sauthdiv{margin-left:120px;margin-top:20px;padding:20px;border:1px solid;height:40px;display:none}
input[type="password"] { border:1px solid #e7e7eb; font-size:14px; height:32px; line-height:32px; padding-left:8px; width:320px; }
.set{margin-top:20px;}
</style>
<div class="wrapper">
    <h2 class="title">账号编辑</h2>
    <div class="mian padding">
        <form action="__ACTION__" method="post" onsubmit="return check();">
           <div class="set">
                <label>账号</label> <span>{$m_info.mname}</span>
            </div>
            <div class="set">
                <label>姓名</label> <span>{$m_info.tname}</span>
            </div>        
            <div class="set">
                <label>职务</label> <span>{$m_info.job}</span>
            </div>
            <div class="set">
                <label>角色</label> <select name="role" id="ssr"><option value="2" <if condition="$m_info.role eq 2">selected</if> >普通管理员</option><option value="1" <if condition="$m_info.role eq 1">selected</if>>超级管理员</option></select>
                    注:超级管理员不需要设置权限
            </div>
            <div class="set">
                <label>权限</label>
                <foreach name="top_menu" item="vo" >
                <span style="margin:10px"><input <php>if(in_array($vo['code'],$m_info['auth']['top'])){ echo 'checked'; }</php> class="ck" code="{$vo.code}" type="checkbox" name="top[]" value="{$vo.code}">{$vo.name}</span>
                </foreach>
                <foreach name="top_menu" item="vo" >
                 <div id="auth_{$vo.code}" class="authdiv">
                <foreach name="vo.next" item="voo" >
               
                <span style="margin:10px"><input <php>if(in_array($voo['id'],$m_info['auth']['next'])){ echo 'checked'; }</php> type="checkbox" name="next[]" value="{$voo.id}">{$voo.name}</span>
               
                </foreach>
                 </div>
                </foreach>
            </div>
            
            <div class="set" style="margin-top:30px;">
                <label>分店管理权限</label>
                <foreach name="shopList" item="va" >
                <span style="margin:10px"><input <php>if(in_array($va['sid'],$m_info['shopauth'])){ echo 'checked'; }</php> class="ak" type="checkbox" name="shopauth[]" value="{$va.sid}">{$va.sname}</span>
                </foreach>     
            </div>
            
            <div class="set" style="margin-top:30px;">
                <label>班次</label>
                
                <span style="margin:10px"><input <if condition="$m_info.shift eq 1">checked</if> type="radio" name="shift" value="1">全天</span>
                <span style="margin:10px"><input <if condition="$m_info.shift eq 2">checked</if> type="radio" name="shift" value="2">白班</span>
                <span style="margin:10px"><input <if condition="$m_info.shift eq 3">checked</if> type="radio" name="shift" value="3">晚班</span>
                  
            </div>
            
            <div class="set">
                <label>手机</label> <input type="text" name="tphone" value="{$m_info.tphone}" id="tphone">
            </div>
            <div class="set">
                <label>性别</label> <input <if condition="$m_info.sex eq '男'">checked</if> type="radio" name="sex" value="男" id="sex">男 
                					<input <if condition="$m_info.sex eq '女'">checked</if> type="radio" name="sex" value="女" id="sex">女
            </div>
            <div class="set">
                <label>生日</label> <input type="text" readonly="readonly" value="{$m_info.birthday}" id="birthday" name="birthday">
            </div>
            <div class="set">
                <label>籍贯</label> <input type="text" name="address" value="{$m_info.address}" id="address">
            </div>
            <div class="set">
                <label>身份证</label> <input type="text" name="idcard" value="{$m_info.idcard}" id="idcard">
            </div>
            <div class="set">
            <input type="hidden" name="tmid" value="{$m_info.tmid}" />
                <label></label> <input type="submit" value="确认" class="btn btn-pwd">
                <input type="button" value="返回" class="btn btn-pwd" onClick="window.history.go(-1);">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Js/Calendar/calendar.js"></script>
<script type="text/javascript">
var authmobile = "{$linkmobile}";
var guide = "{$guide}";
Calendar.setup({ inputField:"birthday", trigger:"birthday", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });
$(function(){
	$(document).ready(function(){
		if(guide == 1){
			//遮罩
			var wHeight = $(document).height();
			$(".guide-layer").css('height', wHeight);
			$(".layer-2").show();
		}
	});
	$(".guide-layer").click(function(event) {
		$(".guide-layer").hide();
	});
});
function check(){
	var tphone  = $("#tphone").val();
	var birthday  = $("#birthday").val();
	var address  = $("#address").val();
	var idcard  = $("#idcard").val();
		
	var re = /^1[0-9]{10}$/;
	if(re.test(tphone) === false){
		alert('手机号码格式不正确');
		return false;
	}
	if(birthday == ''){
		alert('请输入生日');
		return false;
	}
	if(address == ''){
		alert('请输入籍贯');
		return false;
	}
	var re2 = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/; 
	if(re2.test(idcard) === false){
		alert('身份证格式不正确');
		return false;
	}
	return true;
}
$('.ck').click(function(){
	  $(".authdiv").hide();
	  var code = $(this).attr('code');
	  $("#auth_"+code).show();
	});  
</script>
</block>