<extend name="Public:common"/>
<block name="body">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<style type="text/css">.modal-content .set > input[type="text"] { width:420px; }</style>
<div class="wrapper">
    <h2 class="title">
        <p class="returnMenu">
            <a href="{:U('/Sales/goods', array('ctype'=>1), true)}">商品上架</a>
            <a href="{:U('/Sales/goods', array('ctype'=>2), true)}" >预约上架</a>
            <a href="{:U('DaZhuanPan/index')}">大转盘</a>
            <a href="{:U('Info/index', array('ctype'=>3), true)}">视频上架</a>
            <a href="{:U('/Plugin/appdownset')}">应用上架</a>
            <a href="{:U('/Index/weishop')}" class="curr">自定义链接</a>
        </p>
    </h2>
    <div class="mian padding">                   
        <div class="modal-content">
            <div class="set">
                <label>模块名称</label><input value="{$modulename}" id="ModuleName" type="text" maxlength="6">
                <span>不多于6个汉字</span>
            </div>
            <div class="set">
                <label>模块地址</label><input value="{$modulelink}" id="ModuleLink" type="text">
                <span>该地址可用于微信及网页访问</span>
            </div>
            <div class="set">
                <label class="vertical">ICON</label>
                <div class="content_b_width">
                    <div id="divPreview1" class="pull-left">
                        <img id="imgHeadPhoto" src="{$moduleicon}" style="width: 58px; height: 58px;" alt="" />
                    </div>
                    <p style="margin:5px 0px;">建议尺寸132*132 格式：JPG,PNG</p>
                    <span class="file"><input id="UploadImage" type="button" value="更换图标" class="btn btn-blue"></span>
                </div>
            </div>
            <div class="border-b top"></div>
            <div class="set top">
                <label></label><input id="ModuleUpdate" type="button" class="btn btn-pwd" value="保存">
            </div>
        </div>
    </div>
    <h2 class="title add_child">精品模块</h2>
    <div class="mian padding">                   
        <div class="modal-content">
            <div class="set">
                <label>模块名称</label><input value="{$modulename_b}" id="ModuleNameB" type="text" maxlength="6">
                <span>不多于6个汉字</span>
            </div>
            <div class="set">
                <label>模块地址</label>{$modulelink_b}
            </div>
            <div class="set">
                <label class="vertical">ICON</label>
                <div class="content_b_width">
                    <div id="divPreview1" class="pull-left">
                        <img id="imgHeadPhotoB" src="{$moduleicon_b}" style="width: 58px; height: 58px;" alt="" />
                    </div>
                    <p style="margin:5px 0px;">建议尺寸132*132 格式：JPG,PNG</p>
                    <span class="file"><input id="UploadImageB" type="button" value="更换图标" class="btn btn-blue"></span>
                </div>
            </div>
            <div class="border-b top"></div>
            <div class="set top">
                <label></label><input id="ModuleUpdateB" type="button" class="btn btn-pwd" value="保存">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__PUBLIC__/Js/Kindeditor/kindeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Merchant/common.js"></script>
<script type="text/javascript">
var editor = KindEditor.editor({ uploadJson:"{:U('/Public/kindeditorUpload', '', true)}", imageUploadLimit:1, });

$(function() {
	$("#UploadImage").click(function() {
		editor.loadPlugin('image', function() {
			editor.plugin.imageDialog({
				showRemote:false, clickFn:function(url, title, width, height, border, align) {
					$('#imgHeadPhoto').attr("src", url); editor.hideDialog();
				}
			});
		});
	})

    $("#UploadImageB").click(function(){
        editor.loadPlugin('image', function() {
            editor.plugin.imageDialog({
                showRemote:false, clickFn:function(url, title, width, height, border, align) {
                    $('#imgHeadPhotoB').attr("src", url); editor.hideDialog();
                }
            });
        });
    })
	
	$("#ModuleUpdate").click(function() {
		var ModuleName = $.trim($("#ModuleName").val());
		var ModuleIcon = $("#imgHeadPhoto").attr('src');
        var ModuleLink = $.trim($("#ModuleLink").val());
		if( !ModuleName || !ModuleIcon || !ModuleLink) { alert("模块名称,链接地址,ICON图标,都不能为空哦!"); return false; }
		if(_length(ModuleName)>12){alert("模块名称不能超过6个汉字"); return false;}
		$.post("__ACTION__", {ModuleName:ModuleName, ModuleIcon:ModuleIcon, ModuleLink:ModuleLink, type:'w'});
		alert("保存成功！");
	})

    $("#ModuleUpdateB").click(function() {
        var ModuleName = $.trim($("#ModuleNameB").val());
        var ModuleIcon = $("#imgHeadPhotoB").attr('src');
        if( !ModuleName || !ModuleIcon ) { alert("模块名称,ICON图标,都不能为空哦!"); return false; }
        if(_length(ModuleName)>12){alert("模块名称不能超过6个汉字"); return false;}
        $.post("__ACTION__", {ModuleName:ModuleName, ModuleIcon:ModuleIcon, type:'b'});
        alert("保存成功！");
    })
})

function _length(str){
	var len=0;
	for(var i=0;i<str.length;i++){
		if(str.charAt(i)>'~'){len+=2;}else{len++;}
	}
	return len;
}
</script>
</block>