<extend name="Public:common"/>
<block name="body">
<style type="text/css">
.shops {border-bottom: 1px solid #e7e7eb;color: #222;font-size: 12px;font-weight: normal;line-height: 34px;min-height: 34px;padding-left: 35px;width: 95%;}
.shops span{margin-left:15px;}
.shops .curr{background:#00bae7;padding:10px;color:#ffffff;}
.shops .curr a{color:#ffffff;}
.lists li{float:left; width:300px;line-height:30px;border-right:1px solid #eee;text-align:center;} 
.lists{width:602px;border:1px solid #eee;margin-left:6%;margin-top:5%;}
</style>
<import type='js' file="Js.ZeroClipboard" />
<script type="text/javascript">
document.onreadystatechange = function () {   
	if(document.readyState=="complete") {          
	  init();
	}   
} 
var clip = null;
function $(id) { return document.getElementById(id); }
function init() {
	clip = new ZeroClipboard.Client();
	clip.setHandCursor( true );
	
	clip.addEventListener('load', function (client) { 
	});
	
	clip.addEventListener('mouseOver', function (client) {
		clip.setText( $('TextCopy').value );
	});
	clip.addEventListener('complete', function (client, text) {   
		alert("复制成功，将地址发送至移动端就可以预览了！");
	});
	
	clip.glue( 'TextCopyButton' );
}
</script>
<div class="wrapper">
   <h2 class="shops">选择门店：
	<if condition="$role eq 1"><span <eq name="Think.get.sid" value="">class="curr"</eq>><a href="?sid=">全部门店</a></span></if>
	<volist name="shops" id="vo">
		
		<span <eq name="Think.get.sid" value="$key">class="curr"</eq>><a href="?sid={$key}">{$vo}</a></span>
	</volist>
</h2>
    <div class="mian">
        <div class="content_a">
            <h3>账户明细<!--<eq name="type" value="1"><input type="button" value="提现" onclick="alert('可提现金额为0.00');"></eq>--></h3>
            <ul class="clearfix">
                <li><p>{$corder|default=0}</p>今日下单数</li>
                <li><p>{$iorder|default='0.00'}</p>今日成交金额</li>
                <li><p>{$member.money|default='0.00'}</p>可提现金额</li>
                <li><p>{$sumprice|default='0.00'}</p>总交易额</li>
                <if condition="$sbwb eq 1">
                <li><p>{$bprice|default='0.00'}</p>今日白班金额</li>
                <li class="last"><p>{$wprice|default='0.00'}</p>今日晚班金额</li>
                </if>
            </ul>
			
        </div>
        
        <if condition="$is_add eq 1">
        <div style="margin-top:40px">
     <a href="/Shop/addShop.html"><input type="button" value="添加店铺" class="btn btn-pwd" /></a>
        </div>
        </if>
    </div>
</div>
</block>
      