<extend name="Public:common"/>
<block name="body">
<style>
.btn-prv{background: #00bae7;}
.ta-c {text-align: center;}
.ta-c .btn {margin: 0 10px;}
.applied {color: #a2a2a6;}
.applied .btn {background: #ccc;}
.ss-modal {width: 100%;height: 100%;position: fixed;left: 0;top: 0; display: none;}
.ss-modal-drop {width: 100%;height:100%;position: absolute;left: 0;top: 0;background:#000;opacity:.5;filter:alpha(opacity=50);z-index: 100;}
.ss-modal-dialog {width: 350px;height: 624px;position: absolute;left: 50%;top: 50%;margin-left: -175px;margin-top: -312px;z-index: 101;}
.ss-modal-dialog div {width: 350px;height: 624px;overflow: hidden;}
.ss-modal-dialog div img {width: 100%;}
.ss-modal-close {display: block;width: 72px; height: 72px; background: url("__PUBLIC__/Images/modal_close.png") 0 0 no-repeat; position: absolute; left: 50%; top: 50px; margin-left: 277px;z-index: 101;}
h4.hy-style{font-size:12px;font-weight:normal;margin-bottom:15px}
.hy-style select{width:100px;height:30px;line-height:30px;margin-left:10px}
.hy-style select option{height:20px;line-height:20px;}
</style>
<script type="text/javascript">
function lookinfo( srcing ) {
	if( !srcing ) { alert('信息出错'); return false; }
	document.getElementById("DialogImage").src = srcing;
	$("#previewModal").show();
}

$(document).ready(function(e) {
	$("#CloseMenuImage").click(function() {
		$("#DialogFrameImage").children("div.reveal-modal").animate({top:'-1000px'}).end().fadeOut();
	})
	$(".ss-modal-close,.ss-modal-drop").click(function() {
		$("#previewModal").hide();
	});
});

function Operation(t_sign,t_name){
	if(!t_sign){ alert('参数错误');return false; }
	if(confirm("确定要更改模版更改“"+t_name+"”吗？")==false){
		return false;
	}
	$.post("{:U()}",{'t_sign':t_sign},function(result){
		var data = eval(result);
		if(data.status==1)window.location.reload();
		alert(data.msg);
	});
}
</script>
	<div class="sideBar_b">
            <div class="wrapper">
                <h2 class="title add_child">店铺装修</h2>
                <div class="mian padding">
                <h4 class="hy-style">选择店铺
                <select name="sid"  class="sid" style="width: 180px;">             	
                    <volist name="shop" id="vo">
                        <option value="{$key}">{$vo}</option>
                    </volist>    
                </select></h4>
                    <ul class="tem-list clearfix">
                        <li class="b" <eq name="vo.t_sign" value="$merchant[theme]">style="border:1px solid #99cc66"</eq> >
                            <div class="temImg clearfix">
                                <div class="pull-left">
                                    <img src="__PUBLIC__/Merchant/images/shouji.png" alt="" width="146" height="251">
                                </div>
                                <div class="temImg-right">
                                    <p>手机版装修</p>
                                    <p>网址：{:U('Index/index@yd',array('jid'=>$jid))}</p>
                                    <p>当前价格:免费版</p>
                                </div>
                            </div>
                            <div class="ta-c">
                                <input type="hidden" value="" id="sid">
                                <input type="button" value="管理"  style="background:#00bae7;"  class="btn btn-pwd manage-mobile-theme" >
                            </div>
                        </li>

                        <li class="b" <eq name="vo.t_sign" value="$merchant[theme]">style="border:1px solid #99cc66"</eq> >
                            <div class="temImg clearfix">
                                <div class="pull-left">
                                    <img src="__PUBLIC__/Merchant/images/weichuan.png" alt="" width="146" height="251">
                                </div>
                                <div class="temImg-right">
                                    <p>微传单</p>
                                    <p>已创建：3</p>
                                    <p>已发布: 1</p>
                                </div>
                            </div>
                            <div class="ta-c">
                                <input type="hidden" value="" id="sid">
                                <input type="button" value="管理"  style="background:#00bae7;"  class="btn btn-pwd" id="wcd" >
                            </div>
                        </li>

                        <li class="b" <eq name="vo.t_sign" value="$merchant[theme]">style="border:1px solid #99cc66"</eq> >
                            <div class="temImg clearfix">
                                <div class="pull-left">
                                    <img src="__PUBLIC__/Merchant/images/diannao.png" alt="" width="146" height="251">
                                </div>
                                <div class="temImg-right">
                                    <p>电脑版装修</p>
                                    <p>网址：{:U('Index/index@yd',array('jid'=>$jid))}</p>
                                    <p>当前价格:免费版</p>
                                </div>
                            </div>
                            <div class="ta-c">
                                <input type="hidden" value="" id="sid">
                                <input type="button" value="开发中"  style="background:#00bae7;"  class="btn btn-pwd " >
                            </div>
                        </li>

                        <li class="b" <eq name="vo.t_sign" value="$merchant[theme]">style="border:1px solid #99cc66"</eq> >
                            <div class="temImg clearfix">
                                <div class="pull-left">
                                    <img src="__PUBLIC__/Merchant/images/mingpian.png" alt="" width="146" height="251">
                                </div>
                                <div class="temImg-right">
                                    <p>个人名片</p>
                                    <p>已创建:0</p>
                                    <p>已发布:0</p>
                                </div>
                            </div>
                            <div class="ta-c">
                                <input type="hidden" value="" id="sid">
                                <input type="button" value="开发中"  style="background:#00bae7;"  class="btn btn-pwd" >
                            </div>
                        </li>
                    </ul>
                    <script type="text/javascript">
                        $('.manage-mobile-theme').click(function(){
                            var sid = $('.sid').val();
                            window.location.href = '/Manage/mobileTheme/sid/'+ sid + '.html';
                        });
                        $('#wcd').click(function(){
                            window.location.href = '/Special/splist';
                        });
                    </script>
                    <!-- <if condition="$pages">
                        <div class="page clearfix">
                            <a href="javascript:void(0)" class="btnpre" id="btnpre">跳转</a>  
                            <input type="text" onBlur="document.getElementById('btnpre').href='{:U()}?page='+this.value">{$pages}
                        </div>
                    </if> -->
                </div>
            </div>
        
		</div>
	</div>
   
   	<div class="ss-modal" id="previewModal">
        <div class="ss-modal-drop"></div>
        <div class="ss-modal-dialog">
            <div>
                <img src="__PUBLIC__/Images/temp_01.jpg" id="DialogImage" alt="">
            </div>
        </div>
        <a class="ss-modal-close" href="javascript:void(0);"></a>
    </div>
</block>
