<extend name="Public:partial"/>
<block name="body">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<form action="__ACTION__" method="post" onsubmit="return form_click();">
    <input type="hidden" value="{$banner.bid}" name="info[bid]">
    <input type="hidden" value="3" name="info[btype]">
    <input type="hidden" value="{$banner.bimg}" name="info[bimg]" id="ImageAdVal_0">
    <div class="wrapper">
        <h2 class="title add_child">修改首页轮播图</h2>
        <div class="mian padding">
            <ul class="adImg">
                <li class="clearfix" data-bid="1">
                    <div class="adImgLeft">
                        <div id="divPreview">
                            <img id="ImageAd_0" src="{$banner.bimg}" style="width: 320px; height: 166px;" alt="" />
                        </div>
                    </div>
                    <div class="adImgRight">
                        <p class="c-a2a2a6">建议尺寸：1280*652  大小控制在200K以内  支持JPG、PNG</p>
                        <span class="file"><input onClick="uploadImageFun('ImageAd_0', 'ImageAdVal_0')" type="button" value="上传" class="btn btn-blue"></span>
                        <p>自定义标题 <input type="text" value="{$banner.btitle}" name="info[btitle]"></p>
                        <p>自定义链接 <input type="text" value="{$banner.burl}" name="info[burl]"></p>
                        <input type="hidden" name="dtype" value="{$dtype}" />
                        <input type="hidden" name="sid" value="{$sid}" />
                        <input type="submit" value="确定" class="btn btn-blue">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>
<script type="text/javascript" src="__PUBLIC__/Js/Kindeditor/kindeditor.min.js"></script>
<script type="text/javascript">
var editor = KindEditor.editor({ uploadJson:"{:U('/Public/kindeditorUpload', '', true)}", imageUploadLimit:1, });
function form_click(){
	if($('#ImageAdVal_0').val()==''){
		alert('请上传广告图片');
		return false;
	}
	return true;
}
function uploadImageFun(imageSrc, imageVal) {
	editor.loadPlugin('image', function() {
		editor.plugin.imageDialog({
			showRemote:false, clickFn:function(url, title, width, height, border, align) {
				$('#'+imageSrc).attr("src", url); $('#'+imageVal).val(url); editor.hideDialog();
			}
		});
	});	
}
</script>
</block>