<extend name="Public:common"/>
<block name="body">
<style>.content_a > ul.ul-cell > li { width:150px; } </style>
<style type="text/css">
.category_order { height:35px; display:block; line-height:35px; }
.category_order li { float:left; text-align:center; width:8%; border:solid #a5a5a5 1px;margin-right:10px }
.category_order li a { display:block; width:100%; height:100%; font-size:14px; }
.category_order li.on { border-bottom:2px solid #0099ff; }
.modal-content .set > input[type="text"] { width:420px; }
.shops {border-bottom: 1px solid #e7e7eb;color: #222;font-size: 12px;font-weight: normal;line-height: 34px;min-height: 34px;padding-left: 35px;width: 95%;}
.shops span{margin-left:15px;}
.shops .curr{background:#00bae7;padding:10px;color:#ffffff;}
.shops .curr a{color:#ffffff;}
input[type="text"] {border: 1px solid #e7e7eb;height: 26px;line-height: 26px;padding-left: 5px;width: 125px;}
.button { background:#00bae7; border:0 none; border-radius:2px; color:#Fff; min-width:80px; padding:8px 18px; position:relative; top:-2px; }
.table input[type="button"], .tables input[type="button"] {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #e7e7eb;color: #5da3ea;margin-right: 3px;padding: 2px 5px;}
.tab-meun{width:100%;height:70px;background:#f1f1f1;padding-top:30px;font-family:"微软雅黑"; font-size:16px; border:solid #d5d5d5 1px; border-bottom:none}
.main_div_l{background:#f4f4f4; width:98%;heigh:500px;border:solid #d5d5d5 1px; margin-bottom:30px; padding:20px 20px}
</style>
<div class="wrapper">
    <h2 class="title">财务管理</h2>
    
<div class="border-b"></div>

<h2 class="shops">选择门店：
	<if condition="$role eq 1"><span <eq name="Think.get.sid" value="">class="curr"</eq>><a href="?sid=">全部门店</a></span></if>
	<volist name="shops" id="vo">
		
		<span <eq name="Think.get.sid" value="$key">class="curr"</eq>><a href="?sid={$key}">{$vo}</a></span>
	</volist>
</h2>

    <div class="top_btn_l">
    		 <h3>
               
                <span class="c_a2a2a6"> 账户明细 申请提现后1-2个工作日内到账，非工作日顺延</span>
                <input type="button" value="提现" onclick="location='/Manage/carryapply.html'">
            </h3>
    
    </div>    
    <div class="mian padding">
    <div class="main_div_l">
    	
	<div class="category_order">
    	<ul>
    		<li <eq name="Think.get.sstime" value="0">class="on"</eq>><a href="{:U('/Manage/finance', array('type'=>$_GET['type'],'sid'=>$sid,'sstime'=>0))}">全部账目</a></li>
        	<li <eq name="Think.get.sstime" value="1">class="on"</eq>><a href="{:U('/Manage/finance', array('type'=>$_GET['type'],'sid'=>$sid,'sstime'=>1))}">当日账目</a></li>
            <li <eq name="Think.get.sstime" value="2">class="on"</eq>><a href="{:U('/Manage/finance', array('type'=>$_GET['type'],'sid'=>$sid,'sstime'=>2))}">当月账目</a></li>
            <li <eq name="Think.get.sstime" value="3">class="on"</eq>><a href="{:U('/Manage/finance', array('type'=>$_GET['type'],'sid'=>$sid,'sstime'=>3))}">当季账目</a></li>
            <li <eq name="Think.get.sstime" value="4">class="on"</eq>><a href="{:U('/Manage/finance', array('type'=>$_GET['type'],'sid'=>$sid,'sstime'=>4))}">当年账目</a></li>
        </ul>
    </div>
    

    <div class="content_c">
            <form action="__ACTION__" method="get">
            	<input type="text" class="user_input" placeholder="开始时间" readonly="readonly" size="6" value="{$Think.get.statime}" id="statime" name="statime">
                <label class="fl mlr5">-</label>
                <input type="text" class="user_input" placeholder="结束时间" readonly="readonly" size="6" value="{$Think.get.endtime}" id="endtime" name="endtime">&nbsp;&nbsp;
                               
                <input type="hidden" name="sid" value="{$sid}" />
                <input type="hidden" name="type" value="{$_GET['type']}" />
                <input type="submit" value="开始搜索" class="button">
            </form>
        </div>
        <div style="width:100%;height:15px;"></div>
        
        <div class="content_a">
           
            <ul class="clearfix ul-cell">
                <li><p>{$count_a|default='0.00'}</p>线下总收入</li>
                <li><p>{$count_b|default='0.00'}</p>线上总收入（商）</li>
                <li><p>{$count_c|default='0.00'}</p>线上总收入（平）</li>
                <li><p>{$count_d|default='0.00'}</p>返利总收入</li>
                <li class="last"><p>{$member.money|default='0.00'}</p>可提现金额</li>
            </ul>
        </div>  
        </div>
        
        <div class="tab-meun">
        <p class="returnMenu meun-lef" ">
            <a href="{:U('Manage/finance@sj', array('type'=>0,'sid'=>$sid), true, true)}" <if condition="isset($_GET['type']) && $_GET['type']==0">class="curr"</if>>线下收入明细（商）</a>
            <a href="{:U('Manage/finance@sj', array('type'=>1,'sid'=>$sid), true, true)}" <if condition="isset($_GET['type']) && $_GET['type']==1">class="curr"</if>>线上收入明细（商）</a>
            <a href="{:U('Manage/finance@sj', array('type'=>2,'sid'=>$sid), true, true)}" <if condition="isset($_GET['type']) && $_GET['type']==2">class="curr"</if>>线上收入明细（平）</a>
            <a href="{:U('Manage/finance@sj', array('type'=>3,'sid'=>$sid), true, true)}" <if condition="isset($_GET['type']) && $_GET['type']==3">class="curr"</if>>线上收入明细（返）</a>
        </p>
        <input type="button " class="no-bak order-dc" style="cursor:pointer;" value="导出订单" onclick="download('{:U('Manage/download@sj', array('type'=>$_GET['type']), true, true)}')">
        </div>
        <div class="content_a top">
		 <if condition="isset($_GET['type']) && $_GET['type']==3">
         <table class="table border-b">
           <tr>
                    <th width="150px">时间</th>
                    <th width="90px">下单人</th>
                    <th width="90px">手机号</th>
                    <th width="90px">原价/实价</th>
                    <th width="90px">订单门店</th>
                    <th width="90px">返利金额</th>
                    <th width="90px">实际到账</th>
                    <th width="90px">支付方式</th>
                    <th width="180px">订单号</th>
            </tr>
             <volist name="resource" id="f">
             <tr>
                <td>{$f.o_dstime}</td>
                <td>{$f.o_name}</td>
                <td>{$f.o_phone|default='-'}</td>
                <td><s>{$resource_gdprice[$f['o_id']]['goprice']}</s><br/>{$f.o_price}</td>
                <td><php>echo $shops[$f['flo_sid']];</php></td>
                <td>{$f.flo_backprice}</td>
                <td><php>echo $f[o_price]-$f[flo_backprice];</php></td>
                <if condition="isset($_GET['type']) && $_GET['type']==0">
                    <td>线下支付</td>
                <else/>
                	<if condition="$f['o_pway'] == 'weixin'">
                	<td>微信支付</td>
                	<else/>
                	<td>支付宝</td>
                	</if>
                </if>
                <td>{$f.o_id}</td>
              </tr>
             </volist>
         </table>
		<else/>
         <table class="table border-b">
                <tr>
                    <th width="150px">时间</th>
                    <th width="90px">下单人</th>
                    <th width="90px">手机号</th>
                    <th width="90px">原价/实价</th>
                    <th width="90px">订单门店</th>
                    <th width="90px">优惠金额</th>
                    <th width="90px">实际到账</th>
                    <th width="90px">支付方式</th>
                    <th width="180px">订单号</th>
                </tr>
				<volist name="resource" id="f">
				<tr>
						<td>{$f.o_dstime}</td>
						<td>{$f.o_name}</td>
						<td>{$f.o_phone|default='-'}</td>
						<td><s>{$resource_gdprice[$f['o_id']]['goprice']}</s><br/>{$f.o_price}</td>
						<td><php>echo $shops[$f['o_sid']];</php></td>
						<td>{$resource_gdprice[$f['o_id']]['goprice'] - $f['o_price']}</td>
						<td>{$f.o_price}</td>
						<if condition="isset($_GET['type']) && $_GET['type']==0">
							<td>线下支付</td>
						<else/>
							<if condition="$f['o_pway'] == 'weixin'">
                	<td>微信支付</td>
                	<else/>
                	<td>支付宝</td>
                	</if>
						</if>
						<td>{$f.o_id}</td>
				</tr>
				</volist>
            </table>
			</if>
            <if condition="$pages">
                <div class="page clearfix">
                    <a href="javascript:void(0)" class="btnpre" id="btnpre">跳转</a>
                    <input type="text" onBlur="document.getElementById('btnpre').href='?page='+this.value">{$pages}
                </div>
            </if>
        </div>
    </div>
    <div class="prompt-div txt-infro clearfix">
    	<i class="prompticon"></i><span id="MyBdzhInfo">1.可提现总额=商户版线上订单交易额+全民返利线上交易额<br/>  
2.【复制】按钮功能说明：点击订单号右侧的复制按钮，可以在【订单管理】中搜索查看订单详情<br/>
3.温馨提示：申请提现后1-2个工作日内到账，非工作日顺延</span>
    </div>
    
</div>

<div class="modal" id="DialogFrameModel">
    <div class="DialogFrameModel reveal-modal" style="margin-left:-325px;">
    	<iframe id="DialogFrame" name="DialogFrame" src="" frameborder="0" width="0" height="0" scrolling="no" ></iframe>
    </div>
</div>

<!-- 弹出层 -->
<script type="text/javascript" src="__PUBLIC__/Js/Calendar/calendar.js"></script>
<script type="text/javascript">
Calendar.setup({ inputField:"statime", trigger:"statime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });
Calendar.setup({ inputField:"endtime", trigger:"endtime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });

function DialogFrameFun(width, height, src) {
	document.getElementById('DialogFrame').src = src;
	document.getElementById('DialogFrame').width = width;
	document.getElementById('DialogFrame').height = height;
	$("#DialogFrameModel").children("div.DialogFrameModel").width(width);
	$("#DialogFrameModel").children("div.DialogFrameModel").animate({top:"100px"}).end().fadeIn();
}

//download
function download( src )
{
   DialogFrameFun(550, 400, src);
}
</script>
</block>