<extend name="Public:common"/>
<block name="body">
<style type="text/css">
input[type="text"] {border: 1px solid #e7e7eb;height: 26px;line-height: 26px;padding-left: 5px;width: 175px;}
.button { background:#00bae7; border:0 none; border-radius:2px; color:#Fff; min-width:80px; padding:8px 18px; position:relative; top:-2px; }
td a { border:1px solid #e7e7eb; color:#5da3ea; margin-right:5px; padding:5px 10px; }
.table td, .table th { border-top:none; }
select {background: none repeat scroll 0 0 #f9f9f9; border-color: #666666 #cccccc #cccccc #666666;border-style: solid;border-width: 1px;color: #333333;padding: 2px;vertical-align: middle; height: 30px;}
.iframeDialog { width:100%; height:100%; overflow:hidden; border:none; }
</style>
	<div class="wrapper">
		<h2 class="title">智能揽客神器管理</h2>
		<div class="mian padding">
			<div class="content_c">
				<form action="__ACTION__" method="get">
					<input type="text" autocomplete="off" placeholder="授权号"  value="{$Think.get.sq}" name="sq" />&nbsp;
					<input type="text" autocomplete="off" placeholder="设备名称" value="{$Think.get.mc}" name="mc" />&nbsp;
					<select name="status" class="fl">
						<option value="" <if condition="!isset($_GET['status']) || $_GET['status']==''">selected="selected"</if>>在线状态</option>
						<option value="0" <if condition="isset($_GET['status']) && $_GET['status']=='0'">selected="selected"</if>>离线</option>
						<option value="1" <if condition="isset($_GET['status']) && $_GET['status']=='1'">selected="selected"</if>>在线</option>
					</select>
                    <input type="submit" value="开始搜索" class="button">
                </form>
			</div>
			<div class="content_a top">
				<table class="table border-b">
					<tr>
                        <th width="14%">授权号</th>
                        <th width="14%">设备名称</th>
                        <th width="10%">所属分店</th>
                        <th width="14%">状态</th>
                        <th>操作</th>
					</tr>
                	<volist name="deviceList" id="v">
                        <tr>
                            <td>{$v.rcode|default='-'}</td>
                            <td>{$v.rname|default='-'}</td>
                            <td>{$v.sname|default='-'}</td>                            
                            <td id="{$v.rcode}"><eq name='v.rstatus' value="1">运行中<else/>离线</eq></td>
                            <td>
                            	<a href="javascript:;" onclick="SetShop('{$v.rid}')">分配分店</a>|
                            	<eq name='v.rstatus' value="1">
                                    <a href="{:U('/Manage/devicelinks', array('rid'=>$v['rcode']))}">连接情况</a>|
                                    <a href="javascript:restart('{$v.rcode}');">重启</a>|
                                    <eq name="v.rwifistatus" value="1">
                                    <a href="javascript:closedv('{$v.rcode}', '{$v.rid}');" data-value="1" id="rwifistatus{$v.rid}">关闭</a>|
                                    <else/>
                                    <a href="javascript:closedv('{$v.rcode}', '{$v.rid}');" data-value="2" id="rwifistatus{$v.rid}">开启</a>|
                                    </eq>
                                    <a href="{:U('/Manage/deviceEdit', array('rid'=>$v['rid']))}">设置</a>
                                <else/>
                                    <a href="javascript:void(0);" style="color:#999;">连接情况</a>|
                                    <a href="javascript:void(0);" style="color:#999;">重启</a>|
                                    <a href="javascript:void(0);" style="color:#999">关闭</a>|
                                    <a href="javascript:void(0);" style="color:#999;">设置</a>
                                </eq>
                            </td>
                        </tr>
                    </volist>
				</table>
				<if condition="$pages">
                    <div class="page clearfix">
                        <a href="javascript:void(0)" class="btnpre" id="btnpre">跳转</a>
                        <input type="text" onBlur="document.getElementById('btnpre').href='{:U()}?page='+this.value">{$pages}
                    </div>
                </if>
			</div>
		</div>
	</div>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Js/artDialog/css/ui-dialog.css">
<script src="__PUBLIC__/Js/artDialog/dist/dialog-min.js"></script>
<script type="text/javascript">
var KindeditorDialog = null;

//重启设备
function restart( routeid ) {
	if( !routeid ) return false;
	$.getJSON("http://ap.dishuos.com/Portal/obstart.html?jsoncallback=?", { rid:routeid })
	$("#"+routeid).html("离线");
}

//关闭或设备
function closedv( routeid, rid) {
	if( !routeid ) return false;
	var value = parseInt($("#rwifistatus"+rid).attr("data-value"));

	if( value == 1 ) {
		$.getJSON("{:U('/Manage/wifistatus')}", { rid:routeid, status:value })
		$("#rwifistatus"+rid).html("关闭中").attr('data-value', "2");
	} else {
		$.getJSON("{:U('/Manage/wifistatus')}", { rid:routeid, status:value })
		$("#rwifistatus"+rid).html("开启中").attr('data-value', "1");
	}
}

function SetShop( rid )
{
	if( !rid ) { alert('参数出错'); return false; }

	var d = dialog({
		id:'replymsg',
		title: '分配设备',
		opacity: 0.87,
		lock: true,
		background: '#600', // 背景色
		content: '<p style="padding-top:10px;">选择门店：<select id="op_select" ><option>选择分店</option><?php echo $shoplist; ?></select></p>',
		okValue: '分配',
		cancel: true,
		cancelValue: '取消',
		ok: function () {
			var op_select = $('#op_select').val();
			if(!op_select) {
				alert('请选择要分配的门店！'); return false;
			}
			$.post("{:U('Manage/setShop')}", {'rid':rid, 'sid':op_select}, function(result){
				if(parseInt(result) == 1) { window.location.reload();  }
			});
		}
	});
	d.show();
}
</script>
</block>