<extend name="Public:common"/>
<block name="body">
<div class="wrapper">
    <h2 class="title"><!--群发消息列表-->
       已发送列表
    </h2>
    <div class="mian padding">
    	<volist name="listmsg" id="msg">
             <div class="content_b sentList sent_a">
             <div class="sentwidth">{$msg.pcontent}</div>
                            <span>发送成功</span>
                            <span>{$msg.ptime}</span>
                            <a href="{:U('/Message/delsmsg', array('pid'=>$msg['pid']), true)}" class="c-5da3ea">删除</a>
             </div>
		</volist>
        <if condition="$pages">
            <div class="page clearfix">
                <a href="javascript:void(0)" class="btnpre" id="btnpre">跳转</a>
                <input type="text" onBlur="document.getElementById('btnpre').href='{:U()}?page='+this.value">{$pages}
            </div>
        </if>
        <div class="border-b"></div>
    </div>
</div>
 <!--right over--> 
</block>