<extend name="Public:common"/>
<block name="body">
<link href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" type="text/css" rel="stylesheet">
<div class="wrapper">
    <h2 class="title"><!--新建群发消息-->
       新建群发消息
    </h2>
    <div class="mian padding">
        <form action="__ACTION__" method="post">
            
            <div class="set">
                <b style="float:left; margin-right:7px;">消息内容：</b>
                <textarea  name="pcontent"></textarea>
            </div>
            <div class="set">
                <input type="submit" value="确认推送" class="btn btn-pwd">
            </div>
        </form>
    </div>
</div>
</block>