<extend name="Public:common"/>
<block name="body">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<div class="wrapper">
    <h2 class="title">
        <p class="returnMenu">
            <a href="{:U('/Message/hdlist')}">最新活动</a>
            <a href="{:U('/Sales/jqlist')}">优惠券上架</a>
            <a href="{:U('/News/index')}" class="curr">最新资讯</a>
        </p>
    </h2>
    <div class="mian padding">  
    	<eq name="type" value="1">                 
        <div class="modal-content">
            <div class="set">
                <label>模块名称</label> <input style="width:400px;" type="text" name="NewModuleName" value="{$NewModule[Name]?$NewModule[Name]:'最新资讯'}" id="NewModuleName"> <span>不多于6个汉字</span>
            </div>
            <div class="set">
                <label>模块地址</label> <input style="width:400px;" type="text" name="NewModuleLink" value="http://yd.dishuos.com/News/index/jid/<?php echo \Common\Org\Cookie::get(C('USER_COOKIE_JID'));?>.html" id="NewModuleLink" readonly="readonly"> <span>该地址可用于微信及网页访问</span>
            </div>
            <div class="set">
                <label class="vertical">模块ICON</label>
                <div class="content_b_width">
                    <div class="pull-left">
                        <img id="ModuleIcon" src="{$NewModule.Icon|default='/Public/Images/merchant/noperson_1.gif'}" style="width:80px; height:80px;" />
                    </div>
                    <p>建议尺寸：132 * 132 &#12288;格式：jpg、png</p>
                    <span class="file"><input type="button" id="UploadImage" value="上传" class="btn btn-blue"></span>
                </div>
            </div>
            <div class="border-b top"></div>
            <div class="set top">
                <label></label> <input type="button" onClick="ResetModuleName();" class="btn btn-pwd" value="保存">
            </div>
        </div>
    	</eq>
        
        <div class="content_a top">
            <h3>资讯列表<input type="button" value="新增资讯" id="add" onClick="DialogFrameFun(650, 730, '{:U('/News/addnew', '', true)}')"></h3>
            <table class="table border-b">
                <tr>
                    <th width="160px">资讯标题</th>
                    <th width="140px">资讯封面</th>
                    <th width="200px">资讯内容</th>
                    <th width="60px">添加时间</th>
                    <th width="">操作</th>
                </tr>
                <volist name="newlist" id="v">
                <tr id="News_{$v.new_id}">
                    <td class="vertical">{$v.new_title}</td>
                    <td class="tdImg"><img src="{$v.new_img}" width="100" height="30"></td>
                    <td class="vertical clear-line"> 
                    	<p>{$v.new_con|strip_tags|msubstr=0,15,'utf-8',true}</p>
                    </td>
                    <td class="vertical">{$v.new_time}</td>
                    <td class="vertical">
                        <input type="button" value="修改" onClick="DialogFrameFun(650, 730, '{:U('/News/editnew', array('id'=>$v['new_id']), true)}')">
                        <input type="button" value="删除" onClick="DeleteActive('{$v.new_id}')">
                    </td>
                </tr>
                </volist>
            </table>
            <if condition="$pages">
                <div class="page clearfix">
                    <a href="javascript:void(0)" class="btnpre" id="btnpre">跳转</a>
                    <input type="text" onBlur="document.getElementById('btnpre').href='/News/index/page/'+this.value">{$pages}
                </div>
            </if>
        </div>
    </div>
</div>

<!-- 弹窗 -->
<div class="modal" id="DialogFrameModel">
    <div class="DialogFrameModel reveal-modal" style="margin-left:-325px;">
    	<iframe id="DialogFrame" name="DialogFrame" src="" frameborder="0" width="0" height="0" scrolling="no" ></iframe>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Kindeditor/kindeditor.min.js"></script>
<script type="text/javascript">
//上传图片
$("#UploadImage").click(function() {
	var editor = KindEditor.editor({ uploadJson:"{:U('/Public/kindeditorUpload', '', true)}", imageUploadLimit:1 });
	editor.loadPlugin('image', function() {
		editor.plugin.imageDialog({
			showRemote:false, clickFn:function(url, title, width, height, border, align) {
				$('#ModuleIcon').attr("src", url); editor.hideDialog();
			}
		});
	});
})
	
function DialogFrameFun(width, height, src) {
	document.getElementById('DialogFrame').src = src;
	document.getElementById('DialogFrame').width = width;
	document.getElementById('DialogFrame').height = height;
	
	$("#DialogFrameModel").children("div.DialogFrameModel").width(width);
	$("#DialogFrameModel").children("div.DialogFrameModel").animate({top:"100px"}).end().fadeIn();
}

function DeleteActive( avid ) {
	if( !avid ) { alert("参数出现错误"); return false; }
	$.post("{:U('/News/delnew', '', true)}", {id:avid}, function(data) {
		if( parseInt(data)==1 ) $("#News_"+avid).remove();
	});
}

function ResetModuleName( ) {
	var HdModuleName = document.getElementById("NewModuleName").value;
	var HdModuleIcon = $("#ModuleIcon").attr("src");
	if(_length(HdModuleName)>12){alert("模块名称不能超过6个汉字"); return false;}
	if( !HdModuleName ) { alert("请先输入模块名称"); return false; }
	if( !HdModuleIcon ) { alert("请先输入模块ICON"); return false; }
	
	$.post("__ACTION__", {'HdModuleName':HdModuleName, 'HdModuleIcon':HdModuleIcon}, function( data ) {
		if( parseInt( data ) == 1 ) { alert("修改成功"); }
	});
}

function _length(str){
	var len=0;
	for(var i=0;i<str.length;i++){
		if(str.charAt(i)>'~'){len+=2;}else{len++;}
	}
	return len;
}
</script>
</block>