<extend name="Public:common"/>
<block name="body">
<js href="__PUBLIC__/Js/layer/layer.js" />
<style type="text/css">.modal-content .set > input[type="text"] { width:420px; }</style>
<div class="wrapper">
    <h2 class="title add_child">支付账户设置</h2>
    <div class="mian padding">                   
        <div class="modal-content">
			<form id="form1">
            <div class="set">
                <label>商户号</label><input value="{$extend.alipay_no}" name="alipay_no" id="alipay_no" type="text">
                <span>支付宝签约商户号</span>
            </div>
            <div class="set">
                <label>商户邮箱</label><input value="{$extend.alipay_email}" name="alipay_email" id="alipay_email" type="text">
                <span>支付宝签约商户邮箱</span>
            </div>
            <div class="set">
                <label>KEY</label><input value="{$extend.alipay_key}" name="alipay_key" id="alipay_key" type="text">
                <span>支付宝商户签约KEY</span>
            </div>
			<div class="set">
                <label>手机号</label> <input id="TplVal" type="text" style="width:200px;">
                <input type="button" value="发送验证" id="SendCode" class="btn btn-blue"> 发送后 <b id="Time">60</b> 秒倒计时再次发送
            </div>
            <div class="set">
                <label>验证码</label> <input type="text" name="smscode" style="width:80px;">
            </div>
            <div class="set">
                <label></label><input id="ModuleUpdate" type="button" class="btn btn-pwd" value="保存">
            </div>
			<div class="border-b top"></div>
		    <div class="set top">
               <p style="color:#c0c0c0;">说明：<neq name="name" value="value"><span style="color:red;">当前商家支付功能没有开启，请联系客服处理！</span></neq>当填写完成上述设置的时候，在有支付款项的时候，用户支付的金额将直接支付给商户，否则将默认打款给平台，由平台转给商户！</p>
            </div>
			</form>
        </div>
    </div>
</div>
<script type="text/javascript">
var authmobile = "{$linkmobile}";
var alipay_status = "{$extend.alipay_status}";
$(function(){
	$('#SendCode').click(function() {
		if(alipay_status != 1){
			layer.msg('当前商家支付功能没有开启，请联系客服处理！');
			return false;
		}
		var TplVal=$("#TplVal").val();
		if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(TplVal))) {
			layer.msg("请输入正确的手机号"); 
			$("#TplVal").focus();
			return false;
		}
		if(authmobile && TplVal!=authmobile){
			layer.msg("请输入绑定此帐号的手机号码。"); 
			$("#TplVal").focus();
			return false;	
		}
		$.get("/Index/sendsms", {val:TplVal}, function(data) {
			if( parseInt(data)==1 ) {
				$("#SendCode").attr("disabled", true);
				$("#SendCode").val("查收短信");
				var timeInterval = setInterval(function() { 
					var time = --document.getElementById('Time').innerHTML;
					if(parseInt(time) <= 0) { 
						$("#SendCode").val("再次发送");
						$("#SendCode").attr("disabled", false);
						clearInterval(timeInterval); 
						document.getElementById('Time').innerHTML=60; 
					}

				}, 1000);
			} else {
				layer.msg("发送失败，请重新发送");	
			}
		});	
	})
});

$('#ModuleUpdate').click(function() {
	if(alipay_status != 1){
		layer.msg('当前商家支付功能没有开启，请联系客服处理！');
		return false;
	}
	$.post("?",$("#form1").serialize(),function(result){
		 if(result.status<1){
			 layer.msg(result.msg);
		 }else{
			layer.alert(result.msg, {icon: 1});
		 }
	},'json');
});
</script>
</block>