   
   <if condition="$asd neq 1">
    <div class="left-nav">
        <div class="sideBar_a">
             
            <div class="sideBar_nav">
                <ul>
                <if condition="$nextmenu">
				 	<foreach name="nextmenu" item="vo">
           	<li><a <if condition="$vo[id] eq $CurrentUrl">class='childCurr'</if> href="{$vo.url}" target="_self">{$vo.name}</a>
           		<div class="childddd">
           			<foreach name="vo.next" item="voo" >
           			<label><a class="childuuu <if condition='$voo[id] eq $CurrentUrl'>childCurr</if>" href="{$voo.url}" target="_self">·{$voo.name}</a></label>
           			</foreach>
           		</div>
           		
           	</li>
           	
            </foreach>
<else />
<li><a>无菜单</a></li>
</if>
	
                </ul>
            </div>
            
        </div>
	</div>
	</if>
<!--left over--> 	