<div class="fooder" style="line-height:normal;height:45px;padding-top:15px;">
    <a href="http://www.dishuos.com">关于阿宅订</a> <span>|</span>
    <a href="javascript:;">服务协议</a> <span>|</span>
    <a href="javascript:;">运营规范</a> <span>|</span>
    <a href="javascript:;">客服中心</a> <span>|</span>
    <a href="javascript:;">在线客服</a> <span>|</span>
    <a href="javascript:;">联系邮箱</a> <span>|</span>
    Copyright© 2014 ALL Rights Reserved.<Br /><Br />
    <script type="text/javascript">
	if(navigator.userAgent.indexOf("MSIE")>0) {  
		document.writeln('<span style="color:red;font-weight:bold;">温馨提示：请选择火狐浏览器或Chrome浏览器，效果更佳！<a href="http://www.firefox.com.cn/download/" target="_blank">下载地址</a>');
	}
    </script>
</div>
