    <div class="left-nav">
        <div class="sideBar_a">
             
            <div class="sideBar_nav">
                <ul>
				 	<foreach name="nextmenu" item="vo" >
           	<li><a <if condition="$vo[id] eq $CurrentUrl">class='childCurr'</if> href="{$vo.url}" target="_self">{$vo.name}</a>
           		<div class="childddd">
           			<foreach name="vo.next" item="voo" >
           			<label><a class="childuuu <if condition='$voo[id] eq $CurrentUrl'>childCurr</if>" href="{$voo.url}" target="_self">·{$voo.name}</a></label>
           			</foreach>
           		</div>
           		
           	</li>
           	
            </foreach>
            
	
                </ul>
            </div>
            
        </div>
	</div>
<!--left over--> 	