<!DOCTYPE HTML>
<html lang="en" ng-app="app" ng-controller="AppCtrl">
<head>
	<include file="Public:head"/>
</head>
<body>
	<!-- 头部 -->
	<include file="Public:header"/>
	<!-- /头部 -->
	<div class="container">
	<div class="clearfix main">
	<include file="Public:left"/>
	<!-- 主体 -->
	<include file="Public:body"/>
	<!-- /主体 -->
	</div>
	</div>
	<!-- 底部 -->
	<include file="Public:footer"/>
	<!-- /底部 -->
	
	
	<div class="guide-layer layer-1" style="display:none;">
		<div class="guide-mask"></div>
		<div class="guide-wrapper">
			<img src="__PUBLIC__/Images/merchant/guide_1.png" alt="">
		</div>
	</div>
	<div class="guide-layer layer-2" style="display:none;">
		<div class="guide-mask"></div>
		<div class="guide-wrapper">
			<img src="__PUBLIC__/Images/merchant/guide_2.png" alt="">
		</div>
	</div>
	<div class="guide-layer layer-3" style="display:none;">
		<div class="guide-mask"></div>
		<div class="guide-wrapper">
			<img src="__PUBLIC__/Images/merchant/guide_3.png" alt="">
		</div>
	</div>
	<div class="guide-layer layer-4" style="display:none;">
		<div class="guide-mask"></div>
		<div class="guide-wrapper">
			<img src="__PUBLIC__/Images/merchant/guide_4.png" alt="">
		</div>
	</div>
</body>
</html>
