<extend name="Public:common"/>
<block name="body">
<link rel="stylesheet" href="__PUBLIC__/Css/merchant/guideLayer.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/merchant/page.css">
<js href="__PUBLIC__/Js/layer/layer.js" />
<style type="text/css">
.modal-content .set > input[type="text"] { width:420px; }
.shops {border-bottom: 1px solid #e7e7eb;color: #222;font-size: 12px;font-weight: normal;line-height: 34px;min-height: 34px;padding-left: 35px;width: 95%;}
.shops span{margin-left:15px;}
.shops .curr{background:#e7e7eb;padding:10px;color:#ffffff;}
.table input[type="button"], .tables input[type="button"] {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #e7e7eb;color: #5da3ea;margin-right: 3px;padding: 2px 5px;}
</style>
<script type="text/javascript">
var DeleteClassPath		= '{:U("/Sales/delClass@sj", "", true, true)}';
var DeleteInfoUrlPath	= '{:U("/Sales/delGoods@sj", "", true, true)}';
var StatusUrlPath	= '{:U("/Sales/statusGoods@sj", "", true, true)}';
var type = '{$Think.get.ctype}'
</script>
<div class="wrapper">
    <h2 class="title">
        <p class="returnMenu">
            <a href="{:U('/Sales/goods', array('ctype'=>1), true)}" <eq name="Think.get.ctype" value='1'>class="curr"</eq>>商品管理</a>
        </p>
    </h2>
    
    <eq name="tfs" value="1">
    <div class="mian padding">                   
        <div class="modal-content">
            <div class="set">
                <label>模块名称</label> <input type="text" id="ModuleName" value="{$modulename}" maxlength="6">
                <span>不多于6个汉字</span>
            </div>
            <div class="set">
                <label>模块地址</label> <input type="text" readonly value="{$modulelink}">
                <span>该地址可用于微信及网页访问</span>
            </div>
            <div class="set">
                <label class="vertical">ICON</label>
                <div class="content_b_width">
                    <div class="pull-left">
                        <img id="ModuleIcon" src="{$moduleicon|default='/Public/Images/merchant/noperson_1.gif'}" style="width:80px; height:80px;" />
                    </div>
                    <p>建议尺寸：132 * 132 &#12288;格式：jpg、png</p>
                    <span class="file"><input type="button" id="UploadImage" value="上传" class="btn btn-blue"></span>
                </div>
            </div>
            <div class="border-b top"></div>
            <div class="set top">
                <label></label> <input type="button" id="ModuleUpdate" class="btn btn-pwd" value="保存">
            </div>
        </div>
    </div>
    </eq>

    <div class="border-b"></div>
	<h2 class="shops">选择门店：
	<volist name="shops" id="vo">
        <span <eq name="Think.get.sid" value="$key">class="curr"</eq>>
            <a href="{:U('Sales/goods',array('ctype'=>I('get.ctype'),'sid'=>$key))}">{$vo}</a>
        </span>
    </volist>
	</h2>
    <input type="hidden" name="sid" id="sid" value="{$sid}">
    <div class="border-b"></div>
    <h2 class="shops">选择分类：
    <select name="class" onchange="change_class(this.value)">
        <option value="">请选择</option>
        <volist name="classlist" id="vo">
            <option value="{$vo.id}" <eq name="cid" value="$vo['id']">selected="selected"</eq>>{$vo.cname}</option>
        </volist>
    </select>
    </h2>
    <script type="text/javascript">
    function change_class(class_id){
        var sid = $('#sid').val();
        url = "/Sales/goods/cid/"+ class_id + "/sid/" + sid + "/ctype/1.html";
        window.location.href = url;
    }
    </script>
    <div class="mian padding">
        <div class="border">
            <div class="clearfix border-b">
            	
                
                <!-- 右边的商品列表 -->
                <div class="manage-right" id="getTable" style="width: 100%">
                    <h2 class="manage">
                        <span class="pull-left show manage-margin">
                            <input type="checkbox" id="checkbox">全选/反选
                            <input type="button" value="删除" class="btn btn-red" id="btn-delete">
                        </span>
                        <span class="pull-right" id="addorders">
                        	
						   
                            <a href="{:U('Sales/addGoods',array('ctype'=>I('get.ctype'),'sid'=>$sid,'cid'=>$cid))}"><i class="addicon" id="addshopp"></i></a>
                            <i class="orderby" id="orderbyshopp"></i>
                        </span>
                        <span class="pull-right hide" id="buttons">
                            <input type="button" value="完成" class="btn btn-blue" id="finishs">
                            <input type="button" value="取消" class="btn" id="cancels">
                        </span>
                    </h2>
                    
                    <table class="tables" style="display: block;" id="gtableslist">
                    	<tbody>
                        <foreach name="infolist" item="v"> 
                            <?php if(isset($_GET['ctype']) && intval($_GET['ctype'])!=3) { ?>
                            	
                                <?php if($v['gtype']==0){ ?>
                                    <tr data-id="{$v.gid}" data-type="product" data-cid="{$v.cid}" data-order="{$v.gorder}">
                                        <td class="vertical" width="10%"><input type="checkbox"></td>
                                        <td <neq name="tfs" value="1">width="40%"<else/>width="40%"</neq>>
                                            <dl class="table-content">
                                                <dt class="pull-left" style="height:63px;"><img src="{$v.gimg}" alt="" class="gimg"></dt>
                                                <dd class="" >
                                                    <p class="gname">{$v.gname}</p>
                                                    <p class="c-a2a2a6 gdescription">{$v.gdescription|msubstr=###,0,15}</p>
                                                  
                                                    <span class="c-bf242a">活动价￥<span class="gdprice">{$v.gdprice}
													 <span class="c-bf242a">原价￥<span class="gdprice" >{$v.goprice}</span></span> 
                                                </dd>
                                            </dl>
                                        </td>
                                        <neq name="tfs" value="1">
                                        <td width="10%" class="vertical ">库存:<span class="gstock">{$v[gstock] == -1 ? '无限制' : $v[gstock]}</span></td>
                                        <td width="10%" class="vertical ">分类：<span class="gstock">{$v[cname]}</span></td>
                                        </neq>
                                        <td class="vertical" width="30%">
                                            <input type="button" value="修改" class="addshopp" onClick=" location.href='/Sales/editGoods/sid/{$v.sid}/gid/{$v.gid}/pg/{$Think.get.page}.html' ">
                                            <eq name="v.gstatus" value="1"><input type="button" class="btnstop" style="color:#ff9900;" value="下线" onClick="GoodsStatusById('{$v.gid}',1,2)"></eq>
											<eq name="v.gstatus" value="2"><input type="button" class="btnstart" value="上线" style="color:#339900" onClick="GoodsStatusById('{$v.gid}',1,1)"></eq>
											<input type="button" value="删除" class="btndelete" style="color:red;"  onClick="DeleteVideoById('{$v.gid}', 1)"> 
                                        </td>
                                    </tr>
                            	<?php } else { ?>
                                    <tr data-id="{$v.gid}" data-type="product" data-cid="{$v.cid}" data-order="{$v.gorder}">
                                        <td class="vertical" width="60px"><input type="checkbox"></td>
                                        <td width="330px">
                                            <dl class="table-content">
                                                <dt class="pull-left"><img src="{$v.gimg}" alt="" class="gimg"></dt>
                                                <dd class="">
                                                    <p class="gname">{$v.gname}</p>
                                                    <p class="c-a2a2a6 gdescription">
                                                    	{$v.gdescription|msubstr=###,0,15}
                                                    	<br>最低消费{$v.goprice}  优惠价格{$v.gdprice}
                                                    </p>
                                                </dd>
                                            </dl>
                                        </td>
                                        <td class="vertical">
                                            <input type="button" value="修改" class="addshopp" onClick=" location.href='/Sales/editGoods/sid/{$v.sid}/gid/{$v.gid}/pg/{$Think.get.page}.html' ">
                                            <eq name="v.gstatus" value="1"><input type="button" class="btnstop" style="color:#ff9900;" value="下线" onClick="GoodsStatusById('{$v.gid}',2,2)"></eq>
											<eq name="v.gstatus" value="2"><input type="button" class="btnstart" value="上线" style="color:#339900" onClick="GoodsStatusById('{$v.gid}',2,1)"></eq>
                                            <input type="button" value="删除" class="btndelete" style="color:red;" onClick="DeleteVideoById('{$v.gid}', 1)">
                                        </td>
                                    </tr>
                                <?php } ?>
                            
                            <?php } else { ?>
                            	<tr data-id="{$v.gid}" data-type="product" data-cid="{$v.cid}" data-order="{$v.gorder}">
                                    <td class="vertical" width="60px"><input type="checkbox"></td>
                                    <td width="330px">
                                        <dl class="table-content">
                                            <dt class="pull-left"><img src="{$v.gimg}" alt="" class="gimg"></dt>
                                            <dd class="">
                                                <p class="gname">{$v.gname}</p>
                                                <p class="c-a2a2a6 gdescription">{$v.gdescription}</p>
                                                <neq name="Think.get.ctype" value="3">
                                                <span class="c-bf242a">￥<span class="gdprice" data-goprice="{$v.goprice}">{$v.gdprice}</span></span>
                                                </neq>
                                            </dd>
                                        </dl>
                                    </td>
                                    <!-- <neq name="Think.get.ctype" value="3"> -->
                                    <td width="100px" class="vertical ">库存:<span class="gstock">{$v.gstock}</span></td>
                                    <td width="10%" class="vertical ">分类：<span class="gstock">{$v[cname]}</span></td>
                                    <!-- </neq> -->
                                    <td class="vertical">
                                        <input type="button" value="修改" class="addshopp" onClick="DialogFrameFun(650, 450, '/Sales/editVideo/sid/{$v.sid}/gid/{$v.gid}.html')">
                                        <eq name="v.gstatus" value="1"><input type="button" class="btnstop" style="color:#ff9900;" value="下线" onClick="GoodsStatusById('{$v.gid}',3,2)"></eq>
										<eq name="v.gstatus" value="2"><input type="button" class="btnstart" value="上线" style="color:#339900" onClick="GoodsStatusById('{$v.gid}',3,1)"></eq>
                                        <input type="button" value="删除" class="btndelete" onClick="DeleteVideoById('{$v.gid}', 2)">
                                    </td> 
                                </tr>
                            <?php } ?>                           
                            
                        </foreach>	
                        </tbody>						
                    </table>
				
                </div>
            </div>
            <if condition="$page">
                <div class="page clearfix">
                    <a href="javascript:void(0)" class="btnpre" id="btnpre">跳转</a>
                    <input type="text" onBlur="document.getElementById('btnpre').href='{:U('Sales/goods',array('ctype'=>I('get.ctype', 1, 'intval'),'sid'=>I('get.sid'),'cid'=>I('get.cid')))}?page='+this.value">{$page}
                </div>
            </if>
        </div>
    </div>
</div>
<!-- 弹窗 -->
<div class="modal" id="DialogFrameModel">
    <div class="DialogFrameModel reveal-modal" style="margin-left:-325px;top:80px;">
    	<iframe id="DialogFrame" name="DialogFrame" src="" frameborder="0" width="0" height="0" scrolling="no" ></iframe>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Js/Merchant/common.js"></script>
<eq name="type" value="1">
<script type="text/javascript" src="__PUBLIC__/Js/Kindeditor/kindeditor.min.js"></script>
<script type="text/javascript">
var editor = KindEditor.editor({ uploadJson:"{:U('/Public/kindeditorUpload', '', true)}", imageUploadLimit:1, });
var ModuleType = '{$Think.get.ctype}';
$(function() {
	//上传图片
	$("#UploadImage").click(function() {
		editor.loadPlugin('image', function() {
			editor.plugin.imageDialog({
				showRemote:false, clickFn:function(url, title, width, height, border, align) {
					$('#ModuleIcon').attr("src", url); editor.hideDialog();
				}
			});
		});
	})
	
	//在线消费 最顶部 模块名称和ICON设置
	$("#ModuleUpdate").click(function() {
		var ModuleName = $.trim($("#ModuleName").val());
		var ModuleIcon = $("#ModuleIcon").attr('src');
		if( !ModuleName || !ModuleIcon || !ModuleType ) { alert("模块名称和ICON图标不能为空"); return false; }
		if(_length(ModuleName)>12){alert("模块名称不能超过6个汉字"); return false;}
		$.post("{:U('/Sales/resetModuleInfo', '', true)}", {ModuleName:ModuleName, ModuleIcon:ModuleIcon, ModuleType:ModuleType}, function( data ) {
			alert( parseInt(data) == 1 ? "设置成功" : "设置失败" );	
		})
	})
	
	var guide = "{$guide}";
	
	$(document).ready(function(){
		if(guide == 1){
			//遮罩
			var wHeight = $(document).height();
			$(".guide-layer").css('height', wHeight);
			$(".layer-4").show();
		}
	});
	$(".guide-layer").click(function(event) {
		$(".guide-layer").hide();
	});
});

function OrderMenu(cid,corder,type){
	$.post("{:U('/Sales/corderClass', '', true)}", {cid:cid, corder:corder, type:type,ctype:ModuleType}, function( data ) {
		if(data==1){
			$('#ClassList li').remove();
			$.get("{:U('/Sales/ajaxClass', '', true)}",{ctype:ModuleType}, function( result ) {
				$('#ClassList').html(result);
			});
		}
	});
}
function _length(str){
	var len=0;
	for(var i=0;i<str.length;i++){
		if(str.charAt(i)>'~'){len+=2;}else{len++;}
	}
	return len;
}
</script>
</eq>
</block>