<extend name="Public:common"/>
<block name="body">
<link rel="stylesheet" href="__PUBLIC__/Js/artDialog/css/ui-dialog.css">
<script src="__PUBLIC__/Js/artDialog/dist/dialog-min.js"></script>
<script src="__PUBLIC__/Js/jquery1.8.min.js"></script>
<style type="text/css">
input[type="text"] {border: 1px solid #e7e7eb;height: 26px;line-height: 26px;padding-left: 5px;width: 125px;}
.button { background:#00bae7; border:0 none; border-radius:2px; color:#Fff; min-width:80px; padding:8px 18px; position:relative; top:-2px; }
td a { border:1px solid #e7e7eb; color:#5da3ea; margin-right:5px; padding:5px 10px; }
.table td, .table th { border-top:none; vertical-align:middle; }
select {background: none repeat scroll 0 0 #f9f9f9; border-color: #666666 #cccccc #cccccc #666666;border-style: solid;border-width: 1px;color: #333333;padding: 2px;vertical-align: middle; height: 30px;}
.category_order { height:50px; display:block; line-height:50px; }
.category_order li { float:left; text-align:center; width:20%; }
.category_order li a { display:block; width:100%; height:100%; font-size:14px; }
.category_order li.on { border-bottom:2px solid #0099ff; }
</style>
<div class="wrapper">
    <h2 class="title">退货商品查看</h2>
    <div class="category_order">
    	<ul>
    		<li class="on"><a href="#">全部退货商品</a></li>
        	<li <eq name="Think.get.type" value="tab1">class="on"</eq>><a href="{:U(null,array('type'=>'tab1'))}">退货分析</a></li>
        </ul>
    </div>
    <div class="mian padding">
        <div class="content_c">
            <form action="__ACTION__" method="get">
            	<input type="text" class="user_input" placeholder="开始时间" readonly="readonly" size="6" value="{$Think.get.statime}" id="statime" name="statime">
                <label class="fl mlr5">-</label>
                <input type="text" class="user_input" placeholder="结束时间" readonly="readonly" size="6" value="{$Think.get.endtime}" id="endtime" name="endtime">&nbsp;&nbsp;
                
                <input type="text" autocomplete="off" placeholder="订单号"  value="{$Think.get.o_id}" name="o_id" />&nbsp;
                <select name="sp_reason" class="fl">
                    <option value="" <if condition="$_GET['sp_reason']==''">selected="selected"</if>>退货原因</option>
                    <volist name="reasons" id="vo">
                        <option value="{$key}" <if condition="$_GET['sp_reason'] == $key && $_GET['sp_reason']!=''">selected="selected"</if>>{$vo|strip_tags=###}</option>
                    </volist>
                </select>

                <select name="sp_otype" class="fl">
                    <option value="" <if condition="$_GET['sp_otype']==''">selected="selected"</if>>支付方式</option>
                    <volist name="otypes" id="vo">
                        <option value="{$key}" <if condition="$_GET['sp_otype'] == $key && $_GET['sp_otype']!=''">selected="selected"</if>>{$vo|strip_tags=###}</option>
                    </volist>
                </select>
                <input type="submit" value="开始搜索" class="button">
            </form>
        </div>
        <div style="width:100%;height:15px;"></div>
		<table class="table border-b"><tbody>
			<tr>
				<th>门店/单号</th>
				<th width="100px">商品名称</th>
				<th width="100px">商品图像</th>
				<th width="100px">退货价格</th>
				<th width="50px">退货时间</th>
				<th>退货原因</th>
				<th width="130px">支付方式</th>
			</tr>
			<volist name="datalist" id="vo">
			<tr>
				<td><?php echo $shops[$vo['sp_sid']];?><br/>单号：..{$vo.sp_oid|substr=###,-10}</td>
				<td>{$vo.sp_name}</td>
				<td><img style="width:40;height:40px;" src="{$vo.sp_img}"></td>
				<td>{$vo.sp_gdprice}X{$vo.sp_number}
				<br/>=￥<php>echo $vo['sp_gdprice']*$vo['sp_number'];</php></td>
				<td>{$vo.sp_date}</td>
				<td><?php if($vo['sp_reason']==10)echo $vo['sp_cause']; else echo $reasons[$vo['sp_reason']];?></td>
				<td><?php echo $otypes[$vo['sp_otype']];?></td>
				
			</tr>
			</volist>
		</tbody></table>

    </div>
    
	<!-- 分页 -->
   <if condition="$pages">
        <div class="page clearfix">
            <a href="javascript:void(0)" class="btnpre" id="btnpre">跳转</a>  
            <input style="width:40px;" type="text" onBlur="document.getElementById('btnpre').href='<php>$get=I('get.');unset($get['page']);echo U().'?'.http_build_query($get);</php>&page='+this.value">{$pages}
        </div>
    </if>
    <script type="text/javascript" src="__PUBLIC__/Js/Calendar/calendar.js"></script>
	<script type="text/javascript">
	Calendar.setup({ inputField:"statime", trigger:"statime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });
	Calendar.setup({ inputField:"endtime", trigger:"endtime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });
	</script>
</div>
</block>