<extend name="Public:common"/>
<block name="body">
<import type='js' file="Js.bdMap" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="__PUBLIC__/Css/merchant/guideLayer.css">
<style type="text/css">
input[type="password"] { border:1px solid #e7e7eb; font-size:14px; height:32px; line-height:32px; padding-left:8px; width:320px; }
select {
    background: #f9f9f9 none repeat scroll 0 0;
    border-color: #666666 #cccccc #cccccc #666666;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    padding: 2px;
    vertical-align: middle;
	height: 32px;
}
</style>
<div class="wrapper">
    <h2 class="title">分店管理/添加分店<input type="button" value="<返回" onClick="window.location.href='{:U('/Shop/index', '', true)}'"></h2>
    <div class="mian padding">
         <form action="__ACTION__" method="post" onsubmit="return checkForm();">   
            <div class="set">
                <label><font color="red">*</font>店铺名称</label><input type="text" name="info[sname]" placeholder="请输入店铺名称" id="sname" value="{$shop.sname}">
            </div>
            <div class="set">
                <label><font color="red">*</font>logo标志</label>
                <input type="text" name="info[logo]" id="UPLOAD_LOGO_VALUE" placeholder="请上传logo" readonly="readonly" value="{$shop.logo}">
                <input type="button" onclick="uploadImageFun('LOGO')" value="上传logo" class="btn btn-pwd" />
                <img src="{$shop.logo}" style="width:100px;height:100px;" />
            </div>
            <div class="set">
                <label><font color="red">*</font>服务热线</label><input type="text" name="info[mservetel]" placeholder="请输入服务热线" value="{$shop.mservetel}">
            </div>
            <div class="set">
                <label>一级域名</label><input type="text" name="info[domain]" placeholder="请输入一级域名" value="{$shop.domain}">
            </div>
            <div class="set">
                <label><font color="red">*</font>门店地址</label><input type="text" name="info[saddress]" placeholder="请输入门店地址" value="{$shop.saddress}">
            </div>
            <div class="set">
                <label><font color="red">*</font>门店坐标</label><input type="text" name="coordinates" placeholder="请在下方地图查找标注" autocomplete="off" id="coordinates"  readonly = "readonly" style="background:#eeeeee;" value="{$shop.lng},{$shop.lat}">
            </div>
            <div class="set">
				<label>您的门店地图</label>
				<input type="text" class="dfinput " name="saddress" id="search" value="{$va.saddress}" placeholder="请手动输入方便百度地图更好的查找！" value="{$shop.saddress}" />
				<input type="button" value="地图上找"  name="search_api" id="search_api" class="btn btn-pwd"  onClick="sear(document.getElementById('search').value);" >
			</div>
            <div class="map top"><div id="map1" style="height:350px;width:500px;border:1px solid #bcbcbc;"> </div></div>
			<script type="text/javascript">
			var mapx = "{$shop.lng},{$shop.lat}";
			ShowMap("map1",{ismove:'1',mapx:mapx,piobj:'coordinates'});
			</script>
			<div class="set">
                <label>起送价</label><input type="text" name="info[qsj]" placeholder="请输入起送价" value="{$shop.qsj}">元
            </div>
            <div class="set">
                <label>配送价</label><input type="text" name="info[psj]" placeholder="请输入配送价" value="{$shop.psj}">元
            </div>
            <div class="set">
                <label>平均配送时间</label><input type="text" name="info[ps_time]" placeholder="请输入平均配送时间" value="{$shop.ps_time}">分钟
            </div>
             <div class="set">
                <label>营业时间</label><input type="text" name="info[yy_stime]" id="yy_stime" value="{$shop.yy_stime}"> - <input type="text" name="info[yy_etime]" id="yy_etime" value="{$shop.yy_etime}">
              <font color="red"> 正确的时间格式为:  HH.MM     例如:05:05或者14.30 </font>
            </div>
            <div class="set">
                <label>商家信息</label><textarea name="info[mexplain]"></textarea>
			</div>
            <div class="set">
                <label>白班时间</label><input type="text" name="info[bb_stime]" id="bb_stime" value="{$shop.bb_stime}"> - <input type="text" name="info[bb_etime]" id="bb_etime" value="{$shop.bb_etime}">
            <font color="red"> 正确的时间格式为:  HH.MM     例如:05:05或者14.30 </font>
            </div>
            <div class="set">
                <label>晚班时间</label><input type="text" name="info[wb_stime]" id="wb_stime" value="{$shop.wb_stime}"> - <input type="text" name="info[wb_etime]" id="wb_etime" value="{$shop.wb_etime}">
            <font color="red"> 正确的时间格式为:  HH.MM     例如:05:05或者14.30 </font>
            </div>
            <div class="set">
                <label>营业执照</label><input type="text" name="info[license]" id="UPLOAD_license_VALUE" placeholder="请上传营业执照" readonly="readonly" value="{$shop.license}">
                <input type="button" onclick="uploadImageFun('license')" value="上传营业执照" class="btn btn-pwd" />
            </div>
            <div class="set">
                <label>餐饮服务许可证</label><input type="text" name="info[permit]" id="UPLOAD_permit_VALUE" placeholder="请上传餐饮服务许可证" readonly="readonly" value="{$shop.permit}">
                <input type="button" onclick="uploadImageFun('permit')" value="上传许可证" class="btn btn-pwd" />
            </div>
            <div class="set">
                <label>微信公众号</label><input type="text" name="info[weixin_name]" placeholder="请输入微信公众号" value="{$shop.weixin_name}">
            </div>
            <div class="set">
                <label>二维码</label><input type="text" name="info[weixin_pic]" id="UPLOAD_weixin_pic_VALUE" placeholder="请上传二维码" readonly="readonly" value="{$shop.weixin_pic}">
                <input type="button" onclick="uploadImageFun('weixin_pic')" value="上传二维码" class="btn btn-pwd" />
            </div>
            <div class="set">
                <label>QQ</label><input type="text" name="info[qq]" placeholder="请输入QQ" value="{$shop.qq}">
            </div>
            <div class="set">
                <label>状态</label><input type="radio" name="info[is_show]" <if condition="$shop.is_show eq 1">checked</if> value="1">显示  <input type="radio" name="info[is_show]" value="0" <if condition="$shop.is_show eq 0">checked</if>>隐藏
            </div>
 
            <div class="set top">
            <input type="hidden" name="info[sid]" value="{$shop.sid}" />
                <input type="submit" class="btn btn-pwd" value="确认">
                <input type="button" class="btn btn-hui" value="修改">
            </div>
        </form>
<script type="text/javascript" src="__PUBLIC__/Js/Kindeditor/kindeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Calendar/calendar.js"></script>
<script type="text/javascript">
//Calendar.setup({ inputField:"yy_stime", trigger:"yy_stime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });
//Calendar.setup({ inputField:"yy_etime", trigger:"yy_etime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });
//Calendar.setup({ inputField:"bb_stime", trigger:"bb_stime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });
//Calendar.setup({ inputField:"bb_etime", trigger:"bb_etime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });
//Calendar.setup({ inputField:"wb_stime", trigger:"wb_stime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });
//Calendar.setup({ inputField:"wb_etime", trigger:"wb_etime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });
var editor = KindEditor.editor({ uploadJson:"{:U('/Public/kindeditorUpload', '', true)}", imageUploadLimit:1, });

function uploadImageFun(id) {
	editor.loadPlugin('image', function() {
		editor.plugin.imageDialog({
			showRemote:false, 
			clickFn:function(url, title, width, height, border, align) {
				$('#UPLOAD_'+id+'_VALUE').val(url); editor.hideDialog();
			}
		});
		$(".ke-dialog-body").append('<div>温馨提示：图片大小不超过200K，规格：180 * 180，图片格式为 jpg,jpeg,png</div>');
	});	
}
</script>

<script type="text/javascript">
var reg=/^0?1[3|4|5|7|8][0-9]\d{8}$/;
var filter=/^((0\d{2,3})-)(\d{7,8})$/;
var ttt = /^(([0-1]\d)|(2[0-4])|([0-9])).[0-5]\d$/;
function checkForm(){
	var sname=$("#sname").val();
	var logo=$("input[name='info[logo]']").val();
	var mservetel=$("input[name='info[mservetel]']").val();
	var saddress=$("input[name='info[saddress]']").val();
	var coordinates=$("#coordinates").val();
	
	
	if(sname==""){alert("门店名称不能为空！");return false;}
	if(logo==""){alert("logo不能为空！");return false;}
	if(mservetel==""){alert("服务热线不能为空！");return false;}
	if(saddress==""){alert("门店地址不能为空！");return false;}
	if(!coordinates){alert("门店地图没有标注哦！");return false;}
	
	var yy_stime = $("#yy_stime").val();
	if(yy_stime){
		if(!ttt.test(yy_stime)){
			alert("营业开始时间的格式错误,正确的时间格式为HH:MM");return false;
		}
	}
	var yy_etime = $("#yy_etime").val();
	if(yy_etime){
		if(!ttt.test(yy_etime)){
			alert("营业结束时间的格式错误,正确的时间格式为HH:MM");return false;
		}
	}
	var bb_stime = $("#bb_stime").val();
	if(bb_stime){
		if(!ttt.test(bb_stime)){
			alert("白班开始时间的格式错误,正确的时间格式为HH:MM");return false;
		}
	}
	var bb_etime = $("#bb_etime").val();
	if(bb_etime){
		if(!ttt.test(bb_etime)){
			alert("白班结束时间时间的格式错误,正确的时间格式为HH:MM");return false;
		}
	}
	var wb_stime = $("#wb_stime").val();
	if(wb_stime){
		if(!ttt.test(wb_stime)){
			alert("晚班开始时间的格式错误,正确的时间格式为HH:MM");return false;
		}
	}
	var wb_etime = $("#wb_etime").val();
	if(wb_etime){
		if(!ttt.test(wb_etime)){
			alert("晚班结束时间的格式错误,正确的时间格式为HH:MM");return false;
		}
	}
	
	return true;
}
var guide = "{$guide}";
$(function(){
	$(document).ready(function(){
		if(guide == 1){
			//遮罩
			var wHeight = $(document).height();
			$(".guide-layer").css('height', wHeight);
			$(".layer-3").show();
		}
		$("#SelectScity").change(function() {
			var value = $(this).val(); SetAddressValue();
			if( value ) { $("#SelectQcity,#SelectHcity").hide(); $.get("{:U('/Shop/publicGetaddress', '', true)}", {pid:value}, function( data ) { 
				if(data) $("#SelectHcity").show(); else $("#SelectHcity").hide(); $("#SelectHcity").html( data ); SetAddressValue(); $.get("{:U('/Shop/publicGetaddress', '', true)}", {pid:$("#SelectHcity").val()}, function( data ) { 
				if(data) $("#SelectQcity").show(); else $("#SelectQcity").hide(); $("#SelectQcity").html( data ); SetAddressValue(); })
			})}
		})
		$("#SelectHcity").change(function() {
			var value = $(this).val(); SetAddressValue();
			if( value ) { $.get("{:U('/Shop/publicGetaddress', '', true)}", {pid:value,dval:''}, function( data ) { 
				if(data) $("#SelectQcity").show(); else $("#SelectQcity").hide(); $("#SelectQcity").html( data ); SetAddressValue(); 
			})}
		})
		$("#SelectQcity").change(function() { var value=$(this).val(); if( value ) { $("#ShopScity").val(value); } SetAddressValue(); })
	});
	$(".guide-layer").click(function(event) {
		$(".guide-layer").hide();
	});
	
	$("#UPLOAD_EXTERIOR_VALUE").click(function() {
		var image_src = $(this).val();
		if( !image_src ) return false;
		var KindeditorDialog = KindEditor.dialog({
			width : 700,
			height: 370,
			title : '预览图片',
			body  : '<img src="'+image_src+'" />',
			closeBtn : { name:'关闭', click:function(e) { KindeditorDialog.remove(); KindeditorDialog=null; } }
		});
	})
});
function SetAddressValue() {
	/*
	if($("#SelectQcity").is(":visible")) {
		$("#ShopScity").val($("#SelectQcity").val());
	} else if($("#SelectHcity").is(":visible")) {
		$("#ShopScity").val($("#SelectHcity").val());
	} else {
		$("#ShopScity").val($("#SelectScity").val());	
	}*/
}
</script>
    </div>
</div>	
</block>