<extend name="Public:common"/>
<block name="body">
<style type="text/css">
.button { background:#00bae7; border:0 none; border-radius:2px; color:#Fff; min-width:80px; padding:8px 18px; position:relative; top:-2px; }
td a { border:1px solid #e7e7eb; color:#5da3ea; margin-right:5px; padding:5px 10px; }
.table td, .table th { border-top:none; }
</style>
	<div class="wrapper">
	
		
		<div class="mian padding">
			<div class="content_c">
				<input type="button" value="添加桌号" onClick="DialogFrameFun(650, 500, '/Shop/addTable/sid/{$sid}.html')">
			</div>
			<div class="content_a top">
				<table class="table border-b">
					<tr>
                    <th width="10%">编号</th>
                    <th width="20%">桌号</th>
                    <th width="20%">人数</th>
                    <th width="30%">二维码</th>
                    <th width="20%">操作</th>
                </tr>
					<foreach name="table" item="v"> 
                            <tr>
                                <td>{$v.id}</td>
                                <td>{$v.title}</td>
                                <td>{$v.number}</td>
                                <td><img src="{:U('/Shop/makeQrcode',array('id'=>$v[id]))}" alt=""></td>
                                <td class="vertical">
                                    <input type="button" value="修改" class="addshopp" onClick="DialogFrameFun(650, 500, '/Shop/edTable/tid/{$v.id}.html')">
                                    <input type="button" value="删除" class="btndelete" onClick="dl('{$v.id}')">
                                </td>
                            </tr>
                        </foreach>	
				</table>
				
			</div>
		</div>
	</div>

<div class="modal" id="DialogFrameModel">
    <div class="DialogFrameModel reveal-modal" style="margin-left:-325px;">
    	<iframe id="DialogFrame" name="DialogFrame" src="" frameborder="0" width="0" height="0" scrolling="no" ></iframe>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Js/Merchant/common.js"></script>
<script type="text/javascript">
function dl(id){
	if(confirm('确定要删除吗?')){
		$.post('/Shop/delTable', {id:id}, function(data) {
		    window.location.reload();
		})
	}
}
</script>
</block>