<extend name="Public:common"/>
<block name="body">
<style type="text/css">
.button { background:#00bae7; border:0 none; border-radius:2px; color:#Fff; min-width:80px; padding:8px 18px; position:relative; top:-2px; }
td a { border:1px solid #e7e7eb; color:#5da3ea; margin-right:5px; padding:5px 10px; }
.table td, .table th { border-top:none; }
</style>
	<div class="wrapper">
	
		
		
		
		<div class="mian padding">
			<div class="content_c">
				<form action="__ACTION__" method="post">
                	
                    <label>模糊搜索</label> <input type="text" name="keywords" value="{$Think.post.keywords}" placeholder="搜索：手机号">
                    
                    <input type="submit" value="开始搜索" class="button">
                </form>
			</div>
			<div class="content_a top">
				<table class="table border-b">
					<tr>
						
						<th width="100px">会员昵称</th>
						<th width="100px">手机</th>
						<th width="100px">来源</th>
						<?php if(in_array("$jid",$MEMBER_B)):?>
							<th width="100px">是否特权会员</th>
						<?php else:?>
							<th width="100px">是否VIP</th>
						<?php endif;?>
						<th>注册时间</th>
						<th>最后登录</th>
					</tr>
					<foreach name="userlist" item="v">
					<tr>
						
						<td>{$v.flu_nickname}</td>
						<td>{$v.flu_phone}</td>
						<td>
						<if condition="$v[flu_source] eq 1">qq
						<elseif condition="$v[flu_source] eq 2"/>微博
						<elseif condition="$v[flu_source] eq 3"/>微信
						<else />系统
						</if>
						</td>
						<td>
						<?php if(in_array("$jid",$MEMBER_B)):?>
							<if condition="$v[flu_privilege] eq 1">
								<img src="__PUBLIC__/Images/onSuccess.gif" class="status-{$v['flu_userid']} change-status" id="status_1" fid="{$v['flu_userid']}">
							<else />
								<img src="__PUBLIC__/Images/status_0.gif" class="status-{$v['flu_userid']} change-status" id="status_0" fid="{$v['flu_userid']}">
							</if>
						<?php else:?>
							<if condition="$v[flu_usertype] eq 1">
								VIP会员
							<else />
								普通会员
							</if>
						<?php endif;?>
						</td>
						<td>{$v.flu_regtime}</td>
						<td>{$v.flu_lasttime}</td>
					</tr> 
					</foreach>
				</table>
				<if condition="$pages">
                    <div class="page clearfix">
                        <a href="javascript:void(0)" class="btnpre" id="btnpre">跳转</a>
                        <input type="text" onBlur="document.getElementById('btnpre').href='{:U()}?page='+this.value">{$pages}
                    </div>
                </if>
			</div>
		</div>
	</div>

<script type="text/javascript">
	/**
	 * 修改特级会员状态
	 */
	$('.change-status').click(function(){
		var status    = 'status_0';
		var privilege = 0;
		var flu_userid= $(this).attr('fid');
		var src       = "__PUBLIC__/Images/status_0.gif";
		
		if ($(this).attr('id') == 'status_0'){
			src       = "__PUBLIC__/Images/onSuccess.gif";
			privilege = 1;
			status    = 'status_1';
		}

		$.post("{:U('User/changePrivilege')}" , {'privilege':privilege , 'flu_userid':flu_userid} , function(data){
			if (data){
				$('.status-'+flu_userid).attr('src',src);
				$('.status-'+flu_userid).attr('id',status);
				return true;
			}else{
				alert("修改失败");
				return false;
			}
		});
		
	})
</script>
</block>