<extend name="Public:common"/>
<block name="body">
<style type="text/css">
.button { background:#00bae7; border:0 none; border-radius:2px; color:#Fff; min-width:80px; padding:8px 18px; position:relative; top:-2px; }
td a { border:1px solid #e7e7eb; color:#5da3ea; margin-right:5px; padding:5px 10px; }
.table td, .table th { border-top:none; }
select {background: none repeat scroll 0 0 #f9f9f9; border-color: #666666 #cccccc #cccccc #666666;border-style: solid;border-width: 1px;color: #333333;padding: 2px;vertical-align: middle; height: 30px;}
</style>
	<div class="wrapper">
		<if condition="$type eq 1">
		<h2 class="title">会员管理 | <a href="{:U('User/rebate')}" style="text-decoration:underline;">返利会员管理</a></h2>
		<else />
		<h2 class="title">会员管理</h2>
		</if>
		<div class="mian padding">
			<div class="content_c">
				<form action="__ACTION__" method="get">
                	<eq name="type" value="1">
                    <label>模糊搜索</label> <input type="text" name="keywords" value="{$Think.post.keywords}" placeholder="请输入会员会员昵称或者姓名">
                    <else/>
                    <label>模糊搜索</label> <input type="text" name="keywords" value="{$Think.post.keywords}" placeholder="请输入会员会员昵称或者姓名">
                    </eq>
					来源：<select class="fl" name="u_source">
						<option selected="selected" value="">全部</option>
						<option value="qq">QQ</option>
						<option value="sina">微博</option>
						<option value="weixin">微信</option>                
					</select>

                    <input type="submit" value="开始搜索" class="button">
                </form>
			</div>
			<div class="content_a top">
				<table class="table border-b">
					<tr>
						<th width="100px">会员图像</th>
						<th width="100px">会员昵称</th>
						<th width="50px">来源</th>
						<th>门店来源</th>
						<th>注册时间</th>
						<th width="130px">最后登录</th>
					</tr>
					<php>$usource=array(1=>'qq',2=>'sina',3=>'weixin');</php>
					<foreach name="userlist" item="v">
					<tr>
						<td><img src="{$v.u_avatar}" style="width:40;height:40px;"></td>
						<td>{$v.u_name}</td>
						<td>{$usource[$v['u_source']]?$usource[$v['u_source']]:$v['u_source']}</td>
						<td>——</td>
						<td>{$v.u_regtime}</td>
						<td>{$v.u_lasttime}</td>
					</tr> 
					</foreach>
				</table>
				<if condition="$pages">
                    <div class="page clearfix">
                        <a href="javascript:void(0)" class="btnpre" id="btnpre">跳转</a>
                        <input type="text" onBlur="document.getElementById('btnpre').href='<php>$get=I('get.');unset($get['page']);echo U().'?'.http_build_query($get);</php>&page='+this.value">{$pages}
                    </div>
                </if>
			</div>
		</div>
	</div>
</block>