<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>绑定手机</title>
<link rel="stylesheet" href="__PUBLIC__/Merchantapp/css/normalize.css">
<link rel="stylesheet" href="__PUBLIC__/Merchantapp/css/sj.css">
<script>
//10px 1rem;
!function(){function a(){if(document.documentElement.clientWidth<600){document.documentElement.style.fontSize=document.documentElement.clientWidth/32+"px"}else{document.documentElement.style.fontSize="16.875px"}}var b=null;window.addEventListener("resize",function(){clearTimeout(b),b=setTimeout(a,300)},!1),a()}(window);
</script>
</head>
<body <eq name="runmode" value="macapp">class="ios"</eq>>
	<header class="header">
		<h1>绑定手机</h1>
		<a href="javascript:window.history.go(-1);" class="ico header-back"></a>
		<a href="javascript:;" class="ico header-more"></a>
	</header>
	<div class="main container p-65">
		<div class="bg-block img-device bound"></div>
		<div class="input-list">
			<ul>
				<li>
					<span>已绑定</span>
					<p>{$phone}</p>
				</li>
			</ul>
		</div>
		<!--<div class="div-a">
			<a class="btn btn-block btn-lg btn-blue" href="javascript:window.location.href='{:U('/Index/bindphone', array('s'=>1))}';">修改</a>
		</div>-->
	</div>
</body>
</html>