<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>修改密码</title>
<link rel="stylesheet" href="__PUBLIC__/Merchantapp/css/normalize.css">
<link rel="stylesheet" href="__PUBLIC__/Merchantapp/css/sj.css">
<script>
//10px 1rem;
!function(){function a(){if(document.documentElement.clientWidth<600){document.documentElement.style.fontSize=document.documentElement.clientWidth/32+"px"}else{document.documentElement.style.fontSize="16.875px"}}var b=null;window.addEventListener("resize",function(){clearTimeout(b),b=setTimeout(a,300)},!1),a()}(window);
</script>
</head>
<body <eq name="runmode" value="macapp">class="ios"</eq>>
	<header class="header">
		<h1>修改密码</h1>
		<a href="{:U('/Index/setinfo')}" class="ico header-back"></a>
		<a href="javascript:;" class="ico header-more"></a>
	</header>
	<div class="main container p-65">
		<div class="input-list">
			<ul>
				<li>
					<input type="password" id="password" placeholder="当前密码">
					<a class="ico ico-eye" href="javascript:;"></a>
					<p></p>
				</li>
                <if condition="!$phone">
                   	<li>
						<input type="number" id="phonevalue" maxlength="11" value="" placeholder="请输入手机号">
						<a class="btn btn-o" id="SendButton" href="javascript:;">发送验证码</a>
						<p></p>
					</li>
                <else/>
                    <li>
                        <input disabled value="{$phone|substr=###,0,3}***{$phone|substr=###,8}" type="text">
                        <input id="phonevalue" value="{$phone}" type="hidden">
                        <a class="btn btn-o" id="SendButton" href="javascript:;">发送验证码</a>
						<p></p>
                    </li>
                </if>
				<li>
					<input id="phonecode" type="number" placeholder="请输入验证码">
					<a class="ico ico-clear" href="javascript:;"></a>
				</li>
			</ul>
		</div>
		<div class="div-a">
			<a class="btn btn-block btn-lg btn-blue" id="SendForm" href="javascript:;">确认</a>
		</div>

	</div>

	<div class="modal" id="item-details">
		<div class="modal-backdrop"></div>
		<div class="modal-dialog modal-s">
			<div class="modal-content">
				<div class="modal-body">
					<i class="ico ico-no"></i>
					<p id="item-details-error">发送验证码失败</p>
				</div>
			</div>
		</div>
	</div>

	<script src="__PUBLIC__/Merchantapp/js/jquery-2.1.3.min.js"></script>
	<script>
		$("#SendButton").click(function() {
			var phonevalue = $("#phonevalue").val();
			if( !/^13[0-9]{9}$|^15[0-9]{9}$|^18[0-9]{9}$|^147[0-9]{9}$/.test(phonevalue) ) {
				$("#item-details-error").html("请输入正确的手机号"); $("#item-details").show();
			} else {
				$.get("{:U('/Index/pushmsg')}", {tel:phonevalue}, function( data ) {
					if( parseInt(data)==1 ) {
						$("#SendButton").html("60s");
						var timeInterval = setInterval(function() {
							var time = parseInt($("#SendButton").html()); time--;
							$("#SendButton").html( time + "s" );
							if(parseInt(time) <= 0) { 
								$("#SendButton").html("发送验证码"); clearInterval(timeInterval); 
							}
						}, 1000);					
					} else {
						$("#item-details-error").html("发送验证码失败"); $("#item-details").show();
					}
				});	
			}
		})
		
		
		$("#SendForm").click(function() {
			var password = $("#password").val();
			if( !password ) {
				$("#item-details-error").html("当前密码不能为空"); $("#item-details").show();
				return false;
			}	
			
			var phonevalue = $("#phonevalue").val();
			if( !/^13[0-9]{9}$|^15[0-9]{9}$|^18[0-9]{9}$|^147[0-9]{9}$/.test(phonevalue) ) {
				$("#item-details-error").html("手机号格式不正确"); $("#item-details").show();
				return false;
			}
			
			var code = $("#phonecode").val();
			if( !/^[0-9]{4}$/.test(code) ) {
				$("#item-details-error").html("验证码格式不正确"); $("#item-details").show();
				return false;
			}
			
			$.post("/Index/changepwd", {code:code, pwd:password}, function(data) {
				var data = parseInt(data);
				switch( data ) {
					case 2: 
						$("#item-details-error").html("验证码输入错误"); $("#item-details").show();
					break;
					case 3:
						$("#item-details-error").html("当前密码输入错误"); $("#item-details").show();
					break;
					case 1:
						window.location.href="{:U('/Index/changepwdt', '')}";
					break;
					default:
						$("#item-details-error").html("验证失败"); $("#item-details").show();
					break;				
				}
			})
		})
		
		$(".modal-backdrop, .modal-dialog").click(function(ev) {
			$(".modal").hide();
		});
		$(".modal-content").click(function(ev) {
		//	ev.stopPropagation();
		});
	</script>
</body>
</html>