<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>客流监控</title>
<link rel="stylesheet" href="__PUBLIC__/Merchantapp/css/normalize.css">
<link rel="stylesheet" href="__PUBLIC__/Merchantapp/css/sj.css">
<script>
//10px 1rem;
!function(){function a(){if(document.documentElement.clientWidth<600){document.documentElement.style.fontSize=document.documentElement.clientWidth/32+"px"}else{document.documentElement.style.fontSize="16.875px"}}var b=null;window.addEventListener("resize",function(){clearTimeout(b),b=setTimeout(a,300)},!1),a()}(window);
</script>
</head>
<body <eq name="runmode" value="macapp">class="ios"</eq>>
	<header class="header">
		<h1>客流监控</h1>
		<a href="{:U('/Index/index')}" class="ico header-back"></a>
	</header>
	<div class="main container p-t">
		<ul class="shop-list">
        	<volist name="shoplist" id="shop">
             <li>
				<a href="{:U('/Monitor/monitorinfo', array('sid'=>$shop['sid']))}">
					<div class="shop-titie"><h3>{$shop.sname}</h3></div>
					<p><span>设备数：{$shop.countnum}</span></p>
					<i class="ico ico-right"></i>
				</a>
			 </li>
             </volist>
		</ul>
	</div>
</body>
</html>