<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>用户消息</title>
<link rel="stylesheet" href="__PUBLIC__/Merchantapp/css/sj.css">
<script>
//10px 1rem;
!function(){function a(){if(document.documentElement.clientWidth<600){document.documentElement.style.fontSize=document.documentElement.clientWidth/32+"px"}else{document.documentElement.style.fontSize="16.875px"}}var b=null;window.addEventListener("resize",function(){clearTimeout(b),b=setTimeout(a,300)},!1),a()}(window);
</script>
</head>
<body <eq name="runmode" value="macapp">class="ios"</eq>>
	<header class="header">
		<h1>{$username}</h1>
		<a href="javascript:window.history.go(-1);" class="ico header-back"></a>
	</header>
	<div class="main container p-64">
		<div class="msg-body">
        	<volist name="opinion" id="vo">
            <div class="msg-time">{$vo.op_addtime|date='Y-m-d H:i:s'}</div>
			<div class="msg-user clearfix">
				<img src="{$useravatar|default='/Public/Merchantapp/images/nopic1.png'}" alt="">
				<div class="msg-txt-user clearfix">
					<span class="ico"></span>
					<p>{$vo.op_content}</p>
				</div>
			</div>
			<div class="msg-kefu clearfix">
				<img src="{$merchantlo|default='/Public/Merchantapp/images/nopic1.png'}" alt="">
				<div class="msg-txt-kefu">
					<span class="ico"></span>

                    <if condition="$vo['op_replytxt']">
                   		<p>{$vo.op_replytxt}</p>
                    <else/>
                    	<p>{$vo.AutoReply|default='暂未回复'}</p>
                    </if>
				</div>
			</div>
            </volist>
            
        
			
            
			
		</div>
        <!--
		<div class="msg-input">
			<input type="text"  placeholder="回复...">
		</div>
        -->
	</div>
</body>
</html>