
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
  
 
}
@font-face {font-family: "iconfont";
   src: url('icomoon.eot'); /* IE9*/
  src: url('icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('icomoon.woff') format('woff'), /* chrome、firefox */
  url('icomoon.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('icomoon.svg#icomoon') format('svg'); /* iOS 4.1- */
}





.iconfont {
  font-family:"iconfont" !important;

  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icons42:before { content: "\e68c"; }

.icon-icons33:before { content: "\e68b"; }

.icon-icons30:before { content: "\e687"; }

.icon-icons31:before { content: "\e688"; }

.icon-icons32:before { content: "\e689"; }

.icon-icons28:before { content: "\e685"; }

.icon-icons29:before { content: "\e686"; }

.icon-icons25:before { content: "\e682"; }

.icon-icons26:before { content: "\e683"; }

.icon-icons27:before { content: "\e684"; }

.icon-icons23:before { content: "\e680"; }

.icon-icons24:before { content: "\e681"; }

.icon-icons21:before { content: "\e67e"; }

.icon-icons22:before { content: "\e67f"; }

.icon-icons20:before { content: "\e67d"; }

.icon-icons17:before { content: "\e67a"; }

.icon-icons18:before { content: "\e67b"; }

.icon-icons19:before { content: "\e67c"; }

.icon-icons15:before { content: "\e678"; }

.icon-icons16:before { content: "\e679"; }

.icon-icons13:before { content: "\e676"; }

.icon-icons14:before { content: "\e677"; }

.icon-icons10:before { content: "\e673"; }

.icon-icons11:before { content: "\e674"; }

.icon-icons12:before { content: "\e675"; }

.icon-icons07:before { content: "\e670"; }

.icon-icons08:before { content: "\e671"; }

.icon-icons09:before { content: "\e672"; }

.icon-icons05:before { content: "\e66e"; }

.icon-icons06:before { content: "\e66f"; }

.icon-icons02:before { content: "\e66b"; }

.icon-icons03:before { content: "\e66c"; }

.icon-icons04:before { content: "\e66d"; }

.icon-icons01:before { content: "\e66a"; }


