body { background:#eeeeee; margin:0px; padding:0px; padding-bottom:46px; font-size:16px; overflow-x:hidden; font-family: "微软雅黑"  }
.red{ color:#ff5f3e;}
.redx{ color: #ff4b27;}
.bluex{ color: #00c4f3;}
.yellowx{ color: #ff9a00;}
.orange{ color: #ff4400;}
.padding10{ padding:1rem;}
.container-fluid{ }
h4,h3,h5,h6,h1,h2{ font-weight:normal;}
label,button,input,a,textarea{ outline: none !important;}
input{ -webkit-appearance:none;}
input:focus{ -webkit-appearance:none; outline: none !important;}
textarea{ resize: none !important; -webkit-appearance:none;}
textarea:focus{ outline: none !important; -webkit-appearance:none;}
ul.list-group { border-radius:0px;}
.list-group .list-group-item > label{ padding:0px; width:39%;  }
a{ color: #000;}
a:hover,
a:focus {
    text-decoration: none;
}

li,ul{ list-style:none; padding:0px; margin:0px;}

.checkbox input{ visibility:hidden;}

.ct-topnav{ position:absolute; top:0; z-index:10;  width:100%; height:45px; background: #eee; padding-top: 8px; }
.ct-topnav .col-xs-2{ padding-right:0.5rem;  }
.ct-topnav > div { height:30px; line-height:30px; padding:0; }
.ct-notice{
    border-radius:0.5rem;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    display:block;
    background:url(ico_notice.png) #fff no-repeat 0.5rem center; padding-left:3rem; background-size:1.5rem;
    white-space:nowrap;text-overflow:ellipsis;
    color:#434343;
    position: absolute; top: 5rem; left: 15px; width: calc(100% - 30px); height: 30px;z-index: 8;
}

.ct-navlist span{  font-size:1.8rem; background:url(ico_square.png) no-repeat right 1.3rem; background-size:0.8rem;  margin:0 auto; padding:0; padding-right:1rem; font-family:"黑体", "楷体", "微软雅黑", "宋体", "新宋体", Arial }



.ct-menu .slides .menu-hover{display:none;position:absolute; right:10px; bottom:35px;  -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; width:14px; height:14px;   background:#F00; border:2px solid #fff; z-index:1000;}
.ct-menu .slides li{ position:relative;}
.ct-menu .slides li:hover .menu-hover{ display:block;}


.ct-control > div{ padding:0;}
.ct-control img{  max-height:20px; float:left; }

.ct-banner{background-color:#FFF;  position: relative; }

.ct-banner ul li {
    float: left;
}

.ct-menu{ padding-top:1.5rem; padding-bottom:1rem; background-color:#FFF; margin-bottom: 10px; }
.ct-menu .col-xs-2{ width:20%; padding:1rem;}
.ct-menu a{ color:#666;}
.ct-menu h6{ font-size:1.3rem;}

.ct-title{ background:url(ico_title.png)  no-repeat 0.5rem top; background-size:10px auto; padding-left:2.4rem; font-size:1.8rem;  padding-bottom:0.5rem; color:#1b1b1b; font-weight:normal; margin-top:1.3rem; margin-bottom: 5px;}
.ct-title.tred{ background-image:url(ico_title2.jpg);}

.ct-xptj{ background:#fff; padding:0.5rem; padding-left:0.8rem; padding-right:0.8rem; float: left; width: 100%; }
.ct-xptj .libody{ padding:0;  border: 1px solid #e0e0e0; border-radius: 5px; width: 100%; /*margin:0.2rem 0.5% 0.6rem; width: 32%;*/ background: #fff; float: left;}
.ct-xptjli{ float: left; width: 32%; margin: 0.2rem 0.5% 0.6rem;}
.ct-proimg{ border-radius:0.5rem 0.5rem 0 0 ;  }
.ct-proinfo{ padding:0.6rem;   margin-top:-1px; }
.ct-proinfo h5{ float: left; width: 100%; color:#222222; font-weight:normal; font-size:1.5rem; padding:0px; line-height:1.5rem; margin:0; margin-top: 5px; text-overflow: ellipsis; white-space:nowrap; overflow: hidden;}

.star{ float: left; width: 100%; height:11px; background:url(ico_star.png) left top; background-size:auto 11px; margin-top:0.5rem; }
.start-5{ width:60px;}
.start-4{ width:48px;}
.start-3{ width:36px;}
.start-2{ width:24px;}
.start-1{ width:12px;}
.start-4-5{ width:54px;}
.start-3-5{ width:42px;}
.start-2-5{ width:30px;}
.start-1-5{ width:18px;}
.start-0-5{ width:6px;}



.starbig{ height:22px; background:url(ico_star.png) left top; background-size:auto 22px; margin-top:0rem; }
.starbig-5{ width:120px;}
.starbig-4{ width:96px;}
.starbig-3{ width:72px;}
.starbig-2{ width:48px;}
.starbig-1{ width:24px;}
.starbig-4-5{ width:108px;}
.starbig-3-5{ width:84px;}
.starbig-2-5{ width:60px;}
.starbig-1-5{ width:36px;}
.starbig-0-5{ width:12px;}


.proinfo-sale{float: left; width: 100%; margin-top:0.5rem; font-size:1.1rem; color:#666666;}
.proinfo-price{float:left; width: 100%; margin-top:0.5rem; margin-bottom: 1rem; font-size:1.5rem;  color:red; position: relative;}
.proinfo-price del{float:left;  color:#999999; font-size:10px; width: 65px; height: 14px; line-height: 16px; margin-left: 10px;}
.proinfo-price font{float: left; height: 14px; line-height: 16px; font-size: 12px; padding-right: 5px;}
.addtocart{ position:absolute; border:1px solid #ff4400; color:#ff4400; font-size:2.2rem; height:2.2rem; width:2.2rem;  text-align:center; font-weight:bold; border-radius:50%; top: -2px; right:0; padding:0; background:url(ico_plus.png) no-repeat center; background-size:1.1rem;}

.nomore{ line-height:50px; color:#999; float: left;width: 100%; margin-bottom: 45px;}

footer{ position:fixed; bottom:0; width:100%; background:#f9f9f9; border-top:1px solid #e0e0e0;}
footer a{ font-size: 14px;}
footer > div{ height:45px;}
footer .col-xs-3{ text-align:center; color:#929292; padding-top:30px;  }
footer .col-xs-3.active{ color:#ff4400;}
footer .nav-home{ background:url(ico_home.png) no-repeat center 5px; background-size: auto 2.1rem;}
footer .nav-car{ background:url(ico_car.png) no-repeat center 5px; background-size:auto 2.1rem;}
footer .nav-down{ background:url(ico_down.png) no-repeat center 5px; background-size:auto 2.1rem;}
footer .nav-my{ background:url(ico_my.png) no-repeat center 5px; background-size:auto 2.1rem;}

footer .nav-home.active{ background-image:url(ico_home_a.png);}
footer .nav-car.active{ background-image:url(ico_car_a.png);}
footer .nav-down.active{ background-image:url(ico_down_a.png);}
footer .nav-my.active{ background-image:url(ico_my_a.png);}


/*center*/
.ct-topmy { position:absolute; top:3rem; z-index:10;  width:100%; color:white }
.ct-topmy img{ width:7rem;}
.ct-centerlist{ border-top:1px solid #ddd;}
.ct-centerlist a{ color:#1b1b1b;  display:block; background:url(ico_more2.png) no-repeat right center; background-size:0.8rem auto;}
.ct-centerlist .list-group-item{ padding:2rem; padding-left:5rem; padding-right:1rem; background:url() #fff no-repeat  1rem center; background-size:3rem;    }
.ct-centerlist  .center-yy{ background-image:url(ico_yy.png);}
.ct-centerlist  .center-order{ background-image:url(ico_order.png);}
.ct-centerlist  .center-address{ background-image:url(ico_add.png);}
.ct-centerlist  .center-money{ background-image:url(ico_money.png);}
.ct-centerlist  .center-99{ background-image:url(ico_99.png);}
.ct-centerlist  .center-about{ background-image:url(ico_about.png);}
.ct-centerlist  .center-yhq{ background-image:url(ico_yhq.png);}
.ct-centerlist  .center-feedback{ background-image:url(ico_feedback.png);}

/*activity*/
.ct-activity{ }
.ct-activity .media{ background: #fff; padding:0.5rem; }
.more{ float:right; color:#999999; background:url(ico_more2.png) no-repeat right center; background-size:0.8rem auto; padding-right:1.6rem; font-size:0.9em;}
.more a{color:#999999; }
.ct-activity .media-object{ width:10rem;}
.ct-activity .badge{ background-color:red; color:white; height:2rem;width:2rem; font-size:1.2rem; line-height:2rem; text-align:center; padding:0px;   margin-bottom:2rem;}

.ct-promotion{ background:#fff; padding:0.5rem; margin-top: 45px;}
.ct-promotion .ct-title{ background:url()  no-repeat 0.5rem center; padding-left:1rem;}

/*shop*/
.tel{ color:#ef524d; float:right;}
.tel a{color:#ef524d;}
.ct-shop{ background:#fff; padding:1.5rem; }
.ct-shop .col-xs-4{ text-align:center; font-size:1.6rem; line-height:3.5rem; border-left:1px solid #dddddd; padding: 0;}
.ct-shop .col-xs-4 .red{ font-size:1.4em; color:#ef524d; }
.ct-shop .first {border:0px;  }

.ct-shopinfo{ background:#fff; padding:1.5rem; }
.ct-shopinfo li{ padding-top: 0; padding-bottom: 0;}
.ct-shopinfo .ct-title{ background:url()  no-repeat 0.5rem center; padding-left:1rem;}

.ct-shopinfo  .list-group .list-group-item{
    border:0px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
    line-height:3rem;

}

.ct-shopinfo  .list-group .list-group-item.itemmore{background:url(ico_more.png) no-repeat right center; background-size:0.9rem auto;}

/*comment*/
.ct-comment{ background:#fff; padding:1rem; padding-top:1.5rem; overflow:hidden; font-weight:normal; }
.ct-comment .ct-comment-star{ padding-top:0rem;}
.ct-comment .ct-comment-star .row{ margin-top:2rem; margin-bottom:2rem; }
.ct-comment h5{  }
.ct-comment h2{ margin-bottom:0px; margin-top:1rem; }
.ct-comment p{ margin:0px;}
.ct-comment .badge{ background-color:#8fc31f; width:2rem; height:2rem; line-height:1rem; font-size:2rem; text-align:left; font-weight:bold; overflow-x:hidden; }
.ct-comment > div{ padding:0px;}
.ct-comment .ct-title{ border-bottom:1px solid #e0e0e0; padding-bottom:1rem; padding-top:0; margin-top:0.5rem;}

.ct-comment .media-object{ width:2.5rem; height:2.5rem;}

.ct-comment .media .media-body .media-heading small{ float:right; font-weight:normal !important; font-family:Verdana, Geneva, sans-serif }

.ct-comment .media .media-body .star{ float:left;}
.ct-comment .media .media-body .starside{ float:left; margin-left:2rem; font-size:1.4rem;}

.ct-comment  .list-group .list-group-item{
    border:0px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
    line-height:3rem;

}

.ct-comment .list-group .list-group-item:first-child{ text-align:left;  }
.ct-comment .list-group .list-group-item.itemmore{background:url(ico_more.png) no-repeat right center; background-size:0.9rem auto; color:#666666; }
.ct-comment .list-group .list-group-item{padding:0px; padding-top:1rem; padding-bottom:1rem;}
.itemmore small{ float:right; color:#ffaa0c; padding-right:1.5rem; font-size:1em;}
.ct-comment .list-group .list-group-item.itemdesc{ margin-top:-10px; color:#1b1b1b; padding-top:0px;}

.ct-comment .btn{ margin-right:0.5rem;}
.ct-comment h5.commentdesc{ padding-top:1rem; padding-bottom:1rem;}

.cartnum{ background:red; position:absolute; top:5px; left:65%; height:1.8rem; width:1.8rem; text-align:center; padding:0px; line-height:1.8rem; font-weight:normal; font-size:11px; }
.u-flyer{display: block; width: 50px;height: 50px;border-radius: 50px;position: fixed;z-index: 9999;}

/*productdetail*/
.back{ position:absolute; top:2.5rem; left:1.5rem; background:url(ico_back.png) no-repeat center; background-size:3.2rem; display:block; height:3.2rem; width:3.2rem; z-index: 99;}

.goodprice{ padding:1.5rem; background-color:#fff;}
.goodprice h5{ font-size:1.5rem; color:#222222; padding:0px; height:1.5rem; font-family: "微软雅黑", "黑体", "楷体","宋体", "新宋体", Arial;}
.goodsale .goodsaledtl{ line-height:2.2rem; font-size:1.2rem; color:#909090; padding-left:1rem;}
.goodpricedtl{ font-size:1.5rem; color:#aaa7a7; clear:both; padding-top:0.5rem; }
.goodgg{  font-size:1.5rem; color:#aaa7a7; margin-top:2rem;}
.goodgg div{ padding:0px;}
.orange1{ color:#ff9900;}
.goodgg select{ border:0px;
    margin-left:1.2rem;

    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("arrow_down.jpg") no-repeat scroll right center transparent;
    background-size: 2.1rem 1.4rem ;

    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
    text-align:left;
}

.goodgg select option {text-align:left;}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.goodgg select::-ms-expand { display: none; }

.goodgg select.border{  border:1px solid #938f8f; border-radius:0.5rem; padding-left:0.5rem; padding-right:2rem;   }

/*2016.05.22*/
.gooddetail{ background:#fff; padding:1.5rem; }
.ct-title2{ border-bottom:1px solid #e0e0e0;   margin-top:0.5rem;  font-size:1.8rem;  padding-bottom:1.5rem; color:#222222;  }
.gooddetail p{  color:#938f8f; clear:both;}
.gtime{  color:#938f8f; padding-left:1rem; line-height:2rem; }
.goodaddtocart{ display:block; float:right; width:2.8rem; height:2.8rem; background:url(goodaddtocart.png) no-repeat center; background-size:2.8rem;}

.goodfooter{ line-height:44px; font-size:1.6rem; color:#333333; }
.goodfooter .cartcheck{ padding-left:8rem; background:url(good_carttotal.png) no-repeat 3rem center; background-size:4rem;}
.goodfooter .cartcheckout{ background-color:#ff4400; height:100%; text-align:center; color:#fff; font-size: 16px;}
.goodfooter .carttotalmoney{ color:#ff4400; padding-left: 45px;}

header{ z-index:1000; position:fixed; top:0;  width:100%; background:#f6f6f7; border-bottom:1px solid #b2b2b2; font-size:1.8rem;height:45px; line-height:45px; text-align:center;}

header .back{ position:absolute; left:15px; top:12px; background:url(ico_back2.png) no-repeat left top; background-size:10px 18px;}
header .complete{ position:absolute; top:0px;; right:15px; font-size:1.7rem; }

#cartfooter{ bottom:50px;}
#cartfooter .cartcheck{ font-size:16px;  padding-left:3rem;}

.cart{ margin-top:45px;}
.cart > div { height: 8rem; padding-top:1rem; padding-bottom:1rem; line-height:6rem; border-bottom:1px solid #dddddd; background-color:#fff;}
.cart .col-xs-3{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.checkbox{ line-height:18px; padding-right: 0 !important;;}

.cart .checkbox{ margin-top:2rem;}
.cart .img-responsive{ max-height:6rem; vertical-align:middle}
.cart span{ line-height:6rem; color:#333333; font-size:14px;}
.cart span.orange2{color:#ff6026;}
.cart .row:last-child{ margin-bottom: 50px;}

.num input{ border:0px; text-align:center; width:100%; color:#1b1b1b;}

/*index nav hover*/
#dropdownMenu1 { color:#000; }

.ct-topnav-hover{ position:fixed; z-index:21; top:0px; background:#f8f8f8; border-bottom:1px solid #a7a7aa; height:5rem; padding-top:1rem; padding-bottom:1rem;}
#index .ct-topnav-hover > div{ color:#ff4400;}


/*banner unslide*/
.ct-banner { position: relative; overflow: auto; }
.ct-banner li { list-style: none; }
.ct-banner ul li { float: left; }

/*order detail*/
.order{ margin-top:4.5rem;  overflow-x:hidden;}
header .tel{display:block; height:3.2rem; width:3.2rem; position:absolute; right:15px; top:12px; background:url(ico_tel.png) no-repeat right top; background-size:20px auto;}

.orderstep{ border:1px solid #ff4400; padding:0px; overflow-x:hidden; margin-left:-0.7rem; margin-right:-0.7rem;}
.steptitle{   margin:0px;  width:100%; padding:2rem 1rem 2rem 7rem; background:url(ico_orderstep1.png) #fff no-repeat 1rem center; background-size:5rem; }
.steptitle h4{ margin:0px;}
.steptitle h5{ margin:0px; color:#aaa; padding-top:1rem; font-weight:normal;}
.stepdesc{ background:#f5f5f5;   width:100%; padding-top:1rem; color:#aaa;}
.stepdesc > div{ padding:0px; background:#f5f5f5; padding-bottom:1rem;    }

.orderpros{ background:#fff; border-top: 1px solid #e8e8e7; border-bottom: 1px solid #e8e8e7;}
.orderpros ul{ padding:0; clear:both;}
.orderpros li{ list-style:none; height: 5rem; line-height: 5rem; float: left; width: 100%;}
.orderpros hr{ margin-top:1.2rem; margin-bottom:1.2rem;  }
.orderpros a.orderrepeat{ height:3rem; line-height:3rem ; text-align:center; color:#ffa83d; border:1px solid #ffa83d; padding:0.5rem; padding-left:1rem; padding-right:1rem; border-radius:0.3rem;}
.orderpros .orange{ font-size:18px;}
.orderpros .list-group{ margin-top:2rem; clear:both;}
.orderpros .col-xs-6 { overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}

ul.orderinfo , ul.orderinfo li  { border-radius:0; border-color:#e0e0e0;}
ul.orderinfo li{ border-left:0px; border-right:0px;}
.orderinfo h5{color:#666; font-size:1.5rem; }
.orderinfo h4 small{ color:#666666; float:right; line-height:2.5rem;}
.otherbuy{ background:url(ico_heart.png) no-repeat left center; background-size:1.5rem; padding-left:2rem; color:#666; margin:0 auto; width:250px;}

.order .ct-xptj  { background:#eee;}
.order .ct-xptj .ct-proinfo { background:#fff;}
.ordercancel { padding:0px; padding-left:1.5rem;}
.ordercancel a{ color:#666666; border:1px solid #666666; border-radius:0.5rem;  display:block; margin:0.5rem ; height:3.5rem; line-height:3.5rem; text-align:center;}
#orderfooter > div{ padding:0px;}

/*发货中*/
.steptitle3{     background:url(ico_orderstep3.png) #fff no-repeat 1rem center;  background-size:5rem; }

/*center2*/
/*.center2{ line-height:1rem;}*/
.center2 ul{ margin-bottom:1rem;}
/**.center2 li{ font-size: 16px;}*/
.ct-topmy2 { position:absolute; bottom:2rem; right:1rem; z-index:10;  width:100%; color:white; background:url(ico_u_arrow.png) no-repeat right center;
    background-size:4rem auto;  }
.ct-topmy2 .col-xs-3{ padding-left:3rem;}
.ct-topmy2 img{ width:60px; height:60px; border:2px solid #ff4400;}
.ct-topmy2 .col-xs-9{ padding-left:1rem;}
.center2 .ct-top{ position:relative;}
.ct-topmy2 h5{ padding-left:1.5rem ; background:url(ico_u_tel.png) no-repeat left center; background-size:1rem; height: 16px; line-height:  height: 16px;;}

.ct-topmyring2{ display: block; position:absolute; top:1.3rem; right:1.7rem; z-index:12; width: 21px;}
.ct-top h1{ position:absolute; top:1.3rem; margin:0;  font-size:2rem; color:white; width:100%; z-index:10; }

.green{ color:#6ac20b;}

.usermoney{  background:#fff; border:1px solid #dddddd; overflow:hidden; margin-top:-1px; margin-left:-1px; margin-right:-1px;}
.usermoney > div{border-left:1px solid #dddddd;padding-bottom:1rem;}
.usermoney small{ font-size:1.2rem; padding-left:0.5rem;}
.usermoney h3{ margin-top:0.5rem; margin-bottom:0.2rem;  }
.usermoney h5{ color:#666666; font-size:1.2rem; margin:0; padding:0; font-weight:normal;}

/*orderconfirm*/
.orderconfirmstep{ background:#fff; border-bottom:1px solid #e0e0e0; }
.orderconfirmstep > div{ text-align:center;}
.orderconfirmstep a{ color:#1b1b1b; line-height:4.5rem; font-size:1.6rem;display:block; width:7rem; margin:0 auto; overflow-x:hidden;}
.orderconfirmstep a.red,.orderconfirmstep a:hover{ color:#ff4400; border-bottom:2px solid #ff4400;   }

.orderconfirmsel{ padding:1rem; background-color:#fff; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0;}
.orderconfirmsel h4 a{ margin-left:1rem; float:right; width:2.5rem; height:2.5rem; background:url() no-repeat center; background-size:2.5rem; }
.orderconfirmsel h4 a.btn1{ background-image:url(ico_orderconfirm1.png)}
.orderconfirmsel h4 a.btn2{background-image:url(ico_orderconfirm2.png)}
.nono a { border-radius:1.8rem; line-height:2.6rem; border:1px solid #ffbb44; padding:0.4rem ; color:#878787; text-align: center; display: block; width: 100%;}
.orderconfirmsel div a:hover , .orderconfirmsel div a.hover{  background-color:#ffbb44; color:#fff7ed; }
.nono{ width: auto !important; float: left;}
.moveul{ height: 4rem; width: 30000px;}



.orderconfirminput ul.list-group{ background-color:#fff; padding:0px; margin:0px; }
.orderconfirminput li{ height:5rem;   }
.orderconfirminput .arrow{background:url(ico_more.png) #fff  no-repeat 98%; center; background-size:1rem auto;}

.orderconfirminput label{ font-weight:normal; float:left;  line-height:3rem;}
.orderconfirminput input{ float:right;  padding-right:0.5rem;   width:60%; text-align:right; border:0px; line-height:3rem; height:3rem;   }

.ordertotal { color:#878787; border-bottom: 1px solid #ddd; float: left; width: 100%; padding: 16px 15px; }
.ordertotal > div{ line-height:1.8rem;}
.ordertotal small{ color:#878787; padding-right:1rem;}
.ordertotal .text-right{ color:#ff512f; font-size:1.6rem;line-height:1.6rem;}


.orderconfirmpay > h4{ margin:0px; padding-top:0.5rem; margin-bottom:1.5rem;}
.orderconfirmpay .media-heading{  font-weight:normal;}
.orderconfirmpay { padding:1rem; background-color:#FFF; font-weight:normal;}
.orderconfirmpay img{ width:4rem;}
.gray{ color:#878787;}
.nopadding{ padding:0px; }
hr.nopadding{ margin:0px;}
.orderconfirmpay  hr.nopadding{ margin-top:1rem;}
.orderconfirmbutton{  padding-left:3rem; height: 45px; line-height: 45px;}
.orderconfirmbutton h4{ padding:0; margin:0; height: 45px; line-height: 45px;}
.orderconfirmbutton small{ clear:both; font-size:1.2rem; color:#999999;}


.orderconfirmaddress ul.list-group{ font-size:1.4rem; background-color:#fff; padding:0px; margin:0px; }
.orderconfirmaddress  ul.list-group li{ height:7rem;  }
.orderconfirmaddress  ul.list-group .arrow div{ background:url(ico_more.png) #fff  no-repeat right center; background-size:1rem auto;}
.orderconfirmaddress  ul.list-group label{ padding-left:3rem; background:url(ico_seladd.png) no-repeat left center; background-size:2rem auto; font-weight:normal; float:left; width:70%; line-height:5rem;}
.orderconfirmaddress  ul.list-group div{ padding-right:2rem; float:left; width:30%; text-align:right; border:0px; line-height:3rem; height:5rem;}

.modalczselect{padding:0px; margin:0px; }
.modalczselect li{ list-style:none; padding:0px; margin:0px; height:5rem; line-height:4rem; border-bottom:1px solid #e0e0e0;}
.strong{ font-weight:bold;}
.modalczselect > div{ padding:0px; margin:0px;}
.modalczselect  .checkbox{  }

body .btn-danger{ background:#ff4400; border: 0 none;}
#productjiaandjie{ width:8rem; text-align: center;}

/*moneylist detail*/
.bgwhite{ background:#fff;}
.moneylistdetail { margin-top:4.5rem; font-size:1.4rem; overflow-x:hidden; }
.moneylistdetail .bgwhite .padding{ padding-left:1rem; padding-right:1rem;}
.moneycome { padding:0px; margin:0px;}
.moneycome  a{ font-size:1.6rem; color:#1b1b1b;  display:block;background:url(ico_more2.png) no-repeat right center; background-size:0.8rem auto;}
.moneycome .list-group-item{ padding:2rem; padding-left:8rem; padding-right:1rem; background:url(avater2.png) #fff no-repeat  1rem center; background-size:5rem; border:0px; border-top:1px solid #f4f4f4; border-radius:0px; }

.moneylistdetail .form-group{ border-bottom:1px solid #f4f4f4; margin:0px;}
.moneylistdetail .form-group > *{ line-height:5rem; height:5rem; padding:0px;}
.moneylistdetail .form-group .control-label{ font-weight:normal; padding-left:1rem; text-align:left;}
.moneylistdetail .form-group > div{ color:#878787;}

/*myorder*/
.myorderstep{ background:#fff; border-bottom:1px solid #e0e0e0; }
.myorderstep > div{ text-align:center; width:20%; padding:0;}
.myorderstep a{ color:#1b1b1b; line-height:4.5rem; font-size:1.6rem;display:block; width:5rem; margin:0 auto; overflow-x:hidden;}
.myorderstep a.red,.orderconfirmstep a:hover{ color:#ff4400; border-bottom:2px solid #ff4400;   }

.ordernotitle{ overflow-x:hidden; padding-left:1.5rem; padding-right:1.5rem; border-bottom:1px solid #eeeeee;  border-top:1px solid #eeeeee; height:8rem;}
.ordernotitle h5{ padding:0; margin:0; margin-top:2rem; margin-bottom:0.5rem;}
.ordernotitle span{ margin:0.5rem 0;}
.red .gray{ padding-left:3rem; background:url(ico_time.png) no-repeat left center; background-size:20px;}
.orderbuttons a{ float:right; padding:0.5rem; border:1px solid #e0e0e0; text-align:center; margin-right:1.5rem; color:#1b1b1b; border-radius:0.4rem; width:8rem;}
.orderbuttons a.red{border:1px solid #ff4400; color:#ff4400;}

.mymoneylist .media-left h5{  width:80px; text-align:center; padding-top:1rem;}
.mymoneylist .media-body{ padding-top:1rem;}
.mymoneylist  .media-heading{ padding-right:1rem;}
.mymoneylist i,.mymoneylist em,.mymoneylist b{ font-style: normal; font-weight: normal;}

/*myappoint*/
.myappointstep{ background:#fff; border-bottom:1px solid #e0e0e0; }
.myappointstep > div{ text-align:center;}
.myappointstep a{ color:#1b1b1b; line-height:4.5rem; font-size:1.6rem;display:block; width:9rem; margin:0 auto; overflow-x:hidden;}
.myappointstep a.red,.orderconfirmstep a:hover{ color:#ff4400; border-bottom:2px solid #ff4400;   }
.orderpros .f14{ font-size:1.8rem; color: #000;}
.orderpros .col-xs-3{ padding-left: 0; padding-right: 0;}
.ordertotal .col-xs-6{ padding-right: 0px;}

.myappoint{ margin-top:4.5rem; font-size:1.4rem; overflow-x:hidden;}
.myappoint .ordernotitle{ border:0;}
.myappoint .ordertotal > div{ font-size:1.5rem;  }
.myappoint .orderpros{ border-bottom:1px solid #e0e0e0;  border-top:1px solid #e0e0e0; }

.activity .container-fluid{ margin-top:4.5rem; font-size:1.4rem; overflow-x:hidden;}
.activity  h4.media-heading{ font-size:1.5rem; margin:0px; padding:0px; margin-top:1.5rem;}
.activity  .media{ border-bottom:1px solid #e0e0e0; margin:0px;}
.activity .ct-activity{ padding-bottom:0px;}

.activityindex  h4.media-heading{ font-size:1.5rem; margin:0px; padding:0px; margin-top:1.5rem;}
.activityindex  .media{ border-bottom:1px solid #e0e0e0; margin:0px;}
.activityindex .ct-activity{  padding-bottom:0px;}

/*account*/
.center .container-fluid{ margin-top:4.5rem; overflow-x:hidden;}
.center .ct-centerlist .list-group-item{ padding-left:1rem;   }
.center .ct-centerlist .list-group-item small{ float:right; padding-right:2rem; font-size:1.4rem;}
.center .center-avater img{ margin-top:-1.5rem; width:4rem; height: 4rem;}

/*appoint*/
.stepinfo{ background:#f5f5f5;   width:100%; padding:2rem;  }
.appointdetail .steptitle{   margin:0px;  width:100%; padding:2rem 1rem 2rem 7rem; background:url(ico_orderstep3.png) #fff no-repeat 1rem center; background-size:5rem; }
.appointdetail  .list-group-item h4{ font-size:1.5rem;}
.appointdetail  .list-group-item small{ margin-top:-0.4rem; font-size:1.3rem;}
.appointdetail  .list-group-item h5{ font-weight:normal; font-size:1.4rem;}

.feedback .container-fluid{ margin-top:4.5rem; font-size:1.4rem; overflow-x:hidden;}
.feedback textarea{ margin-top:2rem;  height:20rem; width:100%; border:1px solid #bebec1; border-radius:0.5rem; padding:1rem; color:#333;}

/*message*/
.message .container-fluid{ margin-top:45px; font-size:1.4rem; }
.message .media-list{ background:#fff; border-bottom:1px solid #e0e0e0; margin:0px;}
.message .media-left img{ margin:2rem; width:5rem;}
.message .media-body{ padding-top:2rem; padding-bottom:2rem;}
.time{  padding-left:2rem !important; padding-right:1rem; font-size:1.4rem; font-weight:normal; background:url(ico_time.png) no-repeat left center; background-size:1.6rem; color:#878787; margin-bottom: 5px;}
.message .media{ border-top:1px solid #e0e0e0; margin:0; }
.media-body .col-xs-3{ padding-left: 0; padding-right: 10px;}

/*coupon*/
.coupon .container-fluid{ margin-top:4.5rem; font-size:1.4rem; overflow-x:hidden;}
.couponstep{ background:#fff; border-bottom:1px solid #e0e0e0; }
.couponstep > div{ text-align:center;}
.couponstep a{ color:#1b1b1b; line-height:4.5rem; font-size:1.6rem;display:block; width:9rem; margin:0 auto; overflow-x:hidden;}
.couponstep a.red,.couponstep a:hover{ color:#ff4400; border-bottom:2px solid #ff4400;   }

.couponone{ background:url(yhq_bg1.png) #fff repeat-x top; background-size:auto 1rem; padding-top:1rem; border-bottom:1px solid #e0e0e0;  }
.couponone img{ margin:10px; width:100px; height:100px;}
.couponone > div{ padding:0px;}
.coupononebody{ float: left; width: calc(100% - 120px);background:url(ico_more.png) #fff  no-repeat right center; background-size:1rem auto; height: 120px;}
.coupononebody i,.coupononebody em{ font-style: normal; text-align: center;float:left; width:100%;  }
.coupononebody i{line-height: 50px; color: #000; font-size: 16px; }
.coupononebody em{ line-height: 30px; padding-right: 10px;}

.couponone2 {background:url(yhq_bg2.png) #fff repeat-x top;background-size:auto 1rem; }

.couponhaspass .couponone{-webkit-filter: grayscale(1);/* Webkit */
    filter:gray;/* IE6-9 */
    filter: grayscale(1);/* W3C */}

/*提现*/
.centerform ul.list-group{ font-size:1.4rem; background-color:#fff; padding:0px; margin:0px; }
.centerform li{ height:5rem;  }
.centerform .arrow input{ padding-right:2rem; background:url(ico_more.png) #fff  no-repeat right center; background-size:1rem auto;}
.centerform label{ font-weight:normal; float:left; width:30%; line-height:3rem;}
.centerform input{  float:right; width:59%; text-align:right; border:0; line-height:3rem; height:3rem;}

/*wallet*/
.wallet h3{ margin-top:5rem; margin-bottom:2rem; padding-top:10rem; background:url(ico_wallet.png) no-repeat  top center; background-size:8rem auto;}
.walletlist{ background:#fff;border-top:1px solid #e0e0e0;}
.walletlist a{ display:block; clear:both; line-height:5rem; height:5rem; margin-left:1rem; margin-right:1rem; font-size:1.6rem; color:#1b1b1b; border-bottom:1px solid #e0e0e0;}
.walletlist .arrow { background:url(ico_more.png) #fff  no-repeat right center; background-size:1rem auto;}


.address .orderconfirminput .list-group-item input{ text-align:left;}
.address .checkbox{  margin:0px; padding-top:0px; }
.address .checkbox input{ visibility:hidden;}
.address .checkbox label{ line-height:2.2rem; }

.address .addressmore { height:8rem;}
.address .addressmore input{ height:6rem;}

/*选择地址*/

.marginheader{margin-top:4.5rem; font-size:1.4rem; overflow-x:hidden;}
.addresssel .addressone{ border-bottom:1px solid #e0e0e0;  }
.addcontrol a{ position:absolute;  display:block; top:50%; margin:0 auto; text-align:center; right:2rem;}
.addcontrol a img{  width:2rem; margin-top:-1rem;   }
.addcontrol{ padding:0px; position: absolute; top: 0; height:100%;   right:0;}
.addresslist{ padding-left:1rem; padding-right:1rem;}

.addresslist .addressone{position:relative;}
.btndel{ position: absolute; top: 0; height:100%; right: -80px;    text-align: center; background: #ff512f; color: #fff; width: 80px; font-size:2rem;  }
.btndel a{ display:block;  position:absolute; top:50%; margin-top:-1.3rem;  color:#fff;  width:100%; text-align:center;}
.addresssel h4{ font-weight:normal;}
.addressone .row > div{ padding:0px; padding-left:1.5rem; font-size:1.6rem;}

.addressadd  {   color:#ff4400; line-height:4.4rem; font-size:1.8rem;}
.addressadd{ text-align:center;}
.addressadd img{ width:1.8rem; height:1.8rem; margin-top:-0.5rem;}

/*升级*/
.update{ overflow-x:hidden;}
.updatetop .back{position:absolute; top:2rem; left:1rem; background:url(ico_arrow_white.png) no-repeat 1rem center; background-size:1rem auto; display:block; height:2rem; line-height:2rem; width:100%; text-align:center; color:#fff; font-size:1.6rem;}
.update .bgwhite{ padding-bottom:1rem; }
.update h4{ background:url(ico_laba.png) no-repeat 1rem center; background-size:2rem auto; font-size:14px; color:#7a7a7a; padding-left:4rem; height:4rem; line-height:4rem; border-bottom:1px solid #f7f7f7;  }
.update .bgwhite > div{ padding:1rem; font-size:1.4rem;}
.update .col-xs-4 img{ width:8rem;}
.gray2{ color:#c9c9c9;}

.list-group-item{ line-height:1rem; border-bottom: 1px solid #e0e0e0; border-top:none;border-left: none;border-right: none; border-radius:0 !important; margin-bottom: 0;}



.comeneworder{ padding:10px 0; line-height:2.5rem; float: left; width: 100%; border-top:1px solid #e8e8e7;  border-bottom:1px solid #e8e8e7;}


/*空白页面*/
.emptybody{ float: left; background: #fff; height: auto; width: 100%; padding-bottom: 45px;}
.goback{ width: 92%; margin-left: 4%; background: #ff4400; line-height: 48px; float: left; border-radius: 5px; text-align: center; color: #fff; font-size: 2rem; margin-bottom: 20px;}
.goback:hover{ color: #fff; background: #c9302c;}

/**mydetail*/
.mydetail{ background:#fff; border-bottom:1px solid #e0e0e0; }
.mydetail > div{ text-align:center; padding:0px;}
.mydetail a{ color:#1b1b1b; line-height:4.5rem; font-size:1.6rem;display:block; width:5rem; margin:0 auto; overflow-x:hidden;}
.mydetail a.red,.orderconfirmstep a:hover{ color:#ff4400; border-bottom:2px solid #ff4400;   }
.mydetailmain{ height: 72px; background: #fff; padding: 0 15px; margin-bottom: 1px;}
.mydetailmain i{font-style: normal;}
.mydetailtime{ width: 27%; float: left; margin-top: 1.5rem;  text-align: center; margin-right: 10%; color: #878787;}
.information{ width: 34%; float: left; margin-top: 1.2rem;}
.information i{ float: left; width: 100%;}
.condition{ width: 25%; float: right; margin-top: 2.2rem; text-align: right; color: #ff4400;font-size: 1.6rem;}

/***search**/
.search{ border-radius: 4px; padding-left: 38px; width: 84%; border: #e6e6e8 1px solid; height: 29px; background: #e6e6e8; margin-left: 50px; line-height:20px; font-size: 16px; padding-top: 2px; margin-top: 8px;}
.searchmain{ padding: 20px 15px; background: #fff; float: left; width: 100%;}
.searchmain li{ font-size: 1.5rem; border: 1px solid #c9c9c9; float: left; padding: 5px 10px; border-radius: 8px; margin-right: 10px; color: #c9c9c9; margin-bottom: 20px;}
.searchmain li:focus{ color: #ff4400 ; border-color: #ff4400;}

/****distribution*****/
.distributionul{margin-top: 54px; }
.distributionul i,.distributionul em{font-style: normal;}
.distributionul li{ width: 100% ; float: left; margin-bottom: 1rem; background: #fff; height: 15rem; padding: 2.2rem 1.5rem 1.5rem 1.5rem;}
.distribution_top{ float: left;width: 100%; height: 6.1rem; padding-bottom: 1.6rem;  border-bottom: 1px solid #ddd;}
.distribution_photo{ float: left;  border: 1px solid #ff4400; border-radius: 50%; width: 4.5rem; height: 4.5rem;}
.distribution_mid{float: left; width: 11rem; margin-left: 1rem; height: 4.5rem;}
.distribution_mid i,.distribution_right i{ float: left; width: 100%; }
.goright{ float: right; height: 4.4rem;}
.goright img{ width: 1rem;}
.distribution_right{ float: right; width: 16rem; margin-right: 1rem; height: 4.5rem;}
.from{ color: #878787;}
.distribution_bottom{ height: 5.2rem; width: 100%;float: left;}
.distribution_bottom div{ float: left; width: 50%; height: 5.2rem;}
.distribution_bottom i,.distribution_bottom em{ width: 100%; float: left;  text-align: center;}
.distribution_bottom em{ font-size: 1.4rem; color: #797979;}
.distribution_bottom i{ font-size: 2.2rem; }
.distributionbody{ height: 12rem; margin-top: 45px; float: left; background: #fff; width: 100%; padding: 0 1.5rem;}
.distributionbody span{ width: 100%;  height: 4.5rem; font-size: 1.6rem; float: left;}
.distributionbody i,.distributionbody em,.distributionmain i,.distributionmain em{ font-style: normal;}
.distributionmain{ background: #fff; width: 100%; padding: 0 1.5rem; margin-top: 1rem; float: left;}
.distributionmain li{ float: left;width: 100%; height: 7rem; padding: 1.5rem 0; border-bottom: 1px solid #f4f4f4;}
.distributionmain i{float: left; width: 20%;}
.distributionmain span{float: left; width: 80%;}
.distributionmain em{ color: #ff4400;}
/****优惠券*/
.coupontext{ display: block; position: absolute; left: 10px; top: 10px; width:100px; height: 100px; font-family: "微软雅黑"; color: #fff; text-align: center;}
.coupontext i,.coupontext em,.coupontext b{ font-style: normal;font-weight: 200; float: left; width: 100%;}
.coupontext b{ height: 50px; line-height: 66px; font-size: 38px;  }
.coupontext i{ font-size: 14px; height:20px; line-height: 24px;}
.coupontext em{ font-size: 10px; height: 12px;}

.couponone3 {background:url(yhq_bg3.jpg) #fff repeat-x top;background-size:auto 1rem; }
.couponone4 {background:url(yhq_bg4.jpg) #fff repeat-x top;background-size:auto 1rem; }

/****首页增加****/
.grayhover{ position:absolute; top:0;  z-index:5; width: 100%; height:43rem; opacity:0.4;filter:alpha(opacity=40); pointer-events:none; margin-top: 25px;}
.grayhover img,.whitehover img{ max-width: 100%; height: auto; display: block; margin-left:  auto; margin-right:  auto;}
.whitehover{ position:absolute; top:37.6rem; z-index:8; width: 100%; margin-top: 25px;}
.row .col-xs-3{ text-align: center; }
.row .col-xs-1{ margin-right: 10px; }
.indexmore{ float:right; margin-right: 10px; background:url(ico_more2.png) no-repeat right center; background-size:0.8rem auto; color: #878787; padding-right: 10px; font-size: 16px;}
.indexmore:focus{color: #878787;}
.indexmore:visited{color: #878787;}
.orderbuttons .btn{ margin: 10px;}
.list-group-item  .pull-left{ font-size: 14px;}
.timepic{ padding-left:2.2rem; background:url(ico_time.png) no-repeat left center; background-size:20px;}
.ct-control{float: left;}
.ct-control a,.ct-control div{ float: left; height: 32px; width: 36px; padding:6px 0 0 16px;}
.dropdown-menu{ max-height: 400px; overflow-y:scroll; }
#loader{ position: fixed; width: 100%; height: 800px; z-index: 999;background: #fff; display: block; top: 45px;}
.ct-hotact{ background: #fff; height: 128px; margin-bottom: 10px;}
.ct-hotact i,.ct-hotact em{font-style: normal; background: #fff;}
.ct-hotact .col-xs-4{ padding: 0 6px;}
.ct-hotact h3{ height: 40px; text-align: center; font-size: 18px; margin: 0; line-height: 40px; float: left; width: 100%;}
.ct-hotact span{ float: left; width: 100%; height: 24px; line-height: 24px;  text-align: center; font-size: 12px;}
.ct-hotact span div{ display:block; width: 100px;border-radius: 12px; padding: 0 4px; margin: 0 auto;}
.hotactbom{ float: left; width: 100%; padding: 0 8px; text-align: center;}
.hotactbom font{ float: left; font-size: 18px; line-height: 18px; height: 18px; text-align: center; width: 100%;}
.hotactbom em{ float: left; width: 100%; text-align: center; font-size: 12px; height: 32px; line-height: 32px;}
.hotactbom b{  font-weight: normal; background: #ff4b27; color: #fff; font-size: 8px; height: 18px; line-height: 14px; padding: 2px 4px; margin-left: 8px; border-radius: 3px; position: relative; }
.hotactbom .tri{ position: absolute; top: calc(50% - 4px); display: block; width:0; border: 4px solid #fff; border-right-color: #ff4b27; left: -8px;}
.hotactbom img{ width: 32px; margin-top: 6px;}

/****账户信息****/
#myphoto{ width: 100px; height: 100px; margin-left: calc( 50% - 50px); border-radius: 50%;}
.myphotobody{background: #fff; padding-top: 25px; height:auto; }
#myphoto{ width: 100px; height: 100px; margin-left: calc( 50% - 50px); border-radius: 50%;}
.myphotobody{background: #fff; padding-top: 25px; height: auto; border-radius: 5px;}
.myphotobody label{ float: right; width: 80px; height: 24px; line-height: 24px; font-size: 14px; background: #ff4400; color: #fff; margin-right: 46px;text-align: center; border-radius: 5px; font-weight: 200; }

/******客服******/
.kefu{ filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#333', endColorstr='#333');background:rgba(51,51,51,0.2); height:100%; width:100%; position:fixed; top:0; left:0; _position:absolute; z-index:888;}
.kefubody{ width: 240px; position: absolute; left: calc(50% - 120px); bottom: 52px; display: inline-block; z-index: 900;}
.kefubody li:first-child{ background: url("../images/kefufirst.png") no-repeat; background-size: 100%; height: 178px; box-sizing: border-box; padding-top: 85px;}
.kefuul{ position: relative; margin-bottom: 0 !important;}
.kefubody li{ background: url("../images/kefuli.png") no-repeat; background-size: 100%; height: 92px; line-height: 69px; font-size: 24px; }
.kefubody li a{ width: 100%; display: block; height: 69px;}
.kefubody li img{ width: 36px; margin: 0 18px 0 56px;}
.kefuclose,.weixinclose{ padding: 10px; display: inline-block; position: absolute; left: -5px; top: 0;}
.weixin{ width: 100%;  position: relative; text-align: center; background: #fff; border-radius: 5px;}
.QR{ width: 160px; height: 160px; margin: 50px 0;}