<style>
.jiazheng-ad{ overflow:hidden; margin:1.5rem 1.8rem; border-radius:.3rem; border-top:none;padding:.9rem .56rem 0;/*float:left;margin-left:50px;*/}
.jiazheng-ad ul li{ float:left; padding:0 .34rem }
.jiazheng-ad ul li img{ width:100%}
.jiazheng-ad ul li:nth-child(1){ width:50%;}
.jiazheng-ad ul li:nth-child(2){ width:50%;}
.jiazheng-ad ul li span{ display:block; line-height:3rem; font-size:1.2rem; color:#7a7a7a;overflow:hidden; white-space:nowrap;text-overflow:ellipsis;}
</style>

<!--START-->
<style type="text/css">
.jiazheng-ad { display:block; overflow:hidden; width:460px;margin-left:50px; float:left }
.jiazheng-ad ul li { padding:0px; }
</style>
<!--END-->

<style>
</style>

<!--START-->
<div class="style-one">
<eq name="adtype" value="style_7">
  <h3><a href="#">样式7<img src="/Public/Images/merchant/choose.png" id="change-one"/></a></h3>
<else/>
  <h3><a href="#">样式7<img src="/Public/Images/merchant/not_choose.png" id="change-one" onclick="AjaxSetAdvertStyle('{$Think.get.pos}', '{$Think.get.tid}', 'style_7', 3)"/></a></h3>
</eq>

<!--END-->

<section class="jiazheng-ad">
	<ul class="clearfix">
		<li>
			<a <if condition="$houtai eq 1">href="javascript:void(0);" onclick="show_1(7,1)"<else/>href="{$advert.1.ad_imglink}"</if>><img id="IMAGEO_STYLESEVEN_SRC" src="{$advert.1.ad_imgsrc|default='/Public/Mobile/jiazheng/img/demo/jiazheng_ad01.png'}"/><span>{$advert.1.ad_title}</span></a>
		</li>
		<li>
			<a <if condition="$houtai eq 1">href="javascript:void(0);" onclick="show_1(7,2)"<else/>href="{$advert.2.ad_imglink}"</if>><img id="IMAGET_STYLESEVEN_SRC" src="{$advert.2.ad_imgsrc|default='/Public/Mobile/jiazheng/img/demo/jiazheng_ad02.png'}"/><span>{$advert.2.ad_title}</span></a>
		</li>
		<li>
			<a <if condition="$houtai eq 1">href="javascript:void(0);" onclick="show_1(7,3)"<else/>href="{$advert.3.ad_imglink}"</if>><img id="IMAGES_STYLESEVEN_SRC" src="{$advert.3.ad_imgsrc|default='/Public/Mobile/jiazheng/img/demo/jiazheng_ad03.png'}"/><span>{$advert.3.ad_title}</span></a>
		</li>
	</ul>
</section>

<!--START-->
<div class="style-one-click style-click" id="style-7-click-1">
                              <h2>1<img src="/Public/Images/merchant/close_ceng.png" class="close"/></h2>
                              <ul>
                                  <li>
                                      <a href="javascript:void(0);" class="copy" data-clipboard-target="UPLOAD_STYLESEVEN_IMAGEO_LINK"><img src="/Public/Images/merchant/icon_copy.png" class="active"/><img src="/Public/Images/merchant/icon_copy_white.png"/><span>复制链接</span></a>
                                      <div class="popover popover-top" id="style-7-1-1">
                                          <div class="arrow"></div>
                                          <div class="popover-content">已成功复制</div>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);" onclick="show_2(7,1,2)"><img src="/Public/Images/merchant/icon_link.png" class="active"/><img src="/Public/Images/merchant/icon_link_white.png"/><span>跳转链接</span></a>
                                      <div class="popover popover-bottom" id="style-7-1-2">
                                          <div class="arrow"></div>
                                          <input  value="{$advert.1.ad_imglink}" readonly="readonly"  id="UPLOAD_STYLESEVEN_IMAGEO_LINK"/>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);" onclick="show_2(7,1,3)"><img src="/Public/Images/merchant/icon_pic_title.png" class="active"/><img src="/Public/Images/merchant/icon_pic_title_white.png"/><span>图片标题</span></a>
                                      <div class="popover popover-bottom lef-90" id="style-7-1-3">
                                          <div class="arrow"></div>
                                          <input  value="{$advert.1.ad_title}" readonly="readonly" id="UPLOAD_STYLESEVEN_IMAGEO_TEXT"/>
                                      </div>
                                  </li>
                                  <li>
                                  	  <a href="javascript:void(0);" onclick="uploadImageFun('style_7', 1, 'UPLOAD_STYLESEVEN_IMAGEO_VALUE', 'IMAGEO_STYLESEVEN_SRC', 'UPLOAD_STYLESEVEN_IMAGEO_LINK', 'UPLOAD_STYLESEVEN_IMAGEO_TEXT')"><img src="/Public/Images/merchant/icon_upload.png"/><span>重新上传</span></a>
                                  </li>
                              </ul>
</div>
<div class="style-one-click style-click" id="style-7-click-2">
                              <h2>2<img src="/Public/Images/merchant/close_ceng.png" class="close"/></h2>
                              <ul>
                                  <li>
                                      <a href="javascript:void(0);" class="copy" data-clipboard-target="UPLOAD_STYLESEVEN_IMAGET_LINK"><img src="/Public/Images/merchant/icon_copy.png" class="active"/><img src="/Public/Images/merchant/icon_copy_white.png"/><span>复制链接</span></a>
                                      <div class="popover popover-top" id="style-7-2-1">
                                          <div class="arrow"></div>
                                          <div class="popover-content">已成功复制</div>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);" onclick="show_2(7,2,2)"><img src="/Public/Images/merchant/icon_link.png" class="active"/><img src="/Public/Images/merchant/icon_link_white.png"/><span>跳转链接</span></a>
                                      <div class="popover popover-bottom" id="style-7-2-2">
                                          <div class="arrow"></div>
                                          <input  value="{$advert.2.ad_imglink}" readonly="readonly"  id="UPLOAD_STYLESEVEN_IMAGET_LINK"/>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);" onclick="show_2(7,2,3)"><img src="/Public/Images/merchant/icon_pic_title.png" class="active"/><img src="/Public/Images/merchant/icon_pic_title_white.png"/><span>图片标题</span></a>
                                      <div class="popover popover-bottom lef-90" id="style-7-2-3">
                                          <div class="arrow"></div>
                                          <input  value="{$advert.2.ad_title}" readonly="readonly" id="UPLOAD_STYLESEVEN_IMAGET_TEXT"/>
                                      </div>
                                  </li>
                                  <li>
                                  	  <a href="javascript:void(0);" onclick="uploadImageFun('style_7', 2, 'UPLOAD_STYLESEVEN_IMAGET_VALUE', 'IMAGET_STYLESEVEN_SRC', 'UPLOAD_STYLESEVEN_IMAGET_LINK', 'UPLOAD_STYLESEVEN_IMAGET_TEXT')"><img src="/Public/Images/merchant/icon_upload.png"/><span>重新上传</span></a>
                                  </li>
                              </ul>
</div>
<div class="style-one-click style-click" id="style-7-click-3">
                              <h2>3<img src="/Public/Images/merchant/close_ceng.png" class="close"/></h2>
                              <ul>
                                  <li>
                                      <a href="javascript:void(0);" class="copy" data-clipboard-target="UPLOAD_STYLESEVEN_IMAGES_LINK"><img src="/Public/Images/merchant/icon_copy.png" class="active"/><img src="/Public/Images/merchant/icon_copy_white.png"/><span>复制链接</span></a>
                                      <div class="popover popover-top" id="style-7-3-1">
                                          <div class="arrow"></div>
                                          <div class="popover-content">已成功复制</div>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);" onclick="show_2(7,3,2)"><img src="/Public/Images/merchant/icon_link.png" class="active"/><img src="/Public/Images/merchant/icon_link_white.png"/><span>跳转链接</span></a>
                                      <div class="popover popover-bottom" id="style-7-3-2">
                                          <div class="arrow"></div>
                                          <input  value="{$advert.3.ad_imglink}" readonly="readonly"  id="UPLOAD_STYLESEVEN_IMAGES_LINK"/>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);" onclick="show_2(7,3,3)"><img src="/Public/Images/merchant/icon_pic_title.png" class="active"/><img src="/Public/Images/merchant/icon_pic_title_white.png"/><span>图片标题</span></a>
                                      <div class="popover popover-bottom lef-90" id="style-7-3-3">
                                          <div class="arrow"></div>
                                          <input  value="{$advert.3.ad_title}" readonly="readonly" id="UPLOAD_STYLESEVEN_IMAGES_TEXT"/>
                                      </div>
                                  </li>
                                  <li>
                                  	  <a href="javascript:void(0);" onclick="uploadImageFun('style_7', 3, 'UPLOAD_STYLESEVEN_IMAGES_VALUE', 'IMAGES_STYLESEVEN_SRC', 'UPLOAD_STYLESEVEN_IMAGES_LINK', 'UPLOAD_STYLESEVEN_IMAGES_TEXT')"><img src="/Public/Images/merchant/icon_upload.png"/><span>重新上传</span></a>
                                  </li>
                              </ul>
</div>
</div>
<div style="clear:both;"></div>

<script type="text/javascript">
$(document).ready(function() {
    var H=$(".jiazheng-ad").height();
	$("#style-7-click-1,#style-7-click-2,#style-7-click-3").css({"height":H,"left":"100px","top":"34px"});
});
</script>   
<!--END-->   