<!--START-->
<style type="text/css">
.swiper-container { width:460px; float:left; margin-left:50px; position: relative; overflow: hidden; z-index: 1; }
.swiper-wrapper { position: relative; width: 100%; height: 100%; z-index: 1; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform; -webkit-transform: translate3d(0px, 0, 0); -moz-transform: translate3d(0px, 0, 0); -o-transform: translate(0px, 0px); -ms-transform: translate3d(0px, 0, 0); transform: translate3d(0px, 0, 0); -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.swiper-slide { -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative; }
.swiper-wp8-horizontal { -ms-touch-action: pan-y; touch-action: pan-y; }
.swiper-wp8-vertical { -ms-touch-action: pan-x; touch-action: pan-x; }

.style-one{ height:auto}
.style-one h3{ margin-top:60px}
</style>
<!--END-->


<style type="text/css">
.slide { margin-bottom: 0; background-color: #ccc; border-top: none; }
.swiper-slide img { width: 100%; }
.swiper-pagination { width: 100%; position: absolute; bottom: 4px; text-align: center; z-index: 2; }
.swiper-pagination-bullet { display: inline-block; width: 8px; height: 8px; background-color: #91908e; border: 2px solid #fff; border-radius: 4px; margin: 0 2px; }
.swiper-pagination-bullet-active { background-color: #bf242a; }
.ktv-ad-page .swiper-pagination-bullet { background-color: #1a126f; border-color: #1a126f; }
.ktv-ad-page .swiper-pagination-bullet-active { background-color: #688ed7; border-color: #688ed7; }
</style>

<!--START-->
<div class="style-one">
<eq name="adtype" value="style_2">
  <h3><a href="#">样式2<img src="/Public/Images/merchant/choose.png" id="change-one"/></a></h3>
<else/>
  <h3><a href="#">样式2<img src="/Public/Images/merchant/not_choose.png" id="change-one" onclick="AjaxSetAdvertStyle('{$Think.get.pos}', '{$Think.get.tid}', 'style_2', 3)"/></a></h3>
</eq>

<!--END-->

<section class="slide swiper-container ktv-ad-{$adpos}">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a <if condition="$houtai eq 1">href="javascript:void(0);" onclick="show_1(2,1)"<else/>href="{$advert.1.ad_imglink}"</if>><img id="IMAGEO_STYLET_SRC" src="{$advert.1.ad_imgsrc|default='/Public/Mobile/ktv/img/demo/ktv_ad_05.png'}" alt=""></a></div>
        <div class="swiper-slide"><a <if condition="$houtai eq 1">href="javascript:void(0);" onclick="show_1(2,2)"<else/>href="{$advert.2.ad_imglink}"</if>><img id="IMAGET_STYLET_SRC" src="{$advert.2.ad_imgsrc|default='/Public/Mobile/ktv/img/demo/ktv_ad_05.png'}" alt=""></a></div>
        <div class="swiper-slide"><a <if condition="$houtai eq 1">href="javascript:void(0);" onclick="show_1(2,3)"<else/>href="{$advert.3.ad_imglink}"</if>><img id="IMAGES_STYLET_SRC" src="{$advert.3.ad_imgsrc|default='/Public/Mobile/ktv/img/demo/ktv_ad_05.png'}" alt=""></a></div>
    </div>
    <div class="swiper-pagination ktv-ad-page ktv-ad-page-{$adpos}"> <span class="swiper-pagination-bullet"></span> <span class="swiper-pagination-bullet"></span> <span class="swiper-pagination-bullet"></span> </div>
</section>

<script src="/Public/Mobile/ktv/js/swiper.min.js"></script> 
<script type="text/javascript">
new Swiper('.ktv-ad-{$adpos}', {
	speed: 400,
	pagination: '.ktv-ad-page-{$adpos}',
	autoplay: 4000,
	autoplayDisableOnInteraction: false,
	loop: true,
	preloadImages: false,
	lazyLoading: true,
});
</script>

<!--START-->
<div class="style-one-click style-click" id="style-2-click-1">
                              <h2>1<img src="/Public/Images/merchant/close_ceng.png" class="close"/></h2>
                              <ul style="margin-top:-60px">
                                  <li>
                                      <a href="javascript:void(0);" class="copy" data-clipboard-target="UPLOAD_STYLET_IMAGEO_LINK"><img src="/Public/Images/merchant/icon_copy.png" class="active"/><img src="/Public/Images/merchant/icon_copy_white.png"/><span>复制链接</span></a>
                                      <div class="popover popover-top" id="style-2-1-1">
                                          <div class="arrow"></div>
                                          <div class="popover-content">已成功复制</div>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);" onclick="show_2(2,1,2)"><img src="/Public/Images/merchant/icon_link.png" class="active"/><img src="/Public/Images/merchant/icon_link_white.png"/><span>跳转链接</span></a>
                                      <div class="popover popover-bottom" id="style-2-1-2">
                                          <div class="arrow"></div>
                                          <input  value="{$advert.1.ad_imglink}" readonly="readonly"  id="UPLOAD_STYLET_IMAGEO_LINK"/>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);" onclick="show_2(2,1,3)"><img src="/Public/Images/merchant/icon_pic_title.png" class="active"/><img src="/Public/Images/merchant/icon_pic_title_white.png"/><span>图片标题</span></a>
                                      <div class="popover popover-bottom lef-90" id="style-2-1-3">
                                          <div class="arrow"></div>
                                          <input  value="{$advert.1.ad_title}" readonly="readonly" id="UPLOAD_STYLET_IMAGEO_TEXT"/>
                                      </div>
                                  </li>
                                  <li>
                                  	  <a href="javascript:void(0);" onclick="uploadImageFun('style_2', 1, 'UPLOAD_STYLET_IMAGEO_VALUE', 'IMAGEO_STYLET_SRC', 'UPLOAD_STYLET_IMAGEO_LINK', 'UPLOAD_STYLET_IMAGEO_TEXT')"><img src="/Public/Images/merchant/icon_upload.png"/><span>重新上传</span></a>
                                  </li>
                              </ul>
</div>
<div class="style-one-click style-click" id="style-2-click-2">
                              <h2>2<img src="/Public/Images/merchant/close_ceng.png" class="close"/></h2>
                              <ul>
                                  <li>
                                      <a href="javascript:void(0);" class="copy" data-clipboard-target="UPLOAD_STYLET_IMAGET_LINK"><img src="/Public/Images/merchant/icon_copy.png" class="active"/><img src="/Public/Images/merchant/icon_copy_white.png"/><span>复制链接</span></a>
                                      <div class="popover popover-top" id="style-2-2-1">
                                          <div class="arrow"></div>
                                          <div class="popover-content">已成功复制</div>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);" onclick="show_2(2,2,2)"><img src="/Public/Images/merchant/icon_link.png" class="active"/><img src="/Public/Images/merchant/icon_link_white.png"/><span>跳转链接</span></a>
                                      <div class="popover popover-bottom" id="style-2-2-2">
                                          <div class="arrow"></div>
                                          <input  value="{$advert.2.ad_imglink}" readonly="readonly"  id="UPLOAD_STYLET_IMAGET_LINK"/>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);" onclick="show_2(2,2,3)"><img src="/Public/Images/merchant/icon_pic_title.png" class="active"/><img src="/Public/Images/merchant/icon_pic_title_white.png"/><span>图片标题</span></a>
                                      <div class="popover popover-bottom lef-90" id="style-2-2-3">
                                          <div class="arrow"></div>
                                          <input  value="{$advert.2.ad_title}" readonly="readonly" id="UPLOAD_STYLET_IMAGET_TEXT"/>
                                      </div>
                                  </li>
                                  <li>
                                  	  <a href="javascript:void(0);" onclick="uploadImageFun('style_2', 2, 'UPLOAD_STYLET_IMAGET_VALUE', 'IMAGET_STYLET_SRC', 'UPLOAD_STYLET_IMAGET_LINK', 'UPLOAD_STYLET_IMAGET_TEXT')"><img src="/Public/Images/merchant/icon_upload.png"/><span>重新上传</span></a>
                                  </li>
                              </ul>
</div>
<div class="style-one-click style-click" id="style-2-click-3">
                              <h2>3<img src="/Public/Images/merchant/close_ceng.png" class="close"/></h2>
                              <ul>
                                  <li>
                                      <a href="javascript:void(0);" class="copy" data-clipboard-target="UPLOAD_STYLET_IMAGES_LINK"><img src="/Public/Images/merchant/icon_copy.png" class="active"/><img src="/Public/Images/merchant/icon_copy_white.png"/><span>复制链接</span></a>
                                      <div class="popover popover-top" id="style-2-3-1">
                                          <div class="arrow"></div>
                                          <div class="popover-content">已成功复制</div>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);" onclick="show_2(2,3,2)"><img src="/Public/Images/merchant/icon_link.png" class="active"/><img src="/Public/Images/merchant/icon_link_white.png"/><span>跳转链接</span></a>
                                      <div class="popover popover-bottom" id="style-2-3-2">
                                          <div class="arrow"></div>
                                          <input  value="{$advert.3.ad_imglink}" readonly="readonly"  id="UPLOAD_STYLET_IMAGES_LINK"/>
                                      </div>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);" onclick="show_2(2,3,3)"><img src="/Public/Images/merchant/icon_pic_title.png" class="active"/><img src="/Public/Images/merchant/icon_pic_title_white.png"/><span>图片标题</span></a>
                                      <div class="popover popover-bottom lef-90" id="style-2-3-3">
                                          <div class="arrow"></div>
                                          <input  value="{$advert.3.ad_title}" readonly="readonly" id="UPLOAD_STYLET_IMAGES_TEXT"/>
                                      </div>
                                  </li>
                                  <li>
                                  	  <a href="javascript:void(0);" onclick="uploadImageFun('style_2', 3, 'UPLOAD_STYLET_IMAGES_VALUE', 'IMAGES_STYLET_SRC', 'UPLOAD_STYLET_IMAGES_LINK', 'UPLOAD_STYLET_IMAGES_TEXT')"><img src="/Public/Images/merchant/icon_upload.png"/><span>重新上传</span></a>
                                  </li>
                              </ul>
</div>
</div>

<script type="text/javascript">
var adSlide = new Swiper('#banner-two', {
	speed: 400,
	pagination: '#banner-two-page',
	autoplay: 4000,
	autoplayDisableOnInteraction: false,
	loop: true
});
</script>
<div style="clear:both;"></div>

<script type="text/javascript">
$(document).ready(function() {
    var H=$(".slide").height();
	$("#style-2-click-1,#style-2-click-2,#style-2-click-3").css({"height":H});
});
</script> 
<!--END-->