<block name="foot">
    <if condition="$foot neq ''">
        <div class="text-center" style="background-color: white;height: 30px;color: #ddd;">
            {$foot}
        </div>
    </if>
</block>
<block name="footer">
    <footer>
    	<div class="row">
        	<a class="col-xs-3 nav-home <?php  if($action_name == 'new2'){ echo 'active';}?> " href="{:U('Index/new2',array('sid'=>$sid, 'jid'=>$jid))}">
            	首页
            </a>
            <a class="col-xs-3 nav-car <?php  if($action_name == 'shopCart'){ echo 'active';}?>" href="{:U('Index/shopCart', array('jid'=>$jid, 'sid'=>$sid))}">
            	购物车<span class="badge cartnum" id="cartnum">0</span>
            </a>
            <a class="col-xs-3 nav-down <?php  if($action_name == 'appdown'){ echo 'active';}?>" href="javascript:void(0)" data-toggle="modal" data-target="#myModal">
            	客服
            </a>
            <a class="col-xs-3 nav-my <?php  if($action_name == 'index' && $controller_name == 'User'){  echo 'active';}?>" href="{:U('User/index',array('jid'=>$jid, 'sid'=>$sid))}">
            	我的
            </a>
        </div>
    </footer>
    <input type="hidden" id="rimg" value="__PUBLIC__/Merchant/images/ico_search_hover.png" />

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog show-style" role="document" style="margin-top: 100px;">
            <div class="modal-content">
                <div class="modal-header"  style="border:0;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
</button>
                </div>
                <div class="modal-body" style="padding-bottom:0; border:0;">
                    <div class="row" style="text-align: center; color: #fff;">
                        <a href="{$link['tel']}" style="color: #fff"><span style="float: left; width: 84%; height: 4rem; line-height: 4rem;  background: #fb2a2a; margin-left: 8%; margin-bottom: 30px; border-radius: 5px;">电&nbsp;话</span></a>
                        <a href="{$link['qq']}" style="color: #fff"><span style="float: left; width: 84%; height: 4rem; line-height: 4rem;  background: #09a3dc; margin-left: 8%; margin-bottom: 30px; border-radius: 5px;">Q&nbsp;Q</span></a>
                        <span class="show-wx" style="float: left; width: 84%; height: 4rem; line-height: 4rem;  background: #81d741; margin-left: 8%; margin-bottom: 30px; border-radius: 5px;">微&nbsp;信</span>
                    </div>
                    <br />
                </div>

            </div>
        </div>
        <div class="modal-dialog" role="document" id="wx_inc" style="margin-top: 70px;display: none; background: #fff; border-radius: 5px;">
            <div class="modal-header"  style="border:0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align: center; color: #fff;">
                    <img src="{$link['wx']}">
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript"> 
     
    $(document).ready(function() {
        widthAuto();


        $('.show-wx').click(function(){
             $('#wx_inc').fadeIn();
             $('.show-style').fadeOut();
        });
        $('.close').click(function(){
            $('#wx_inc').fadeOut();
            $('.show-style').fadeIn();
        });
         
    });

    function widthAuto() {
        var Width=document.documentElement.clientWidth - 160 +'px';/*可视窗口宽度*/
        $('#wx_inc img').css({'width':Width,'maxWidth':'600px','marginBottom':'20px'});
    }
   </script>


</block>