<block name="header">
    <if condition="$dtype eq 2">
		<div class="container-fluid" style="margin-top: 25px;">
        <div class="ct-top" >
            <div class="row ct-topnav">
                <div class="col-xs-3">
                    <img src="{$shop.logo}" style="height: 30px; width: 60px; vertical-align: top;">
                </div>
                <div class="col-xs-6 text-center ct-navlist">
                    <span class="btn btn-link dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
                    {:msubstr($sname,0,8)}
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <volist name="shop_list" id="vo">
                            <li><a href="{:U('Index/index',array('sid'=>$vo['sid'], 'jid'=>$jid))}">{$vo.sname}</a></li>
                        </volist>
                    </ul>
                    <script>
                        var w=$('.ct-topnav .col-xs-3').width()+1;
                        $('.dropdown-menu').css('left',-w);
                    </script>
                </div>



                <div class="col-xs-3 ct-control">
                    <a href="{:U('Index/search')}" ><img src="__PUBLIC__/Merchant/images/ico_search_hover.png" id="top-search" class="img-responsive"></a>
                    <div data-toggle="modal" data-target="#share" class="ddd" ><img src="__PUBLIC__/Merchant/images/ico_share_hover.png" id="top-share" class="img-responsive"></div>
                </div>
                <script>
                   $('.ct-control').click(function(){
                    //空函数，不能去掉，否则部分iphone用微信浏览器打开时无法点击分享按钮
                   })
                </script>
            </div>
            <div class="ct-notice">
                <MARQUEE style="margin-top: 5px;" scrollAmount=3 direction=left>{$notice}&nbsp;</MARQUEE>
            </div>
            <div class="row grayhover"><img src="__PUBLIC__/Merchant/images/grayhover.png"> </div>
            <div class="row whitehover"><img src="__PUBLIC__/Merchant/images/whitehover.png"></div>

            <div class="row bgdiv">
                <div class="ct-banner">
                    <ul>
                    <empty name="banner_list">
                        <li><img src="__PUBLIC__/Merchant/images/topbg.png" class="img-responsive center-block"></li>
                    <else/>
                        <volist name="banner_list" id="vo">
                        <li><a href="{$vo.burl}"><img src="{$vo.bimg}" class="img-responsive center-block"></a></li>
                        </volist>
                    </empty>
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document" style="margin-top: 55px;">
                    <div class="modal-content">
                        <div class="modal-header"  style="border:0;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding-left: 20px;"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body" style="padding:0; border:0;">
                            <h3 class="text-center" style="margin:5px 0;">{$shop.sname}</h3>
                            <div>
                                <div style="margin-left: calc(50% - 100px)">
                                    <img src="{:U('Common/makeQrcode@sj', array('jid'=>$jid,'sid'=>$sid))}" style="width: 200px;"/>
                                </div>
                            </div>
                            <h5 class="text-center gray" style="margin: 0;">长按或扫描二维码进入店铺</h5>
                        </div>
                        <div class="modal-footer"  style="   border:0px;  text-align:center;  overflow:hidden;  ">
                            <div class="row"  style="background:#f6f6f6; height:7rem; margin-bottom:-1.5rem; border-radius:0 0 5px 5px; padding-top:1.5rem; padding-left:2rem; padding-right:2rem;">
                                <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdUrl":"{:U('Index/index',array('jid'=>$jid,'sid'=>$sid))}","bdText":"{$shop.sname}","bdMini":"2","bdMiniList":false,"bdPic":"{:U('Common/makeQrcode@sj', array('jid'=>$jid,'sid'=>$sid))}","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        
                     </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Merchant/plugins/flexslider/flexslider.css" />
        <script type="text/javascript" src="__PUBLIC__/Merchant/plugins/flexslider/jquery.flexslider-min.js"></script>
        <script type="text/javascript">
        $(function() {
            $(".flexslider").flexslider({
                animation: "slide",
                animationLoop: false,
                itemWidth: $(document).width()/5-20,
                itemMargin: 5,
                minItems: 1,
                maxItems: 5,
               // pausePlay: true
               directionNav: false
            });
            $('.ct-banner').unslider({
                autoplay: true,
                arrows: false,
                fluid: true,
                dots: true
            });
        }); 
        </script>


    <script>
        function topAuto(){
            var winwidth=document.documentElement.clientWidth;/*可视窗口宽度*/
            var topp,gheight,wheight;
                if( winwidth<750 ){
                    topp= winwidth/750*376+'px';
                    gheight=winwidth/750*430+'px';
                    wheight=winwidth/750*(430-376)+'px';
                    $('.whitehover').css({'top':topp});
                    $('.whitehover img').css({'height':wheight,'width':'750px'});
                    $('.grayhover').css('height',topp);
                    $('.bgdiv').css('height',gheight);
                    $('.bgdiv img').css('height',gheight);
                }
                else
                {
                    topp= 376+'px';
                    gheight= 430+'px';
                    wheight=(430-376)+'px';
                    $('.whitehover').css({'top':topp});
                    $('.whitehover img').css({'height':wheight,'width':winwidth+'px'});
                    $('.grayhover').css('height',gheight);
                    $('.bgdiv').css('height',gheight);
                    $('.bgdiv img').css('height',gheight);
                }
        }
        $(document).ready(function(){
            topAuto();
        });
        $(window).onresize=topAuto;
    </script>


        <link href="__PUBLIC__/Merchant/plugins/unslider/dist/css/unslider.css" rel="stylesheet">
        <link href="__PUBLIC__/Merchant/plugins/unslider/dist/css/unslider-dots.css" rel="stylesheet">
        <script src="__PUBLIC__/Merchant/plugins/unslider/dist/js/unslider-min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Merchant/plugins/unslider/jquery.event.move.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Merchant/plugins/unslider/jquery.event.swipe.js"></script>

        <div class="ct-menu">
            <div class="flexslider carousel ">
                <ul class="slides">
                    <volist name="category" id="vo">
                        <li >
                            <a href="{$vo.url}"><img src="{$vo.cimg}"  style="width:60px; height:60px;" class="img-circle center-block" />
                                <h6 class="text-center">{$vo.cname}</h6>
                                <span class="menu-hover"></span>
                            </a>
                        </li>
                    </volist>
                </ul>
            </div>

<!--              <volist name="category" id="vo">
                <div class="col-xs-3">
                    <a href="{$vo.url}">
                    <img src="{$vo.cimg}" class="img-responsive img-circle center-block" style="width: 50px;height: 50px;">
                    <h6 class="text-center">{$vo.cname}</h6>
                    </a>
                </div>
            </volist> -->
        </div>

        <!-- <div class="ct-hotact">
            <div class="col-xs-4">
                <h3 class="redx">限时购</h3>
            <span style="font-size: 9px; ">
                <div style="background: #f2f2f2;">
                    距开始
                    <i class="redx" id="hour">02</i>：
                    <i class="redx" id="minute">45</i>：
                    <i class="redx" id="second">37</i>
                </div>
            </span>
                <div class="hotactbom">
                    <em>肯德基</em>
                    <font class="redx">
                        ￥<i>18</i>
                        <b>特价<strong class="tri"></strong></b>
                    </font>
                </div>
            </div>
            <div class="col-xs-4">
                <h3 class="bluex">限量购</h3>
            <span class="bluex">
                <div  style="background: #e9fcfe;">精品限量抢购</div>
            </span>
                <div class="hotactbom">
                    <img src="__PUBLIC__/Merchant/images/hotact_pic1.jpg">
                </div>

            </div>
            <div class="col-xs-4">
                <h3 class="yellowx">1元购</h3>
            <span class="yellowx" >
                <div style="background: #fef2d5;">新客专享</div>
            </span>
                <div class="hotactbom">
                    <img src="__PUBLIC__/Merchant/images/hotact_pic2.jpg">
                </div>

            </div>
        </div> -->

    <else />
        <header >
            <a href="javascript:history.go(-1);"><div class="back pull-left"></div></a>
            {$cname}
        </header>
    </if>
    <div id="loader">
        <img src="__PUBLIC__/Merchant/images/loading.gif" style="margin: 150px auto; display: block; width: 100px; height: 100px;">
    </div>
    <script>
       window.onload=function(){
            $('#loader').hide();
        }
    </script>
    <script>
        /*function getRTime(){
            var EndTime= new Date('2016/07/11 18:00:00'); //截止时间
            var NowTime = new Date();
            var t =EndTime.getTime() - NowTime.getTime();

            var h=Math.floor(t/1000/60/60);
            var m=Math.floor(t/1000/60%60);
            var s=Math.floor(t/1000%60);
            if(h<10)
                h= '0'+ h;
            if(m<10)
                m= '0'+ m;
            if(s<10)
                s= '0'+ s;
            document.getElementById("hour").innerHTML = h ;
            document.getElementById("minute").innerHTML = m ;
            document.getElementById("second").innerHTML = s ;
        }
        setInterval(getRTime,1000);*/
    </script>
</block>