<eq name="Think.cookie.opentype" value="app">
	<a id="Pullrefresh" href="#" target="IFRAME" style="display:none;"></a>
	<iframe id="IFRAME" src="" style="display:none;"></iframe>
	<script src="__PUBLIC__/Js/layerm/layer.m.js"></script>
	<script type="text/javascript">
		var Versions;//当前版本类型
		var Msystem;//系统类型
		var Newversion;//新版本号
		var Iosupgradeurl = "{:U('Index/appdown@yd',array('jid'=>$jid),false)}?iosversions={$appinfo.iosversions}";
		function connectWebViewJavascriptBridge(callback) {
			if (window.WebViewJavascriptBridge) {
				callback(WebViewJavascriptBridge)
			} else {
				document.addEventListener('WebViewJavascriptBridgeReady', function() {
					callback(WebViewJavascriptBridge)
				}, false)
			}
		}
		connectWebViewJavascriptBridge(function(bridge) {
			bridge.init(function(message, responseCallback) { 
			});
			var data = 'get version number';
			bridge.send(data, function(responseData) {
				Versions = responseData;
				Msystem = 'ios';
				Newversion = '{$appinfo.iosversions}';
				checkVersions();
			});
		});
		$(document).ready(function(){
			if(window._WebView_JS_Info != undefined && window._WebView_JS_versionCode && window._WebView_JS_versionCode.versionCode()==2 ){
				Versions = window._WebView_JS_Info.VersionName();
				Msystem = 'android';
				Newversion = '{$appinfo.appversions}';
				checkVersions();
			}
			interactive('{"color":"<?php echo $color_value; ?>","background":"#c4272d"}', '');
		});
		function checkVersions(){
			if(Versions && Versions >= Newversion)return false;
			if(!Versions)return false;
			layer.open({type: 2,shade: true,time: 10,content: '检测更新中…'});
			$.post("{:U('User/is_update',array('jid'=>$jid))}",{'appversions':Versions,'msystem':Msystem},function(result){
				layer.closeAll();
				if(result.status==0 && result.msg)
					layer.open({content:result.msg, time: 1});
				else if(result.status==1 && result.msg){
					layer.open({
						content: result.msg,
						style: 'width:100%; ',
						btn: ['立即下载', '取消下载'],
						shadeClose: false,
						yes: function(){
							layer.closeAll();
							if (Msystem=='ios') {
								$('#Pullrefresh').attr("href",Iosupgradeurl);
								document.getElementById("Pullrefresh").click();
							}else if(Msystem=='android') {
								window.location.href=result.url;
							}else{

							}
						}, no: function(){
							layer.closeAll();
						}
					});
				}
			});
		}
	</script>
<else />
	<neq name="Think.cookie.opentype" value="flapp">
	<empty name="appinfo">
		<php>$appinfo = M('app')->where(array('id'=>1))->cache(true)->find();</php>
		<section class="wif">
			<div class="wifi">
				<div class="closed"><img src="__PUBLIC__/Images/mobile/closetc.png"/></div>
				<div class="icon-logo"><img src="{$appinfo.ico}"/><span class="nametxt">{$appinfo.name}</span></div>
				<div class="c-fff txt-icon">{$appinfo.name}</div>
				<div class="btn-click"><a href="{:U('App/down')}?appid={$appinfo.id}" class="btn-wifi">点击下载</a></div>
			</div>
		</section>
	<else /> 
		<section class="wif">
			<div class="wifi">
				<div class="closed"><img src="__PUBLIC__/Images/mobile/closetc.png"/></div>
				<div class="icon-logo"><img src="{$appinfo.applogo}"/><span class="nametxt">外婆家</span></div>
				<div class="c-fff txt-icon">在店轻松使用免费WIFI<br/>随时随地享受更多优惠</div>
				<div class="btn-click"><a href="{:U('Index/appdown')}?type=must&jid={$jid}" class="btn-wifi">点击下载</a></div>
			</div>
		</section>
	</empty> 
	</neq>
</eq>
	<script>
		var Pullrefresh1 = null;//这个设置为全局
		function Pullrefresh(url){
			if (Pullrefresh1 == null){
				Pullrefresh1 = new Date().getTime();
			}else{
				var Pullrefresh2 = new Date().getTime();
				if(Pullrefresh2 - Pullrefresh1 < 500){
					Pullrefresh1 = Pullrefresh2;
					return;
				}else{
					Pullrefresh1 = Pullrefresh2;
				}
			}
		<eq name="Think.cookie.opentype" value="app">
			if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
				$('#Pullrefresh').attr("href",url);
				document.getElementById("Pullrefresh").click();
			}else{
				location.href=url;
			}
		<else/>
			location.href=url;
		</eq>
		}
	</script>
