<extend name="Public:common"/>
<block name="body">
<link rel="stylesheet" href="__PUBLIC__/Mobile/default/Css/login.css">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/default/Css/ios.css">
    <script src="__PUBLIC__/Js/layerm/layer.m.js"></script>
	<script src="__PUBLIC__/Mobile/default/Js/swiper.min.js"></script>
	<script src="__PUBLIC__/Mobile/default/Js/iscroll-4.2.js"></script>
	

<div class="main container p-tb">
  <div class="login-body">
    <ul class="form-wrap">   
      <li class="form-mod">
        <label class="mod-tit">原密码</label>
        <div class="mod-wrap">
          <input type="password" name="password" class="input-wrap"  placeholder="原密码" id="password" maxlength="16" required>
        </div>
      </li>
      <li class="form-mod">
        <label class="mod-tit">新密码</label>
        <div class="mod-wrap">
          <input type="password" name="password2" class="input-wrap" placeholder="6-16位字母和数字"  id="password2" maxlength="16" required>
        </div>
      </li>
      <li class="form-mod">
        <label class="mod-tit">确认密码</label>
        <div class="mod-wrap">
          <input type="password" name="password3" class="input-wrap" placeholder="再次输入新密码" id="password3" maxlength="16" required>
        </div>
      </li>
    </ul>
  </div>
  <div class="login-btn" href="javascript:;" onclick="submits()"> <span id="J_login_btn">登录</span> </div>
  
</div>
<script src="__PUBLIC__/Mobile/default/Js/zepto.min.js"></script>
<script>
function submits(){
	var password = $("#password").val();
	var password2 = $("#password2").val();
	var password3 = $("#password3").val();
	if(password == ''){
		layer.open({content: '请输入原密码',time: 2});
		return false;	
	}
	if(password2 == ''){
		layer.open({content: '请输入新密码',time: 2});
		return false;	
	}
	if(password2 == password){
		layer.open({content: '新密码不能和原密码相同',time: 2});
		return false;	
	}
	if(password3 == ''){
		layer.open({content: '请输入确认密码',time: 2});
		return false;	
	}
	if(password2.length < 6 || password2.length > 16){
		layer.open({content: '密码必须为6-16位字母和数字',time: 2});
		return false;	
	}
	if(password2 != password3){
		layer.open({content: '2次输入密码不一致',time: 2});
		return false;	
	}
	$.post('__ACTION__', {password:password,password2:password2}, function(data) {
		if(data == 1){
			layer.open({content: '原密码不正确',time: 2});
		}else{
			layer.open({content: '修改成功',time: 2});
		}
	})
}
</script>

</block>