<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>什么是返利翻倍</title>
	<link rel="stylesheet" href="__PUBLIC__/Rebateapp/Css/normalize.css">
	<link rel="stylesheet" href="__PUBLIC__/Rebateapp/Css/qmfl.css">
	<script>
    //10px 1rem;
    !function(){function a(){if(document.documentElement.clientWidth<600){document.documentElement.style.fontSize=document.documentElement.clientWidth/32+"px"}else{document.documentElement.style.fontSize="16.875px"}}var b=null;window.addEventListener("resize",function(){clearTimeout(b),b=setTimeout(a,300)},!1),a()}(window);
    </script>
</head>
<body class="">
	<header class="header">
		<h1>常见问题详情</h1>
		<a href="{:U('My/vip')}" class="ico header-back"></a>
	</header>
	<div class="main container p-58">
		<section class="faq-detail">
			<h3 class="faq-title">什么是返利翻倍？</h3>
			<p class="faq-content">
				普通用户只享受帝鼠OS全民返利收益的10%，消费商则轻松享受返利翻倍。
			</p>
		</section>
		<section class="faq-list">
			<ul class="sec-list">
				<li>
					<a href="{:U('My/faq',array('id'=>1))}">
						<span>什么是消费商？</span>
						<i class="ico ico-right"></i>
					</a>
				</li>
				<li>
					<a href="{:U('My/faq',array('id'=>3))}">
						<span>如何邀请好友得返现？</span>
						<i class="ico ico-right"></i>
					</a>
				</li>
				<li>
					<a href="{:U('My/faq',array('id'=>4))}">
						<span>什么是消费商专享特惠活动？</span>
						<i class="ico ico-right"></i>
					</a>
				</li>
				<li>
					<a href="{:U('My/faq',array('id'=>5))}">
						<span>我的账户安全性如何？</span>
						<i class="ico ico-right"></i>
					</a>
				</li>
			</ul>
		</section>
		<section class="faq-kefu">
			<ul class="sec-list">
				<li>
					<a href="tel:4008792388">
						<i class="ico ico-call-gray"></i>
						<span>客服电话：400-879-2388</span>
					</a>
				</li>
			</ul>
		</section>
	</div>
</body>
</html>