<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理后台弹框</title>
	<style>
		.szd-alert {
			color: #222;
			text-align: center;
			font-size: 20px;
			padding-top: 10px;
		}
		.szd-alert h4 {
			margin-bottom: 40px;
		}
		.szd-alert p {

			padding: 0 10px;
		}
		.szd-alert a {
			display: inline-block;
			padding: 5px;
			border: 1px solid #00bae7;
			border-radius: 5px;
			color: #00bae7;
			text-decoration: none;
			margin-top: 10px;
		}
	</style>
</head>
<body>
	<div class="szd-alert" id="DivJump">
		<h4>操作成功</h4>
		<p>我们将在2个工作日内，审核您提交的商户资料</p>
		<p>如有问题联系客服4008-792-388</p>
		
		<a onclick="window.parent.location.href = window.parent.location.href;" style="cursor:pointer;" >好的，我知道了</a>
	</div>
	</body>
</html>