<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<import type="css" file="Css.agent.style" />
<import type="js" file="Js.jquery" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<link href="__PUBLIC__/Css/acommon.css" rel="stylesheet" type="text/css" />
<style>
td a { margin-left: 2%; }
</style>
</head>

<body>
<div class="rightinfo">
    <div class="subnav">
    	<if condition="!isset($overnum)"> <span class="on" onclick="addMerchant()">添加商户</span> </if>
    	<span style="margin-left:15px;font-size:12px;line-height:38px;border-bottom-color:red;">商户列表</span> 
   	 	<a href="{:U('/Merchant/downloadMerchant')}" style="margin-left:15px;font-size:12px;line-height:38px;">导出数据</a> 
    
    </div>
    <div class="search_list" id="SearchForm">
        <form method="get" action="" name="searchform">
            <div class="explain-col">
                <div style="float:left;margin-left:100px;">模糊查询：
                    <input class="dfinput" type="text" name="keyword" value="{$Think.get.keyword}" placeholder="商户名称/账户名称" style="width:300px;"/>
                </div>
                <input type="submit" value="搜索" class="button fl" name="search" />
            </div>
        </form>
    </div>
    <form name="merchantDelete" action="" method="post">
        <table class="tablelist">
            <thead>
                <tr>
                    <th width="5%"><input type="checkbox" id="checkbox" onclick="selectAll('jid[]');"></th>
                    <th>序号<i class="sort"><img src="__PUBLIC__/Images/px.gif" /></i></th>
                    <th>商户名称</th>
                    <th>简称</th>
                    <th>行业</th>
                    <th>代理商</th>
                    <th>门店数</th>
                    <th>设备数</th>
                    <th>绑定账户</th>
                    <th>开通时间</th>
                    <th>操作</th>
                    <th>账户</th>
                    <th>账户状态</th>
                    <th style="text-align:center;">重置密码</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="result" item="vo" key="k">
                    <tr>
                        <td  class="jid" id="{$vo.jid}"><input name="jid[]" type="checkbox" value="{$vo.jid}"/></td>
                        <td>{$k+1}</td>
                        <td>{$vo.mnickname}</td>
                        <td>{$vo.mabbreviation}</td>
                        <td>{$vo.vname}</td>
                        <td>{$vo.anickname}</td>
                        <td><if condition='$vo.mid lt 0'> 0 <else />{$vo.mendian} </if></td>
                        <td>{$vo.shebei}</td>
                        <td>{$vo.mbdzh}</td>
                        <td>{$vo.mregdate}</td>
                        <td><a href="javascript:void(0);" onclick="editMerchant('{$vo.jid}')">修改</a><a href="{:U('Agent/Merchant/shopList',array('jid'=>$vo['jid']))}" class="tablelink" >店铺列表</a><a href="#" class="tablelink" style="color:#ccc;">分配设备</a></td>
                        <td>{$vo.mname}</td>
                        <td style="cursor:pointer;" onclick="hosMerchant(this)" id="TD_MER_STATUS_{$vo.jid}" data-value='{$vo.mstatus}' data-id='{$vo.jid}' title="点击禁用商家"><img src="__PUBLIC__/Images/status_{$vo.mstatus}.gif" /></td>
                        <if condition="$vo['mpwd']=='ff92a240d11b05ebd392348c35f781b2'">
                            <td style="color:#ccc;">已重置</td>
                            <else />
                            <td  onclick="hosmAgent(this)" id="{$vo.mid}" data-id="{$vo.mid}" style="cursor:pointer;text-align:center;">重置</td>
                        </if>
                    </tr>
                </foreach>
            </tbody>
        </table>
        <div class="btn" style="width:100%;">
            <label style="float:left;color:#000;" for="checkbox" >全选/取消</label>
            <input type="button" onclick="delMerchant('')" value=" 禁用 " name="dosubmit" class="button" />
        </div>
    </form>
    <div id="pages"> {$page} </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Js/Kindeditor/kindeditor.min.js"></script> 
<script type="text/javascript">
var KindeditorDialog = null;

//添加商户
function addMerchant() {
	KindeditorDialog = KindEditor.dialog({
		width : 700,
		height: 370,
		title : '添加商户',
		body  : '<iframe frameborder="0" class="iframeDialog" src="{:U("/Merchant/add", "", true)}"></iframe>',
		closeBtn : { name:'关闭', click:function(e) { KindeditorDialog.remove(); KindeditorDialog=null; } }
	});
}
//修改商户
function editMerchant( id ) {
	if( !id ) { alert('参数出现错误'); return false; }
	KindeditorDialog = KindEditor.dialog({
		width : 700,
		height: 560,
		title : '修改商户',
		body  : '<iframe frameborder="0" class="iframeDialog" src="{:U("/Merchant/edit/id/'+id+'", "", true)}"></iframe>',
		closeBtn : { name:'关闭', click:function(e) { KindeditorDialog.remove(); KindeditorDialog=null; } }
	});	
}

//重置密码
function hosmAgent( obj ) {
    var dataId=$(obj).attr('data-id');  
    if( !dataId ) return false;
    if( confirm('确实要重置代理商的账户密码，一旦重置 此代理商的密码将回到初始值 000000 ') ) {   
        $.get("{:U('/Agen/updateMpwd', '', true)}", {mid:dataId}, function(data) { 
            if(parseInt(data)==0) {alert("修改失败");}  
			if(parseInt(data)==1){alert("密码重置成功!默认：000000");$(obj).css("color","#ccc");$(obj).html("已重置");}   
           
        })
    }
}

//批量禁用商户
function delMerchant( jid ) {
	$("input[name='jid[]']").each(function(index, element) { if($(this).is(":checked")) jid = $(this).val()+','+jid; });
    if( !jid ) { alert('参数出现错误'); return false; } jid = jid.substring(0, jid.length-1);
	if( !confirm('确实要禁用所选商家吗？') ) return false;
    $.get("{:U('/Merchant/merchantDel', '', true)}", {jid:jid, status:'1'}, function( data ) {
        if( parseInt(data)==1 ) $.each(jid.split(','), function(key, value) { 
			document.getElementById("TD_MER_STATUS_"+value).getElementsByTagName("img").item(0).src="/Public/Images/status_0.gif"; 
        	$("#TD_MER_STATUS_"+value).attr("data-value", "0");
		})
		$("input[type='checkbox']").each(function() { this.checked=false; });
    })  
}

//单个禁用或解禁商户
function hosMerchant( obj ) {
	var dataValue=$(obj).attr('data-value'), dataId=$(obj).attr('data-id'); 
	if( !dataId || dataValue != '1' ) return false;
	if( confirm('确实要禁用此商家吗') ) {
		$.get("{:U('/Merchant/merchantDel', '', true)}", {jid:dataId, status:1}, function(data) {
			if(parseInt(data)==0) return false;
			if(dataValue=='1') {
				$(obj).attr('data-value', '0'); $(obj).children('img').attr('src', '/Public/Images/status_0.gif');
			} else {
				$(obj).attr('data-value', '1'); $(obj).children('img').attr('src', '/Public/Images/status_1.gif');
			}
		})
	}
}

function selectAll( name ) {
    if ($("#checkbox").is(":checked")==false) {
        $("input[name='"+name+"']").each(function() { this.checked=false; }); 
    } else {
        $("input[name='"+name+"']").each(function() { this.checked=true; });
    }
} 
</script>
</body>
</html>
