

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Js/Kindeditor/themes/default/default.css" />
<link href="__PUBLIC__/Css/acommon.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="main-body">
    <div class="subnav">
        <span style="margin-left:15px;" id="SearchOpen"><a href="{:U('/Merchant/appnoList' )}" >未生成客户端列表</a></span>
        <span style="margin-left:15px;color:red;" id="SearchOpen">已生成客户端列表</span>

    </div>
    <div class="search_list" id="SearchForm">
        <form method="get" action="__ACTION__" name="searchform">
            <div class="explain-col">
                <label class="fl">开通时间：</label>
                <input type="text" class="user_input" readonly="readonly" size="10" value="{$Think.get.statime}" id="statime" name="statime">
                <label class="fl mlr5">-</label>
                <input type="text" class="user_input" readonly="readonly" size="10" value="{$Think.get.endtime}" id="endtime" name="endtime">
                <input type="text" class="user_input" placeholder="搜索：如 商家名称" name="jid" value="{$Think.get.jid}" />
                <input type="submit" value="搜索" class="button fl" name="search" />
            </div>
        </form>
    </div>
	<div class="main-body">
        <table class="table-list">
            <thead>
                <tr>
                    <th width="40">序号</th>
                    <th>所在商户</th>
                    <th style="text-align:left;">所在地区</th>
                    <th>安卓下载数</th>
                    <th>苹果下载数</th>
                    <th>开通时间</th>
                    <th>最后生成时间</th>
                </tr>
            </thead>
            <tbody>
                <volist name="appsList" id="vo">
                    <tr id="TP_SP_{$vo.sid}">
                        <td>{$vo.jid}</td>
                        <td>{$vo.mnickname}</td>
                        <td style="text-align:left;">{$vo.mcity|get_address_byid}</td>
                        <td>{$vo.android_downloads|}</td>
                        <td>{$vo.ios_downloads}</td>
                        <td>{$vo.mregdate}</td>
                        <td>{$vo.endmakedate}</td>
                    </tr>
                </volist>
            </tbody>
        </table>
        <div id="pages"> {$pages} </div>
	</div>
</div>

<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Kindeditor/kindeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Calendar/calendar.js"></script>
<script type="text/javascript">
Calendar.setup({ inputField:"statime", trigger:"statime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });
Calendar.setup({ inputField:"endtime", trigger:"endtime", dateFormat:"%Y-%m-%d", showTime:false, minuteStep:1, onSelect:function() { this.hide(); } });



</script>
</body>
</html>