<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>&nbsp;</title>
<link href="__PUBLIC__/Css/acommon.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="dialog-main-body">
    <div class="main-body">
        <div id="ScrollForm">
            <div class="divSetting">
                <table class="table-form" border="0">
                	<thead>
                    	<tr style="height:0px;overflow:hidden;padding:0px;border:none;">
                            <th width="80" style="padding:0px;height:0px;border:0px;"></th>
                            <td style="padding:0px;height:0px;border:0px;"></td>
                            <th width="70" style="padding:0px;height:0px;border:0px;"></th>
                            <td style="padding:0px;height:0px;border:0px;"></td>
                            <th width="80" style="padding:0px;height:0px;border:0px;"></th>
                            <td style="padding:0px;height:0px;border:0px;"></td>
                        </tr>
                    </thead>
                	<tbody>
                    	<tr>	
                            <td colspan="6" style="padding-left:70px; color:#00f;"><b>会员信息</b></td>
                        </tr>
                        <tr style="height:42px;">
                            <th width="80">会员昵称</th>
                              <td colspan="2">{$user.name} (uid:{$user.u_id})</td> 
							  <td style="border-left:1px solid #ccc;"> <span>注册来源:&nbsp;&nbsp;</span>{$user.u_source}</td>
                         
                            <th width="80">注册时间</th>
                            <td>{$user.u_regtime}</td>
                        </tr>
                        <tr style="height:42px;">
                            <th width="80">所属商家</th>
                            <td>{$user.mnickname}</td>
                            <th width="70">所属代理商</th>
                            <td>{$user.anickname}</td>
  
                        </tr>
                        <tr>	
                            <td colspan="6" style="padding-left:70px; color:#00f;"><b>设备信息</b></td>
                        </tr>
                        <tr style="height:42px;">
                            <th width="80">手机号</th>
                            <td>{$user.u_phone}</td>
                            <th width="70">IMEI串号</th>
                            <td>{$user.u_ssid}</td>

                        </tr>
                        <tr>
                            <th width="80">会员头像</th>
                            <td colspan="5"><img src="{$user.u_avatar}" width="30" height="30"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>
