<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>帝鼠OS项目说明会圆满召开</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>  
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>

<div class="content">
    <p class="title">帝鼠OS项目说明会圆满召开</p>
    <p class="detail">会议时间：2015年6月19日（周五） 下午</p>
    <p class="detail">会议地点：杭州海外海国际酒店</p>
    <p class="detail">参会人员：帝鼠OS全体员工、帝鼠OS战略合作伙伴代表、帝鼠OS意向代理商</p>
    <p class="c-blue">1、企业文化</p>
    <p class="h-10"></p>
    <p class="detail"><strong>主讲人</strong></p>
    <p class="detail">帝鼠OS 董事长 胡勇建</p>
    <p class="detail"><strong>内容要点</strong></p>   
    <p class="detail">帝鼠OS一手打造的全系统产品及顶层商业模式，都是围绕“利他”精神转化的，帝鼠OS将高举“利他精神 百载传承”伟大旗帜 ，打造一个物联网产业链实现全民共赢。</p>
    <p class="detail"><strong>具体内容</strong></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1609.jpg"/></p>
    <p class="tt">帝鼠OS董事长胡勇建先生现场致辞</p>
    <p class="h-10"></p>
    <p class="detail">会议开场，<strong>帝鼠OS董事长胡勇建先生</strong>发言致辞，代表帝鼠OS全体员工感谢出席说明会的所有嘉宾，并阐述了帝鼠OS企业文化的核心——<strong>“利他”精神。</strong></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1602.jpg"/></p>
    <p class="tt">胡董关于利他精神的发言获得了现场嘉宾的掌声和认可</p>
    <p class="h-10"></p>
    <p class="detail">胡董讲述的帝鼠OS企业文化与发展愿景获得了现场嘉宾的掌声和认可。</p>
    <p class="h-10"></p>
    <p class="c-blue">2、产品介绍</p>
    <p class="h-10"></p>
    <p class="detail"><strong>主讲人</strong></p>
    <p class="detail">帝鼠OS CEO 王桢</p>
    <p class="detail"><strong>人物背景</strong></p>   
    <p class="detail">王桢，11年专业互联网经验，资深产品总监。腾讯系出身，亿买购物搜索引擎创始人，获500万个人天使投资；腾腾快娱智能硬件联合创始人，获新浪2000万天使投资，智能硬件项目，被浙江电信收购后更名为“玩酷”。现担任帝鼠OS CEO，同时兼任产品、技术、运营负责人。</p>
    <p class="detail"><strong>内容要点</strong></p>
    <p class="detail">帝鼠OS是国内首家“软硬结合”的“物联网营销”服务提供商，提供“硬件拉客”、“软件续客”的自主营销平台。</p>
    <p class="detail"><strong>具体内容</strong></p>   
    <p class="detail">胡董的讲解让现场嘉宾们了解了帝鼠OS的“内在美”。接下来帝鼠OS CEO王桢先生对产品的详细介绍，则让大家了解了帝鼠OS的“外在美”。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1603.jpg"/></p>
    <p class="tt">帝鼠OS CEO 王桢 介绍帝鼠OS全系统产品</p>
    <p class="detail">王总以互联网资深产品总监的角度，结合幽默风趣的语言和扁平化动态PPT为大家详尽讲解了帝鼠OS全系统产品。
</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1604.jpg"/></p>
    <p class="tt">“互联网+”就是“互联网+各个传统行业”</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1605.jpg"/></p>
    <p class="tt">帝鼠OS全面满足传统行业五大需求</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1606.jpg"/></p>
    <p class="tt">帝鼠OS包括商户独立APP+智能硬件+商户管理平台</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1607.jpg"/></p>
    <p class="tt">店铺管理平台让传统门店实现智能化营销</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1608.jpg"/></p>
    <p class="tt">智能揽客硬件由腾讯系背景的硬件供应商提供</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1610.jpg"/></p>
    <p class="tt">独立软件帮助企业或商户将店铺搬进客户的手机</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1611.jpg"/></p>
    <p class="tt">帝鼠OS智能硬件通过硬件融合系统与商户自有硬件进行数据对接</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1612.jpg"/></p>
    <p class="tt">帝鼠OS行业案例展示</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1613.jpg"/></p>
    <p class="tt">现场嘉宾纷纷拿起手机拍照记录</p>
    <p class="h-10"></p>
    <p class="detail">现场产品演示环节，大家通过现场手机操作详尽了解帝鼠OS商户独立APP的功能及特点。王总又邀请大家拿出手机，通过微信摇一摇就可以摇到帝鼠OS的产品介绍资料。
</p>
    <p class="h-10"></p>
    <p class="detail">一个多小时的纯干货分享使得现场嘉宾们精神为之一振。大家纷纷拿起手机照相或者纸笔书写进行记录。</p>
    <p class="h-10"></p>
    <p class="c-blue">3、产品介绍</p>
    <p class="h-10"></p>
    <p class="detail"><strong>主讲人</strong></p>
    <p class="detail">帝鼠OS 副总 王鑫瑞</p>
    <p class="detail"><strong>内容要点</strong></p>   
    <p class="detail">帝鼠独有的V模式立足于为商家，厂家，消费者建立闭环式消费体系，搭建消费者、店家、商家、品牌厂商之间更直接更紧密的商业往来通道。</p>
    <p class="detail"><strong>具体内容</strong></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1614.jpg"/></p>
    <p class="tt">帝鼠OS副总 王鑫瑞先生解说V模式</p>
    <p class="detail">有了好的产品，当然也少不了好的商业模式带领大家玩爆物联网商业圈。帝鼠OS副总 王鑫瑞先生围绕企业“利他”精神，为大家介绍了物联网全新的商业模式：V模式。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1615.jpg"/></p>
    <p class="tt">现场嘉宾们认真聆听</p>
    <p class="c-blue">4、战略合作方签约</p>
    <p class="h-10"></p>
    <p class="detail"><strong>公司代表</strong></p>
    <p class="detail">帝鼠OS 董事长助理 巫灵生</p>
    <p class="detail"><strong>具体内容</strong></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1616.jpg"/></p>
    <p class="tt">战略合作方签约仪式</p>
    <p class="detail">战略合作方签约仪式又将会议现场推向另一个高潮。<strong>帝鼠OS董事长助理 巫灵生先生作为公司代表</strong>，与战略合作伙伴代表们一起上台签署合约，他们是：</p>
    <p class="detail c-27a7ca">浙江九好办公服务集团总裁 宋荣生</p>
    <p class="detail c-27a7ca">浙江葛藤网络科技有限公司董事长 王凌云 </p>
    <p class="detail c-27a7ca">福建恒纳电子商务有限公司 董事长 唐检冬</p>
    <p class="detail c-27a7ca">杭州蒸功夫健康餐饮连锁有限公司董事长 葛柏浩</p>
    <p class="detail c-27a7ca">杭州忒美电子商务有限公司董事长 郭理伟</p>
    <p class="detail">签约仪式完成后，各位战略合作方代表用朴素的语言、真挚的情感表达了对帝鼠OS项目信任与支持。</p>
    <p class="h-10"></p>
    <p class="c-blue">5、代理签约</p>
    <p class="h-10"></p>
    <p class="detail"><strong>公司代表</strong></p>
    <p class="detail">帝鼠OS副总 王鑫瑞</p>
    <p class="detail"><strong>内容要点</strong></p>
    <p class="detail"><strong>优厚的系统反哺和期权奖励</strong>给了意向代理商们新一轮的惊喜，意向代理商们纷纷前往咨询台询问具体代理事项。</p>
    <p class="detail"><strong>具体内容</strong></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1617.jpg"/></p>
    <p class="tt">裘先生率先签约，获得安徽省运营服务中心的运营权</p>
    <p class="detail">一位裘先生率先签约，获得了帝鼠OS在安徽省运营服务中心的运营权。情绪激动的他表示十分高兴能拿到全省运营服务中心的经营权。<strong>他对帝鼠OS抱有极大的期望与信心，他坚信帝鼠已经开启了物联网财富之门，签约代理帝鼠一定能创造新的财富传奇。</strong></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1618.jpg"/></p>
    <p class="tt">会议即将结束时，又有几位意向代理商立即决定签约。</p>
    <p class="detail">会议在现场嘉宾们的热情询问和火热签约氛围中结束了。本次项目说明会是帝鼠OS全系统产品首次完整地展现在公众面前。</p>
    <p class="detail">今后帝鼠OS将继续迈着铿锵的步伐走向物联网的美好明天，以最佳的状态迎接即将到来的机遇与挑战，最终实现利他共赢！</p>
    <p class="c-hight"></p>
</div>
</body>
</html>
