<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>公司董事长应邀参加民生996电台访谈节目</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
<div class="content">
    <p class="title">公司董事长应邀参加民生996电台访谈节目</p>
    <p class="detail">近日，<strong>阿宅订网络科技有限公司董事长胡勇建</strong>应邀前往<strong>浙江广电集团</strong>参加<strong>民生996电台《浙江好公司》</strong>节目访谈。访谈过程中，董事长胡先生畅谈了自己的创业历程、人生感悟以及公司现状，节目已于6月6日（周六）18:30顺利播出，反响强烈。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/news01501.jpg"/></p>
    <p class="h-10"></p>
    <p class="detail">17岁就去上海闯荡的胡董，<strong>扛过水泥、摆过地摊、卖过手机</strong>。基本三百六十行都尝试过了。他只念过小学。但所谓“没学历不代表没文化”。胡董坚持每天实践学习方法<strong>不走寻常路</strong>以结果论。</p>
    <p class="h-10"></p>
    <p class="detail">可能冥冥中自有安排，一次坐飞机的经历让当时35岁的胡董大彻大悟。飞机起飞那一刹那，往事如电影般一幕幕回放。胡董头脑前所未有的清晰，他立志做一个<strong>有使命感的企业家</strong>。心怀慈悲，以出世之心做入世之事，<strong>舍弃小他，专心利他</strong>。“利他”是胡董用自己亲身经历感悟到的，也是<strong>企业文化核心所在</strong>。五年前，在智能机才刚刚兴起，微信也还没出来的时候，胡董对移动互联网发展已经有了敏锐的判断。他坚信一款产品只有真正做到利他才能落地。<strong>将店铺搬进客户的手机</strong>，这是他做这款互联网产品最初的想法。</p>
    <p class="h-10"></p>
    <p class="detail"><strong>帝鼠OS项目</strong>是胡董人生宏愿的<strong>具象化产物</strong>。“上有天猫，下有地（帝）鼠，相信帝鼠会更接地气”他们走天桥，那么我们可以走隧道，方法工具不同，但同样可以到达胜利的彼岸。传统营销的关注点是产品。而<strong>互联网时代的营销核心是用户</strong>。帝鼠OS真正关注到了用户的需求，<strong>给予用户的第一利益</strong>。</p>
    <p class="h-10"></p>
    <p class="detail">帝鼠OS是<strong>国内首家“软硬结合”的物联网营销服务商</strong>，为中小商户提供<strong>“硬件拉客”、“软件续客”</strong>的“物联网营销“解决方案。帝鼠OS包括商户<strong>独立APP+智能揽客神器+商家后台+帝鼠OS商户版</strong>。通过“软硬结合”，为企业和商家提供属于自主经营的“移动互联网店铺”。让企业和商家成为营销平台<strong>真正的拥有者和受益人</strong>。</p>
    <p class="h-10"></p>
    <p class="detail">人才才是企业发展的<strong>核心竞争力</strong>。帝鼠OS拥有专业的销售高级专家顾问、技术专家、培训导师、运营专员的强大团队。帝鼠团队现在的核心管理层是7位，马云创立之初是18位，而胡董更希望是建立<strong>36星宿</strong>。以1带5，36位后就是<strong>180位</strong>，则公司一定可以健康快速发展。</p>
    <p class="h-10"></p>
    <p class="detail">公司拥有<strong>40余项知识产权，6个著作权</strong>，此外帝鼠OS还有<strong>5个专利</strong>正在申报中。作为一家有强大技术团队和多项专利的互联网公司，公司也获得了<strong>拱墅区科技局</strong>领导的重视和扶持。同时也获得了各大知名媒体们的支持。与各大集团、购物中心和商业综合体都建立了合作意向，目前已经和几家大型集团与商业综合体建立了<strong>战略合作伙伴关系</strong>。</p>
    <p class="h-10"></p>
    <p class="detail">胡董表示阿宅订人是要齐心做<strong>百年企业</strong>的，<strong>利他精神必定百载传承</strong>。帝鼠OS继续积极寻找更多志同道合的伙伴一起创业。杭州阿宅订网络科技有限公司<strong>帝鼠OS首届项目说明会</strong>将于<strong>6月19日</strong>召开，欢迎各种形式的合作伙伴以及各地的意向代理商参加！</p>
    <p class="h-10"></p>
    <p class="join-tel">加盟热线：4008792388</p>
    <p class="c-hight"></p>
</div>
</body>
</html>
