<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>大开眼界  原来物联网也能推动营销</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
<div class="content">
    <p class="title">大开眼界  原来物联网也能推动营销</p>
    <p class="detail">一千个人眼中有一千个哈姆雷特，一千个人眼中也有一千种对物联网的认知——从懵懵懂懂到高谈阔论，大家的反应各不相同。想要轻松了解神马是物联网，可以用以下三大要素总结：</p>
    <p class="h-10"></p>
    <p class="detail">1.智能、内嵌传感器的设备和软件<br/></p>
    <p class="h-10"></p>
    <p class="detail">2.信息的提供</p>
    <p class="h-10"></p>
    <p class="detail">3.通过互联网连接一切</p>
    <p class="h-10"></p>
    <p class="detail">从营销角度来看，营销人员如何利用物联网提高自己的业务成绩捏？市场营销的基础构建模块可为这个问题提供具有参考意义的架构和一些有用的答案。</p>
    <p class="h-10"></p>
    <p class="detail bold">营销信息系统：卖东西也要靠物联！</p>
    <p class="detail">众所周知，物联网具有收集数据和分析反馈的功能，通过将这些信息报告给决策者，公司就能在适当的时候采取适当的措施，并根据市场反馈不断调整推进策略。物联网能够让营销人员实时get到他们想知道的一切，而非通过过时、有失偏颇的调研数据，比如通过接入物联网的可穿戴设备，营销大牛和营销汪汪可以轻松get到用户投诉、表扬、建言，抑或竞争对手信息等等。物联网甚至可以为企业提供“用户的喜好和槽点”这类实时信息。不用在市场调研中苦苦挣扎，物联网帮你从冗余的工作中解放出来。</p>
    <p class="h-10"></p>
    <p class="pic300"><img src="__PUBLIC__/Home/images/201.jpg"/></p>
    <p class="detail">如何实现：英特尔可以提供其领先的3-D成像以及来自Curie和RealSense的情绪跟踪功能，实现更快、更实时地反馈收集。</p>
    <p class="h-10"></p>
    <p class="detail bold">品牌：通过物联网洞悉用户的小心思</p>
    <p class="detail">如何让品牌在大众心中bling bling？万能的物联网又能帮到你呢。通过内置传感器，物联网可以捕捉用户对企业标识、吉祥物、广告语、logo颜色、形状和字体类型等品牌元素的偏好，比如大脑活跃度、心率、情绪、眼球运动等，以此衡量其与品牌之间的互动。通过这些信息，企业能够获得更为精确的市场反馈，增进与用户之间的情感联结：看到你就耳红心跳，还是看到你就turn down 。</p>
    <p class="h-10"></p>
    <p class="pic300"><img src="__PUBLIC__/Home/images/202.jpg"/></p>
    <p class="detail bold">产品：物联物联最物联！</p>
    <p class="detail">什么是好产品？好产品就是它能满足你的所有需求，它能帮你省心省力又省钱。看似很理想化的事情，物联网却可以一一做到。</p>
    <p class="h-10"></p>
    <p class="detail">通过产品和包装中的传感器，物联网能够轻松了解人们如何使用产品，使用频率，啥时需要更换原件，并且和卖家互动。举个栗子，当消费者购买一款物联网产品之后，它可以贴心地告诉使用者何时需要充电、更换原件，甚至远程控制它的开和关，而这些信息也将反馈至卖家，以便在有问题的时候，第一时间得到解决，无需让消费者经历“联系供应商、报告问题、乞求帮助，然后讨价还价”的痛苦流程。</p>
    <p class="h-10"></p>
    <p class="detail">所有这些配合工作，将大大降低制造、销售、维护以及客户服务成本。理想情况下，买家将获得更好的客户体验，并以更低的成本获得自己的心仪之物。</p>
    <p class="h-10"></p>
    <p class="pic300"><img src="__PUBLIC__/Home/images/203.jpg"/></p>
    <p class="detail bold">价格决定命运</p>
    <p class="detail">炒鸡棒的产品质量、几无缺陷、客户满意度提升，以及交易和服务成本降低——这些因素加在一起，将有效提高卖家绩效和买家体验。物联网还能根据买家的购买频次、信用记录、忠诚度，提供不同的价格。VIP的福利！</p>
    <p class="h-10"></p>
   <p class="pic300"><img src="__PUBLIC__/Home/images/204.jpg"/></p>
   <p class="detail bold">分销：哪儿卖去？</p>
   <p class="detail">物联网能够帮助提供方便有效的分销方案。它能够通过买家的移动设备，比如手机，告诉他们购买所需产品的最近位置。它还可根据用户指定的优先排序，提供卖家的独立评级。</p>
   <p class="h-10"></p>
   <p class="detail">当客户在附近位置时，卖家就能感觉到，并向其发送想买、正在打折的产品提醒，或者优惠券，发送至买家的手机、联网设备上。比大众点评更好用的说！</p>
   <p class="h-10"></p>
   <p class="pic300"><img src="__PUBLIC__/Home/images/205.jpg"/></p>
   <p class="detail bold">推广与促销：一定要Bling Bling的</p>
   <p class="detail">举个例子：街上展示的品牌电子海报和广告片，可以根据观者的眼球转动、过往速度，以及数量等各种因素，调整其播放内容和显示速率。这就是物联网的神奇之处，它可以根据人流和不同时段开关或更换数字标牌——从而为卖家节约电费，并向潜在买家提供更有针对性的推广信息。比如，买家可以通过移动设备实时获取商品信息或直接下单，在观看电视节目、电影或视频游戏时，立刻停止操作，下单购买演员（和角色）正在使用或穿戴的产品。利用物联网，在线内容可根据每个用户的兴趣、时间段和点击率进行动态调整。同样，零售窗口和店内展示也可以随着当天人流多少、环境照明变化及其它动态因素进行调整。</p>
   <p class="detail">英特尔Shopping Anywhere解决方案可以帮你快速识别荧幕女神和男神们所穿服饰，让你窝在沙发里完成选购，把电视里的尖货潮牌“拽”出来。</p>
   <p class="h-10"></p>
   <p class="detail bold">未来：物联网往哪儿看？</p>
   <p class="detail">为了帮助实现以上所有或任意目标，许多新的发明已经出现，或即将到来。以下只是其中一部分。</p>
   <p class="h-10"></p>
   <p class="detail">Ÿ 谷歌眼镜：能够识别穿戴者正在注视的区域，实时发送并接收相关信息。</p>
   <p class="h-10"></p>
   <p class="pic300"><img src="__PUBLIC__/Home/images/206.jpg"/></p>
   <p class="detail">Ÿ 苹果手表及其它可以戴在手腕或身体其它部位的智能手表和可穿戴设备，能够发送、接收并检索信息。</p>
   <p class="h-10"></p>
   <p class="pic300"><img src="__PUBLIC__/Home/images/207.jpg"/></p>
   <p class="detail">Ÿ 智能电视：通过互联网提供电视内容和双向通信功能。</p>
   <p class="pic300"><img src="__PUBLIC__/Home/images/208.jpg"/></p>
   <p class="detail">Ÿ 智能屏幕：与智能电视类似，双向互动的概念延伸到镜子、窗户以及你能想到的所有屏幕上。它们已在触控屏计算机和移动设备上提供。</p>
   <p class="pic300"><img src="__PUBLIC__/Home/images/209.jpg"/></p>
   <p class="detail">Ÿ 智能海报、广告和广告牌：将传统促销形式带入未来，这将是能够与潜在买家进行沟通的广告，让买家能够与广告互动、获取更多信息，并直接购买。</p>
   <p class="pic300"><img src="__PUBLIC__/Home/images/210.jpg"/></p>
   <p class="detail">Ÿ 智能墨水：一些制造商开发了能够在任何物体上打印电路板的墨水。这将让平面广告消费者能够与这些广告进行互动——提供营销信息系统反馈、将消费者引入网站。</p>
   <p class="pic300"><img src="__PUBLIC__/Home/images/211.jpg"/></p>
   <p class="detail">Ÿ 智能服装。内置于织物的传感器将为医务人员和运动员提供健康和表现反馈。营销人员将利用这种服装监测用户对营销内容、产品和品牌差异，以及定价变更产生的生理反应。</p>
   <p class="pic300"><img src="__PUBLIC__/Home/images/212.jpg"/></p>
   <p class="detail">最后，了解客户所想，满足客户所需——这是一个7/24不间断的工作。来自英特尔的物联网技术，让营销者能够与市场进行实时互动，做出更好的决策。希望本文为你提高业绩、提升客户关系，甚至加薪升职有所帮助！好运！</p>
   <p class="pic300"><img src="__PUBLIC__/Home/images/213.jpg"/></p>
   <p class="c-hight"></p>
</div>
</body>
</html>
