<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>智慧城市有什么好？</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
<div class="content">
    <p class="title">智慧城市有什么好？</p>
    <p class="detail">近日，据人民网消息指出，中俄正联合研发智慧城市管理等系统。俄罗斯科学院院士、西伯利亚分院伊尔库茨克科学中心专家伊戈尔·贝奇科夫接受采访时指出，中、俄双方正在研究的一个项目是“智能城市管理系统”。研发该系统旨在利用现有的工艺和新技术，来解决城市面临的新问题。</p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/1001.jpg"/></p>
    <p class="detail">在我国城镇化加速发展，着力解决城市发展问题，实现城市可持续发展的当下，上述消息无疑将给我国智慧城市的发展带来新的活力。</p>
    <p class="h-10"></p>
    <p class="detail bold">智慧城市“遍地开花”</p>
    <p class="detail">来自赛迪方略智慧城市研究数据库数据显示，截止到2014年12月，我国在建的智慧城市数量已经达到168个。除环渤海、长三角和珠三角三大经济区，成渝经济圈、武汉城市群、鄱阳湖生态经济区等中西部地区智慧城市数量也大幅增加。</p>
    <p class="h-10"></p>
    <p class="detail">从东部三大经济区到中西部经济区，智慧城市建设发展已经形成遍地开发的建设格局。</p>
    <p class="h-10"></p>
    <p class="detail">随着社会的发展，以及城市人口的不断攀升，为规范和推进城市可持续发展，2012年，住房城乡建设部发布了有关开展智慧城市试点工作的通知。智慧城市建设由此快马加鞭。</p>
    <p class="h-10"></p>
    <p class="detail">所谓智慧城市，是指利用先进的信息技术，对城市进行更加有效的智能化管理，促进城市的健康和可持续发展，进而提高居民的生活环境和质量。</p>
    <p class="h-10"></p>
    <p class="detail">今年“两会”上，李克强总理在政府工作报告中明确提出：发展智慧城市。发展智慧城市成为国家战略。</p>
    <p class="h-10"></p>
    <p class="detail">智慧城市试点逐步铺开。今年4月初，住建部和科技部联合公布了第三批智慧城市试点名单，确定北京市门头沟区等84个城市（区、县、镇）为国家智慧城市2014年度新增试点，河北省石家庄市正定县等13个城市（区、县）为扩大范围试点。</p>
    <p class="h-10"></p>
    <p class="detail">中国城市科学研究会规划处处长杨德海指出，与前两批申报的城市以大中城市为主不同，这次申报有很多县级城市。之前的智慧城市试点主要集中在江苏、山东、湖南等中东部区域，西部区域相对较少，而第三批申请城市许多来自西南、西北等边远地区。</p>
    <p class="h-10"></p>
    <p class="detail">这表明，越来越多的城市对智慧城市试点的热情正在被点燃。不过，据《中国产经新闻》报道，城市级别不同，在建智慧城市的覆盖率有所不同，而在建设重点上各城市也存在重大的差异性。</p>
    <p class="h-10"></p>
    <p class="detail">据赛迪方略智慧城市研究中心分析师师旭颖介绍，随着城市级别的降低，在建智慧城市覆盖率也随之降低，例如，一级城市在建智慧城市的覆盖率为100%，而四级城市在建智慧城市覆盖率则只有30%。</p>
    <p class="h-10"></p>
    <p class="detail">此外，在建设重点上，经济和信息化发展实力较高的地区侧重于以典型应用为切入点，符合城市发展需求、突出城市特色的综合性建设，而相比之下，中西部欠发达地区智慧城市建设则大不相同。“这些地区的智慧城市建设更易与城市基础设施大规模改造联系在一起，借助智慧城市发展，以期在信息基础设施建设上谋取后发优势。”师旭颖指出。</p>
    <p class="h-10"></p>
    <p class="detail">以北京和天津为例，作为政治、经济和文化中心，北京结合自身特点，“智慧北京”定位为服务导向型，通过建设和完善城市智能化交通系统、管理服务和社会治安防控体系，为公众提供更便捷的服务。</p>
    <p class="h-10"></p>
    <p class="detail">天津，作为我国北方经济中心和国际化港口城市，“智慧天津”的建设过程中注重顶层设计和总体规划，通过工程实施促进建设目标的实现。</p>
    <p class="h-10"></p>
    <p class="detail">智慧城市建设正在如火如荼地进行。不过，智慧城市要真正落地建设实施，仅有热情还不够。“落地实施主要取决于当地政府的经济实力、认识和重视程度，以及当地经济结构、产业发展和信息化的水平。”师旭颖对《中国产经新闻》记者表示。</p>
    <p class="h-10"></p>
    <p class="detail bold">“互联网+”智慧城市</p>
    <p class="detail">从智慧城市的内涵来看，建设智慧城市离不开大数据、云计算、移动互联网等信息技术。</p>
    <p class="h-10"></p>
    <p class="detail">上世纪60年代初“信息化”被提出，而以大数据、云计算、移动互联网等为代表的信息化浪潮成为智慧城市的催化剂。信息化技术为传统产业转型升级发展提供了新的发展机遇，相反信息产业也成为智慧城市发展不可或缺的重要组成部分。</p>
    <p class="h-10"></p>
    <p class="detail">尤其在近20年来，以互联网、IT为主的信息产业已经成为全球第一大产业，在成为各国经济发展的主导产业的背景下，信息化建设成为各国城市发展的重要目标。</p>
    <p class="h-10"></p>
    <p class="detail">美国纽约在世纪之交提出“智能化城市”计划，并在此后的多年不断强化基于推动纽约智慧化建设的顶层设计方案，其中包括“智能化”计划，旨在促进纽约市信息基础设施建设、提升政府公共服务水平。而此后又启动“链接的城市”行动计划以及“新宽带计划”等智慧城市发展计划。</p>
    <p class="h-10"></p>
    <p class="detail">作为工业革命发起城市之一的英国，其第二大城市伯明翰，在通过信息化发展促进传统工业城市的转型升级，助力智慧城市建设方面也采取了很多举措。比如，推进网络基础设施建设，利用信息技术提高能源使用效率以及注重数字化发展等。</p>
    <p class="h-10"></p>
    <p class="detail">对于我国，“互联网+”行动计划的提出，为当前火热的智慧城市建设指明了发展方向。</p>
    <p class="h-10"></p>
    <p class="detail">2015年，政府工作报告提出制定“互联网+”行动计划，推动移动互联网、云计算、大数据、物联网等与现代制造业结合，促进电子商务、工业互联网和互联网金融健康发展。</p>
    <p class="h-10"></p>
    <p class="detail">一位互联网金融业内分析人士对《中国产经新闻》表示，“互联网+”提出以后互联网公司纷纷推出智慧城市战略，零售、金融以及公共服务等多个领域都成为各公司“厮杀”的战场。</p>
    <p class="h-10"></p>
    <p class="detail">而腾讯依托微信布局“智慧城市”战略，以及蚂蚁金融服务集团、阿里巴巴集团与新浪微博三方联合在北京正式启动“互联网+城市服务”战略便是最好的例证。</p>
    <p class="h-10"></p>
    <p class="detail">由此可见，在智慧城市建设的推动下，新的经济形态——智慧城市经济异军突起，各城市纷纷加大智慧城市投资。而基于国内外复杂的经济发展形势，赛迪方略预测，2015年国内智慧城市的IT投资将会突破2400亿元，拉动经济总产值超过1万亿元。</p>
    <p class="h-10"></p>
    <p class="detail bold">互动的“智慧”</p>
    <p class="detail">基于每个个体需求差异的不同，对智慧城市的期待也有所不同，但归根结底，在百姓眼中，智慧城市应该更大范围地解决民众关切的实际问题，让民众感受智慧化管理带来的红利。</p>
    <p class="h-10"></p>
    <p class="detail">人们期待有一天出门不再有堵车的烦恼；不用出家门，一切事物都可以在家里点鼠标完成；甚至在任何时间、任何地点都可以查阅到你需要的任何消息，包括出门吃饭餐馆卫生问题等。</p>
    <p class="h-10"></p>
    <p class="detail">而这些想法都说明，不论是“互联网+”还是智慧城市，需要信息技术的支持，但更少不了民众的参与，少不了政府与民众的互动。智慧城市建设最终为人民服务，而民众服务提升与否则是衡量智慧城市化水平的关键。</p>
    <p class="h-10"></p>
    <p class="detail">因此，要真正实现智慧城市的建设，应通过大数据、云计算、移动互联网等信息技术整合各个城市的数据资源，并加强政府和民众互动，引导企业深入研究民众所需，为公众提供真正需要的、质优价廉的产品和服务，并最终实现信息共享，向智慧的公共城市环境进阶。</p>
    <p class="h-10"></p>
    <p class="detail">“纽约智慧城市建设的‘智慧’越来越多地体现在以公众为中心，加强政府与公众的互动，让公众参与智慧城市建设。”师旭颖告诉记者。</p>
    <p class="h-10"></p>
    <p class="detail">“目前我国绝大部分中小城市的智慧城市建设仍处于起步阶段，在未来试点不断推进的过程中也要高度注重政府与公众的互动。”上述互联网金融业内分析人士表示，随着城镇化的不断推进，将来会有更多中小城市成为智慧城市建设的主力军，但我认为智慧城市建设过程中非常重要的依然是以人为本。</p>
    <p class="h-10"></p>
    <p class="detail">如今，互联网已经深入交通、教育、医疗等百姓生活的方方面面，例如，打车软件、网上预约挂号、视频授课等的出现在解决看病难问题以及教育资源分布不均的问题方面起到了良好的作用，也极大地方便民众的出行和生活。</p>
    <p class="h-10"></p>
    <p class="detail">当然，随着“互联网+”行动计划的实施以及各级政府的重视，加之政府与民众互动理念的逐渐深入人心，相信智慧城市的建设将为民众带来更多红利。</p>
    <p class="h-10"></p>
    <p class="c-hight"></p>
</div>
</body>
</html>
