<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>聚焦人民日报上的互联网 互联网+频频出现</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
<div class="content">
    <p class="title">聚焦人民日报上的互联网 互联网+频频出现</p>
    <p class="detail">1994年4月20日，中国全功能接入互联网，经过20年的发展，互联网已经成为人们工作、学习、生活、娱乐等各个方面不可缺少的工具。据中国互联网络信息中心（CNNIC）发布的第35次《中国互联网络发展状况统计报告》显示，截至2014年12月，我国网民规模达6.49亿，互联网普及率为47.9%，我国手机网民规模达5.57亿。</p>
   <p class="h-10"></p>
    <p class="detail">梳理5月1日至15日这半个月来的人民日报，据不完全统计，与互联网相关的文章就超过70多篇，打击“网络敲诈和有偿删帖”、互联网+、互联网金融、网络专车、互联网医疗、网络购物、网络论坛……尤其是“互联网+”一词，半月内在文章标题中就出现十余次，当真是火得不得了。</p>
    <p class="h-10"></p>
    <p class="detail bold">“创客”登上人民日报头版</p>
    <p class="detail">创客一词来源于英文单词“Maker”，它算得上是互联网或者说是移动互联网的产物，其出现有赖于移动互联网时代技术门槛的降低。创客这个名字已经“火”了，今年全国两会，“创客”还首次“闯入”《政府工作报告》。</p>
    <p class="h-10"></p>
    <p class="detail">5月7日，李克强总理到北京中关村创业大街考察调研，李克强来到3W咖啡屋，与众多“创客”交流，询问他们的创业经历和创新想法，听到拉勾网介绍通过“互联网+”的方式促进100多万人就业，李克强予以肯定。</p>
    <p class="h-10"></p>
    <p class="detail">5月14日，“创客”登上了人民日报头版，《宿迁“创客”站在风口上》一文，讲述了宿迁市前所未有的创业热潮，这个曾经的农业大市，已走在向互联网创业转型的大道上，一大批青年人回到家乡创业，今年一季度，宿迁全市新增各类网店3280个，网络销售额22亿元，年轻的“创客”们利用互联网创业成功已不再是神话。</p>
    <p class="h-10"></p>
    <p class="detail">《“互联网+”正带来创业黄金期》一文指出，“互联网+”概念的迅速普及，让中国迎来传统产业升级的重大历史机遇。毫无疑问，中国已经进入一个创业创新的黄金时期。《“互联网+”创业，怎么“+”？》认为，当下，随着国家政策的大力支持，年轻人进行互联网创业越来越容易，创业的速度也越来越快。但在追求“天下武功，唯快不破”的同时，似乎也应当脚踏实地地向传统行业学习经验。</p>
    <p class="h-10"></p>
    <p class="detail bold">“互联网+”带来什么？</p>
    <p class="detail">“互联网+”理念的提出，最早可以追溯到2013年11月马化腾的一次演讲。马化腾提出：“‘互联网+一个传统行业’，意味着什么呢？其实是代表了一种能力，或者是一种外在资源和环境，对这个行业的一种提升。”今年的《政府工作报告》中首次出现“互联网+”这一新概念，提出政府将制定“互联网+”行动，“互联网+”第一次被纳入国家经济的顶层设计，这就意味着“互联网+”时代的正式到来。</p>
    <p class="h-10"></p>
    <p class="detail">“互联网+通信”就是即时通信、“互联网+零售”就是电子商务、互联网+新闻成为网络媒体、“互联网+传统交通”有了快的和滴滴、“互联网+传统银行”有了支付宝……目前在民生、医疗、教育、交通、金融等多个领域，互联网对传统行业的提升作用越来越明显。</p>
    <p class="h-10"></p>
    <p class="detail">《互联网让医疗飞上云端》一文指出，移动互联技术发展，人们的健康需求提高，传统医疗体系下资源紧张，在这样的背景下，互联网医疗展现出极为广阔的市场前景。文章《医院挪到指尖上》也对“互联网+”给传统医疗行业带来的影响给予了充分肯定，“对百姓来说，改善了就医体验，提高了效率；对医院来说，诊疗流程加快，提升了资源利用率，减少了病人在医院停留的成本，改善了医患关系，医患纠纷大大减少。”</p>
    <p class="h-10"></p>
    <p class="detail">对于电视等传媒媒体来说，“互联网+”也带来了不小的震动，《“互联网＋”，给电视带来了什么？》指出，在互联网影响和冲击下，电视行业也加强了内部的升级和调整，借鉴融入互联网思维。以往电视传播是被动的、单向性的传播，随着移动互联和交互技术的发展，跟观众之间的互动成为对电视传播的一个新的要求。</p>
    <p class="detail">移动互联网时代下产生的快的、滴滴、优步等，确实给人们带来了极大的便利，还降低了出行成本，人民日报也对这些给予了很大关注，还推出“聚焦网络专车”系列报道，如《一辆私家车怎样成专车》、《专车监管之困怎么解》、《专车载着大众创业梦颠簸前行》，《从保护创新看专车管理》一文指出，面对这样一种受到社会和民众广泛好评的优秀移动互联网创新应用，与其简单地叫停，更好的办法是否是政府制定出符合时代发展特征、让专车运营合法化的法规政策，从而将专车纳入相关的监管体系里，让其拥有合法的市场地位，进而优化城市交通运输服务效率和质量呢？</p>
    <p class="c-hight"></p>
</div>
</body>
</html>
