<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>阿宅订公司内部培训会</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
<div class="content">
    <p class="title">阿宅订公司内部培训会</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1301.jpg"/></p>
    <p class="detail center">随着“梦里水乡”的歌声结束，本次阿宅订网络科技有限公司的内部培训正式开始。本次培训本着“5分钟展示自己”和“如何做好营销”两大内容进行开展</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1302.jpg"/></p>
    <p class="detail center">本次培训师由市场部总经理周忠毅担当，市场部人员进行学习培训。周总宣布本次培训正式开始之后，给每位同事五分钟时间，讲述自己对前几天培训结果想说的话。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1303.jpg"/></p>
    <p class="detail center">图为市场部同事对自己五分钟讲解的精彩讲诉</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1304.jpg"/></p>
    <p class="detail center">市场部同事勇敢的站上了这个舞台，对周总表示感谢，并展现给大家这几天培训我们学到的内容。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1305.jpg"/></p>
    <p class="detail center">在台上精彩演绎的同时，台下的周总对每位同事的表现做细心的点评、计时</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1306.jpg"/></p>
    <p class="detail">辛勤的付出收获累累果实，这几天周总的培训会，让我们受益匪浅，从刚开始上台身体肢体的僵硬，到现熟练的站在上台进行五分钟的演绎，这都是从量变到质变的飞跃。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1307.jpg"/></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1308.jpg"/></p>
    <p class="detail center">最后公布结果，表扬了本次“五分钟讲述”中最优秀的同事。同时也指出大家讲诉中存在的不足，让我们在欢声笑语中学到了很多东西。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1309.jpg"/></p>
    <p class="detail center">“利他精神”是我们的企业文化，也是我们为之前进的动力。周总以企业文化为切入点慢慢引导出我们培训的第二个内容“如何做好营销”</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1310.jpg"/></p>
    <p class="detail">周总先从营销人员应具备的心态讲起，指出每个优秀的销售人员应该具备学习心态、事业心态、自信心态、感恩心态、平常心态。然后以如何开拓客户、面谈客户的准备、直面客户的方式、以及最终的交易为重点讲述了营销的四大流程。最后通过一些实战案例的分析，让我们对上面的学习内容进行归纳、总结。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1311.jpg"/></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1312.jpg"/></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/1313.jpg"/></p>
    <p class="detail">其间周总穿插了一些自身经历的精彩事件，让我们带着好奇的心态，在故事中思考、学习。
通过此次培训，使我们的知识得到了进一步的丰富和充实，不仅提高了理论水平，找到了自身差距，明确了努力方向，更教会我们深入思考。所以在以后的工作中要更加用心学习、细心思考，工作中立足本职、勤奋学习、扎实工作、热心工作，用业绩来回报公司的培养，用才智来答谢领导的信任，用不懈的努力来争取更大的进步。</p>
    <p class="c-hight"></p>
</div>
</body>
</html>
