<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>阿宅订首届员工拓展活动圆满结束</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>

		<div class="content">
			<p class="title">帝鼠TV年度巨献《走进科学》：神秘男子为何街头频频傻笑？</p>
			<p class="detail">神秘男子为何频频傻笑？数家门店为何突然生意爆红？数百消费者为何越花钱越有钱？敬请关注今晚8点帝鼠TV年度巨献《走近科学》 让我们跟随着镜头走进震惊杭州的新商业帝国崛起……</p>
			<p class="pic600"><img src="__PUBLIC__/Home/images/2301.png" /></p>
			<p class="h-10"></p>
			<p class="detail">近日来，有一神秘男子游走于大街小巷</p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2302.jpg" /></p>
			<p class="h-10"></p>			
			<p class="detail">每每看到生意火爆的店铺就会驻足，掏出手机，望望店铺，看看手机，就……</p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2303.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2304.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2305.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2306.jpg" /></p>
			<p class="h-10"></p>				
			<p class="detail"> 给你们看看该神秘男子的特写：</p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2307.jpg" /></p>
			<p class="h-10"></p>
			<p class="detail">额，西装革履，一表人才，为什么偏偏是个傻的？终于有天，小编按耐不住好奇心，走到该男子面前：</p>
             <p class="pic600"><img src="__PUBLIC__/Home/images/2308.jpg" /></p>
             <p class="pic600"><img src="__PUBLIC__/Home/images/2309.jpg" /></p>
             <p class="pic600"><img src="__PUBLIC__/Home/images/2310.png" /></p>
			<p class="h-10"></p>
			<p class="detail">事情还要从1个多月前说起，这个神秘男子在网上听说了帝鼠OS：</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2311.png" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2312.jpg" /></p>
			<p class="h-10"></p>
            <p class="detail">然后他又继续往下看…</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2313.png" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2314.jpg" /></p>
			<p class="h-10"></p>
            <p class="detail">直到他又看到了下面：</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2315.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2316.jpg" /></p>
			<p class="h-10"></p>
            <p class="detail">兴致勃勃的他继续往下看：</p>	
			<p class="pic600"><img src="__PUBLIC__/Home/images/2317.png" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2318.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2319.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2320.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2321.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2322.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2323.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2324.JPG" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2325.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2326.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2327.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2328.JPG" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2329.png" /></p>
			<p class="h-10"></p>
            <p class="detail">于是，他看到了这样和这样的场景：</p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2330.JPG" /></p>
			<p class="h-10"></p>	
            <p class="detail">几个月后，某人看到自己的帝鼠入账单，再看看街上商家的火爆情况乐疯了。</p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2331.jpg" /></p>
			<p class="h-10"></p>	
            <p class="detail">了解了整件事情的小编痛哭流涕：</p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2332.jpg" /></p>
            <p class="pic600"><img src="__PUBLIC__/Home/images/2333.jpg" /></p>
			<p class="h-10"></p>
            <p class="detail">未来的竞争，不再是产品的竞争，不再是渠道的竞争，而是资源整合的竞争！是终端消费者的竞争！谁能够持有资源，持有消费者用户，<strong>不管他消费什么产品、消费什么服务，你都能够盈利的时候，你才能够保证你的利益，才能立于不败之地。</strong></p>
            <p class="detail">凡是不可持续的，就不值得羡慕。<strong>授人以鱼不如授人以渔。</strong>帝鼠OS诚邀您的加盟。加入帝鼠，不需要高额投资，就能坐享大批忠实客户和多渠道盈利模式。我们给不了你一夜暴富的机会，但我们可以给你一个稳赚不赔，长久卓绝的事业，成就你的创业梦想！</p>
			<p class="c-hight"></p>
		</div>
	</body>

</html>