<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>酒店和大型商超积极引入WiFi服务，开展O2O营销创新</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
<div class="content">
    <p class="title">酒店和大型商超积极引入WiFi服务，开展O2O营销创新</p>
    <p class="detail">相比其它场景，酒店和大型商超对<strong>WiFi</strong>的需求更为刚需，越来越多的超级市场开始考虑引入<strong>WiFi</strong>服务，开展<strong>O2O</strong>营销创新，实现传统“挂条幅”到运营人流，运营客户的阶段。但要做全套的<strong>WiFi</strong>覆盖方案，动辄<strong>100</strong>万，高则<strong>500</strong>万的投入，让不少实体企业主望洋兴叹，那么作为服务商，我们应该如何做呢？</p>
    <p class="h-10"></p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/401.jpg"/></p>
    <p class="detail">之前，有发起话题，<strong>WiFi</strong>在综合体<strong>O2O</strong>的重要作用，看大家怎么说？</p>
    <p class="detail">可以说，<strong>WiFi</strong>正在成为商家们转型<strong>O2O</strong>的“标配”，因此也正在成为新的商业蓝海。WiFi将提供万亿市场的价值，这一庞大的市场背后，是入口和用户的争夺。根据行业人士分析，<strong>O2O</strong>市场面临线上和线下诸多难题，作为连接<strong>Online</strong>到<strong>Offline</strong>最有效、方便的方式，免费<strong>WiFi</strong>背后是海量用户的入口、智能交互平台的价值，更是连接<strong>O2O</strong>所有商家、用户和平台的枢纽。巨头们的免费<strong>WiFi</strong>争夺战，其实是为了牢牢掌握<strong>O2O</strong>市场致胜因素的布局。</p>
    <p class="h-10"></p>
    <p class="detail bold">谈需求：WiFi是从“硬”转“软”的基础设施</p>
    <p class="detail">随着移动互联网的发展，移动终端的爆炸增长，无线终端和无线应用的快速普及，极大的推动了无线网络的发展。在这个移动互联的时代，无线已经成为终端接入的主导力量。<strong>BYOD</strong>、移动办公已成大势所趋，商超<strong>WLAN</strong>的应用需求正在进一步加大。</p>
    <p class="h-10"></p>
    <p class="detail">商场的竞争重点已经从“硬”转“软”，即从硬件设施转移到了如何提供高水平高质量的增值服务和体验。如今，商超服务项目已经成为行业的关注重点。随着全球信息化技术的快速发展和无线网络技术的广泛应用，为商超提供全新的高速信息服务已经成为了一种趋势，对于收获回头客和赚取注意力最为有效的方法当为优质的网络信息服务。无线网络具有其移动性强、灵活度高、可以快速部署的优点，最适合于在商场中搭建高质量的网络信息服务平台。</p>
    <p class="h-10"></p>
    <p class="detail"><strong>WLAN</strong>凭借自己的高带宽、低成本、可漫游的技术优势，能有效分担用户密集地点的<strong>3G</strong>带宽压力，带给客户更佳的体验;同时自建的<strong>WLAN</strong>网络，又可以对用户的偏好进行收集和智能分析，以便定向营销和业务推广。</p>
    <p class="h-10"></p>
    <p class="detail bold">看问题：如何破解投入产出难题？</p>
    <p class="detail"><strong>1、</strong>是否可以使商场<strong>WiFi</strong>实现产出等于或大于产出</p>
    <p class="h-10"></p>
    <p class="detail">现在的商场无线<strong>WIFI</strong>建设基本停留在网络连通的阶段，无线建设往往只在于提供能够使用的无线网络，是否可以通过用无线<strong>WiFi</strong>进行广告营销，将有投入无产出的商场<strong>WiFi</strong>“开花结果”，是无线<strong>WiFi</strong>商业化挑战。</p>
    <p class="h-10"></p>
    <p class="detail"><strong>2、</strong>网速太坑，无线<strong>WiFi</strong>反而成了制肘</p>
    <p class="h-10"></p>
    <p class="detail">商场作为公共场所，客流量大，终端类型丰富。”人龙混杂“的数据流量，管控难度可想而知。</p>
    <p class="h-10"></p>
    <p class="detail">若流量被部分电脑大量抢占，在出口有限的情况下会造成大部分顾客上网速度很坑爹。</p>
    <p class="h-10"></p>
    <p class="detail">同时，网络应用多种多样，各种<strong>P2P</strong>下载更是高耗流量，因为商场提供的是免费无限制的，<strong>WIFI</strong>网络，所以部分顾客随意的进行网络下载，造成其它大部分顾客上网速度很慢，体验非常差。</p>
    <p class="h-10"></p>
    <p class="detail"><strong>3、</strong>空中垃圾多，无线接入稳定性得不到保证</p>
    <p class="h-10"></p>
    <p class="detail"><strong>WiFi</strong>网络大多使用的<strong>2.4GHz</strong>频段，众所周知，<strong>2.4GHz</strong>频段是开放频段，工作在这个频段的设备很多，比如：微波炉、蓝牙、无线座机、外来AP、监控摄像头等等，会对<strong>WiFi</strong>设备进行大量的干扰。除此以外，<strong>2.4GHz</strong>相互不干扰的信道只有<strong>1、6、11</strong>，当部署区域被运营商的AP给占用以后，可用信道就不多了。在这种情况下，干扰会造成丢包和延迟，实际传输速率往往得不到保证。</p>
    <p class="h-10"></p>
    <p class="detail"><strong>4、</strong>攻击手段多样，无线安全有威胁</p>
    <p class="detail">不同于有线网络基于物理端口进行安全防御，无线信号因其自身特点，覆盖区域内的任何人员都能看到无线信号，对商场而言，IT资源就是资产，难免会存在一定盗用账号、非法接入的安全威胁。</p>
    <p class="h-10"></p>
    <p class="detail">移动应用层出不穷，如果顾客通过移动终端连接上WiFi，再通过WiFi进行非法操作，比如：网络散播非法言论、浏览非法网站等，这将给无线网络带来极大的法律风险。</p>
    <p class="detail bold">说功能：从雪中送炭到积极拥抱</p>
    <p class="detail">百货商场的竞争已成硬件竞争过渡到“软”竞争，WiFi已覆盖成为必须的配备。总体来说商超行业WLAN建设最大的需求要兼顾商户和顾客两者，吸引商户进驻和增加顾客流量。具体包括以下需求：</p>
    <p class="h-10"></p>
    <p class="detail bold">1、对商场顾客，极速WiFi就是优质服务</p>
    <p class="detail">部署WIFI的商场往往能够吸引更多的顾客来光顾，增加商场的客流量。而在大部分商超都部署WIFI的情况下，用户体验则成为顾客选择的首要考虑。高速、稳定的上网既能提高顾客的满意度，同时能提升商场的档次、形象。</p>
    <p class="h-10"></p>
    <p class="detail">同时高速的WIFI体验，让顾客的购物体验倍增，增强了顾客粘度，成为下次的回头客。</p>
    <p class="h-10"></p>
    <p class="detail bold">2、用无线WLAN收银，解决排队、插队</p>
    <p class="detail">节假日商场人流量激增，收银排队时间过长，容易导致顾客满意度降低。</p>
    <p class="h-10"></p>
    <p class="detail">WLAN移动系统可以实现“一站式”购物体验，实现销售与收银一站式操作，缩短了结账时间，顾客可以从其便捷中体验更多的购物乐趣很多商户都是实行伴随式导购，导购员对于客户提供从入店到收费打包的一整套服务。商场无线收银增加了收费的灵活性，简便了导购的工作，提升了客户体验。</p>
    <p class="h-10"></p>
    <p class="detail bold">3、将广告能过WiFi认证装进顾客的手机里</p>
    <p class="detail">商场每年会在广告营销方面投入大量的费用，相对与传统平面广告平台，WIFI平台指向性更好、针对性更强、客户粘度更高，如果能结合WIFI平台进行广告推广、营销，则可大大提高WIFI建设的回报收益。利用WIFI平台的广告效应，可显著提高商场的营销能力，同时降低营销成本。</p>
    <p class="h-10"></p>
    <p class="detail bold">4、商场物流中心货物出入库、及货物盘点</p>
    <p class="detail">对于大型商超而言商品种类不下万种，每月必然会有一次库存商品的盘点工作。然而这成千上万种商品需要在一天时间内清点完毕并输入电脑，其工作量之大可想而知。以手工盘点为例，电脑录入员必须逐个输入商品的缩位码，才能从数据库中取出该条商品的具体资料。以每个商品码5位计算，对于一个大型商超企业，电脑录入员在每次盘点过程中需要多键入50,000次键盘!</p>
    <p class="h-10"></p>
    <p class="detail">而无线WiFi的实施就能彻底杜绝这种现象的发生。理货员手持移动终端，直接在货架上扫描商品条码，然后清点库存数量，清点完毕，从无线手持终端输入盘点数量，提交该数据后，主机数据库便对盘点结果和数据库中的库存数量进行比较，通过移动终端的显示屏幕将盘点结果返回给理货员。</p>
    <p class="h-10"></p>
    <p class="detail">专家点评总结：</p>
    <p class="h-10"></p>
    <p class="detail">猛科技创始人、WiFi行业观察家雄歌接受笔者采访，提到，WiFi服务商要转变三个观点：</p>
    <p class="h-10"></p>
    <p class="detail">1、说服客户，要看到零售行业的紧迫感，积极转型，信息化提升是实体零售的救命稻草，WiFi是基础建设，必须尽快完成。</p>
    <p class="h-10"></p>
    <p class="detail">2、转变自己，从客户角度出发，在商业模式上，要从简单的卖设备到共同分成，利益共享，降低甲方风险。</p>
    <p class="h-10"></p>
    <p class="detail">3、提升自己，从单纯的提供搭建服务，到参与运营，提升自己的技术实力和运营实力，不仅实现WiFi的上网功能，还要与商超的结算、营销、运营、管理（室内定位）上结合，全范围提升商家的竞争力，使WiFi成为企业经营管理，运营转型的关键一环。</p>
    <p class="c-hight"></p>
</div>
</body>
</html>
