<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>看看那些就在你身边的智能城市</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
<div class="content">
    <p class="title">看看那些就在你身边的智能城市</p>
    <p class="detail">远程存储、大数据和物联网虽然是各种不同类型的技术，但同时，它们也是推动智能城市发展的背后驱动力。事实上，城市不断完善基础设施、使用新能源并实现更好的废物回收形式，这便是所谓的“智能城市”项目，至2020年将形成4000亿美元的庞大市场。因此，全世界越来越多的城市开始启动智能城市计划，下面便是美国和欧洲的六个不同智能城市项目，一起来了解一下。</p>
    <p class="detail bold">1. 洛杉矶：智能照明</p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/501.jpg"/></p>
    <p class="detail">美国西海岸著名城市洛杉矶，不仅拥有好莱坞和星光大道，还具有城市级的智能照明系统。洛杉矶市政府可以通过云技术控制12000公里的路灯，通过飞利浦CityTouch软件，可以实现远程控制、监控状态及耗电量等操作。飞利浦在每台路灯上集成了移动芯片，确保其可接入网络，形成庞大的云照明系统，这也是CityTouch首次应用在整个城市范围。</p>
    <p class="detail bold">2. 桑坦德：传感器之城</p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/502.jpg"/></p>
    <p class="detail">西班牙小镇桑坦德（Santander），是目前世界上屈指可数的“传感器之城”，建筑和路灯布满了25000个用于测量光线、噪音、碳排放量、湿度、温度及压力的传感器；路边则拥有磁传感器，监测道路和停车状况，甚至公交车也集成了传感器，告知人们它们的运营状况。桑坦德的18万居民都可以通过智能手机应用，接收到城市传感器监测到的各种信息。该技术由Telefónica公司提供，并将逐渐覆盖巴塞罗那、萨拉戈萨、马拉加、塞维利亚、瓦伦西亚等西班牙城市。</p>
    <p class="detail bold">3. 尼斯：虚拟市政府</p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/503.jpg"/></p>
    <p class="detail">或许尼斯没有附近的戛纳、摩纳哥有名气，但这座海边小城也是一座拥有沙滩、游艇、阳光的度假胜地。同时，尼斯还将思科的电话会议系统融入到城市中，为人们提供远程政府服务，包括支付罚款、停车甚至是领取结婚证书。尼斯的市民们还可以通过该设备与政府官员面对面沟通，使用触摸屏填表、扫描文件/ID，带来更便捷的民政服务。</p>
    <p class="detail bold">4. 拉斯维加斯：Intellistreets</p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/504.jpg"/></p>
    <p class="detail">“罪恶之城”拉斯维加斯虽然充满诱惑，但由于近年来不断举办CES电子消费展，也在不断发展智能照明系统，通过云供电路灯系统策划人行道及天桥机构，同时LED路灯还配备双频网状收发器，内置扬声器、麦克风机离散式显示器，在未来可实现紧急广播、广告、信息安全甚至是录制声音和图像的操作，该系统被命名为“Intellistreets”。</p>
    <p class="detail bold">5. 米尔顿凯恩斯：云清洁系统</p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/505.jpg"/></p>
    <p class="detail">英国城镇米尔顿凯恩斯，采用印度IT公司Tech Mahindra的云技术来实现城市垃圾管理，以减少成本、提升效率。通过在垃圾桶上集成智能传感器来实现监控，当垃圾桶装满时，则会向云端发送状态及优化路线信息，从而减少垃圾车的空车出驶状况。另外，Tech Mahindra公司还在开发新型传感器，有望在未来实现不同类型的金属垃圾识别，提高垃圾分类效率。</p>
    <p class="detail bold">6. 帕尔马：互联网海滩</p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/506.jpg"/></p>
    <p class="detail">数据漫游费用居高不下，对于旅行者来说显然是一个困扰，而越来越多的城市都在构建免费WIFI连接系统，来提升旅游业的服务体验。意大利海滨城市帕尔马，拥有欧洲最受欢迎的海滩，每年访客数量达到100万人以上，市政府最近在海滩安装了一个巨大的无线网络发射器，能够覆盖方圆5公里，为用户提供无线接入点。而完整的计划将以每隔15米的距离，在电线杆和建筑物上安装扩展器，形成巨大的城市无线网络。政府数据显示，目前每天都有超过25000个用户使用智能手机连接该热点，使用互联网服务。</p>
    <p class="c-hight"></p>
</div>
</body>
</html>
