<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/Home/weixin/css/case.css" type="text/css" rel="stylesheet"/>
<title>行业案例</title>
</head>
<body>
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
<!--<div class="nav-bar">
        <p class="mid"><a href="#" class="first all">全部</a><a href="#" class="food">餐饮美食</a><a href="#" class="hotel">酒店宾馆</a><a href="#" class="car">汽车4S店</a><a href="#" class="foot" >足浴养生</a><a href="#" class="house" >房地产</a><a href="#" class="net" >互联网</a><a href="#" class="other" >其他行业</a></p>
   </div>-->
<div class="container-pc">
    
    <div class="centent one" >
        <ul id="all" style="display:block">
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/97logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/222.png" alt="二维码"/></div>
                </div>
                <span>杯盏咖啡</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/98logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/234.png" alt="二维码"/></div>
                </div>
                <span>车友会</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/99logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/228.png" alt="二维码"/></div>
                </div>
                <span>纯美超市</span>
            </li>
            <li class="no-margin">
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/100logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/240.png" alt="二维码"/></div>
                </div>
                <span>蒂薇雅服饰</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/101logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/233.png" alt="二维码"/></div>
                </div>
                <span>汉方中医</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/102logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/225.png" alt="二维码"/></div>
                </div>
                <span>杭州阿宅订</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/103logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/204.png" alt="二维码"/></div>
                </div>
                <span>家居广场</span>
            </li>
            <li class="no-margin">
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/104logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/241.png" alt="二维码"/></div>
                </div>
                <span>金璧堂足浴</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/105logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/211.png" alt="二维码"/></div>
                </div>
                <span>金牌家政</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/106logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/215.png" alt="二维码"/></div>
                </div>
                <span>金艺美发</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/107logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/216.png" alt="二维码"/></div>
                </div>
                <span>罗马假日酒店</span>
            </li>
            <li class="no-margin">
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/108logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/247.png" alt="二维码"/></div>
                </div>
                <span>面•点</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/109logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/229.png" alt="二维码"/></div>
                </div>
                <span>年轻人网吧</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/110logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/208.png" alt="二维码"/></div>
                </div>
                <span>千禧新娘</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/111logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/239.png" alt="二维码"/></div>
                </div>
                <span>山里人家</span>
            </li>
            <li class="no-margin">
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/112logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/144.png" alt="二维码"/></div>
                </div>
                <span>时令维务</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/113logo.jpg"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/123.png" alt="二维码"/></div>
                </div>
                <span>宋城集团</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/114logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/246.png" alt="二维码"/></div>
                </div>
                <span>速力健身</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/115logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/245.png" alt="二维码"/></div>
                </div>
                <span>天使幼教</span>
            </li>
            <li class="no-margin">
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/116logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/71.png" alt="二维码"/></div>
                </div>
                <span>银乐迪</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/117logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/205.png" alt="二维码"/></div>
                </div>
                <span>语点数码</span>
            </li>
            <li>
                <div class="pic">
                    <a href="#"><img src="__PUBLIC__/Home/weixin/images/118logo.png"/></a>
                    <div class="hideCode"><img src="__PUBLIC__/Home/weixin/code/193.png" alt="二维码"/></div>
                </div>
                <span>雲迪森饭店</span>
            </li>
           
        </ul>
        
    </div>
</div>


<script type="text/javascript" src="__PUBLIC__/Home/weixin/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	var aNavBarA = $('.nav-bar p a');
	aNavBarA.click(function(){
			aNavBarA.removeClass('first');
			$(this).addClass('first');
	});
	$(".all").click(function(){
		$("#all").show();
		$("#food").hide();
		$("#hotel").hide();
		$("#car").hide();
		$("#foot").hide();
	});
	$(".food").click(function(){
		$("#food").show();
		$("#hotel").hide();
		$("#car").hide();
		$("#foot").hide();
		$("#house").hide();
		$("#net").hide();
		$("#other").hide();
		$("#all").hide();
	});
	$(".hotel").click(function(){
		$("#hotel").show();
		$("#food").hide();
		$("#car").hide();
		$("#foot").hide();
		$("#house").hide();
		$("#net").hide();
		$("#other").hide();
		$("#all").hide();
	});
	$(".car").click(function(){
		$("#car").show();
		$("#food").hide();
		$("#hotel").hide();
		$("#foot").hide();
		$("#house").hide();
		$("#net").hide();
		$("#other").hide();
		$("#all").hide();
	});
	$(".foot").click(function(){
		$("#foot").show();
		$("#food").hide();
		$("#car").hide();
		$("#hotel").hide();
		$("#house").hide();
		$("#net").hide();
		$("#other").hide();
		$("#all").hide();
	});
	$(".house").click(function(){
		$("#house").show();
		$("#food").hide();
		$("#car").hide();
		$("#foot").hide();
		$("#hotel").hide();
		$("#net").hide();
		$("#other").hide();
		$("#all").hide();
	});
	$(".net").click(function(){
		$("#net").show();
		$("#food").hide();
		$("#car").hide();
		$("#foot").hide();
		$("#house").hide();
		$("#hotel").hide();
		$("#other").hide();
		$("#all").hide();
	});
	$(".other").click(function(){
		$("#other").show();
		$("#food").hide();
		$("#car").hide();
		$("#foot").hide();
		$("#house").hide();
		$("#net").hide();
		$("#hotel").hide();
		$("#all").hide();
	});
});
</script>
<script>
$(document).ready(function(){
	$('.pic').hover(
		function(){
			$(this).find('.hideCode').stop(true,false).animate({"top": "0px"}, 400);
		},
		function() {
			$(this).find('.hideCode').stop(true,false).animate({"top": "220px"}, 400);
		}
	);
});
</script>

<!--<script>
$(document).ready(function(){
	$('.pic').hover(function(){
		var el = $(this);
		el.find('.hideCode').stop(true,false).animate({"top": "0px"}, 400);
	});
	$('.pic').mouseleave(function(){
		var el = $(this);
		el.find('.hideCode').stop(true,false).animate({"top": "220px"}, 400, "swing");
	});
});
</script>
--></body>
</html>
