<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>“懒”是O2O的用户根基，其次才是忙</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>

<div class="content">
    <p class="title">“懒”是O2O的用户根基，其次才是忙</p>
    <p class="detail">4月23日，用户超过5亿的360手机助手在北京发布了《2015年Q1中国手机应用行业趋势绿皮书》，披露了360今年第一季度在应用分发的核心数据。</p>
    <p class="h-10"></p>
    <p class="detail">这份报告不仅公布了移动互联网用户的基本属性，还重点关注了o2o行业的发展趋势和用户画像。</p>
    <p class="h-10"></p>
    <p class="detail bold">用户基本属性：女性稳居半边天</p>
    <p class="detail"><strong>1.女性近一半：</strong>继2014Q3女性比例由42%涨到47%之后，最近2个季度该比例都在47%左右，这将是移动互联网正常的性别结构。移动互联网高女性比例意味着一些传统产品模式将被颠覆，符合“她经济”的新兴产品模式出现。</p>
    <p class="h-10"></p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/101.jpg"/></p>
    <p class="detail"><strong>2.深入二线城市：</strong>用户的地域结构发生了较大的变化。一线城市用户基本稳定，二线城市用户增长了5.4%，二线城市用户将开始享受更多移动互联网服务。</p>
    <p class="h-10"></p>
    <p class="detail"><strong>3.安卓用户更换手机速度明显加快。2014Q4</strong>相比<strong>2014Q3</strong>上涨了<strong>4</strong>个百分点，到<strong>2015Q1</strong>环比上涨的幅度则达到<strong>6</strong>个百分点。另一方面，从<strong>2014Q4</strong>开始，<strong>高价位机型的用户比例明显增加，</strong>目前已经涨到<strong>31.4%</strong>。这预示着用户在移动互联网的消费倾向更加明显。</p>
    <p class="h-10"></p>
    <p class="detail bold">哪些O2O会爆发？团购、出行和美食</p>
    <p class="detail"><strong>1.O2O分布不均：</strong>目前移动端O2O应用开发者仍然集中在一线城市，比例高达90%，其中北京又占据大半（45%）。其次是上海（24%）、杭州（2.6%）。</p>
    <p class="h-10"></p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/102.jpg"/></p>
    <p class="detail bold">谁是O2O中毒用户？</p>
    <p class="detail"><strong>1.人群画像：</strong>根据对<strong>APP</strong>标签和用户下载数据作为人群兴趣画像，发现移动端O2O用户下载比例最高的分部为<strong>网购狂、宅男宅女、美图达人、常出行人士、商务人士</strong>。移动端<strong>O2O</strong>用户具有最明显的特征是网购和宅家；其最基本特性就是“懒”，而商务人士和常出行人士比例也是明显比整体水平高，用户需求最基本特性就是“忙”。</p>
    <p class="detail"><strong>2.下载时间：</strong>数据显示午饭前的<strong>11</strong>点和晚饭前的<strong>17~18</strong>点是下载<strong>O2O</strong>应用的高峰期，而凌晨<strong>4~6</strong>点则是<strong>O2O</strong>应用下载的全天最低峰。可以想象<strong>O2O</strong>用户不是在吃饭，就是在去吃饭的路上。前者找团购、后者出行靠<strong>O2O</strong>。</p>
    <p class="h-10"></p>
    <p class="pic450"><img src="__PUBLIC__/Home/images/103.jpg"/></p>
    <p class="detail"><strong>3.男女有别：</strong>男性用户与女性用户在<strong>O2O</strong>需求场景上也有着明显差异，<strong>男性用户主要集中在“行”</strong>，如出行用车或者养车服务；<strong>而女性用户则集中在“食”</strong>，比如团购和外卖，同时女性用户也对美容、婚庆、票务等<strong>O2O</strong>场景应用需求旺盛。</p>
    <p class="h-10"></p>
    <p class="detail"><strong>4.北上广遥遥领先：</strong>以<strong>O2O</strong>覆盖品类广度和深度来衡量各省份用户的参与程度，北上广遥遥领先，其中上海人涉及的<strong>O2O</strong>场景多达<strong>22</strong>种，在<strong>出行和美食上的需求尤其明显</strong>。移动端<strong>O2O</strong>在高端机型用户的应用场景就是“装！装！装！”，这些用户在同一场景下倾向选择安装多款<strong>APP</strong>组合，<strong>O2O</strong>欲望十分强烈。</p>
    <p class="h-10"></p>
    <p class="detail bold">致开发者：哪些O2O还是蓝海？</p>
    <p class="detail"><strong>1.三片蓝海：</strong>通过对移动<strong>O2O</strong>场景需求图谱的分析可以发现，团购、打车、电影票、外卖、专车类<strong>O2O</strong>应用已经呈现饱和趋势，而美业、美发、美容、推拿相关的<strong>O2O</strong>应用则依然处于用户需求旺盛，但应用数量较低的阶段，由此可以推断出<strong>美容、健康、养身</strong>类<strong>O2O</strong>应用依然处于蓝海阶段。</p>
    <p class="h-10"></p>
    <p class="detail"><strong>2.“她经济”:</strong>美业类、健康类、养车<strong>O2O</strong>类APP下载量在<strong>2015</strong>年第一季度有爆发的趋势,同时包括美业类在内的诸多<strong>O2O</strong>类<strong>App</strong>受“她经济”的影响，需求将不断上升。</p>
    <p class="h-10"></p>
    <p class="detail"><strong>3.“车经济”：</strong>"买车容易养车难"，数据显示养车<strong>O2O</strong>上线之后就获得大量的下载，汽车后市场的“钱”途可以想见。</p>
    <p class="c-hight"></p>
</div>
</body>
</html>
