<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> -->
<title> 帝鼠OS官网 - 帝鼠OS，国内首家提供“软硬结合”的“物联网营销”服务提供商，物联网</title>
<meta property="wb:webmaster" content="a0685fef44c77fe2" />
<meta name="keywords" content="帝鼠OS官网，帝鼠OS，物联网，营销平台，移动互联网，企业APP，云平台，互动营销，营销插件" />
<meta name="description" content="帝鼠OS-国内首家提供“软硬结合”的“物联网营销”服务提供商，提供“硬件拉客”、“软件续客”，为您打造线下到线上一体化的自主营销平台。" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="image_src" href="__PUBLIC__/Home/images/notify_better_image.png" />
<link rel="shortcut icon" id="favicon" href="favicon.png">
<link rel="stylesheet" href="__PUBLIC__/Home/css/home_jquery.fullPage.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/home.css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/Home/js/home_jquery-1.11.2.min.js"></script>
</head>
<body>
	<div id="fullpage">
		<div class="section page1" id="page1">
			<div class="home-header">
				<div class="header-logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
				<ul class="menu">
					<li data-menuanchor="" class="active"><a href="#">首页</a></li>
					<li data-menuanchor="service"><a href="#service">产品理念</a></li>
					<li data-menuanchor=""><a href="http://www.dishuos.com/Home/Index/case.html">解决方案</a></li>
					<li data-menuanchor=""><a href="http://www.dishuos.com/Home/Index/news.html">新闻资讯</a></li>
					<li data-menuanchor=""><a href="http://www.dishuos.com/Home/Index/jm.html">展业合作</a></li>
					<li data-menuanchor=""><a href="http://www.dishuos.com/Home/Index/ahoutus.html">关于帝鼠</a></li>
					<li data-menuanchor="contactus"><a href="#contactus">联系我们</a></li>

				</ul>
				<div class="header-tel">4008-792-388</div>
			</div>
			<div class="page1-slide">
				<ul>
					<li>
						<img src="__PUBLIC__/Home/images/page1_slide_1.png" alt="">
					</li>
					<li>
						<img src="__PUBLIC__/Home/images/page1_slide_2.png" alt="">
					</li>
					<!--<li>
						<img src="__PUBLIC__/Home/images/page1_slide_3.png" alt="">
					</li>-->
				</ul>
				<div class="slide-bullets">
					<span class="active"></span>
					<span></span>
					<!--<span></span>-->
				</div>
			</div>
			<div class="page1-login">
				<img src="__PUBLIC__/Home/images/page_1_03.png" />
				<div class="login-btn">
					<a name="p-ong" href="http://sj.dishuos.com">伙伴登录</a>
					<!--<a href="http://ce.dishuos.com">伙伴登录</a>-->
				</div>
			</div>
			<div class="yunduo">
				<img src="__PUBLIC__/Home/images/yunduo.png" alt="">
			</div>
		</div>
		<div class="section page2" id="page2">
			<div class="page2-txt">
				<h2>产品理念</h2>
				<p><strong>帝鼠移动互联网营销系统，提供“OS软件＋WIFI硬件＋App返利平台”整套闭环营销工具。</strong><br/>帝鼠系统为传统产业有效提增消费群，同时，顺应移动互联网趋势，切合移动互联网商业场景，实现了O2O移动端支付、在线预定、系统管理、任务发布、产品上架、LBS触发营销、精准人群推送、移动社区服务、便民服务、充值缴费等功能，满足了传统企业拥抱互联网，实现互联网＋及响应“大众创业、万众创新 “国家号召的迫切需求。</p>
			</div>
			<div class="page2-slide">
				<div class="shop"></div>
				<div class="tree"></div>
				<div class="green"></div>
				<div class="line-rode"></div>
				<div class="rode"></div>
			</div>
			<div class="people">
				<img id="obj" src="__PUBLIC__/Home/images/right-0.png"/>
			</div>
			<div class="people-say portal0" id="portal0" style="display:none;">
				<span class="message1">收到一个推送页面，<br/>告知有优惠</span>
			</div>
			<div class="people-say portal1" id="portal1" style="display:none;">
				<span class="message2">关注微信 或 下载APP，<br/>免费上网，浏览页面</span>
			</div>
			<div class="people-say portal2" id="portal2" style="display:none;">
				<span class="message3">下单、支付</span>
			</div>
			<div class="people-say portal3" id="portal3" style="display:none;">
				<span class="message4">APP预定、预约</span>
			</div>
		</div>
		<div class="section page3" id="page3">
			<div class="three">
				<div class="three-lef">
					<p class="os-txt2 top150 ">
						<span>物联网的时代，也是商户自主营销的时代，<br/>
						营销怎能没有“靠谱”的工具？</span>
						多屏适配 毫无顾忌地将门店 呈现在客户的眼前<br/>
						让路人变成您的客户，把客户变成您的忠实粉丝！<br/>
						O2O营销新理念  硬件终端 + 内容 + 企业APP（软件）+ 云平台 +  互动营销插件<br/>
						配合线下服务整合式营销一次搞定
					</p>
				</div>
				<div class="three-rig">
					<img src="__PUBLIC__/Home/images/301.png"/>
				</div>
			</div>
		</div>
		<div class="section page4" id="page4" style="background:url(../../../Public/Home/images/page4anim.jpg)">
			<div class="main4">
				<p class="os-txt1 centertxt"><span>数字世界 无线对接</span>让买卖智能化，您的最佳营销利器</p>
				<div class="icon">
					<div class="icon1" style="z-index:999">
						<img src="__PUBLIC__/Home/images/7.png" class="pic01"/>
						<p class="title1">提升客流 提升营业额</p>
						<p class="content1">瞬间把您的广告信息，展现在附近的用户手机中，吸引到店消费</p>
					</div>
					<div class="icon2">
						<img src="__PUBLIC__/Home/images/1.png" class="pic02"/>
						<p class="title2">将店铺搬进 客户的手机</p>
						<p class="content2">通过硬件终端，完成消费、支付、分享，在消费的同时又变成您的粉丝</p>
					</div>
					<div class="icon3">
						<img src="__PUBLIC__/Home/images/2.png" class="pic03"/>
						<p class="title3">二次营销 店铺O2O</p>
						<p class="content3">让消费者，体验服务的同时，通过独立APP，又能让您进行2次营销</p>
					</div>
					<div  class="icon4">
						<img src="__PUBLIC__/Home/images/4.png" class="pic04"/>
						<p class="title4">硬件拉客 软件续客</p>
						<p class="content4">店铺促销、营销活动等，通过独立APP结合微信平台，玩转营销不求人！</p>
					</div>
				</div>
			</div>
		</div>
		<div class="section page5" id="page5">
			<div class="five">
				<div class="five-lef">
					<div class="lef-all">
						<div class="os-txt2 centertxt">
							<span>商用硬件 营销利器</span>MINI服务器与主流智能硬件的完美结合所有数据本地化存储，<br/>
							提升商户门店消费体验，支持通过硬件消费购物、结算；
						</div>
						<div class="icon-left">
							<ul>
								<li>
									<img src="__PUBLIC__/Home/images/501.png"/>
									<p>云管理</p>
								</li>
								<li>
									<img src="__PUBLIC__/Home/images/503.png"/>
									<p>本地存储</p>
								</li>
								<li>
									<img src="__PUBLIC__/Home/images/504.png"/>
									<p>智能推送拉客</p>
								</li>
								<li class="last">
									<img src="__PUBLIC__/Home/images/505.png"/>
									<p>营销广播</p>
								</li>
								<li>
									<img src="__PUBLIC__/Home/images/506.png"/>
									<p>LBS触发营销</p>
								</li>
								<li>
									<img src="__PUBLIC__/Home/images/507.png"/>
									<p>室内定位</p>
								</li>
								<li>
									<img src="__PUBLIC__/Home/images/508.png"/>
									<p>微信吸粉</p>
								</li>
								<li class="last">
									<img src="__PUBLIC__/Home/images/509.png"/>
									<p>WIFI模块</p>
								</li>
								<li>
									<img src="__PUBLIC__/Home/images/510.png"/>
									<p>点对点信息交互</p>
								</li>
								<li>
									<img src="__PUBLIC__/Home/images/511.png"/>
									<p>经营分析</p>
								</li>
								<li>
									<img src="__PUBLIC__/Home/images/512.png"/>
									<p>移动支付</p>
								</li>
								<li class="last">
									<img src="__PUBLIC__/Home/images/513.png"/>
									<p>客流统计</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="five-rig"><img src="__PUBLIC__/Home/images/502.png"/></div>
			</div>
		</div>
		<div class="section page6" id="page6">
			<div class="six">
				<div class="six-lef"><img src="__PUBLIC__/Home/images/601.png"/></div>
				<div class="six-rig">
					<div class="os-txt2 centertxt top">
						<span>企业APP  营销自主</span>MINI服务器与主流智能硬件的完美结合
					</div>
					<div class="txt-pic">
						<p class="pic-left"><img src="__PUBLIC__/Home/images/602.png"/></p>
						<p class="txt-left"><span>消息气泡</span>离店PUSH，增加二次消费</p>
					</div>
					<div class="txt-pic">
						<p class="pic-left"><img src="__PUBLIC__/Home/images/603.png"/></p>
						<p class="txt-left"><span>在线点餐</span>最新点餐，移动支付</p>
					</div>
					<div class="txt-pic">
						<p class="pic-left"><img src="__PUBLIC__/Home/images/604.png"/></p>
						<p class="txt-left"><span>在线订座</span>可视化远程预定</p>
					</div>
					<div class="txt-pic">
						<p class="pic-left"><img src="__PUBLIC__/Home/images/605.png"/></p>
						<p class="txt-left"><span>微商城</span>将您的商店，装进客户的手机</p>
					</div>
					<div class="txt-pic">
						<p class="pic-left"><img src="__PUBLIC__/Home/images/606.png"/></p>
						<p class="txt-left"><span>公众号</span>独立的APP页面及内容，支持微信对接</p>
					</div>
					<p class="txt-left"><span>还有更多功能插件……</span></p>
				</div>
			</div>
		</div>
		<div class="section page7" id="page7">
			<div class="seven">
				<div class="pic-7"><img src="__PUBLIC__/Home/images/701.png"/></div>
			</div>
		</div>
<!-- 		<div class="section page8" id="page8">
			<div class="bg">
				<p><img src="__PUBLIC__/Home/images/cicrl1.png" class="cicrl1"/></p>
				<p class="cicrl2"><img src="__PUBLIC__/Home/images/cicrl2.png"/></p>
				<p class="cicrl3"><img src="__PUBLIC__/Home/images/cicrl3.png"/></p>
				<p class="cicrl4"><img src="__PUBLIC__/Home/images/cicrl4.png"/></p>
			</div>
			<div class="main4">
				<p class="os-txt1 centertxt"><span>行业案例</span>我们以行业需求为中心，站在为企业布局O2O整合运营的高度，通过整合PC互联网、<br/>移动互联网和局域网资源，为不同行业的传统企业打通线上线下数据，快速实现电子商务化。</p>
				<div class="sjlogo">
					<ul>
						<li><img src="__PUBLIC__/Home/images/sjlogo1.gif"/></li>
						<li><img src="__PUBLIC__/Home/images/sjlogo2.png"/></li>
						<li><img src="__PUBLIC__/Home/images/sjlogo3.gif"/></li>
						<li><img src="__PUBLIC__/Home/images/sjlogo4.gif"/></li>
						<li><img src="__PUBLIC__/Home/images/sjlogo5.gif"/></li>
						<li><img src="__PUBLIC__/Home/images/sjlogo6.gif"/></li>
						<li><img src="__PUBLIC__/Home/images/sjlogo7.png"/></li>
						<li><img src="__PUBLIC__/Home/images/sjlogo8.gif"/></li>
						<li><img src="__PUBLIC__/Home/images/sjlogo9.gif"/></li>
					</ul>
				</div>
			</div>
		</div> -->
		<!--<div class="section page9" id="page9">
			<div class="nine">
				<div class="nine-lef">
					<div class="nine-txt one-n"><span>利他</span>2014年，O2O的成熟发展以及移动互联网的随之兴起，传统商户亟需更加高效的工具配合其多元化的营销方式。2014年底，帝鼠OS项目诞生于国际电子商务之都——浙江杭州，杭州在古时被赋予人间天堂美誉，自古人杰地灵，而如今作为国家电子商务试点城市以及全国最大网络公司阿里巴巴的诞生地，孕育成就了马云这样的互联网巨鳄，如今天堂硅谷也吸引了越来越多的技术性高级专业人才领军创业。</div>
					<div class="nine-txt two-n" style="display:none"><span>企业文化</span>公司一直坚持的经营理念——“变革、创新、引领、利他、共赢”，核心思想中的“利他”，秉承为人人所需需之，为人人所为为之的精神，正是大乘佛教的精髓所在。“服务客户、成就自我”的企业精神也非常完美的诠释着阿宅订的帝鼠OS项目将会全心全意与合作伙伴们并肩协作，共同发展、走向成功的信念。</div>
					<div class="nine-txt three-n" style="display:none"><span>荣誉</span>2014年，O2O的成熟发展以及移动互联网的随之兴起，传统商户亟需更加高效的工具配合其多元化的营销方式。2014年底，帝鼠OS项目诞生于国际电子商务之都——浙江杭州，杭州在古时被赋予人间天堂美誉，自古人杰地灵，而如今作为国家电子商务试点城市以及全国最大网络公司阿里巴巴的诞生地，孕育成就了马云这样的互联网巨鳄，如今天堂硅谷也吸引了越来越多的技术性高级专业人才领军创业。</div>
				</div>
				<div class="nine-rig">
					<ul>
						<li class="current aboutus">关于我们</li>
						<li class="culture">企业文化</li>
						<li class="honor">荣誉</li>
					</ul>
				</div>
			</div>
		</div>-->
		<div class="section page10" id="page10">
			<div class="ten">
				<!--<p class="page10-pic"><img src="__PUBLIC__/Home/images/101.png"/></p>-->
				<p class="border-0"></p>
				<div class="page10-main">
					<div class="page10-lef"><img src="__PUBLIC__/Home/images/102.png"/></div>
					<div class="page10-mid">
						<p class="page10-tel"><img src="__PUBLIC__/Home/images/103.png"/></p>
						<p><span>集团官网：</span>www.azding.net</p>
						<p><span>联系电话：</span>0571-88182588</p>
						<p><span style="margin-left:20px;">传&nbsp;&nbsp;真：</span>0571-88172333</p>
						<p><span style="margin-left:13px;">EMAIL：</span>azding@azding.com</p>
					</div>
					<div class="page10-rig">
						<ul style="margin-top:60px;">
							<li style="line-height:170%;">浙江·杭州	北部软件园</li>
							<li style="line-height:170%;">地&nbsp;&nbsp;址：浙江省杭州市拱墅区祥园路139号
							<br/><span style="margin-left:50px;">浙大网新智慧立方C座9楼</span></li>
							<li style="line-height:170%;">邮&nbsp;&nbsp;编：310000</li>
						</ul>
					</div>
				</div>
			</div>
				<div style="position: absolute;top: 95%;width: 100%;text-align:center;color:#505656;">Copyright©2014 - 2015 阿宅订版权所有 &nbsp;&nbsp;&nbsp;&nbsp;浙ICP备 浙B2-20150166</div>
		</div>
	</div>


    <div class="online" style="right:10px;top:63%;height:200px">
        <ul>
            <li>
                 <div class="menu_more">
                 	<a class="menu_counta" href="javascript:void(0)" id="backTop"><img src="__PUBLIC__/Home/images/top.png"/ class="click-top"></span></a>
                 </div>
            </li>
            <li>
                 <div class="menu_more">
                 	<a class="menu_counta" href="#"><img src="__PUBLIC__/Home/images/qq.png" class="qq"/></span></a>
                 </div>
            </li>
            <li>
                 <div class="menu_more">
                 	<a class="menu_counta" href="#"><img src="__PUBLIC__/Home/images/telphone.png" class="ttt"/></span></a>
                 </div>
            </li>
            <li>
                 <div class="menu_more">
                 	<a class="menu_counta" href="#"><img src="__PUBLIC__/Home/images/wx.png" class="weix"/></span></a>
                 </div>
            </li>
    	</ul>
        <div style="position:fixed; right:72px" >
            <div class="mess s-one" style="display:none">
            	<a class="submenu_a m-t-m" href="#">客服QQ</span></a>
            	<a class="submenu_a" href="#">在线沟通，请点我</span></a>
            	<a class="submenu_a talk" href="http://wpa.qq.com/msgrd?v=3&uin=2262137242&site=qq&menu=yes" style="color:#49e815;">在线咨询</span></a>
            </div>
            <div class="mess s-two " style="display:none">
            	<a class="submenu_a m-t-m" href="#">客服服务热线：</span></a>
            	<a class="submenu_a" href="#">4008-792-388</span></a>
                <div style="height:15px"></div>
                <a class="submenu_a" href="#">前台总机：</span></a>
                <a class="submenu_a" href="#">0571-88182588</span></a>
            </div>
            <div class="mess s-three" style="display:none">
            	<a class="submenu_a m-t-m" href="#">微信关注</span></a>
            	<a class="submenu_a" href="#"><img src="__PUBLIC__/Home/images/102.png"/></span></a>
            </div>
        </div>

    </div>

	<script src="__PUBLIC__/Home/js/home_jquery.fullPage.min.js"></script>
	<script src="__PUBLIC__/Home/js/home.js"></script>
	<script type="text/javascript">
    	$(".qq").mousemove(function(){
		    $(this).attr("src","__PUBLIC__/Home/images/qqhover.png");
			$(".s-one").css("display","block");
			$(".s-two").hide();
			$(".s-three").hide();
		});
		$(".ttt").mousemove(function(){
			$(this).attr("src","__PUBLIC__/Home/images/telhover.png");
			$(".s-one").hide();
			$(".s-two").css("display","block");
			$(".s-three").hide();
		});
		$(".weix").mousemove(function(){
			$(this).attr("src","__PUBLIC__/Home/images/wxhover.png");
			$(".s-one").hide();
			$(".s-two").hide();
			$(".s-three").css("display","block");
		});
       $(".online").mouseleave(function(){
			$(".s-one").hide();
			$(".s-two").hide();
			$(".s-three").hide();
		});

    </script>


	<script>
	$(function() {
		var H=$(document).height();
		var Hs=(H-482-70-95)/2;
		$(".lbpic").css({"marginTop":Hs});
	});
	</script>
	<script>
	$("#backTop").click(function() {
		$.fn.fullpage.moveTo(1);
	});
	</script>
	<script>
		$(function() {
			$("#fullpage").fullpage({
				//Navigation
				anchors: ['', 'service', '', '', '', '', '', 'contactus'],
				
                navigation: true,
				afterLoad: function(anchorLink, index) {
					if(index == 2){
						background.ScrollStart(true);
					} else if(index == 4) {
						xx_4();
					} else if(index == 8) {
						xx_8();
					}
					if( index != 2) {
						background.WindowStop();
					}
				}
			});
		});
	</script>
</body>
</html>