<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>阿宅订首届员工拓展活动圆满结束</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body class="bg-f">
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>
		<div class="content">
			<p class="title">【数风流人物 还看今朝】互联网+“南湖会议”胜利召开</p>
			<p class="detail">2015年7月28日，阿宅订网络科技有限公司第一次战略会议在桐庐五星级酒店——开元名都大酒店隆重召开。阿宅订全体高层管理人员出席了本次会议，就落实帝鼠战略发展相关事项，加快建设物联网闭环生态圈，进行对接交流。</p>
			<p class="pic450"><img src="__PUBLIC__/Home/images/2201.jpg" /></p>
			<p class="h-10"></p>
			<p class="detail">董事长胡勇建，公司核心团队成员巫灵生、杨天兵、Michael Wong、王鑫瑞，战略发展委员会成员赖先生、仇先生、曹先生、何先生、诸先生等人出席了本次会议。世界500强的某控股集团作为帝鼠的幕后推手之一及神秘资本方也派出高层代表参与了本次会议。</p>
            <p class="pic450"><img src="__PUBLIC__/Home/images/2202.jpg" /></p>
			<p class="h-10"></p>			
			<p class="detail">会议开始，高层们总结了帝鼠过去取得的成就，在技术创新、市场营销、渠道建设及品牌传播等方面不但成功破局，还取得了令业界瞩目的成就！作为下一个万亿级市场，物联网行业新秀频出。帝鼠始终傲视群雄、广受热捧，“三大”核心竞争力起到了关键性作用：1.帝鼠OS营销系统完全支撑商户的整个营销整合流程，大力提升客户粘性；2.帝鼠OS系统与超级APP打通了跨界收益的共享利益链，为打造物联网闭环生态圈打下了坚实的基础；3.帝鼠OS最终将构建一个和谐共赢的消费生态圈，让每个人都成为资源的提供者和使用者，为消费者带来可延伸、可持续的收益链，最终实现消费养老！</p>
            <p class="h-10"></p>			
			<p class="detail"> O2O+F2C+会员制是未来商业发展的趋势。帝鼠一手打造的顶层商业模式将O2O、F2C与会员制完美结合，形成一种全新模式——V模式。通过搭建消费者、店家、商家、品牌厂商之间更直接更紧密的商业往来通道，为商户提供最优质的整合推广，同时让广大消费者参与到消费佣金分成，共同分享市场反哺收益。将<strong>“分享经济”</strong>从前卫理念变成主流模式。帮商家争顾客，帮顾客争利益，帮厂商争市场！即：<strong>人人都是消费者，人人都是消费商。</strong></p>
            <p class="pic450"><img src="__PUBLIC__/Home/images/2203.jpg" /></p>
			<p class="h-10"></p>
			<p class="detail">2015年是物联网之年，更是帝鼠经过多年蓄力后呈现裂变式发展的一年。董事长胡勇建对过去所取得的骄人成绩向全体员工表示祝贺和感谢！同时从宏观上规划了公司未来5年的发展战略！<strong>帝鼠将加快推进战略部署，以江浙徽为轴心，逐步扩大华东市场，积极开发全国市场！</strong></p>
             <p class="pic450"><img src="__PUBLIC__/Home/images/2204.jpg" /></p>
			<p class="h-10"></p>
			<p class="detail">会后董事长胡勇建表示，本次战略会议对帝鼠全力打造物联网闭环生态圈具有里程碑意义，为帝鼠下一步战略部署打下了扎实的基础。今后，帝鼠将联合各方资源、发挥自身优势完成裂变式发展！</p>	
			<p class="detail">面对千载难逢的历史机遇，在互联网时代扑面而来的时代背景中，所有帝鼠成员将一如既往、团结一心、共同努力，高举“利他精神 百载传承”的伟大旗帜，为帝鼠的发展奠定更加坚实的基础。利用互联网、云数据等新技术着力创新，以商业模式为纽带打造全新的物联网生态圈。以创新带动发展，以模式驱动未来! </p>	
			<p class="c-hight"></p>
		</div>
	</body>

</html>