<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>“互联网+”影响有多大</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma"content="no-cache">
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <link  href="__PUBLIC__/Home/css/layout.css" rel="stylesheet" type="text/css"/>    
</head>
<body>
<header class="head-logo">
<div class="logo"><img src="__PUBLIC__/Home/images/logo.png"/></div>
<div class="menu">
	<a class="home" href="{:U('/Home/Index/index', '', true, true)}">首页</a>
	<a class="product" href="{:U('/Home/Index/index#service', '', true, true)}">产品理念</a>
	<a class="h-case" href="{:U('/Home/Index/index#case', '', true, true)}">解决方案</a>
	<a href="{:U('/Home/Index/news', '', true, true)}">新闻资讯</a>
	<a href="{:U('/Home/Index/jm', '', true, true)}">展业合作</a>
	<a class="about-us " href="{:U('/Home/Index/index#aboutus', '', true, true)}">关于帝鼠</a>
	<a class="contact" href="{:U('/Home/Index/index#contactus', '', true, true)}">联系我们</a>
</div>
<div class="tel00">4008-792-388</div>
</header>

<div class="content">
    <p class="title">阿宅订首届员工拓展活动圆满结束</p>
    <p class="detail">随着帝鼠OS项目的顺利推进，阿宅订大家庭也不断加入了新的成员，团队建设日臻完善。为了加强团队建设，提高团队凝聚力，6月6日阿宅订全体员工前往萧山山里人家拓展基地进行野外素质拓展，并圆满完成所有训练项目。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/news1601.jpg"/></p>
    <p class="h-10"></p>
    <p class="detail">上午6:50，阿宅订全体成员身着工作服准时在公司集合。虽然员工们比平时早起了一个多钟头，但个个精神抖擞。大家有力出力将各类活动物资搬上大巴车后，乘坐大巴车一路欢声笑语抵达目的地。</p>
    <p class="h-10"></p>
    <p class="detail">上午，拓展基地的教官对全体员工进行了素拓培训。全体成员分为三队。分组后，各队想了队名、口号和队歌并在教官和其他队伍面前进行了团队展示。团队创建完成后，教官又带领大家进行了团队项目竞争。各个团队经过40分钟的协作练习后，在计时项目挑战中都取得了不错的成绩。第一轮团队竞争训练完成后，教官又带大家进行第二轮团队训练：一分钟内猜出每张卡片上代表的1-30的数字并交给教官。上一轮大家学会了队员间分工协作，而这一轮大家则领悟到了队伍间合作的重要性。作为阿宅订大团体的一员，每个人的出谋划策，三队成员分享思考成果，共同猜出了卡片上的数字。</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/news1602.jpg"/></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/news1603.jpg"/></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/news1604.jpg"/></p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/news1605.jpg"/></p>
    <p class="h-10"></p>
    <p class="detail">经过上午的紧张项目培训后，中午迎来了欢快的野外烧烤。公司准备了冰啤酒、各类美味水果和各类烧烤食材。员工们边烤边吃，在青山绿水间享受美食、谈天说地、欣赏美景……</p>
    <p class="pic600"><img src="__PUBLIC__/Home/images/news1606.jpg"/></p>
    <p class="h-10"></p>
    <p class="detail">下午三点，野外烧烤结束，当天的活动内容也都完成了。董事长胡勇建先生对今天一天的活动进行了总结，并再一次阐述了公司的”利他“精神和未来发展方向。胡董的话得到了全体员工的强烈认同，企业文化是公司发展的灵魂。今后，我们也将紧跟胡董的步伐将利他精神镌刻在公司发展的基座上。</p>
    <p class="h-10"></p>
    <p class="detail">本次野外素拓活动得到大家的广泛好评，纷纷表示公司组织的这次活动，不仅增进了友谊，加强了团结，领略了自然风光，还更加深刻得领会到了公司文化的内核，十分有意义！</p>
    <p class="c-hight"></p>
</div>
</body>
</html>
