<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{$merchant.mabbreviation}</title>
    <link rel="stylesheet" href="__PUBLIC__/Mobile/default/Css/normalize.css">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/default/Css/main.css">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/default/Css/xpull.css">
	<link rel="stylesheet" href="__PUBLIC__/Mobile/market/css/market.css?v=201508281513">
	<script>
	var msystem = "{$msystem}";
    //10px 1rem;
    !function(){function a(){if(document.documentElement.clientWidth<600){document.documentElement.style.fontSize=document.documentElement.clientWidth/32+"px"}else{document.documentElement.style.fontSize="16.875px"}}var b=null;window.addEventListener("resize",function(){clearTimeout(b),b=setTimeout(a,300)},!1),a()}(window);
    </script>
</head>
<body class="bg-e9e9e9 <eq name="runmode" value="macapp">ios</eq>">
	<header class="header market-header">
		<h1>{$merchant.mabbreviation}</h1>
		<include file="Index:top"/>
	</header>
	<div class="container market p-t main" id="container">
		<section class="slide swiper-container market-banner" id="banner">
        	<empty name="banner_list">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" > <img src="__PUBLIC__/Mobile/market/img/demo/market_banner_01.jpg" data-src="__PUBLIC__/Mobile/market/img/demo/market_banner_01.jpg" class="swiper-lazy" alt="" /> </div>
                </div>
            <else />
                <if condition="count($banner_list) eq 1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slider"> <a href="{$banner_list[0]['burl']}"><img  data-src="{$banner_list[0]['bimg']}" src="{$banner_list[0]['bimg']}" class="swiper-lazy" style="width:100%;height:auto;"/></a> </div>
                    </div>
                <else />
                    <div class="swiper-wrapper">
                        <volist name="banner_list" id="vo" >
                            <div class="swiper-slide"><a href="{$vo.burl}"><img src="{$vo.bimg}" data-src="{$vo.bimg}" alt="" class="swiper-lazy"></a></div>
                        </volist>
                    </div>
                    <div class="swiper-pagination 	market-page" id="banner-page">
                        <volist name="banner_list" id="vo" > <span class="swiper-pagination-bullet"></span> </volist>
                    </div>
                </if>
            </empty>
		</section>
        <section class="market-nav">
            <ul class="clearfix">
                <li>
                    <a href="{:U('Mobile/Choose/index', array('jid'=>$jid))}">
                    	<div><img src="{$module1icon}"></div>
                    	<span>{$module1name}</span>
                    </a>
                </li>
                <li>
      				<a href="{:U('Mobile/Seat/index', array('jid'=>$jid))}">
                        <div><img src="{$module2icon}"></div>
                        <span>{$module2name}</span>
                    </a>
                </li>
                <li>
    				<a href="{:U('Mobile/Shop/brand', array('jid'=>$jid))}">
                        <div><img src="{$ShopMenuIcon}"></div>
                        <span>{$ShopMenuName}</span>
                    </a>
                </li>
                <li>
                    <a href="{$WshopModuleLink}">
                       	<div><img src="{$WshopModuleIcon|default='/Public/Mobile/default/img/ico_mart.png'}"></div>
                        <span>{$WshopModuleName}</span>
                    </a>
                </li>
                <li>
                    <a href="{:U('Mobile/Video/index', array('jid'=>$jid))}">
                        <div><img src="{$InfoMenu3Icon}"></div>
                        <span>{$InfoMenu3Name}</span>
                    </a>
                </li>
                <li>
                   <!--  <a href="{:U('Mobile/App/index', array('jid'=>$jid))}">
                        <div><img src="{$InfoMenuAppDownIcon}" alt=""></div>
                        <span>{$InfoMenuAppDownName}</span>
                    </a> -->
                </li>
            </ul>
        </section>
        <section class="market-activity">
            <div class="market-light"></div>
            <div class="sec-title">
                <h3>{$NewModulename}</h3>
                <a href="{:U('Mobile/News/index', array('jid'=>$jid))}" class="market-more">更多</a>
            </div>
            <div class="sec-body">
               <ul class="clearfix">
                <volist name="news_list" id="vo"  offset="0" length="6"  key="k">
                <li>
                    <a href="{:U('Mobile/News/info', array('jid'=>$jid,'new_id'=>$vo[new_id],'from_index'=>1))}">
                        <img src="{$vo.new_img}"/>
                        <div>
                            <h5>{$vo.new_title|msubstr=###,0,10,'utf-8',false}</h5>
                            <p>{$vo.new_con|strip_tags|msubstr=###,0,32,'utf-8'}</p>
                        </div>
                    </a>
                </li>
                </volist>
            </ul>
            </div>
        </section>
        <section class="market-rec">
            <div class="sec-title">
                <h3>{$HdModuleName}</h3>
                <a href="{:U('Mobile/Active/index', array('jid'=>$jid))}" class="market-more">更多</a>
            </div>
            <div class="sec-body">
                <ul class="clearfix">
                	<php>$activelist = D('Active')->getActive($jid,array(),3);</php>
					<volist name="activelist" id="vo"  offset="0" length="6"  key="k">
                    <li>
                        <a href="{:U('Mobile/Active/info', array('jid'=>$jid,'av_id'=>$vo[av_id],'from_index'=>1))}">
                            <img src="{$vo.av_img}"/>
                            <h5>{$vo.av_title|msubstr=###,0,8,'utf-8',false}</h5>
                            <p>{$vo.av_con|strip_tags|msubstr=###,0,8,'utf-8',false}</p>
                        </a>
                    </li>
                    </volist>
                </ul>
            </div>
        </section>
        <section class="market-coupon">
            <div class="sec-title">
                <h3>{$VoucherModuleName}</h3>
                <a href="{:U('Mobile/Coupon/index', array('jid'=>$jid))}" class="market-more">更多</a>
            </div>
            <div class="sec-body">
               <ul class="clearfix">
                    <li>
                        <if condition="$coupon_list[0]['vu_name']">
                        <a href="{:U('Mobile/Coupon/info', array('jid'=>$jid,'vu_id'=>$coupon_list[0][vu_id],'from_index'=>1))}">
                        <else />
                        <a href="{:U('Mobile/Coupon/index', array('jid'=>$jid))}">
                        </if>
                            <div class="coupon-left">
                                <h4>{$coupon_list.0.vu_price|floor}</h4>
                                <p>点击进入</p>
                            </div>
                            <div class="coupon-right">
                                <h5>消费即可领取优惠券</h5>
                                <p>{$coupon_list.0.vu_price|floor}元优惠券满{$coupon_list.0.vu_money|floor}元即可使用</p>
                                <p>时限：
                                	<php>
                                        if($coupon_list[0]['vu_stime'] && $coupon_list[0]['vu_etime']){
                                            $stime = strtotime($coupon_list[0]['vu_stime']);
                                            $etime = strtotime($coupon_list[0]['vu_etime']);
                                            echo date("Y年m月d日",$stime).'至'.date("Y年m月d日",$etime);
                                        }else{
                                            echo "暂无数据";
                                        }
                                	</php>
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <if condition="$coupon_list[1]['vu_name']">
                        <a href="{:U('Mobile/Coupon/info', array('jid'=>$jid,'vu_id'=>$coupon_list[1][vu_id],'from_index'=>1))}">
                        <else />
                        <a href="{:U('Mobile/Coupon/index', array('jid'=>$jid))}">
                        </if>
                            <div class="coupon-left">
                                <h4>{$coupon_list.1.vu_price|floor}</h4>
                                <p>点击进入</p>
                            </div>
                            <div class="coupon-right">
                                <h5>消费即可领取优惠券</h5>
                                <p>{$coupon_list.1.vu_price|floor}元优惠券满{$coupon_list.1.vu_money|floor}元即可使用</p>
                                <p>时限：
                                	<php>
                                        if($coupon_list[1]['vu_stime'] && $coupon_list[1]['vu_etime']){
                                            $stime = strtotime($coupon_list[1]['vu_stime']);
                                            $etime = strtotime($coupon_list[1]['vu_etime']);
                                            echo date("Y年m月d日",$stime).'至'.date("Y年m月d日",$etime);
                                        }else{
                                            echo "暂无数据";
                                        }
                                	</php>
                                </p>
                            </div>
                        </a>
                    </li>
            </ul>
            </div>
        </section>
    </div>
	<script src="__PUBLIC__/Mobile/default/Js/jquery-2.1.3.min.js"></script>
	<script src="__PUBLIC__/Mobile/default/Js/xpull.js"></script>
	<script src="__PUBLIC__/Mobile/default/Js/swiper.min.js"></script>
	<script>
    $(function() {
        $('#container').xpull({
            'pullThreshold':150,
            'maxPullThreshold':0,
            'onPullEndFunc':function(){
                window.location.reload();
            },
            'spinnerTimeout':2000
        });

        var mySlide = new Swiper('#banner', {
            speed: 400,
            pagination: '#banner-page',
            autoplay: 5000,
            autoplayDisableOnInteraction: false,
            loop: true,
            preloadImages: false,
            lazyLoading: true
        });
    });
    </script>
   <include file="Index:footer"/>
   <include file="Public:footer"/>
</body>
</html>
